<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <p-dialog header="Merci de suivre ces instructions avant d'ajouter une nouvelle séance" [(visible)]="display"
            modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
            <p class="line-height-3 m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
            <ng-template pTemplate="footer">
                <button pButton icon="pi pi-check" (click)="display=false" label="Ok"
                    class="p-button-outlined"></button>
            </ng-template>
        </p-dialog>
        <div class="grid">
            <div class="col-12">
                <button (click)="display=true" pButton icon="pi pi-info-circle" label="Informations"
                    style="width:auto;"></button>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h4 style="text-align: center;">Ajouter un étudiant </h4>
            <div style="text-align: center;">
                <small style="text-align: center; font-size: 12px;">Tous les champs marqués d'un astérix <span
                        style="color: red;"> * </span> sont obligatoires</small>
            </div>
            <br>
            <form class="p-fluid p-formgrid grid" [formGroup]="formAddEtudiant" (ngSubmit)="onAddEtudiant()">
                <div class="field col-5 md:col-4">
                    <label For="civilite">Civilité<span style="color: red;"> * </span></label>
                    <p-dropdown [options]="civiliteList" optionLabel="value" optionDisabled="actif"
                        formControlName="civilite"></p-dropdown>
                </div>

                <div class="field col-12 md:col-4">
                    <label For="nom">Nom <span style="color: red;"> * </span></label>
                    <input pInputText id="nom" type="text" placeholder="Entrez votre nom" formControlName="lastname" />

                    <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                        <span style="color: red;" class="error" *ngIf="lastname.errors?.required" style="color: red;">*
                            Le nom est obligatoire </span>
                        <span *ngIf="lastname.errors?.pattern" style="color: red;">Le nom n'est pas dans le bon
                            format</span>
                    </div>
                </div>

                <div class="field col-12 md:col-4">
                    <label For="prenom">Prénom <span style="color: red;"> * </span></label>
                    <input pInputText id="prenom" type="text" placeholder="Entrez votre prénom"
                        formControlName="firstname" />

                    <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                        <span style="color: red;" class="error" *ngIf="firstname.errors?.required" style="color: red;">*
                            Le prénom est obligatoire </span>
                        <span *ngIf="firstname.errors?.pattern" style="color: red;"> Le prénom n'est pas dans le bon
                            format </span>
                    </div>
                </div>

                <div class="field col-4 md:col-2">
                    <label For="indicatif">Indicatif <span style="color: red;"> * </span></label>
                    <input pInputText id="indicatif" type="number" placeholder="+33" formControlName="indicatif" />

                    <div *ngIf="indicatif.invalid && (indicatif.touched || indicatif.dirty)">
                        <span style="color: red;" class="error" *ngIf="indicatif.errors?.required" style="color: red;">*
                            L'indicatif téléphone est obligatoire </span>
                    </div>
                </div>

                <div class="field col-8 md:col-4">
                    <label For="telephone">Numéro de téléphone <span style="color: red;"> * </span></label>
                    <input pInputText id="telephone" type="text" placeholder="Entrez votre numéro de téléphone"
                        formControlName="phone" />

                    <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                        <span style="color: red;" class="error" *ngIf="phone.errors?.required" style="color: red;">* Le
                            numéro de téléphone est obligatoire </span>
                        <span *ngIf="phone.errors?.pattern" style="color: red;"> Le numéro de téléphone n'est pas dans
                            le bon format</span>
                    </div>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="mail">Adresse email <span style="color: red;"> * </span></label>
                    <input pInputText id="mail" type="email" placeholder="Entrez votre adresse mail (@estya.com)"
                        formControlName="email" />

                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                        <span style="color: red;" class="error" *ngIf="email.errors?.required" style="color: red;">*
                            L'email est obligatoire </span>
                        <span *ngIf="email.errors?.pattern" style="color: red;"> L'email' n'est pas dans le bon format,
                            'xxx@estya.com'</span>
                    </div>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="nom_rue">Nom de la rue <span style="color: red;"> * </span></label>
                    <input pInputText id="nom_rue" type="text" placeholder="Nom de votre rue"
                        formControlName="rue_adresse" />

                    <!-- <div *ngIf="rue_adresse.invalid && (rue_adresse.touched || rue_adresse.dirty)">
                        <span *ngIf="rue_adresse.errors?.pattern" style="color: red;">
                            Le nom de la rue n'est pas dans le bon format
                        </span>
                    </div> -->
                </div>

                <div class="field col-6 md:col-3">
                    <label For="numero_rue">Numéro de la rue <span style="color: red;"> * </span></label>
                    <input pInputText id="numero_rue" type="text" placeholder="Numéro de votre rue"
                        formControlName="numero_adresse" />
                </div>

                <div class="field col-6 md:col-3">
                    <label For="code_postale">Code postale<span style="color: red;"> * </span></label>
                    <input pInputText id="code_postale" type="text" placeholder="Code postale"
                        formControlName="postal_adresse" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="ville">Ville<span style="color: red;"> * </span></label>
                    <input pInputText id="ville" type="text" placeholder="Ville" formControlName="ville_adresse" />

                    <!-- <div *ngIf="ville_adresse.invalid && (ville_adresse.touched || ville_adresse.dirty)">
                        <span *ngIf="ville_adresse.errors?.pattern" style="color: red;">
                            Le nom de la ville n'est pas dans le bon format
                        </span>
                    </div> -->
                </div>

                <div class="field col-12 md:col-6">
                    <label For="ville">Pays<span style="color: red;"> * </span></label>
                    <p-dropdown [options]="paysList" optionLabel="value" optionDisabled="actif"
                        formControlName="pays_adresse"></p-dropdown>
                    <div *ngIf="pays_adresse.invalid && (pays_adresse.touched || pays_adresse.dirty)">
                        <span *ngIf="pays_adresse.errors?.pattern" style="color: red;">
                            Le nom du pays n'est pas dans le bon format
                        </span>
                    </div>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="statut">Statut<span style="color: red;"> * </span></label>
                    <p-dropdown [options]="statutList" optionLabel="viewValue" optionDisabled="actif"
                        formControlName="statut"></p-dropdown>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="groupe">Groupe<span style="color: red;"> * </span></label>
                    <p-dropdown [options]="dropdownClasse" optionLabel="libelle" placeholder="Choissisez un groupe"
                        formControlName="classe_id" emptyFilterMessage="Pas de groupe trouvé" filterPlaceholder="Groupe"
                        filter="true">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="nationalite">Nationalité<span style="color: red;"> * </span></label>
                    <p-dropdown formControlName="nationalite" [options]="nationList" optionLabel="viewValue"
                        emptyFilterMessage="Pas de nationalité trouvé" filterPlaceholder="Nationalité" filter="true">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label For="date_naissance">Date de naissance<span style="color: red;"> * </span></label>
                    <input formControlName="date_naissance" pInputText (change)="isMinorFC()" type="date" />
                </div>


                <div class="field col-12">
                    <label For="ville">Dernier diplome obtenu</label>
                    <input pInputText type="text" id="ville" placeholder="Licence en DEV WEB & WEB Mobile"
                        formControlName="dernier_diplome" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="sosemail">Email d'une personne en cas d'urgence</label>
                    <input pInputText type="email" id="sosemail" placeholder="email@gmail.com"
                        formControlName="sos_email" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="sostel">Téléphone d'une personne en cas d'urgence</label>
                    <input pInputText type="text" id="sostel" placeholder="+33 0601234589"
                        formControlName="sos_phone" />
                </div>

                <!-- Parcous Etudiant-->
                <div class="col-12 grid" *ngFor="let data of parcoursList; let i = index">
                    <!--<p style="font-style:italic">Payement n°{{i+1}}</p>-->
                    <div class="field col-12 md:col-5">
                        <label>Diplome du parcours:</label><br>
                        <input pInputText type="text" [(value)]="parcoursList[i]['diplome']" placeholder="BTS"
                            class="form-control">
                    </div>
                    <div class="field col-12 md:col-5">
                        <label>Date du parcours:</label><br>
                        <input type="date" [(value)]="parcoursList[i]['date']" pInputText>
                    </div>
                    <div class="field col-12 md:col-2">
                        <i class="pi pi-trash" (click)="onRemoveParcours(i)" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" (click)="onAddParcours()" pButton label="Ajouter un parcours"></button>
                </div>

                <div class="field col-12">
                    <label for="remarque">Remarque</label>
                    <textarea pInputTextarea formControlName="remarque" placeholder="Remarque"></textarea>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="ine">Numéro INE</label>
                    <input pInputText type="text" id="ine" placeholder="1234567890G" formControlName="numero_INE" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="nir">Numéro NIR</label>
                    <input pInputText type="text" id="nir" placeholder="1 53 12 45 007 231 48"
                        formControlName="numero_NIR" />
                </div>


                <div class="grid field col-12" *ngIf="isMinorFC()">


                    <div class="field col-12 md:col-6">
                        <label For="nrl">Nom du représentant légal</label>
                        <input pInputText type="text" id="nrl" placeholder="Doe" formControlName="nom_rl" />
                    </div>

                    <div class="field col-12 md:col-6">
                        <label For="prl">Prénom du représentant légal</label>
                        <input pInputText type="text" id="prl" placeholder="John" formControlName="prenom_rl" />
                    </div>

                    <div class="field col-12">
                        <label For="erl">Email du représentant légal</label>
                        <input pInputText type="email" id="erl" placeholder="email@gmail.com"
                            formControlName="email_rl" />
                    </div>

                    <div class="field col-12">
                        <label For="erl">Adresse du représentant légal</label>
                        <textarea pInputTextarea placeholder="15 Rue du louvre 75001 Paris, France"
                            formControlName="adresse_rl" autoResize rows="3" cols="30"></textarea>
                    </div>

                </div>


                <div class="field col-12">
                    <p-selectButton [options]="[{label:'Initial',value:false},{label:'Alternant',value:true}]"
                        formControlName="isAlternant"></p-selectButton>
                </div>
                <div class="col-12" *ngIf="!formAddEtudiant.value.isAlternant">
                    <p-selectButton [options]="[{label:'Pas de stage',value:false},{label:'En stage',value:true}]"
                        formControlName="isOnStage" (onChange)="changestage()"></p-selectButton>


                </div>

                <div class="col-12" *ngIf="formAddEtudiant.value.isAlternant ">
                    <div class="field col-12">
                        <label>Entreprise<span style="color: red;"> * </span></label>
                        <p-dropdown formControlName="entreprise_id" [options]="dropdownEntreprise" optionLabel="libelle"
                            emptyFilterMessage="Pas d'entreprise trouvé" filterPlaceholder="Entreprise" filter="true"
                            (onChange)="TuteurListLoad(entreprise_id)">
                        </p-dropdown>
                        <!-- <input pInputText type="text" placeholder="Veuillez saisir le nom de l'entreprise"
                            formControlName="entreprise" /> -->
                    </div>

                    <div class="field col-12">
                        <label>Tuteur<span style="color: red;"> * </span></label>
                        <p-dropdown formControlName="id_tuteur" [options]="dropdownTuteurByEntreprise"
                            optionLabel="libelle" emptyFilterMessage="Pas de tuteur trouvé" filterPlaceholder="Tuteur"
                            filter="true">
                        </p-dropdown>
                    </div>
                    
                        <p-fieldset legend="Informations sur le contrat" [style]="{'color': 'red', 'font-weight': 'bold'}">
                            <div style="color: black;font-weight:normal">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12 md:col-6">
                                        <label For="debut_contrat">Date de debut du contrat<span style="color: red;"> *
                                            </span></label>
                                        <p-calendar formControlName="debut_contrat" dateFormat="dd/mm/yy"
                                            [minDate]="minDateCalendarC" [maxDate]="maxDateCalendarC" [readonlyInput]="true"
                                            [locale]="fr" [monthNavigator]="true" [yearNavigator]="true"
                                            [yearRange]="rangeYearC">
                                        </p-calendar>
                                        <!-- <div *ngIf="debut_contrat.invalid && (debut_contrat.touched || debut_contrat.dirty)">
                                            <span style="color: red;" class="error" *ngIf="debut_contrat.errors?.required">*
                                                Le champs est obligatoire.</span>
                                        </div> -->
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label For="fin_contrat">Date de fin du contrat<span style="color: red;"> *
                                            </span></label>
                                        <p-calendar formControlName="fin_contrat" dateFormat="dd/mm/yy"
                                            [minDate]="minDateCalendarC" [maxDate]="maxDateCalendarC" [readonlyInput]="true"
                                            [locale]="fr" [monthNavigator]="true" [yearNavigator]="true"
                                            [yearRange]="rangeYearC">
                                        </p-calendar>
                                        <!-- <div *ngIf="fin_contrat.invalid && (fin_contrat.touched || fin_contrat.dirty)">
                                            <span style="color: red;" class="error" *ngIf="fin_contrat.errors?.required">*
                                                Le champs est obligatoire.</span>
                                        </div> -->
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label For="horaire">Horaires par semaine semaine</label>
                                        <input pInputText id="horaire" type="text" placeholder="35 h/semaine"
                                            formControlName="horaire" />
                                        <!-- <div *ngIf="horaire.invalid && (horaire.touched || horaire.dirty)">
                                            <span style="color: red;" class="error" *ngIf="horaire.errors?.required">*
                                                Le
                                                champs est obligatoire.</span>
                                        </div> -->
                                    </div>
        
                                    <div class="field col-12 md:col-6">
                                        <label For="intitule">Intitulé<span style="color: red;"> *
                                            </span></label>
                                        <input pInputText id="intitule" type="text" placeholder="Intitulé du poste"
                                            formControlName="intitule" />
                                        <!-- <div *ngIf="intitule.invalid && (intitule.touched || intitule.dirty)">
                                            <span style="color: red;" class="error" *ngIf="intitule.errors?.required">*
                                                Le
                                                champs est obligatoire.</span>
                                        </div> -->
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label For="classification">Classification<span style="color: red;"> *
                                            </span></label>
                                        <input pInputText id="classification" type="text" placeholder="Classification"
                                            formControlName="classification" />
                                        <!-- <div *ngIf="classification.invalid && (classification.touched || classification.dirty)">
                                            <span style="color: red;" class="error" *ngIf="classification.errors?.required">*
                                                Le
                                                champs est obligatoire.</span>
                                        </div> -->
                                    </div>
        
        
                                    <div class="field col-12 md:col-6">
                                        <label For="niv">Niveau de la formation<span style="color: red;"> *
                                            </span></label>
                                        <input pInputText id="niv" type="text" placeholder="Bac+3" formControlName="niv" />
                                        <!-- <div *ngIf="niv.invalid && (niv.touched || niv.dirty)">
                                            <span style="color: red;" class="error" *ngIf="niv.errors?.required">*
                                                Le
                                                champs est obligatoire.</span>
                                        </div> -->
                                    </div>
        
                                    <div class="field col-12 md:col-6">
                                        <label For="coeff_hier">Coefficient hiérarchique<span style="color: red;"> *
                                            </span></label>
                                        <input pInputText id="coeff_hier" type="text" placeholder="Coefficient hiérarchique"
                                            formControlName="coeff_hier" />
                                        <!-- <div *ngIf="coeff_hier.invalid && (coeff_hier.touched || coeff_hier.dirty)">
                                            <span style="color: red;" class="error" *ngIf="coeff_hier.errors?.required">*
                                                Le
                                                champs est obligatoire.</span>
                                        </div> -->
                                    </div>
        
                                    <div class="field col-12 md:col-6">
                                        <label For="form">Formation<span style="color: red;"> *
                                            </span></label>
                                        <p-dropdown [options]="formationList" optionLabel="label" optionDisabled="actif"
                                            id="form" formControlName="form">
                                        </p-dropdown>
                                        <!-- <div *ngIf="form.invalid && (form.touched || form.dirty)">
                                            <span style="color: red;" class="error" *ngIf="form.errors?.required">*
                                                Le
                                                champs est obligatoire.</span>
                                        </div> -->
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label For="code_commercial">Code commercial<span style="color: red;"> *
                                            </span></label>
                                        <input pInputText id="code_commercial" type="text" placeholder="Code commercial"
                                            formControlName="code_commercial" />
                                        <!-- <div> -->
                                            <!-- *ngIf="code_commercial.invalid && (code_commercial.touched || code_commercial.dirty)"  *ngIf="code_commercial.errors?.required"-->
                                            <!-- <span style="color: red;" class="error" >*
                                                Le
                                                champs est obligatoire.</span>
                                        </div> -->
                                    </div>
                                </div>
                                </div>
                        </p-fieldset>
      
                        <div style="text-align: center;">
                            <small>C'est la dernière étapes, nous avons presques terminé !</small><br>
                        </div>
                        <p-fieldset legend="Notre partenaire d'accompagnement Eduhorizons"
                            [style]="{'color': 'red', 'font-weight': 'bold'}">
                            <div class="grid" style="color: black;font-weight:normal">
                                <div class="p-fluid p-formgrid grid">
                                    <div class="ui-g-12 ui-md-12">
                                        <h6>J'ai pris connaissances et lu les <a href="/#/mentions-legales"
                                                target="_blank">mentions
                                                légales</a> et accepte que mes données
                                            soient
                                            utiliseés
                                            dans le cadre de mon accompagnement
                                            et dans le traitement de ma demande ?</h6>
                                        <div>
                                            <p-radioButton value=true name="donneePerso" formControlName="donneePerso">
                                            </p-radioButton>
                                            <label for="oui"> Oui</label>
                                        </div>
                                        <div style="margin-top: 2px;">
                                            <p-radioButton value=false name="donneePerso" formControlName="donneePerso">
                                            </p-radioButton>
                                            <label for="non"> Non</label>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                        </p-fieldset>
                </div> 

                <div class="field col-12">
                    <label>Est une Personne à Mobilité Réduite ?</label>
                    <p-selectButton [options]="[{label:'Oui',value:true},{label:'Non',value:false}]"
                        formControlName="isHandicaped"></p-selectButton>
                </div>

                <div class="field col-12" *ngIf="formAddEtudiant.value.isHandicaped==true">
                    <label>Avez-vous besoin d'un suivi particulier ?</label>
                    <input pInputText type="text" placeholder="Ascenseur" formControlName="suivi_handicaped" />
                </div>

                <div>
                    <button pButton label="Ajouter l'étudiant" type="submit"
                        [disabled]="formAddEtudiant.invalid"></button>
                </div>
            </form>

            <a routerLink="/etudiants" style="float: right;"><i class="pi pi-caret-right"></i> Voir les étudiants</a>
        </div>

    </div>