<div class="grid">
    <div class="col-12">
        <p-dialog header="Merci de suivre ces instructions avant d'ajouter une nouvelle séance" [(visible)]="display"
            modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
            <p class="line-height-3 m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
            <ng-template pTemplate="footer">
                <button pButton icon="pi pi-check" (click)="display=false" label="Ok"
                    class="p-button-outlined"></button>
            </ng-template>
        </p-dialog>
        <div class="grid">
            <div class="col-12">
                <button (click)="display=true" pButton icon="pi pi-info-circle" label="Informations"
                    style="width:auto;"></button>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4 style="text-align: center;">Ajouter un campus</h4>
            <form class="p-fluid p-formgrid grid" [formGroup]="addcampusForm" (ngSubmit)="saveCampus()">
                <div class="field col-12 md:col-6">
                    <label for="libelle">Libellé</label>
                    <input pInputText id="libelle" type="text" formControlName="libelle" placeholder="ESTYA - Paris" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email"
                        placeholder="estya@estya.com" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="site">Site Web</label>
                    <input pInputText id="site" type="text" formControlName="site" placeholder="estya.com" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="ecole">Ecole</label>
                    <p-dropdown formControlName="ecole_id" [options]="dropdownEcole" optionLabel="libelle"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="adress">Adresse</label>
                    <input pInputText id="adress" type="text" formControlName="adresse"
                        placeholder="15 Rue du louvre 75001" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="ville">Ville</label>
                    <input pInputText id="ville" type="text" formControlName="ville"
                        placeholder="Paros" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="pays">Pays</label>
                    <input pInputText id="pays" type="text" formControlName="pays"
                        placeholder="France" />
                </div>
                <div class="field col-12 md:col-12 grid">
                    <div class="field col-12 md:col-6 grid" *ngFor="let data of salles; let i = index">
                        <h5> Salle n°{{i+1}}: </h5>
                        <div class="col-11">
                            <label>Nom de la salle:</label><br>
                            <input type="text" (change)="changeValue(i, $event.target.value)" [(value)]="salles[i]" placeholder="Salle {{i+1}}" pInputText>
                        </div>
                        <div class="col-1">
                            <i class="pi pi-trash" (click)="salles.splice(i,1)" aria-hidden="true"></i>
                        </div>
                    </div>
                    <button type="button" (click)="onAddSalle()" pButton label="Ajouter une salle"></button>
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Ajouter" type="submit" [disabled]="addcampusForm.invalid"></button>
                </div>
            </form>
        </div>
    </div>
</div>