<div class="grid">
    <div class="col-12">
        <p-dialog header="Merci de suivre ces instructions avant d'ajouter une nouvelle séance"
            [(visible)]="display" modal="modal" showEffect="fade" [style]="{width: '30vw'}"
            [breakpoints]="{'960px': '75vw'}">
            <p class="line-height-3 m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p>
            <ng-template pTemplate="footer">
                <button pButton icon="pi pi-check" (click)="display=false" label="Ok"
                    class="p-button-outlined"></button>
            </ng-template>
        </p-dialog>
        <div class="grid">
            <div class="col-12">
                <button (click)="display=true" pButton icon="pi pi-info-circle" label="Informations"
                    style="width:auto;"></button>
            </div>
        </div>
    </div>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4 style="text-align: center;">Ajouter un campus</h4>
            <form class="p-fluid p-formgrid grid" [formGroup]="addcampusForm" (ngSubmit)="saveCampus()">
                <div class="field col-12 md:col-6">
                    <label for="libelle">Libellé</label>
                    <input pInputText id="libelle" type="text" formControlName="libelle" placeholder="Nom du campus" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" placeholder="email du siége du campus" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="site">Site Web</label>
                    <input pInputText id="site" type="text" formControlName="site" placeholder="site web du campus" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="ecole">Ecole</label>
                    <p-dropdown formControlName="ecole_id" [options]="dropdownEcole" optionLabel="libelle"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    <label for="adress">Adresse</label>
                    <input pInputText id="adress" type="text" formControlName="adresse" placeholder="adresse du siége du campus" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="ville">Ville</label>
                    <input pInputText id="ville" type="text" formControlName="ville" placeholder="ville du siége du campus" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="ville">Pays</label>
                    <input pInputText id="ville" type="text" formControlName="pays" placeholder="pays du siége du campus" />
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Ajouter" type="submit" [disabled]="addcampusForm.invalid"></button>
                </div>
            </form>
        </div>
    </div>
</div>
