<p-toast></p-toast>
<div class="grid">
    <!-- Form used to add or update remarks -->
    <div class="col-12" *ngIf="showFormRemarque">
        <i class="pi pi-times-circle" style="float: right; font-size: 20px; color: red; cursor: pointer"
           (click)="showFormRemarque = false"></i>

           <form [formGroup]="formRemarque" class="p-fluid p-formgrid" (ngSubmit)="onUpdateRemarque()">
                <div class="field">
                    <h3 for="remarque">Vos remarques sur l'apprentis</h3>
                    <textarea pInputTextarea rows="6" formControlName="remarque" id="remarque" required placeholder="Mettez à jour vos remarque sur l'apprentis"></textarea>
                </div>
                <button pButton type="submit" label="Envoyer"></button>
           </form>
    </div>

	<!-- To see all contracts for an ceo -->
	<div class="col-12">
		<div class="card">

			<h5>Liste des alternants sous votre tutelle</h5>
			<p-table #dt1 [value]="contracts"
                [globalFilterFields]="['_id', 'code_commercial.lastname','code_commercial.firstname','statut','classification','alternant_id.user_id.firstname','alternant_id.user_id.lastname']"
                [pageLinks]="5" [paginator]="true" rowExpandMode="single" dataKey="_id" responsiveLayout="scroll"
                [rows]="10">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Recherche" class="w-full" />

                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 8rem;"></th>
                        <th>Prenom &amp; Nom</th>
                        <th>Statut</th>
                        <th>Dernière date de changement du statut</th>
                        <th>Formation</th>
                        <th>Ecole</th>
                        <th>Dates du contrat</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contrat let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="contrat"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 11rem;">
                            {{ contrat.alternant_id?.user_id?.firstname }}
                            {{ contrat.alternant_id?.user_id?.lastname }}
                        </td>
                        <td>
                            <p-tag *ngIf="contrat.statut==null" icon="pi pi-times" severity="danger"
                                [value]="'Aucun status définit'">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut=='créé'" icon="pi pi-exclamation-triangle" severity="warning"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Conclu'" icon="pi pi-pencil" severity="info"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'En attente d’informations'" icon="pi pi-spin pi-spinner" severity="warning"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'En attente de validation'" icon="pi pi-spin pi-spinner" severity="warning"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Contrôlé par l’équipe IGWA - champs requis'" icon="pi pi-info-circle" severity="danger"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Contrôlé par l’équipe IGWA - montant optimisé'" icon="pi pi-times" severity="danger"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Signé'" icon="pi pi-check" severity="info"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Déposé à l’OPCO'" icon="pi pi-check" severity="info"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Relance à traiter'" icon="pi pi-times" severity="danger"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Validé à facturation'" icon="pi pi-check" severity="success"
                                [value]="contrat.statut">
                            </p-tag>
                        </td>

                        <td>{{ contrat.last_status_change_date | date: 'dd MMMM YYYY' }}</td>
                        <td>{{ contrat.formation.titre_long }}</td>
                        <td>{{ contrat.ecole?.libelle }}</td>
                        <td>{{contrat.debut_contrat | date:
                            'dd/MM/yyyy'}}-{{contrat.fin_contrat | date: 'dd/MM/yyyy'}}
                        </td>
                        <td>
                            <i class="pi pi-list" style="margin:2px; color: blue; cursor: pointer;" title="Ajouter une remarque" (click)="contractToUpdate = contrat; onPatchValueRemarque(); showFormRemarque = true;">
                            </i>
                            <i class="pi pi-chart-pie" pTooltip="Voir Assiduité" aria-hidden="true"
                                (click)="showPresence(contrat.alternant_id._id)" style="text-align: center; color: red; cursor: pointer; margin: 2px;"></i>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-contrat>
                    <tr>
                        <td colspan="8">
                            <div class="p-3">
                                <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
										<tr>
											<th>Horaire</th>
											<th>Niveau de la formation</th>
                                            <th>Groupe</th>
											<th>Coeff hierachique</th>
											<th>Commercial</th>
											<th>Tuteur</th>
											<th>Année-scolaires</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="emptymessage">
										<tr>
											<td>{{contrat.horaire}}</td>
											<td>{{contrat.niveau_formation}}</td>
                                            <td>{{ contrat.alternant_id.classe_id?.abbrv }}</td>
											<td>{{contrat.coeff_hierachique}}</td>
											<td>{{ contrat.code_commercial?.lastname }} {{ contrat.code_commercial?.firstname }}</td>
											
											<td *ngIf="contrat.tuteur_id != null">
												{{ contrat.tuteur_id?.user_id?.lastname }} 
												{{ contrat.tuteur_id?.user_id?.firstname }}
											</td>
											<td *ngIf="contrat.directeur_id != null">
												{{ contrat.directeur_id?.lastname }} 
												{{ contrat.directeur_id?.firstname }}
											</td>

											<td>
												<ul>
													<li *ngFor="let annee of contrat.anne_scolaire; let i = index">{{ annee }}</li>
												</ul>
											</td>
										</tr>
									</ng-template>
            					</p-table>
        					</div>

                            <!-- Remarques faites par l'employeur -->
                            <div class="p-2">
                                <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Remarques faites par l'employeur</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td>{{contrat.remarque}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <!-- Documents liés au contrat -->
                            <div class="p-2">
                                <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Calendrier</th> <!-- *lié à la formation(diplôme) -->
                                            <th>Cerfa</th> <!-- *lié directement au contrat -->
                                            <th>Convention de formation</th> <!-- *lié directement au contrat -->
                                            <th>Document de relance</th> <!-- *lié directement au contrat -->
                                            <th>Résiliation de contrat</th> <!-- *lié directement au contrat -->
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td *ngIf="contrat.alternant_id.classe_id?.calendrier != null">
                                                <i class="pi pi-calendar" title="Télécharger le calendrier" style="font-size: 2em; color: green; cursor: pointer;" (click)="onDownloadCalendar(contrat.alternant_id.classe_id?._id)"></i>
                                            </td>
                                            <td *ngIf="contrat.alternant_id.classe_id?.calendrier == null">
                                                - aucun fichier -
                                            </td>

                                            <td *ngIf="contrat.cerfa != null">
                                                <i class="pi pi-file" title="Télécharger le cerfa" style="font-size: 2em; color: blue; cursor: pointer;" (click)="onDownloadCerfa(contrat._id)"></i>
                                            </td>
                                            <td *ngIf="contrat.cerfa == null">
                                                - aucun fichier -
                                            </td>

                                            <td *ngIf="contrat.convention_formation != null">
                                                <i class="pi pi-file" title="Télécharger la convention" style="font-size: 2em; color: orangered; cursor: pointer;" (click)="onDownloadConvention(contrat._id)"></i>
                                            </td>
                                            <td *ngIf="contrat.convention_formation == null">
                                                - aucun fichier -
                                            </td>

                                            <td *ngIf="contrat.relance != null">
                                                <i class="pi pi-file" title="Télécharger le document de relance"
                                                    style="font-size: 2em; color: rgb(147, 145, 5); cursor: pointer;"
                                                    (click)="onDownloadRelance(contrat._id)"></i>
                                            </td>
                                            <td *ngIf="contrat.relance == null" style="color: red; font-weight: bold;">
                                                - aucun fichier -
                                            </td>

                                            <td *ngIf="contrat.resiliation_contrat != null">
                                                <i class="pi pi-file" title="Télécharger la résiliation" style="font-size: 2em; color: rgb(177, 6, 6); cursor: pointer;" (click)="onDownloadResiliation(contrat._id)"></i>
                                            </td>
                                            <td *ngIf="contrat.resiliation_contrat == null" style="color: green; font-weight: bold;">
                                                -- Ce contrat est en cours --
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
        				</td>
        			</tr>
        		</ng-template>
        	</p-table>
		</div>
	</div>
</div>