<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="p-input-icon-left w-100">
                <i class="pi pi-search cv-search"></i>
                <input claas="rounded-circle" pInputText type="text" #filter (input)="updateFilter()"
                    [(ngModel)]="researchValue" placeholder="Ex: Développeur" class="w-full cv-input-text" />
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-12">
            <div class="row">
                <div class="field col-md col-12">
                    <p-multiSelect [options]="profiles" [(ngModel)]="selectedProfiles" defaultLabel="Profil"
                        autoWidth="false" [style]="{'width':'100%'}" [virtualScroll]="true" itemSize="30"
                        (onChange)="updateFilter()" class="w-100"></p-multiSelect>
                </div>
                <div class="field col-md col-12">
                    <p-multiSelect [options]="locations" [(ngModel)]="selectedLocations" defaultLabel="Lieu"
                        autoWidth="false" [style]="{'width':'100%'}" [virtualScroll]="true" itemSize="30"
                        (onChange)="updateFilter()" class="w-100"></p-multiSelect>
                </div>
                <div class="field col-md col-12">
                    <p-calendar [readonlyInput]="true" view="month" dateFormat="mm/yy" [(ngModel)]="dispoFilter"
                        (onSelect)="updateFilter()" (onBlur)="updateFilter()" inputId="range" autoWidth="false"
                        [style]="{'width':'100%'}" placeholder="Disponibilité"></p-calendar>
                </div>
                <div class="field col-md col-12">
                    <p-multiSelect [options]="skills" [(ngModel)]="selectedSkills" defaultLabel="Compétences"
                        autoWidth="false" [style]="{'width':'100%'}" [virtualScroll]="true" itemSize="30"
                        (onChange)="updateFilter()"></p-multiSelect>
                </div>
                <div class="field col-md col-12">
                    <p-multiSelect [options]="etudes" [(ngModel)]="selectEtude" defaultLabel="Niveau d'étule"
                        placeholder="Choississez une niveau d'étude" autoWidth="false" [style]="{'width':'100%'}"
                        (onChange)="updateFilter()"></p-multiSelect>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-12">
            <div class="field col-md col-12">
                <button type="button" pButton pRipple icon="pi pi-filter-slash" (click)="clearFilter()" class="mr-2"
                    autoWidth="false" [style]="{'width':'100%'}" pTooltip="Supprimer les filtres"
                    tooltipPosition="bottom" class="cv-clear-button ">
                </button>
            </div>
        </div>
    </div>
</div>
<div class="cv-list">
    <div class="container">
        <div class="row">
            <div class="col-4" *ngFor="let cv of filteredCVS">
                <div class="cv-card">
                    <div class="cv-card-main">
                        <div class="cv-card-information">

                            <div *ngIf="dicPicture && dicPicture[cv._id]?.url;then cv_image else default_image">
                            </div>
                            <ng-template #cv_image>
                                <div class="img-card" style="background-image: url('{{dicPicture[cv._id].url}}');">
                                </div>
                            </ng-template>
                            <ng-template #default_image>
                                <div *ngIf="cv.user_id.civilite == 'Madame'; then is_madame else other"></div>
                                <ng-template #is_madame>
                                    <div class="img-card"
                                        style="background-image: url('../../../assets/images/imatch/female.png');">
                                    </div>
                                </ng-template>
                                <ng-template #other>
                                    <div class="img-card"
                                        style="background-image: url('../../../assets/images/imatch/male.png');">
                                    </div>
                                </ng-template>
                            </ng-template>
                            <div class="cv-card-details">
                                <div class="card-main-info">
                                    <div class="cv-card-title">
                                        <h4><strong>{{cv?.competences[0]?.profile_id?.libelle || "Profil"}}</strong><br *ngIf="cv?.competences[0]?.profile_id?.libelle.length<20">&nbsp;</h4>
                                        <h5>{{cv.user_id.firstname.substring(0, 1).toUpperCase( )}} {{cv.user_id.lastname.substring(0, 2).toUpperCase( )}}</h5>
                                    </div>
                                </div>
                                <div class="card-main-data">
                                    <p *ngIf='cv.mobilite_lieu'>📍 {{cv.mobilite_lieu}}</p>
                                    <p *ngIf='!cv.mobilite_lieu'>📍 France</p>
                                    <p *ngIf="disponible(cv.disponibilite); then dispo_immediat else not_dispo"></p>
                                    <ng-template #not_dispo>
                                        <p>⏱ {{cv.disponibilite | date : 'MMMM YYYY'}}</p>
                                    </ng-template>
                                    <ng-template #dispo_immediat>
                                        <p>⏱ Disponible Immédiatement</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cv-card-footer">
                        <a class="cv" href="{{'#/imatch/cv/' + cv._id}}">CV</a>
                        <a class="meeting" (click)="takeARendezVous(cv)">Rendez-vous</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

