<div class=" col-12 grid">

    <!-- <p>Bonjour {{user?.firstname}},</p>

    <p>Votre demande de remboursement a été soumise avec succès. L'identifiant de la demande est : [ID de la demande]. Vous serez contacté(e) dès que la demande aura été validée par l'équipe. </p>
        
    <p>Si nous avons besoin de plus d'informations, nous vous contacterons à cette adresse e-mail. </p>
         -->
        <!-- <p>Bien à vous </p> -->
    <div class="col-12 grid">
        <form class="col-12 p-fluid p-formgrid grid" [formGroup]="formRembourssement" (submit)="onSubmitRemboussementForm()">
            <h3 class="col-12" style="text-align: start;"> Etudiant</h3>
            <div class="field col-12 md:col-4">
                <label for="civilite" >Civilité:</label>
                <p-dropdown formControlName="civilite" [options]="civilitySelect"
                            placeholder="Select Civilité" required></p-dropdown>
            </div>
            <div class="field col-12 md:col-4">
                <label>Nom</label>
                <input pInputText type="text" formControlName="nom" placeholder="Ex: Smith"/>
            </div>
            <div class="field col-12 md:col-4">
                <label>Prénom</label>
                <input pInputText type="text" formControlName="prenom" placeholder="Ex: John"/>
            </div>
            <div class="field col-12 md:col-4">
                <label>Date de naissance</label>
                <input pInputText type="date" formControlName="date_naissance"/>
            </div>
            <div class="field col-12 md:col-4">
                <label>Nationalité</label>
                <p-dropdown [options]="pays_residence" formControlName="nationalite"
                            placeholder="Choisissez un service"></p-dropdown>
            </div>

            <div class="field col-12 md:col-4">
                <label>Pays de résidence <span style="color: red">  </span></label>
                <p-dropdown [options]="pays_residence" formControlName="pays_resid"
                            placeholder="Choisissez un service"></p-dropdown>
            </div>
            <div class="field col-12 md:col-2">
                <label>Indicatif</label>
                <input pInputText type="text" formControlName="indicatif_phone" placeholder="Ex: +33"/>
            </div>
            <div class="field col-12 md:col-4">
                <label>Téléphone</label>
                <input pInputText type="text" formControlName="phone" placeholder="Ex: +33 612341518"/>
            </div>
            <div class="field col-12 md:col-6">
                <label>Email</label>
                <input pInputText type="text" formControlName="email" placeholder="Ex: example.email@mail.com"/>
            </div>

            <h3 class="col-12" style="text-align: start;"> Formation</h3>
            <div class="field col-12 md:col-4">
                <label>Année scolaire</label>
                <p-dropdown [options]="annescolaires" formControlName="ecole"
                placeholder="Choisissez un service"></p-dropdown>            </div>
            <div class="field col-12 md:col-4">
                    <label>Ecole</label>
                    <p-dropdown [options]="ecoles" formControlName="ecole"
                                placeholder="Choisissez un service"></p-dropdown>
            </div>
            <div class="field col-12 md:col-4">
                <label>Formation</label>
                <p-dropdown [options]="formations" optionLabel="value" formControlName="formation"
                            placeholder="Choisissez une formation"></p-dropdown>
            </div>


            <h3 class="col-12" style="text-align: start;"> Demande</h3>
            <div class="field col-12 md:col-4">
                <label>Motif de demande</label>
                <p-dropdown [options]="motif" optionLabel="value" formControlName="formation"
                            placeholder="Choisissez une motif"></p-dropdown>
            </div>
            <div class="field col-12 md:col-4">
                <label>Montant</label>
                <input pInputText type="text" formControlName="montant" placeholder="Ex: 1000€"/>
            </div>
            <div class="field col-12 md:col-4">
                <label>Modalité de paiement</label>
                <p-dropdown [options]="modePaiement" formControlName="paymentType"
                            placeholder="Choisissez une modalité de paiement"></p-dropdown>
            </div>

            <div class="col-12 p-fluid p-formgrid grid ">
                <h3 class="col-12" style="text-align: start;">Joindre des Documents</h3>
                <div>
                <div class="doc-block">
                    <span class="doc-title">RIB</span>
                    <label for="rib-upload" class="upload-doc" (click)="rib.click()">
                        <i class="pi pi-cloud-upload"></i>Joindre
                    </label><span class="file-name" >{{rib?.files?.item(0)?.name}}</span>
                    <input #rib multiple type="file" accept="application/pdf" maxFileSize="10000000"
                        (change)="onUpload($event, 'rib')" chooseLabel="Browse" inputId="rib-upload"/>
                    <i class="pi pi-times cancel-icon" *ngIf="rib?.files?.item(0)" (click)="reset(rib)"></i>
                </div>
                <div class="doc-block">
                    <span class="doc-title">Attestation</span>
                    <label for="rib-upload" class="upload-doc" (click)="attestation_payement.click()">
                        <i class="pi pi-cloud-upload"></i>Joindre
                    </label><span class="file-name" >{{attestation_payement?.files?.item(0)?.name}}</span>
                    <input #attestation_payement multiple type="file" accept="application/pdf" maxFileSize="10000000"
                        (change)="onUpload($event, 'attestation_payement')" chooseLabel="Browse" inputId="rib-upload"/>
                    <i class="pi pi-times cancel-icon" *ngIf="attestation_payement?.files?.item(0)" (click)="reset(attestation_payement)"></i>
                </div>
                <div class="doc-block">
                    <span class="doc-title">Test 2</span>
                    <label for="rib-upload" class="upload-doc" (click)="document_inscription.click()">
                        <i class="pi pi-cloud-upload"></i>Joindre
                    </label><span class="file-name" >{{document_inscription?.files?.item(0)?.name}}</span>
                    <input #document_inscription multiple type="file" accept="application/pdf" maxFileSize="10000000"
                        (change)="onUpload($event, 'document_inscription')" chooseLabel="Browse" inputId="rib-upload"/>
                    <i class="pi pi-times cancel-icon" *ngIf="document_inscription?.files?.item(0)" (click)="reset(document_inscription)"></i>
                </div>
                <div class="doc-block">
                    <span class="doc-title">Test 3</span>
                    <label for="rib-upload" class="upload-doc" (click)="preuve_payement.click()">
                        <i class="pi pi-cloud-upload"></i>Joindre
                    </label><span class="file-name" >{{preuve_payement?.files?.item(0)?.name}}</span>
                    <input #preuve_payement multiple type="file" accept="application/pdf" maxFileSize="10000000"
                        (change)="onUpload($event, 'preuve_payement')" chooseLabel="Browse" inputId="rib-upload"/>
                    <i class="pi pi-times cancel-icon" *ngIf="preuve_payement?.files?.item(0)" (click)="reset(preuve_payement)"></i>
                </div>
                <div class="doc-block">
                    <span class="doc-title">Test 3</span>
                    <label for="rib-upload" class="upload-doc" (click)="autres_doc.click()">
                        <i class="pi pi-cloud-upload"></i>Joindre
                    </label><span class="file-name" >{{autres_doc?.files?.item(0)?.name}}</span>
                    <input #autres_doc multiple type="file" accept="application/pdf" maxFileSize="10000000"
                        (change)="onUpload($event, 'autres_doc')" chooseLabel="Browse" inputId="rib-upload"/>
                    <i class="pi pi-times cancel-icon" *ngIf="autres_doc?.files?.item(0)" (click)="reset(autres_doc)"></i>
                </div>
            </div>
            </div>
            <div class="col-12  flex align-items-center justify-content-center ">
                <br>
                <span class="p-buttonset">
                    <button [disabled]="formRembourssement.invalid" pButton pRipple class="imen-btn" label="Enregistrer" icon="pi pi-check" type="submit"></button>
                    <button *ngIf="currentDemande" pButton pRipple class="button-danger imen-btn" label="Cancel" icon="pi pi-times"  type="button" (click)="cancelForm()"></button>
                </span>
            
            </div>
        </form>
        
    </div>
</div>
