<!-- Formulaire d'ajout d'un nouveau diplome -->
<div *ngIf="showFormAddDiplome" class="grid">
    <div class="xl:col-8 xl:col-offset-2 col-12">
        <p-card>
            <div class="p-grid">
                <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showFormAddDiplome = false"> </i>
                <form class="col-8 col-offset-2" [formGroup]="formAddDiplome" (ngSubmit)="onAddDiplome()">

                    <h3>Ajouter un diplôme</h3>
                    <div class="p-grid">
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="titre" class="form-control col-12"
                                placeholder="Titre du diplôme" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="titre_long" class="form-control col-12"
                                placeholder="Titre long" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <span>
                                <p-dropdown [options]="campusList" optionLabel="libelle" formControlName="campus_id">
                                </p-dropdown>
                            </span>
                            <!--<input type="text" formControlName="campus_id" class="form-control col-12"
                                placeholder="Campus" pInputText>-->
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <textarea type="text" formControlName="description" class="form-control col-12"
                                placeholder="Description du diplôme" pInputText></textarea>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="type_diplome" class="form-control col-12"
                                placeholder="Type de diplôme" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="type_etude" class="form-control col-12"
                                placeholder="Type d'étude" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="domaine" class="form-control col-12"
                                placeholder="Domaine d'étude" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="niveau" class="form-control col-12" placeholder="Niveau"
                                pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" formControlName="certificateur" class="form-control col-12"
                                placeholder="Certificateur" pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" formControlName="code_RNCP" class="form-control col-12"
                                placeholder="Code RNCP" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="duree" class="form-control col-12"
                                placeholder="Nombre de mois de la formation" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="nb_heure" class="form-control col-12"
                                placeholder="Nombre d'heure de la formation" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="date" formControlName="date_debut" class="form-control col-12"
                                placeholder="Date de début" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="date" formControlName="date_fin" class="form-control col-12"
                                placeholder="Date de fin" pInputText>
                        </div>
                        <div class="ui-g-8 ui-md-8">
                            <input type="text" formControlName="rythme" class="form-control col-12" placeholder="Rythme"
                                pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="frais" class="form-control col-12"
                                placeholder="Coût de la formation" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="frais_en_ligne" class="form-control col-12"
                                placeholder="Coût de la formation EN LIGNE" pInputText>
                        </div>
                        <div>
                            <button pButton type="submit" label="Ajouter le diplome" [disabled]="formAddDiplome.invalid"
                                style="margin-left: 72%;"></button>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>



<!-- Formulaire de mise à jour d'un diplome -->
<div *ngIf="showFormUpdateDiplome" class="grid">
    <div class="xl:col-8 xl:col-offset-2 col-12">
        <p-card>
            <div class="p-grid">
                <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showFormUpdateDiplome = false">
                </i>
                <form class="col-8 col-offset-2" [formGroup]="formUpdateDiplome" (ngSubmit)="onUpdateDiplome()">

                    <h3>Formulaire de modification du diplôme</h3>
                    <div class="p-grid">
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="titre" class="form-control col-12" placeholder="Titre"
                                pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="titre_long" class="form-control col-12"
                                placeholder="Titre Long" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <span>
                                <p-dropdown [options]="campusList" optionLabel="libelle" formControlName="campus_id">
                                </p-dropdown>
                            </span>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <textarea type="text" formControlName="description" class="form-control col-12"
                                placeholder="Description" pInputText></textarea>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="type_diplome" class="form-control col-12"
                                placeholder="Type de diplôme" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="type_etude" class="form-control col-12"
                                placeholder="Type d'étude" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="domaine" class="form-control col-12"
                                placeholder="Domaine d'étude" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="text" formControlName="niveau" class="form-control col-12" placeholder="Niveau"
                                pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" formControlName="certificateur" class="form-control col-12"
                                placeholder="Certificateur" pInputText>
                        </div>
                        <div class="ui-g-12 ui-md-12">
                            <input type="text" formControlName="code_RNCP" class="form-control col-12"
                                placeholder="Code RNCP" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="duree" class="form-control col-12"
                                placeholder="Nombre de mois de la formation" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="nb_heure" class="form-control col-12"
                                placeholder="Nombre d'heure de la formation" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="date" formControlName="date_debut" class="form-control col-12"
                                placeholder="Date de début" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="date" formControlName="date_fin" class="form-control col-12"
                                placeholder="Date de fin" pInputText>
                        </div>
                        <div class="mt-2 mb-2 col-8">
                            <input type="text" formControlName="rythme" class="form-control col-12" placeholder="Rythme"
                                pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="frais" class="form-control col-12"
                                placeholder="Coût de la formation" pInputText>
                        </div>
                        <div class="ui-g-6 ui-md-6">
                            <input type="number" formControlName="frais_en_ligne" class="form-control col-12"
                                placeholder="Coût de la formation EN LIGNE" pInputText>
                        </div>

                        <div>
                            <button pButton type="submit" label="Modifier le diplome"
                                [disabled]="formUpdateDiplome.invalid" style="margin-left: 70%;"></button>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>



<!-- Table d'affichage de la liste des diplômes -->
<div class="grid">
    <div class="col-10 col-offset-1">
        <!-- Bouton d'ajout d'un nouveau diplome -->
        <button (click)="showFormAddDiplome = true; showFormUpdateDiplome = false" pButton type="button"
            label="Nouveau diplôme" style="float:right;"></button>
        <h3><a routerLink='/anneeScolaire'>{{LblAnneselected }}</a> / <a
                routerLink='/ecoles/{{idanneeselected }}'>{{Lblecoleselected }}</a>/ <a
                routerLink='/campus/{{idecoleselected }}'>{{Lblecoleselected }}</a> / Liste des Diplomes</h3>

        <div class="col-12 card shadow-lg my-5">

            <!-- input de recherche -->
            <input style="margin:5px;" pInputText type="text"
                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche" />

            <p-table #dt1 [globalFilterFields]="['titre_long', 'domaine', 'certificateur', 'code_RNCP', 'duree']"
                [rows]="5" [pageLinks]="5" [paginator]="true" rowExpandMode="single" [value]="diplomes"
                [totalRecords]="diplomes.length" dataKey="_id" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem" scope="col"></th>
                        <th pSortableColumn="titre_long" scope="col">
                            Titre long <p-sortIcon field="titre_long"></p-sortIcon>
                        </th>
                        <th pSortableColumn="domaine" scope="col">
                            Domaine <p-sortIcon field="domaine"></p-sortIcon>
                        </th>
                        <th pSortableColumn="certificateur" scope="col">
                            Certificateur <p-sortIcon field="certificateur"></p-sortIcon>
                        </th>
                        <th pSortableColumn="code_RNCP" scope="col">
                            Code RNCP <p-sortIcon field="code_RNCP"></p-sortIcon>
                        </th>
                        <th pSortableColumn="duree" scope="col">
                            Durée <p-sortIcon field="duree"></p-sortIcon>
                        </th>
                        <th scope="col">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-diplome let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="diplome"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                style="background-color:white; color: green; border: 0px">
                            </button>
                        </td>
                        <td>
                            {{ diplome.titre_long }}
                        </td>
                        <td>
                            {{ diplome.domaine }}
                        </td>
                        <td>
                            {{ diplome.certificateur }}
                        </td>
                        <td>
                            {{ diplome.code_RNCP }}
                        </td>
                        <td>
                            {{ diplome.duree }} Mois
                        </td>
                        <td>
                            <i style="margin-left: 2%;"
                                (click)="showFormUpdateDiplome = true; showFormAddDiplome = false; idDiplomeToUpdate = diplome._id; onGetbyId(diplome);"
                                class="pi pi-pencil"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-diplome>
                    <tr>
                        <td colspan="7">
                            <p-fieldset legend="Informations supplementaires">
                                <div class="p-grid ui-fluid" style="color: black;font-weight:normal;">

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">titre:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.titre }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Campus:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ dicCampus[diplome.campus_id].libelle
                                                }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Nombre d'heure:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.nb_heure }} heures</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-12">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Description:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.description }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Type du diplôme:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.type_diplome }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Type d'étude:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.type_etude }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Niveau:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.niveau }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-6 ui-md-6">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Début:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.date_debut | date:'dd/MM/yyyy'
                                                }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-6 ui-md-6">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Fin:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.date_fin | date:'dd/MM/yyyy'
                                                }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Rythme:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.rythme }}</span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Frais:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.frais }} <strong>€</strong></span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Frais en ligne:</strong>
                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span style="color: black;">{{ diplome.frais_en_ligne }} <strong>€</strong>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="ui-g-4 ui-md-4" *ngIf="dicMatiere[diplome._id] && dicMatiere[diplome._id].length!=0">
                                        <div class="ui-g-6 ui-md-6">
                                            <strong style="text-align:left !important;">Matières:</strong>

                                        </div>
                                        <div class="ui-g-6 ui-md-6" style="text-align:left !important;">
                                            <span *ngFor="let matiere of dicMatiere[diplome._id];let index = index">
                                                <span *ngIf="index==0">{{matiere.nom}}</span>
                                                <span *ngIf="index!=0">, {{matiere.nom}}</span>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </p-fieldset>

                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>