<div class="col-12">
    <input type="file" (change)="FileUploadPC($event.target.files)" id="selectedFile" #selectedFile
        accept=".jpg,.png,.jpeg" style="display: none;" pInputFile />
</div>
<div class="col-12">
    <input type="file" (change)="FileUpload2($event.target.files)" id="selectedFile2" #selectedFile2
        style="display: none;" pInputFile />
</div>
<p-toast></p-toast>
<div class="grid">
    <div class="col-12 grid card" *ngIf="managePartenaire">
        <h4 class="col-12" style="text-align: center;">Partenaire gérer par : </h4>
        <p-dropdown class="col-12" filter="true" placeholder="Choisissez un membre de l'équipe international"
            [options]="internationalList" autoWidth="false" [style]="{'width':'100%'}"
            [(ngModel)]="managePartenaire.manage_by._id" (onChange)="onSelectManage($event.value)"
            emptyFilterMessage="Pas de membre trouvé" filterPlaceholder="Phase">
        </p-dropdown>
    </div>
    <div class="col-12" *ngIf="showFormModifPartenaire">
        <div class="card">
            <h4 style="text-align: center;">Modifier ce partenaire </h4>
            <div style="text-align: center;">
                <small style="text-align: center; font-size: 12px;">Tous les champs marqués d'un astérix <span
                        style="color: red;"> * </span> sont obligatoires</small>
            </div>
            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                (click)="showFormModifPartenaire = false;editInfoCommercial=false;editInfoPartenariat=false"
                aria-hidden="true"></i>

            <div class="card">
                <p-fieldset legend="Information Entreprise">
                    <div class="grid" style="color: black;font-weight:normal" *ngIf="!editInfoCommercial">
                        <div class="col-12 md:col-3">
                            <a (click)="clickFile()" pTooltip="Modifier la photo de profil" tooltipPosition="bottom"
                                style="cursor: pointer;"><img [src]="imageToShow" alt="Profil" width="150" height="150"
                                    style="border-radius: 50px;" /></a>
                        </div>
                        <div class="col-12 md:col-6 grid">
                            <p class="col-12 md:col-6 text-center"><strong>Téléphone:</strong><br>
                                {{idPartenaireToUpdate?.indicatifPhone}} {{idPartenaireToUpdate?.phone}}</p>
                            <p class="col-12 md:col-6 text-center"><strong>WhatsApp:</strong><br>
                                {{idPartenaireToUpdate?.indicatifWhatsapp}} {{idPartenaireToUpdate?.WhatsApp}}
                            </p>
                            <p class="col-12 md:col-6 text-center"><strong>Site Web:</strong><br>
                                {{idPartenaireToUpdate?.site_web}}</p>
                            <p class="col-12 md:col-6 text-center"><strong>Facebook:</strong><br>
                                {{idPartenaireToUpdate?.facebook}}
                            </p>
                            <p class="col-12 md:col-12 text-center"><strong>Pays:</strong><br>
                                {{idPartenaireToUpdate?.Pays}}</p>
                            <p class="col-12 md:col-12 text-center"><strong>Services:</strong><br>
                                {{idPartenaireToUpdate?.Services}}
                            </p>

                            <p class="col-12 md:col-12 text-center"><strong>Description:</strong><br>
                                {{idPartenaireToUpdate?.description}}
                            </p>
                        </div>
                        <div class="col-12 md:col-3">
                            <p style="cursor: pointer;"><a (click)="initEditCommercialForm()">Modifier les
                                    informations</a>
                            </p>
                        </div>
                    </div>
                    <div class="grid" style="color: black;font-weight:normal" *ngIf="editInfoCommercial">
                        <form class="col-12 grid" [formGroup]="editInfoCommercialForm">
                            <div class="col-12 md:col-3">
                                <a (click)="clickFile()" pTooltip="Modifier la photo de profil" tooltipPosition="bottom"
                                    style="cursor: pointer;"><img [src]="imageToShow" alt="Profil" width="150"
                                        height="150" style="border-radius: 50px;" /></a>
                            </div>
                            <div class="col-12 md:col-6 grid">
                                <p class="col-12 md:col-6 text-center"><strong>Téléphone:</strong><br>
                                    <input type="text" pInputText placeholder="+33"
                                        formControlName="indicatifPhone" /><br>
                                    <input type="text" pInputText placeholder="0612345678" formControlName="phone" />
                                </p>
                                <p class="col-12 md:col-6 text-center"><strong>WhatsApp:</strong><br>
                                    <input type="text" pInputText placeholder="+33"
                                        formControlName="indicatifWhatsapp" /><br>
                                    <input type="text" pInputText placeholder="0612345678" formControlName="WhatsApp" />
                                </p>
                                <p class="col-12 md:col-6 text-center"><strong>Site Web:</strong><br>
                                    <input type="text" pInputText placeholder="https://www.example.com"
                                        formControlName="site_web" />
                                </p>
                                <p class="col-12 md:col-6 text-center"><strong>Facebook:</strong><br>
                                    <input type="text" pInputText placeholder="https://www.example.com"
                                        formControlName="facebook" />
                                </p>
                                <p class="col-12 md:col-12 text-center"><strong>Pays:</strong><br>
                                    <p-multiSelect formControlName="Pays" [options]="paysList" placeholder="Pays"
                                        optionLabel="value" optionValue="value" emptyFilterMessage="Pas de pays trouvé"
                                        filterPlaceholder="Pays" filter="true" optionDisabled="actif"></p-multiSelect>
                                </p>
                                <p class="col-12 md:col-12 text-center"><strong>Services:</strong><br>
                                    <input type="text" pInputText placeholder="https://www.example.com"
                                        formControlName="Services" />
                                </p>

                                <p class="col-12 md:col-12 text-center"><strong>Description:</strong><br>
                                    <textarea pInputTextarea formControlName="description" placeholder=""></textarea>
                                </p>
                            </div>
                            <div class="col-12 md:col-3">
                                <p style="cursor: pointer;"><a (click)="saveEditCommercialInfo()">Enregistrer les
                                        informations</a></p>
                            </div>
                        </form>
                    </div>
                </p-fieldset><br>
                <p-fieldset legend="Information du partenariat">
                    <div class="grid" style="color: black;font-weight:normal" *ngIf="editInfoPartenariat">
                        <form class="col-12 grid" [formGroup]="editInfoPartenariatForm">
                            <div class="col-12 md:col-9 grid">
                                <p class="col-12 md:col-6 text-center"><strong>Ancienneté:</strong><br>
                                    <p-dropdown formControlName="statut_anciennete" [options]="dropdownAnciennete"
                                        placeholder="Choisissez un statut d'anciennete"></p-dropdown>
                                </p>
                                <p class="col-12 md:col-6 text-center"><strong>Contribution:</strong><br>
                                    <p-dropdown formControlName="contribution" [options]="dropdownContribution"
                                        placeholder="Choisissez un statut de contribution"></p-dropdown>
                                </p>
                                <p class="col-12 md:col-6 text-center"><strong>Type Partenaire:</strong><br>
                                    <p-dropdown formControlName="typePartenaire" [options]="dropdownType"
                                        placeholder="Choisissez un type"></p-dropdown>
                                </p>
                                <p class="col-12 md:col-6 text-center"><strong>Groupe WhatsApp:</strong><br>
                                    <input type="text" pInputText placeholder="" formControlName="groupeWhatsApp" />
                                </p>
                            </div>
                            <div class="col-12 md:col-3">
                                <p style="cursor: pointer;"><a (click)="saveEditPartenariatForm()">Sauvegarder les
                                        informations</a>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="grid" style="color: black;font-weight:normal" *ngIf="!editInfoPartenariat">
                        <div class="col-12 md:col-9 grid">
                            <p class="col-12 md:col-4 text-center"><strong>Ancienneté:</strong><br>
                                {{idPartenaireToUpdate?.statut_anciennete}}</p>
                            <p class="col-12 md:col-4 text-center"><strong>Contribution:</strong><br>
                                {{idPartenaireToUpdate?.contribution}}
                            </p>
                            <p class="col-12 md:col-4 text-center"><strong>Date d'ajout:</strong><br>
                                {{idPartenaireToUpdate?.date_creation | date:'mediumDate'}}</p>
                        </div>
                        <div class="col-12 md:col-3">
                            <p style="cursor: pointer;"><a (click)="initEditPartenariatForm()">Modifier les
                                    informations</a>
                            </p>
                        </div>
                    </div>
                </p-fieldset><br>
                <p-fieldset legend="Commissions" *ngIf="commissions">
                    <div class="grid">
                        <div class="col-6 text-center">
                            <p>
                                <strong>Etat de Contrat:
                                    <p-dropdown [options]="dropdownEtatContrat" (onChange)="updateEtatContrat()"
                                        [(ngModel)]="idPartenaireToUpdate.etat_contrat"
                                        placeholder="Choisissez un statut d'état de contrat"></p-dropdown>
                                </strong><br>
                            </p>
                            <button pButton class="mr-2" label="Télécharger le contrat" type="button"
                                [disabled]="!idPartenaireToUpdate?.pathEtatContrat"
                                (click)="downloadContrat()"></button>
                            <button pButton label="Ajouter le contrat" (click)="clickFile2()" type="button"></button>
                        </div>
                        <div class="col-6">
                            <form class="grid" [formGroup]="ajoutCommission" (ngSubmit)="addCommission()">
                                <div class="col-12 md:col-6 text-center">
                                    <p><strong>Description:</strong><br>
                                        <input type="text" pInputText placeholder="" formControlName="description" />
                                    </p>
                                </div>
                                <div class="col-12 md:col-6 text-center">
                                    <p><strong>Montant:</strong><br>
                                        <input type="text" pInputText placeholder="50€" formControlName="montant" />
                                    </p>
                                </div>
                                <div class="col-12 text-center">
                                    <button pButton label="Ajouter une commission" [disabled]="ajoutCommission.invalid"
                                        type="submit"></button>
                                </div>
                            </form>
                        </div>

                        <p-table class="col-12" styleClass="p-datatable-gridlines" [value]="commissions" editMode="row"
                            dataKey="_id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Description</th>
                                    <th>Montant</th>
                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-co let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="co">
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="co.description">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{co.description}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="co.montant">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{co.montant}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td>
                                        <i pTooltip="Supprimer la commission" tooltipPosition="bottom"
                                            class="pi pi-trash" (click)="deleteCommission(co)" aria-hidden="true"></i>
                                        <i pTooltip="Modifier la commission" tooltipPosition="bottom" *ngIf="!editing"
                                            type="button" pInitEditableRow class="pi pi-pencil"
                                            (click)="onRowEditInit(co)"></i>
                                        <i pTooltip="Sauvegarder la modification" tooltipPosition="bottom"
                                            *ngIf="editing" type="button" pSaveEditableRow class="pi pi-check"
                                            (click)="onRowEditSave(co)"></i>
                                        <i pTooltip="Annuler la modification" tooltipPosition="bottom" *ngIf="editing"
                                            type="button" pCancelEditableRow class="pi pi-times"
                                            (click)="onRowEditCancel(co, ri)"></i>

                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </p-fieldset>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div style="float: right">
                <button pButton label="Ajouter" icon="pi pi-plus" (click)="onRedirect();"></button>
            </div>
            <h5>Liste des partenaires</h5>
            <p-table #dt1 [value]="partenaires" dataKey="_id" [rows]="10" [rowHover]="true"
                [totalRecords]="partenaires.length" [paginator]="true" [pageLinks]="5" [expandedRowKeys]="expandedRows"
                rowExpandMode="single"
                [globalFilterFields]="['nom','email','site','ville','Pays','etat_contrat','contribution','statut_anciennete','user_id.lastname','user_id.firstname']"
                responsiveLayout="scroll" selectionMode="single" styleClass="p-datatable-gridlines">

                <ng-template pTemplate="caption">
                    <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Recherche" />
                    <p-dropdown [style]="{'margin':'5px'}" [options]="filterAnciennete" filter="true"
                        placeholder="Ancienneté" (onChange)="dt1.filter($event.value, 'statut_anciennete', 'equals');"
                        emptyFilterMessage="Pas de statut d'ancienneté trouvé"
                        filterPlaceholder="Statut d'ancienneté"></p-dropdown>
                    <p-dropdown [style]="{'margin':'5px'}" [options]="filterContribution" filter="true"
                        placeholder="Contribution" (onChange)="dt1.filter($event.value, 'contribution', 'equals'); "
                        emptyFilterMessage="Pas de contribution trouvé" filterPlaceholder="Contribution"></p-dropdown>
                    <p-dropdown [style]="{'margin':'5px'}" [options]="filterEtat" filter="true"
                        placeholder="Etat de Contrat" (onChange)="dt1.filter($event.value, 'etat_contrat', 'equals');"
                        emptyFilterMessage="Pas d'état trouvé" filterPlaceholder="Etat de Contrat"></p-dropdown>
                    <p-dropdown [style]="{'margin':'5px'}" [options]="filterPays" filter="true" placeholder="Pays"
                        (onChange)="dt1.filter($event.value, 'localisation', 'equals');"
                        emptyFilterMessage="Pas de pays trouvé" filterPlaceholder="Pays"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date_creation" style="text-align: center;"> Date d'inscription <p-sortIcon
                                field="date_creation">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="code_partenaire" style="text-align: center;"> ID <p-sortIcon
                                field="code_partenaire">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="nom" style="text-align: center;"> Nom de l'entreprise <p-sortIcon
                                field="nom">
                            </p-sortIcon>
                        </th>

                        <th pSortableColumn="user_id" style="text-align: center;"> Nom complet du contact <p-sortIcon
                                field="user_id">
                            </p-sortIcon>
                        </th>

                        <th pSortableColumn="email" style="text-align: center;">Adresse email <p-sortIcon field="email">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="phone" style="text-align: center;">Numéro de téléphone<p-sortIcon
                                field="phone">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="WhatsApp" style="text-align: center;">Numéro WhatsApp <p-sortIcon
                                field="WhatsApp">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="Pays" style="text-align: center;">Pays cibles <p-sortIcon field="Pays">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="statut_anciennete" style="text-align: center;">Ancienneté <p-sortIcon
                                field="statut_anciennete">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="contribution" style="text-align: center;">Contribution <p-sortIcon
                                field="contribution">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="etat_contrat" style="text-align: center;">Etat de contract <p-sortIcon
                                field="etat_contrat">
                            </p-sortIcon>
                        <th pSortableColumn="typePartenaire" style="text-align: center;">Type de Partenaire <p-sortIcon
                                field="typePartenaire">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="groupeWhatsApp" style="text-align: center;">Groupe WhatsApp <p-sortIcon
                                field="groupeWhatsApp">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="localisation" style="text-align: center;">Localisation <p-sortIcon
                                field="localisation">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="manage_by.user_id.firstname" style="text-align: center;">Gérer par:
                            <p-sortIcon field="manage_by.user_id.firstname">
                            </p-sortIcon>
                        </th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                    <tr>
                        <!--<td>
                            <button type="button" pButton pRipple [pRowToggler]="rowData"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>-->
                        <td style="min-width: 12rem;">
                            {{ rowData.date_creation | date:'mediumDate' }}
                        </td>
                        <td style="min-width: 12rem;">
                            {{ rowData.code_partenaire }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.nom}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData?.user_id?.firstname | titlecase}} {{ rowData?.user_id?.lastname | uppercase}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.email}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.indicatifPhone}} {{ rowData.phone}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.indicatifWhatsapp}} {{ rowData.WhatsApp}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.Pays}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.statut_anciennete}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.contribution}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.etat_contrat}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.typePartenaire}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.groupeWhatsApp}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData.localisation}}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ rowData?.manage_by?.user_id?.firstname}} {{ rowData?.manage_by?.user_id?.lastname}}
                        </td>
                        <td style="min-width: 10rem;">
                            <!--<i pTooltip="Voir les Eleves affiliés" tooltipPosition="bottom" class="pi pi-users"
                                (click)="seeRecruted(rowData)" aria-hidden="true" style="margin-left: 7px"></i>-->
                            <i pTooltip="Gestion de partenaire" tooltipPosition="bottom" class="pi pi-pencil"
                                style="margin-left: 7px" aria-hidden="true"
                                (click)="showFormModifPartenaire = true; idPartenaireToUpdate = rowData; onGetbyId(rowData);this.loadPP(rowData);scrollToTop()"></i>
                            <i pTooltip="Attribuer le partenaire" tooltipPosition="bottom" class="pi pi-user-plus"
                                style="margin-left: 7px" aria-hidden="true"
                                (click)="initManage(rowData);scrollToTop()"></i>
                            <i pTooltip="Afficher la liste des prospects" tooltipPosition="bottom"
                                class="pi pi-envelope" (click)="seePreRecruted(rowData)" aria-hidden="true"
                                style="margin-left: 7px"></i>
                            <i pTooltip="Afficher la liste des alternants" tooltipPosition="bottom"
                                class="pi pi-briefcase" (click)="seeAlternants(rowData)" aria-hidden="true"
                                style="margin-left: 7px"></i>
                            <i pTooltip="Afficher la liste des commercials" tooltipPosition="bottom"
                                style="margin-left: 7px" class="pi pi-sitemap" (click)="seeUnderPartenaire(rowData)"
                                aria-hidden="true"></i>
                            <i pTooltip="Supprimer le partenaire" tooltipPosition="bottom" class="pi pi-trash"
                                (click)="delete(rowData)" aria-hidden="true" style="margin-left: 7px"
                                *ngIf="canDelete"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table class="p-datatable-gridlines" responsiveLayout="scroll"
                                    styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th>Type</th>
                        <th>Format juridique</th>
                        <th>Numéro téléphone</th>
                        <th>Numéro WhatsApp</th>
                        <th>Email</th>
                        <th>TVA</th>
                        <th>SIREN</th>
                        <th>SIRET</th>
                        <th>Code APE</th>
                        <th>Service proposés</th>
                        <th>Pays cibles</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>

                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>{{rowData.type}}</td>
                        <td>{{rowData.format_juridique}}</td>
                        <td>{{rowData.phone}}</td>
                        <td>{{rowData.WhatsApp}}</td>
                        <td>{{rowData.email}}</td>
                        <td>{{rowData.number_TVA}}</td>
                        <td>{{rowData.SIREN}}</td>
                        <td>{{rowData.SIRET}}</td>
                        <td>{{rowData.APE}}</td>
                        <td>{{rowData.Services}}</td>
                        <td>{{rowData.Pays}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>