#messageAgent{

    border-radius: 15px;
    background-color: #92cf80;
    text-align:left !important;
    float:right !important; 

}

#messageUser{
  text-align:left !important;
  border-radius: 15px;
  background-color: #ccd3c9e3;


}

td{
    background-color: white;
}
.content{
    max-width: 500px;
    margin:auto;
    background-color: #fff;
    padding: 2% 2%;
  }
  button:hover{
    color: #fff;
  }
  .error
  {
      color: red;
  }
  .logo {
    max-width: 50%;
  }
  p-button{
    margin-left: 40%;
  }