#center{
  position:absolute;
  left:10%;
  /* margin-left:-90px; */
  /* padding-top: 50px; */

}
#right3 {
  position:absolute;
  right:0px;
}
#container5 {
  position:relative;
}

#container {
  position:relative;

}

#right4 {
  position:absolute;
  right:0px;
}
#right0 {
  position:absolute;
  right:0px;
}
#left4 {
  position:absolute;
  left:0px;
  /* padding-top: 20px; */
}
#l{
  margin-left: 20px;
}
#left {
  position:absolute;
  left:0px;
}
#right {
  position:absolute;
  right:0px;
}
#container2 {
  position:relative;

}
#left2 {
  position:absolute;
  left:0px;
}
#left3 {
  position:absolute;
  left:0px;
}
#right2 {
  position:absolute;
  right:0px;
}

#messageAgent{

    border-radius: 15px;
    background-color: #92cf80;
    text-align:left !important;
    margin:  0px !important;
}
#charger{ 
  color: #3da827; 
  background-color: transparent; 
  border-color: transparent;
  float : left !important;
  margin:  0px !important;


}
#charger2{ 
  color: #3da827; 
  background-color: transparent; 
  border-color: transparent;
  float: right !important;
  margin:  0px !important;


}
#messageUser{
  text-align:left !important;
  border-radius: 15px;
  background-color: #ccd3c9e3;
  margin:  0px !important;

}
#soustitre{
  font-style: italic; 
  font-size: 11px;
  float: left;
  text-align: right;
  padding-right: 10px;
}
.pstatut{
  width: 20px;
}
@media (max-height:200px) {
  .badyT{
    overflow-y:none;  
 
    }
}
@media (min-height:200px) {
  
  .badyT{
    
  position: relative; 
  overflow-y:scroll;  
  height: 200px;
  }

}

td{
    background-color: white;
}
.content{
    max-width: 500px;
    margin:auto;
    background-color: #fff;
    padding: 2% 2%;
  }
  button:hover{
    color: #fff;
  }
  .error
  {
      color: red;
  }
  .logo {
    max-width: 50%;
  }
  p-button{
    margin-left: 40%;
  }
