<div class="header">
    <div class="header-inner">
        <div class="section-left">
            <div class="student-image-container">
                <div class="student-image" [style.backgroundImage]="'url('+student.imgPDP+')'"></div>
            </div>
        </div>

        <div class="section-right">
            <h1><strong>{{ student.fullName }}</strong></h1>
                <h1>{{ student.profile }}</h1>
        </div>
    </div>
    <div class="overlay"></div>
    <img class="logo" src="../../../../../../../../assets/images/imatch/gen-cv/btech/logo.png" />
</div>

