<div class="grid">

    <div class="col-12">
        <h1>Bienvenue sur votre page de paiement</h1>
    </div>

    <div class="col-6 xl:col-4">
        <div class="card mb-0" (click)="onCardPayment()" style="cursor: pointer;">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Paiement par carte de crédit</span>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-folder-open text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 xl:col-4">
        <div class="card mb-0" (click)="onAccountPayment()" style="cursor: pointer;">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Paiement par virement bancaire
                    </span>
                </div>

                <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-clock text-pink-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-4">
        <div class="card mb-0" (click)="onChequePayment()" style="cursor: pointer;">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Paiement par chèque
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    style="width: 2.5rem; height: 2.5rem">
                    <i class="pi pi-sync text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
		<div class="card">

        </div>
    </div>

</div>