<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="col-12">
                <button pButton pRipple type="button" icon="pi pi-list" label="Compte rendu d'activité" class="p-button-outlined mr-2 mb-2" (click)="showSelectDateForm = true;"></button>
                <button pButton pRipple type="button" icon="pi pi-file" label="Démandes de congés" class="p-button-outlined mr-2 mb-2"></button>
            </div>
            

            <div class="col-12">
                <!-- Formulaire de selection de date, s'affiche lorsque le bouton présence est appuyé -->
                <form class="formgroup-inline" [formGroup]="selectDateForm" (ngSubmit)="onGetPresences()" *ngIf="showSelectDateForm">
                    <div class="field">
                        <label class="p-sr-only">Début</label>
                        <p-calendar formControlName="beginDate" [showIcon]="true" [showButtonBar]="true" placeholder="Début"></p-calendar>
                    </div>
                    <div class="field">
                        <label class="p-sr-only">Fin</label>
                        <p-calendar formControlName="endDate" [showIcon]="true" [showButtonBar]="true" placeholder="Fin"></p-calendar>
                    </div>
                    <button pButton type="submit" [disabled]="selectDateForm.invalid" label="Valider"></button>
                </form>

                <!-- Table d'affichage du compte rendu d'activité -->
                <div class="card" *ngIf="showPresenceList">
                    <i class="pi pi-times-circle"
                        style="float:right; margin-right: 30px; font-size: 20px; color: red; cursor: pointer;"
                        pTooltip="Fermer" (click)="showPresenceList = false; selectDateForm.reset(); showSelectDateForm = false;" aria-hidden="true"> </i>

                    <h5>Liste des présence de {{ from }} à {{ to }}</h5>
                    
                    <p-table [value]="presences" dataKey="_id" responsiveLayout="scroll"
                             rowExpandMode="single" [rows]="10" [rowHover]="true" [totalRecords]="presences.length"
                             [paginator]="true" #dt1 [globalFilterFields]="['statut', 'principale_activity_details', 'user_id.firstname', 'user_id.lastname', 'user_id.email', 'user_id.type', 'user_id.email_perso']">
                    
                            <ng-template pTemplate="caption">
                                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Recherche" />

                                <p-dropdown [style]="{'margin':'5px'}" [options]="typeList" filter="true"
                                    (onChange)="dt1.filter($event.value, 'user_id.type', 'equals')"
                                    emptyFilterMessage="Type non trouvé" filterPlaceholder="Type"></p-dropdown>
                            </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem"></th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Statut</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-presence let-expanded="expanded">
                            <tr>
                                <td>
                                    <button type="button" pButton pRipple [pRowToggler]="presence" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                </td>
                                <td style="min-width: 8rem;">{{ presence.user_id.lastname | uppercase }}</td>
                                <td style="min-width: 8rem;">{{ presence.user_id.firstname | titlecase }}</td>
                                <td style="min-width: 8rem;">{{ presence.user_id.email }}</td>
                                <td style="min-width: 8rem;">{{ presence.user_id.type }}</td>
                                <td style="min-width: 8rem;">{{ presence.date_of_the_day }}</td>
                                <td style="min-width: 8rem; color: red; font-weight: bold;">{{ presence.statut }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-presence>
                            <tr>
                                <td colspan="7">
                                    <div class="p-3">
                                        <p-table responsiveLayout="scroll">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Téléphone</th>
                                                    <th>Heure d'arrivé</th>
                                                    <th>heure de depart</th>
                                                    <th>Tâche principale</th>
                                                    <th>Tâches sécondaire</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-presence>
                                                <tr>
                                                    <td colspan="8">Aucune données supplémentaires.</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td>{{ presence.user_id.indicatif }}{{ presence.user_id.phone }}</td>
                                                    <td>{{ presence.in_date | date: 'hh:mm' }}</td>
                                                    <td>{{ presence.out_date | date: 'hh:mm' }}</td>
                                                    <td>{{ presence.principale_activity_details }}</td>
                                                    <td>
                                                        <ol>
                                                            <li *ngFor="let task of presence.activity_details; let i = index">{{ task }}</li>
                                                        </ol>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>
    </div>
</div>