<div class="layout-wrapper" (click)="onLayoutClick()" [ngClass]="{'layout-menu-overlay': isOverlay(),
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-horizontal': isHorizontal(),
                'layout-mobile-active': overlayMenuMobileActive}" [class]="layout">
  <app-topbar></app-topbar>
  <app-navbar *ngIf="isAuth"></app-navbar>


  <app-menu [reset]="resetMenu"></app-menu>

  <div [ngClass]="connected? 'layout-content':''">
    <router-outlet>


    </router-outlet>
      <app-footer></app-footer>

    <!--<form [formGroup]="form">
            <div class="form-group">
              <label for="avatar">Avatar</label>
              <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
            </div>
            <button type="submit" (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-success">Submit </button>
          </form>-->
  </div>

  <div class="layout-mask"></div>
  <div class="layout-config-mask" *ngIf="configDialogActive" [@mask-anim]="'visible'"></div>
</div>

