<div *ngIf="isAuth" class="layout-topbar">
    <div class="layout-topbar-logo">
        <a href="#">
            <img src="../assets/layout/images/logo.png" Style="width: 15em;">
        </a>
    </div>
    <ul class="layout-topbar-menu" role="menu">
        <li #profile class="user-profile" role="menuitem"
            [ngClass]="{'active-topmenuitem':app.activeTopbarItem === profile}">
            <a href="#" (click)="app.onTopbarItemClick($event,profile)">
                <div class="not" *ngIf="notif">
                    <i tooltipPosition="bottom" class=" pi pi-circle-on"style="cursor: pointer; color: red; position:absolute; font-size: 37px; margin-left: 180px;"></i>
                    <div class="number" style="margin-left: 68px; font-weight:bold; color:white; font-size: 13px; margin-left: 195px; position: relative; z-index: 10; padding-top: 10px;">
                        {{Notifications.length}}
                    </div>
                </div>
                <div *ngIf="userconnected" class="user-profile-info profile-link">
                    <span class="user-profile-name">{{userconnected.firstname}} {{userconnected.lastname}}</span>
                    <span class="user-profile-role" *ngIf="userconnected.role!='user'">{{userconnected.role}}</span>
                            <span class="user-profile-role" *ngIf="userconnected.role=='user'">Utilisateur</span>
            </div>
                <img src="../assets/images/avatar.PNG" style="width: 39px; height: 39px;">
            </a>
            <ul class="fadeInDown">
                <li class="profile-detail">
                    <div class="user-profile-info">
                        <img src="../assets/images/avatar.PNG">
                        <div *ngIf="userconnected" class="profile-info">
                            <span class="user-profile-name">{{userconnected.firstname}}
                                {{userconnected.lastname}}</span>
                            <span class="user-profile-role" *ngIf="userconnected.role!='user'">{{userconnected.role}}</span>
                            <span class="user-profile-role" *ngIf="userconnected.role=='user'">Utilisateur</span>
                        </div>
                        <a href="#" class="profile-detail-icon" (click)="onLogout()">
                            <i class="pi pi-sign-out"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" (click)="app.onTopbarItemClick($event,profile);editUser(rowData);">
                        <i style="color: #3da827;" class="pi pi-user"></i>
                        <div class="menu-text" routerLink="modification" (click)="editUser(rowData);">
                            <span class="menu-title">Profil</span>
                            <span class="menu-subtitle">Modifier votre profil</span>
                        </div>

                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>       
                <li>
                    <a href="#" (click)="app.onTopbarSubItemClick($event)">
                        <i style="color: #3da827;" class="pi pi-globe"></i>
                        <div class="menu-text" routerLink="/notification">
                            <div class="number"
                                style="margin-left: 50px; font-weight:bold; color: red; margin-left: 130%;">
                                {{Notifications.length}}
                            </div>
                            <span class="menu-title">Notifications</span>
                            <span class="menu-subtitle">Nouvelles notifications</span>
                        </div>
                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul>













    <!-- <ul class="fadeInDown">
                <li class="profile-detail">
                    <div class="user-profile-info">
                        <div class="profile-info">
                            <span *ngIf="userconnected" class="user-profile-name">{{userconnected.firstname}} {{userconnected.lastname}}</span>
                            <span *ngIf="userconnected" class="user-profile-role">{{userconnected.role}}</span>
                        </div>
                        <a href="#" class="profile-detail-icon" (click)="app.onTopbarSubItemClick($event)">
                            <i pTooltip="Déconnexion"  (click)="onLogout()"  class="pi pi-sign-out"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="#" routerLink="../profil">
                        <span  class="p-overlay-badge p-mr-5">
                            <i class="pi pi-user" pTooltip="profile" tooltipPosition="bottom" style="
                            border-radius: 50%; font-size: 1.6em; color: #3cb371;"></i>
                            <span class="p-badge" style="font-size: 15px;  font-weight: bold;
                            color: #3cb371"></span>
                        </span>
                        <div class="menu-text">
                            <span class="menu-title">Modifier votre profil</span>
                        </div>

                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#"  (click)="app.onTopbarSubItemClick($event)">
                        <i class="pi pi-bell" style="color:#3cb371"></i>
                        <div class="menu-text">
                            <span class="menu-title">Notifications</span>
                        </div>
                        <i class="right-icon pi pi-angle-right"></i>
                    </a>
                </li>
            </ul>
        </li>
    </ul> -->
</div>
<p-toast></p-toast>