<p-toast></p-toast>
<div class="grid col-12">
    <div class="grid col-12 card" *ngIf="rdvToUpdate">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="rdvToUpdate=null"
            aria-hidden="true"> </i>
        <h3 style="font-weight: bold; text-align: center;">Mettre à jour
            le rendez-vous
        </h3>
        <form class="p-fluid p-formgrid grid col-12" [formGroup]="form" (ngSubmit)="onUpdate()">
            <div class="field col-12">
                <label>Statut: </label>
                <p-dropdown [options]="statutDropdown" placeholder="Choissisez un statut" autoWidth="false"
                    [filter]="true" [style]="{'width':'100%'}" formControlName="statut"></p-dropdown>
            </div>
            <button pButton [disabled]="form.invalid" label="Mettre à jour le rendez-vous"></button>
        </form>
    </div>
    <div class="col-12 card grid" *ngIf="showForm=='Note'">
        <div class="field col-12">
            <label For="description">Note de réunion
                <span style="color: red"> * </span></label><br>
            <textarea pInputTextarea style="width: 100%;"
                placeholder="Ex: Bonne présentation et écoute active mais stressez pendant l'entretien"
                [(ngModel)]="meetingSelected.note" autoResize rows="3" cols="30"></textarea>
        </div>
        <div class="col-12">
            <button [style]="{ width: '100%' }" autoWidth="false" (click)="onUpdateCustom()" pButton
                label="Mettre à jour les notes" type="submit"></button>
        </div>
    </div>
    <div class="col-12 card grid" *ngIf="showForm=='Details RDV'">
        <div class="field col-12">
            <label For="description">Details de la Réunion
                <span style="color: red"> * </span></label><br>
            <textarea pInputTextarea placeholder="Ex: Venir 5 min en avance" [(ngModel)]="meetingSelected.description"
                style="width: 100%;" autoResize rows="3" cols="30"></textarea>
        </div>
        <div class="col-12">
            <button [style]="{ width: '100%' }" autoWidth="false" (click)="onUpdateCustom()" pButton
                label="Mettre à jour les details" type="submit"></button>
        </div>
    </div>
    <div class="grid col-12 card">
        <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
    </div>
    <div class="grid col-12 card">
        <h5 class="col-9">Liste des rendez-vous</h5>
        <p-table #dt1 dataKey="_id" [rows]="8" [rowHover]="true" [paginator]="true" [value]="meetings" class="col-12"
            [paginator]="true" [pageLinks]="5" id="dt1"
            [globalFilterFields]="['statut', 'winner_id.firstname','winner_id.lastname','user_id.firstname','user_id.lastname','company_email','description']"
            responsiveLayout="scroll" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Recherche" class="w-full" />
                </span>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="winner_id.firstname" scope="col" style="text-align: center;">
                        Winner <p-sortIcon field="winner_id.firstname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="user_id.firstname" scope="col" style="text-align: center;">
                        Etudiant <p-sortIcon field="user_id.firstname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="meeting_start_date" scope="col" style="text-align: center;">
                        Date <p-sortIcon field="meeting_start_date"></p-sortIcon>
                    </th>
                    <th pSortableColumn="date_creation" scope="col" style="text-align: center;">
                        Date d'ajout <p-sortIcon field="date_creation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="description" scope="col" style="text-align: center;">
                        Description <p-sortIcon field="description"></p-sortIcon>
                    </th>
                    <th pSortableColumn="statut" scope="col" style="text-align: center;">
                        Statut <p-sortIcon field="statut"></p-sortIcon>
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rdv>
                <tr>
                    <td *ngIf="rdv?.winner_id">
                        {{rdv?.winner_id?.firstname|titlecase }} {{rdv?.winner_id?.lastname |uppercase }}
                    </td>
                    <td *ngIf="!rdv.winner_id">
                        Aucun
                    </td>
                    <td>
                        {{rdv?.user_id?.firstname|titlecase }} {{rdv?.user_id?.lastname |uppercase }}
                    </td>
                    <td>
                        {{rdv?.meeting_start_date | date:'mediumDate'}} {{rdv?.meeting_start_date | date:'shortTime'}}
                    </td>
                    <td>
                        {{rdv?.date_creation | date:'mediumDate'}}
                    </td>
                    <td>
                        {{rdv?.description}}
                    </td>
                    <td>
                        {{rdv?.statut}}
                    </td>
                    <td>
                        <i pTooltip="Replanifier" tooltipPosition="bottom" class="pi pi-clock mr-2"
                            (click)="onInitCustom(rdv,'Replanifier')" aria-hidden="true"></i>
                        <i pTooltip="Annuler" tooltipPosition="bottom" class="pi pi-ban mr-2" (click)="onCancel(rdv)"
                            aria-hidden="true"></i>
                        <i pTooltip="Changer état" tooltipPosition="bottom" class="pi pi-pencil mr-2"
                            (click)="onInitUpdate(rdv)" aria-hidden="true"></i>
                        <i pTooltip="Voir l'offre" tooltipPosition="bottom" class="pi pi-eye mr-2"
                            (click)="seeOffer(rdv)" aria-hidden="true"></i>
                        <i pTooltip="Voir le CV" tooltipPosition="bottom" class="pi pi-book mr-2" (click)="seeCV(rdv)"
                            aria-hidden="true"></i>
                        <i pTooltip="Note" tooltipPosition="bottom" class="pi pi-bookmark mr-2"
                            (click)="onInitCustom(rdv,'Note')" aria-hidden="true"></i>
                        <i pTooltip="Détails RDV" tooltipPosition="bottom" class="pi pi-align-center mr-2"
                            (click)="onInitCustom(rdv,'Details RDV')" aria-hidden="true"></i>
                    </td>
                </tr>

            </ng-template>
        </p-table>
    </div>
</div>


<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000" *ngIf="annonceSelected?.is_interne">
    <h4 style="font-weight:bold">{{ annonceSelected?.missionName }}</h4>
    <hr />
    <p>
        {{ annonceSelected.entreprise_id?.r_sociale }} - {{ annonceSelected.entreprise_id?.ville_ent
        }} ({{ annonceSelected?.workplaceType }}) <br />
        Publié le {{ annonceSelected?.publicationDate | date: 'dd/MM/YYY' }}
    </p>

    <h5 style="font-weight: bold">Description</h5>
    <p>
        {{ annonceSelected?.missionDesc }} <br />
        Type de contrat: <span style="font-weight: bold; font-size: 13px">{{
            annonceSelected?.missionType }}</span> <br />
        <span style="font-weight: bold">Débute le {{ annonceSelected?.debut | date: 'dd/MM/YYY'
            }}</span>
    </p>

    <h5 style="font-weight: bold">Compétences</h5>
    <p>Vous devez avoir des connaissances dans les domaines suivants:</p>
    <ul>
        <li *ngFor="let competence of annonceSelected?.competences">{{ competence.libelle }}</li>
    </ul>

    <h5 style="font-weight: bold">Outils</h5>
    <p>Vous devez avoir des savoir utiliser les outils suivants:</p>
    <ul>
        <li *ngFor="let outil of annonceSelected?.outils">{{ outil }}</li>
    </ul>

    <hr />
</p-sidebar>

<p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000" *ngIf="!annonceSelected?.is_interne">
    <h4 style="font-weight:bold">{{ annonceSelected?.missionName }}</h4>
    <hr />
    <p>
        {{ annonceSelected?.entreprise_name }} - {{ annonceSelected?.entreprise_ville }} ({{
        annonceSelected?.workplaceType }}) <br />
        Publié le {{ annonceSelected?.publicationDate | date: 'dd/MM/YYY' }}
    </p>

    <h5 style="font-weight: bold">Description</h5>
    <p>
        {{ annonceSelected?.missionDesc }} <br />
        Type de contrat: <span style="font-weight: bold; font-size: 13px">{{
            annonceSelected?.missionType }}</span> <br />
        <span style="font-weight: bold">Débute le {{ annonceSelected?.debut | date: 'dd/MM/YYY'
            }}</span>
    </p>

    <h5 style="font-weight: bold">Compétences</h5>
    <p>Vous devez avoir des connaissances dans les domaines suivants:</p>
    <ul>
        <li *ngFor="let competence of annonceSelected?.competences">{{ competence.libelle }}</li>
    </ul>

    <h5 style="font-weight: bold">Outils</h5>
    <p>Vous devez avoir des savoir utiliser les outils suivants:</p>
    <ul>
        <li *ngFor="let outil of annonceSelected?.outils">{{ outil }}</li>
    </ul>

    <hr />
</p-sidebar>