<div class="header-top">
    <div class="page-title">
        <h1>iMATCH<br>Votre portail de mise en relation entre alternants et entreprises</h1>
        <hr class="imatch-main">
    </div>
        <div class="header-top-container ">
            <a class="btn-cv btn-cv-2" target="_blank" href="#">Déposer mon CV</a>
            <a class="btn-cv  btn-cv-1 margin-both" target="_blank" href="#">Comment ça marche ?</a>
            <a class="btn-cv   btn-cv-3" target="_blank" href="#">Déposer mon Offre</a>
        </div>
</div>