.cv-clear-button {
    background: none;
    color: #AAAAAA;
    border: none !important;

}


.cv-clear-button:hover,
.cv-clear-button:focus,
.cv-clear-button:active {
    background: none;
    color: #D95525;
    border: none !important;
}


.cv-search {
    left: 1.75rem !important;
    color: #9D9D9D !important;
}

.cv-input-text {
    padding-left: 3.5rem;
    border-radius: 100px;

}

.offre-list {
    background-color: #F2F2F2;
    min-height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.offre-card {
    height: 95%;
    width: 95%;
    padding: 20px;
    border-radius: 7px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.178));
    background-color: white;
}


.offre-card-title {
    font-size: 1.1rem;
    font-weight: 900;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.offre-card-lieu {
    font-size: 0.9rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.offres-btns {
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
}

.offres-btns:hover {
    text-decoration: none;
}


.details {
    border: 1px solid #D95525;
    color: #D95525;
    display: block;
    width: 100%;
}

.details:hover {
    background-color: #D95525;
    color: white;
}

.postuler {
    background-color: #37BAD4;
    color: white;
}

.postuler:hover {
    background-color: #159BB6;
    color: white;
}

i {
    margin-right: 10px;
}


.img-card {
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-main-data p {
    margin: 0;
}


.modal-body {
    background-color: white;
    min-width: 500px;
    min-height: 500px;
}







/* The Modal (background) */
.offre-details-card {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */


}

/* Modal Content/Box */
.modal-content {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fefefe;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 100px;
    border: 1px solid #888;
    border-radius: 80px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.178));
    max-width: 700px;

    .information {
        color: #777777;
        font-size: 14px;
        margin-top: 30px;

        a {
            font-weight: 700;
            color: #777777;
        }

        a:hover {
            text-decoration: none;
            color: #3d3d3d;
        }
    }

    h4 {
        font-weight: 700;
        font-size: 14px;
    }

    p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    h2 {
        font-weight: 900;
        font-size: 24px;
        text-transform: uppercase;
        color: #1E526C;
    }

    h3 {
        color: #37BAD4;
        font-size: 18px;
        margin-bottom: 30px;
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #aaa;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.img-modal {
    width: 150px;
    margin-bottom: 30px;
}


.btns-postuler {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .btn {
        padding-left: 60px;
        padding-right: 60px;
        border-radius: 6px;
    }

    .btn-retour {
        color: #1E526C;
        border: 1px solid #1E526C;
    }

    .btn-retour:hover {
        background-color: #1E526C;
        color: white;
    }

    .btn-envoyer {
        background-color: #F28627;
    }

    .btn-postuler {
        background-color: #37BAD4;
        color: white;
    }

    .btn-postuler:hover {
        background-color: #159BB6;
    }
}

.pdf-viewer-here .page {
    width: auto;
}

h4{
    margin-block-end: 0px;
}

.competences-block {
    .competence {
        p {
            background-color: #37BAD4;
            text-align: center;
            border-radius: 50px;
            padding: 7px 0;
            color: white;
        }

    }
}