<div class="col-12">
    <div class="card">
        <h5>Progression pédagogique de {{FORMATEUR?.firstname | titlecase}} {{FORMATEUR?.lastname | uppercase}}</h5>
        <p-table #dt2 id="dt2" [globalFilterFields]="['theme','objectif','methode','support']"
            [totalRecords]="ppList.length" [pageLinks]="5" [paginator]="true" rowExpandMode="single" [rows]="10"
            styleClass="p-datatable-gridlines" [value]="ppList" dataKey="_id" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row" *ngIf="!hideForPDF">
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPDF()" class="mr-2"
                        pTooltip="Exporter en PDF" tooltipPosition="bottom"></button>
                    <p-dropdown [style]="{'margin':'5px'}" [options]="dropdownModule"
                        (onChange)="dt1.filter($event.value, 'formation', 'equals');"
                        filterPlaceholder="Choissisez un module" filter="true"></p-dropdown>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            placeholder="Recherche" class="w-full" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="seance_id.matiere_id.abbrv" style="text-align: center;">
                        Module
                        <p-sortIcon *ngIf="!hideForPDF" field="seance_id.matiere_id.abbrv"></p-sortIcon>
                    </th>
                    <th pSortableColumn="seance_id.date_debut" style="text-align: center;">
                        Date
                        <p-sortIcon *ngIf="!hideForPDF" field="seance_id.date_debut"></p-sortIcon>
                    </th>
                    <th pSortableColumn="theme" style="text-align: center;">
                        Thème abordé
                        <p-sortIcon *ngIf="!hideForPDF" field="theme"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="objectif" style="text-align: center;">
                        Objectif de la séance
                        <p-sortIcon *ngIf="!hideForPDF" field="objectif"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="methode" style="text-align: center;">
                        Méthodes
                        <p-sortIcon *ngIf="!hideForPDF" field="methode"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="support" style="text-align: center;">
                        Supports
                        <p-sortIcon *ngIf="!hideForPDF" field="support"> </p-sortIcon>
                    </th>
                    <th>
                        Durée de la séance
                    </th>
                    <th *ngIf="!hideForPDF" style="text-align: center;">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pp>
                <tr>
                    <td>
                        {{pp.seance_id.matiere_id.abbrv}}
                    </td>
                    <td>
                        {{pp.seance_id.date_debut| date:'dd/MM/YYYY à HH:mm'}}
                    </td>
                    <td>
                        {{pp.theme}}
                    </td>
                    <td>
                        {{pp.objectif}}
                    </td>
                    <td>
                        {{pp.methode}}
                    </td>
                    <td>
                        {{pp.support}}
                    </td>
                    <td>
                        {{getDuree(pp.seance_id)}}
                    </td>
                    <td *ngIf="!hideForPDF">
                        <i style="margin-left: 2%;" (click)="seeSeance(pp.seance_id);" class="pi pi-send"
                            aria-hidden="true" pTooltip="Voir le détails de la séance"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>