<p-toast></p-toast>
<div class="grid">
    <!-- Partie dedié à l'upload de photo de profil -->
    <div class="col-12">
        <input type="file" (change)="FileUpload($event.target.files)" id="selectedFile" #selectedFile
            style="display: none" accept=".png, .jpg, .jpeg, .jfif" pInputFile />
    </div>
    <!-- Formulaire de modification des infos -->
    <div class="col-12" *ngIf="toggleUpdate">
        <div class="card">
            <h3 style="text-align: center">
                Formulaire de modification des informations
            </h3>
            <form class="p-fluid p-formgrid grid" [formGroup]="RegisterForm" (ngSubmit)="UpdateUser()">
                <div class="field col-4 md:col-2">
                    <label For="civilite">Civilité</label>
                    <p-dropdown formControlName="civilite" [options]="civiliteList" optionLabel="value">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label For="lastname">Nom</label>
                    <input pInputText id="lastname" formControlName="lastname" type="text" />
                </div>
                <div class="field col-12 md:col-5">
                    <label For="firstname">Prénom</label>
                    <input pInputText id="firstname" formControlName="firstname" type="text" />
                </div>
                <div class="field col-12 md:col-3">
                    <label For="code_postal">Numéro de la rue</label>
                    <input pInputText id="code_postal" type="number" formControlName="numero_adresse" />
                </div>
                <div class="field col-12 md:col-9">
                    <label For="rue">Nom de la rue</label>
                    <input pInputText id="rue" type="text" formControlName="rue_adresse" />
                </div>
                <div class="field col-12 md:col-3">
                    <label For="code_postal">Code postal</label>
                    <input pInputText id="code_postal" type="number" formControlName="postal_adresse" />
                </div>
                <div class="field col-6 md:col-6">
                    <label For="ville">Ville</label>
                    <input pInputText id="ville" type="text" formControlName="ville_adresse" />
                </div>
                <div class="field col-6 md:col-3">
                    <label For="pays">Pays</label>
                    <input pInputText id="pays" type="text" formControlName="pays_adresse" />
                </div>
                <div class="field col-4 md:col-3">
                    <label For="ind">Indicatif</label>
                    <input pInputText id="ind" type="text" formControlName="indicatif" />
                </div>
                <div class="field col-8 md:col-9">
                    <label For="tel">Téléphone</label>
                    <input pInputText id="tel" type="text" formControlName="phone" />
                </div>
                <div class="field col-8 md:col-12" *ngIf="infoUser">
                    <label For="nationnalite">Nationnalité</label>
                    <p-dropdown formControlName="nationalite" [options]="nationList" optionLabel="label"
                        emptyFilterMessage="Pas de nationalité trouvé" filterPlaceholder="Nationalité" filter="true">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-12" *ngIf="infoUser">
                    <label For="date">Date de naissance</label>
                    <!--<p-calendar formControlName="date_naissance" dateFormat="dd/mm/yy" [minDate]="minDateCalendar"
                        [maxDate]="maxDateCalendar" [readonlyInput]="true" [locale]="fr" [monthNavigator]="true"
                        [yearNavigator]="true" [yearRange]="rangeYear">
                    </p-calendar>-->
                    <input type="date" formControlName="date_naissance" class="form-control col-12"
                        placeholder="21/12/2012" pInputText />
                </div>
                <div class="field col-12 md:col-6" *ngIf="IsAdmin">
                    <label For="role">Rôle</label>
                    <p-dropdown formControlName="role" [options]="Roles" optionLabel="value">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6" *ngIf="IsAdmin">
                    <label For="service">Service</label>
                    <p-dropdown formControlName="service_id" [options]="Services" optionLabel="label">
                    </p-dropdown>
                </div>

                <div class="col-4 md:col-2">
                    <button pButton pRipple label="Modifier" class="mr-2 mb-2" [disabled]="RegisterForm.invalid"
                        type="submit"></button>
                </div>
            </form>
        </div>
    </div>
    <!-- Formulaire de modification du mot de passe -->
    <div class="col-12" *ngIf="toggleUpdatepwd">
        <div class="card">
            <h3 style="text-align: center">
                Formulaire de modification du mot de passe
            </h3>
            <form class="p-fluid p-formgrid grid" [formGroup]="passwordForm" (ngSubmit)="onUpdatePassword()">
                <div class="field col-12">
                    <label For="pwd_actu">Mot de passe actuel</label>
                    <input pInputText id="pwd_actu" type="password" formControlName="passwordactual" />
                </div>
                <div class="field col-12">
                    <label For="n_pwd">Nouveau mot de passe</label>
                    <input pInputText id="n_pwd" type="password" formControlName="password" />
                </div>
                <div class="field col-12">
                    <label For="confirm_n_pwd">Confirmer le nouveau mot de passe</label>
                    <input pInputText id="confirm_n_pwd" type="password" formControlName="verifypassword" />
                </div>
                <small style="color: red">{{ pwdmsgerr }}</small>
                <div class="col-4 md:col-2">
                    <button pButton pRipple label="Enregistrer" type="submit" [disabled]="passwordForm.invalid"
                        class="mr-2 mb-2"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-12">
        <div class="card col-12">
            <div style="text-align: right;width: 100%;">
                <p-button icon="pi pi-pencil" pTooltip="Modifier vos informations" tooltipPosition="bottom"
                    (click)="ToggleUpdate();scrollToTop()" aria-hidden="true"></p-button>
                <p-button icon="pi pi-lock" class="ml-1" pTooltip="Modifier votre mot de passe" tooltipPosition="bottom"
                    (click)="ToggleUpdatepwd()" aria-hidden="true" *ngIf="userco?.password!=null"></p-button>

            </div>
            <h2>Profil</h2>
            <div style="display: flex;" class="grid">
                <div class="col-6">
                    <div class="p-fluid p-formgrid grid">

                        <div class="field col-6">
                            <img [src]="imageToShow" (click)="clickFile()" alt="Profil" width="100" height="100"
                                style="border-radius: 100px" />
                            <br><br>
                            <strong>{{dataMC?.jobTitle}}</strong>
                            <br>
                            <a *ngIf="!infoCommercial" (click)="seeOrga()">Afficher l'organisation -></a>
                        </div>
                        <div class="col-6 md-5">
                            <figcaption>
                                <h4 style="font-weight: bold;">{{userco?.firstname | titlecase}} {{userco?.lastname |
                                    uppercase}} </h4>
                                <span *ngIf="infoCommercial">{{infoCommercial?.code_commercial_partenaire}}<br></span>
                                <span>{{ userco?.mention }}</span><br>
                                <br><br><br><br>
                                <span [ngStyle]="{
                                        'font-weight': userco?.statut === 'Disponible' ? 'bold' : 'normal',
                                        'color': userco?.statut === 'Disponible' ? 'green' : 'red',
                                        'font-size': '18px'
                                      }">
                                    <i class="pi" [ngClass]="{
                                        'pi-check-circle': userco?.statut === 'Disponible',
                                        'pi-times-circle': userco?.statut === 'Absent',
                                        'pi-stop-circle': userco?.statut === 'En pause',
                                        'pi-minus-circle': userco?.statut === 'Occupé',
                                        'pi-arrow-circle-right': userco?.statut === 'En congé',
                                        'pi-circle-fill': userco?.statut === 'En réunion',
                                        'pi-book': userco?.statut === 'Ecole'

                                        
                                      }"></i>
                                    {{ userco?.statut }}
                                </span>



                                {{ userco?.service_id?.label }}
                                <br />
                                <!--<span *ngIf="userco.role !== 'user'">
                                        <strong style="color: red">{{ userco.role }}</strong>
                                    </span>-->
                            </figcaption>

                        </div>

                    </div>
                </div>

                <div class="col-6">
                    <div class="p-fluid p-formgrid grid">
                        <div class="col-6 md-3" *ngIf="userco.email">
                            <i class="pi pi-envelope"></i>
                            <strong>&nbsp;&nbsp;Email entreprise</strong><br>
                            {{userco.email }}
                        </div>
                        <div class="col-6 md-3" *ngIf="userco.email_perso">
                            <i class="pi pi-id-card"></i>
                            <strong>&nbsp;&nbsp;Email personnelle</strong><br>
                            {{ userco.email_perso }}
                        </div>
                        <div class="col-6 md-3" *ngIf="userco.phone">
                            <i class="pi pi-phone"></i>
                            <strong>&nbsp;&nbsp;Téléphone</strong><br> {{ userco?.indicatif }} {{ userco?.phone }}
                        </div>
                        <div class="col-6 md-3" *ngIf="userco.rue_adresse">
                            <i class="pi pi-map-marker"></i>
                            <strong>&nbsp;&nbsp;Adresse</strong><br> {{ userco?.numero_adresse }} {{ userco?.rue_adresse
                            }} {{
                            userco?.postal_adresse }}, {{ userco?.ville_adresse }}/ {{ userco?.pays_adresse }}
                        </div>


                        <!--<div class="col-12 md:col-6" *ngIf="InfoUser && InfoUser.date_naissance">
                            <strong>Date de naissance:</strong>
                            {{ InfoUser.date_naissance | date : "dd MMMM yy" }}
                        </div>-->

                        <!--<div class="col-12 md:col-6" *ngIf="dataCollab && dataCollab.date_naissance">
                            <strong>Date de naissance: </strong>
                            <a *ngIf="!updateDNC" (click)="updateDNC= true">{{ dataCollab.date_naissance | date :
                                "dd MMMM yy" }}</a>
                            <p-calendar *ngIf="updateDNC" dateFormat="d/mm/yy" [(ngModel)]="dataCollab.date_naissance"
                                (onSelect)="onUpdateDNC()"></p-calendar>
                        </div> -->

                        <div class="col-6 md:col-3" *ngIf="InfoUser && InfoUser.nationalite">
                            <strong>Nationnalité:</strong>
                            {{ InfoUser.nationalite }}
                        </div>

                        <!--<div class="col-12 md:col-4" *ngIf="userco.type && userco.type != 'user'">
                            <strong>Statut:</strong> {{ userco.type }}
                        </div>-->

                        <div class="col-6 md:col-3" *ngIf="
                            InfoUser &&
                            InfoUser.classe_id &&
                            formationDic[InfoUser.classe_id]
                        ">
                            <strong>Groupe:</strong>
                            {{ formationDic[InfoUser.classe_id].abbrv }}
                        </div>

                        <div class="col-6 md:col-3" *ngIf="
                            InfoUser &&
                            InfoUser.classe_id &&
                            formationDic[InfoUser.classe_id] &&
                            diplomeDic[
                                formationDic[InfoUser.classe_id].diplome_id
                            ]
                        ">
                            <strong>Diplome:</strong>
                            {{
                            diplomeDic[
                            formationDic[InfoUser.classe_id].diplome_id
                            ].titre
                            }}
                        </div>

                        <div class="col-6 md:col-3" *ngIf="
                            InfoUser &&
                            InfoUser.classe_id &&
                            formationDic[InfoUser.classe_id] &&
                            diplomeDic[
                                formationDic[InfoUser.classe_id].diplome_id
                            ] &&
                            campusDic[
                                diplomeDic[
                                    formationDic[InfoUser.classe_id].diplome_id
                                ].campus_id
                            ]
                        ">
                            <strong>Campus:</strong>
                            {{
                            campusDic[
                            diplomeDic[
                            formationDic[InfoUser.classe_id].diplome_id
                            ].campus_id
                            ].libelle
                            }}
                        </div>

                        <div class="col-12 md:col-4" *ngIf="InfoUser && userco.entreprise">
                            <strong>Entreprise:</strong>
                            {{ entrepriseDic[userco.entreprise]?.r_sociale }}
                        </div>

                        <div class="col-12" *ngIf="
                            demandeConseiller &&
                            demandeConseiller.conseiller_id &&
                            demandeConseiller.activated
                        ">
                            <strong>Conseiller:</strong>
                            {{demandeConseiller.conseiller_id.firstname| titlecase}}
                            {{demandeConseiller.conseiller_id.lastname | uppercase}}
                        </div>
                        <div class="col-12" *ngIf="
                            demandeConseiller && !demandeConseiller.activated
                        ">
                            <strong>Conseiller:</strong> Votre demande est en
                            attente de validation
                        </div>

                    </div>
                    <div class="p-fluid p-formgrid grid" *ngIf="PreinscriptionData && !InfoUser.classe_id">
                        <div class="col-12"></div>

                        <div *ngIf="PreinscriptionData.formation" class="col-12 md:col-6">
                            <strong>Formation:</strong>
                            {{ PreinscriptionData.formation }}
                        </div>
                        <div *ngIf="PreinscriptionData.campus_choix_1" class="col-12 md:col-6">
                            <strong>Choix Campus:</strong>
                            {{ PreinscriptionData.campus_choix_1 }}
                        </div>
                        <div *ngIf="
                            PreinscriptionData.etat_traitement &&
                            PreinscriptionData.etat_traitement
                        " class="col-12 md:col-6">
                            <strong>Traitement du dossier:</strong>
                            {{ PreinscriptionData?.etat_traitement }}, Le
                            {{ PreinscriptionData?.date_traitement | date }}
                        </div>
                    </div>

                </div>

            </div>

            <!-- Info user -->


            <!--<div class="card" *ngIf="
                    (demandeConseiller == null ||
                        userConnectedNow.type == 'Etudiant' ||
                        userConnectedNow.type == 'Alternant' ||
                        userConnectedNow.role == 'Admin') &&
                    !hideCRAEtc
                ">
                <h3>Faire une demande de Conseiller</h3>
                <form class="p-fluid p-formgrid grid" [formGroup]="demandeConseillerForm" (ngSubmit)="saveDemande()">
                    <div class="field col-12">
                        <p-dropdown formControlName="conseiller_id" [options]="listConseiller"
                            placeholder="Choisissez un conseiller">
                        </p-dropdown>
                    </div>
                    <div class="col-12">
                        <button pButton pRipple label="Envoyer la demande de conseiller" class="mr-2 mb-2"
                            [disabled]="demandeConseillerForm.invalid" type="submit"></button>
                    </div>
                </form>
            </div>-->
        </div>
    </div>
    <p-organizationChart class="col-12" *ngIf="seeOrgaBool" [value]="dataOrga"></p-organizationChart>

</div>