<div class="grid mb-2">
    <div class="col-12">
        <button routerLink="/logements" pButton label="retour" icon="pi pi-angle-left" style="float: left;"></button>
    </div>
</div>

<div class="grid">
    
    <!-- image section -->
    <div class="col-6 md:col-4">
        <div class="card">
            <img src="../../../assets/images/profile.jpg" alt="LOGEMENT" width="100%" height="70%">
        </div>
    </div>
    <div class="col-6 md:col-4">
        <div class="card">
            <img src="../../../assets/images/construction.jpg" alt="LOGEMENT" width="100%" height="70%">
        </div>
    </div>
    <div class="col-6 md:col-4">
        <div class="card">
            <img src="../../../assets/images/profile.jpg" alt="LOGEMENT" width="100%" height="70%">
        </div>
    </div>
    <!-- end image section -->

    
    <div class="col-12">
        <!-- Détails section -->
        <div class="card">
            <h2>Appartement à louer à Paris 15</h2>
            <p style="font-weight: bolder;">2 pièces, 1 chambre, 35 m<sup>2</sup>, Etage 2/4</p>
        
            <h3>Description</h3>
            <p>
                A 2 pas du RER et des commerces. Place du marché. Dans copropriété ancienne. 
                Appartement 2 P. de 29 m2 hab. situé au 2ème étage comprenant : Entrée, séjour avec ktichnette, une chambre, salle d'eau avec wc. . 
                Conditions revenus exigés : En CDI 2.000 EUR (constitution dossier + rédaction de bail : 290 EUR / Etat des lieux : 87 EUR)
            </p>

            <h3>Caracteristiques</h3>
            
            <ul>
                <li>Ascenseur: <span style="font-weight: bolder;">non communiqué</span></li>
                <li>Cuisine: <span style="font-weight: bolder;"><i class="pi pi-check"></i></span></li>
                <li>Interphone: <span style="font-weight: bolder;">non communiqué</span></li>
                <li>Salle d'eau: <span style="font-weight: bolder;"><i class="pi pi-check"></i></span></li>
                <li>Type de chauffage: <span style="font-weight: bolder;">individuelle</span></li>
                <li>Disponibilité: <span style="font-weight: bolder;">10/10/2022</span></li>
            </ul>

            <h3>À propos du prix</h3>
            
            <ul>
                <li>Loyer mensuel: <span style="font-weight: bolder;">678€</span></li>
                <li>Charge: <span style="font-weight: bolder;">Comprise dans le loyer</span></li>
                <li>Caution: <span style="font-weight: bolder;">non communiqué</span></li>
                <li>Frais agence: <span style="font-weight: bolder;">400€</span></li>
            </ul>
            <!-- end details section -->
            
            <button pButton label="Réserver" icon="pi pi-check" style="float: right;"></button>
        </div>
    </div>
    


   
</div>