<div class="p-grid mt-2">
    <div class="xl:col-8 xl:col-offset-2 col-12" *ngIf="showFormAddEcole">
        <p-card>
            <div class=" p-grid">

                <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showFormAddEcole=false"> </i>
                <form class="col-8 col-offset-2" [formGroup]="addecoleForm">

                    <h3 class="text-center" style="font-weight: bold;">Ajouter une ecole</h3>

                    <div class="container">
                        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                        <div class="row">
                            <div class="col-12 col-md-7">

                                <label for="libelle" class="p-sr-only">Libelle :</label>

                                <input type="text" formControlName="libelle" class="form-control col-12"
                                    placeholder="Libelle de l'ecole" pInputText>


                            </div>
                            <div class="col-6 col-md-5">
                                <label for="Site" class="p-sr-only">Site web :</label>

                                <input type="text" class="form-control col-12" formControlName="site"
                                    placeholder="site web de l'ecole" pInputText>



                            </div>
                        </div>

                        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <label for="Email" class="p-sr-only">Email :</label>

                                <input type="text" formControlName="email" class="form-control col-12"
                                    placeholder="email du siége de l'ecole" pInputText>

                            </div>

                            <div class="col-6 col-md-4">
                                <label for="telephone" class="p-sr-only">Telephone :</label>

                                <input type="text" formControlName="telephone" class="form-control col-12"
                                    placeholder="Telephone du siége de l'ecole" pInputText>

                            </div>

                            <div class="col-6 col-md-4">
                                <label for="annee_id">Année scolaire :</label>

                                <p-dropdown formControlName="annee_id" [options]="dropdownAnnee" optionLabel="libelle">
                                </p-dropdown>

                            </div>
                            <div class="col-6 col-md-4">
                                <label for="Adresse" class="p-sr-only">Adresse :</label>

                                <input type="text" formControlName="adresse" class="form-control col-12"
                                    placeholder="adresse du siége de l'ecole" pInputText>
                            </div>
                            <div class="col-6 col-md-4">

                                <label for="Ville" class="p-sr-only">Ville :</label>

                                <input type="text" formControlName="ville" class="form-control col-12"
                                    placeholder="ville du siége de l'ecole" pInputText>
                            </div>

                            <div class="col-6 col-md-4">
                            <label for="Pays" class="p-sr-only">Pays :</label>
                            <input type="text" formControlName="pays" class="form-control col-12"
                                placeholder="pays du siége de l'ecole" pInputText>
                            </div>  

                        
                        <div class="col-offset-5 md:col-offset-5 sm:col-offset-8">
                            <button pButton class="ui-button-raised ui-button-success" [disabled]="addecoleForm.invalid"
                                label="Enregistrer" (click)="saveEcole()"></button>
                        </div>
                       </div>
                   
                    </div>



                </form>

            </div>
        </p-card>
    </div>


    <div class="xl:col-8 xl:col-offset-2 col-12" *ngIf="showFormUpdateEcole">
        <p-card>
            <div class=" p-grid">

                <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showFormUpdateEcole=false"> </i>
                <form class="col-8 col-offset-2" [formGroup]="ecoleFormUpdate">

                    <h3 class="text-center" style="font-weight: bold;">Modifier une ecole</h3>

                    <div class="container">
                        <!-- Stack the columns on mobile by making one full-width and the other half-width -->
                        <div class="row">
                            <div class="col-12 col-md-7">

                                <label for="libelle" class="p-sr-only">Libelle :</label>

                                <input type="text" formControlName="libelle" class="form-control col-12"
                                    placeholder="Libelle de l'ecole" pInputText>


                            </div>
                            <div class="col-6 col-md-5">
                                <label for="Site" class="p-sr-only">Site web :</label>

                                <input type="text" class="form-control col-12" formControlName="site"
                                    placeholder="site web de l'ecole" pInputText>



                            </div>
                        </div>

                        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <label for="Email" class="p-sr-only">Email :</label>

                                <input type="text" formControlName="email" class="form-control col-12"
                                    placeholder="email du siége de l'ecole" pInputText>

                            </div>

                            <div class="col-6 col-md-4">
                                <label for="telephone" class="p-sr-only">Telephone :</label>

                                <input type="text" formControlName="telephone" class="form-control col-12"
                                    placeholder="Telephone du siége de l'ecole" pInputText>

                            </div>

                            <div class="col-6 col-md-4">
                                <label for="annee_id">Année scolaire :</label>

                                <p-dropdown formControlName="annee_id" [options]="dropdownAnnee" optionLabel="libelle">
                                </p-dropdown>

                            </div>
                            <div class="col-6 col-md-4">
                                <label for="Adresse" class="p-sr-only">Adresse :</label>

                                <input type="text" formControlName="adresse" class="form-control col-12"
                                    placeholder="adresse du siége de l'ecole" pInputText>
                            </div>
                            <div class="col-6 col-md-4">

                                <label for="Ville" class="p-sr-only">Ville :</label>

                                <input type="text" formControlName="ville" class="form-control col-12"
                                    placeholder="ville du siége de l'ecole" pInputText>
                            </div>

                            <div class="col-6 col-md-4">
                            <label for="Pays" class="p-sr-only">Pays :</label>
                            <input type="text" formControlName="pays" class="form-control col-12"
                                placeholder="pays du siége de l'ecole" pInputText>
                            </div>  

                        
                        <div class="col-offset-5 md:col-offset-5 sm:col-offset-8">
                            <button pButton class="ui-button-raised ui-button-success" [disabled]="ecoleFormUpdate.invalid"
                                label="Enregistrer" (click)="editEcole()"></button>
                        </div>
                       </div>
                   
                    </div>



                </form>

            </div>
        </p-card>
    </div>
</div>
<div class="p-grid">

</div>


<div class="grid">
    <div class="col-10 col-offset-1">
        <button *ngIf="!showFormAddEcole" pButton class="ui-button-raised ui-button-success"
            (click)="showFormAddEcole=true" style="float:right;" label="Ajouter"></button>
        <h3>Liste des ecoles</h3>
        <div class="col-12 card shadow-lg my-5 ">
            <p-table #dt1 *ngIf="ecoles" [columns]="cols" [value]="ecoles" selectionMode="single" [rows]="5"
                [paginator]="true" [pageLinks]="5" [responsive]="true" [totalRecords]="ecoles.length" [filterDelay]="0"
                [globalFilterFields]="['libelle','email','site']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex" style="text-align: right">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Recherche" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="Libelle" scope="col">
                            Libelle <p-sortIcon field="Libelle"></p-sortIcon>
                        </th>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="annee_id" scope="col">
                            Année Scolaire <p-sortIcon field="annee_id"></p-sortIcon>
                        </th>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="email" scope="col">
                            Email <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="site" scope="col">
                            Site <p-sortIcon field="site"></p-sortIcon>
                        </th>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="ville" scope="col">
                            Ville <p-sortIcon field="ville"></p-sortIcon>
                        </th>
                        <th class="col-2" style="text-decoration: underline;" scope="col">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            {{rowData.libelle}}
                        </td>
                        <td>
                            {{ annees[rowData.annee_id]?.libelle }}
                        </td>
                        <td>
                            {{rowData.email}}
                        </td>
                        <td>
                            {{rowData.site}}
                        </td>
                        <td>
                            {{rowData.ville}}
                        </td>
                        <td>

                            <i pTooltip="Modifier" tooltipPosition="bottom" class="pi pi-pencil"
                                (click)="showModify(rowData)"></i>
                            <i pTooltip="ajouter des campus" tooltipPosition="bottom" class="pi pi-play"
                                (click)="activerEcole(rowData)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>