<p-toast></p-toast>
<div class="grid">
    <!-- Formulaire d'ajout de cv étudiant -->
    <div class="col-12" *ngIf="showFormAddCV">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                (click)="showFormAddCV = false; formAddCV.reset()" aria-hidden="true"></i>

            <h4 style="text-align: center;">Nouveau CV</h4>

            <form class="p-fluid p-formgrid grid" [formGroup]="formAddCV" (ngSubmit)="onAddCV()">
                <div class="field col-12">
                    <label for="user">A qui appartient ce CV ?</label>
                    <p-dropdown [options]="dropdownUser" placeholder="Selectionner un utilisateur" [showClear]="true" formControlName="user_id"
                                filter="true" emptyFilterMessage="Aucun utilisateur trouvé" filterPlaceholder="Recherche"></p-dropdown>
                </div>
                
                <div formArrayName="experiences_pro">
                    <label>Expériences professionnelles</label> <br/>
                    <div class="p-formgrid grid" *ngFor="let xpProControl of getXpPros().controls; let i = index">
                        <div class="field col-10">
                            <textarea pInputTextarea type="text" placeholder="2018-2019: expérience" [formControlName]="i"></textarea>
                        </div>
                        <div class="field col-2">
                            <button pButton icon="pi pi-trash" type="button" (click)="onRemoveXpPro(i)" class="p-button-outlined p-button-danger"></button>
                        </div>                        
                    </div>
                    <button pButton icon="pi pi-plus" label="Ajouter une expérience" type="button" (click)="onAddXpPro()" class="p-button-outlined p-button-info"></button>
                </div>

                <div class="field col-12">
                    <label>Compétences</label>
                    <p-multiSelect [options]="competencesList" [(ngModel)]="selectedMultiCpt" defaultLabel="Selectionner les compétences" optionLabel="label" class="multiselect-custom" formControlName="competences">
                        <ng-template let-value pTemplate="selectedItems">
                            <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary text-primary border-round mr-2" *ngFor="let option of selectedMultiCpt">
                                <div>{{option.label}}</div>
                            </div>
                            <div *ngIf="!selectedMultiCpt || selectedMultiCpt.length === 0" class="country-placeholder">
                                Selectionner une ou plusieurs compétences
                            </div>
                        </ng-template>
                        <ng-template let-competence pTemplate="item">
                            <div class="flex align-items-center country-item">
                                <div>{{competence.label}}</div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>

                <div class="field col-12">
                    <label>Langues</label>
                    <p-multiSelect [options]="languesList" [(ngModel)]="selectedMultilang" defaultLabel="Selectionner les compétences" optionLabel="label" class="multiselect-custom" formControlName="langues">
                        <ng-template let-value pTemplate="selectedItems">
                            <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary text-primary border-round mr-2" *ngFor="let option of selectedMultilang">
                                <div>{{option.label}}</div>
                            </div>
                            <div *ngIf="!selectedMultilang || selectedMultilang.length === 0" class="country-placeholder">
                                Selectionner une ou plusieurs langues
                            </div>
                        </ng-template>
                        <ng-template let-langue pTemplate="item">
                            <div class="flex align-items-center country-item">
                                <div>{{langue.label}}</div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>

                <div formArrayName="experiences_sco">
                    <label>expériences scolaires</label> <br/>
                    <div class="p-formgrid grid" *ngFor="let xpScoControl of getXpScos().controls; let i = index">
                        <div class="field col-10">
                            <textarea pInputTextarea type="text" placeholder="2018-2019: expérience" [formControlName]="i"></textarea>
                        </div>
                        <div class="field col-2">
                            <button pButton icon="pi pi-trash" type="button" (click)="onRemoveXpSco(i)" class="p-button-outlined p-button-danger"></button>
                        </div>
                    </div>
                    <button pButton icon="pi pi-plus" label="Ajouter un parcours scolaire" type="button" (click)="onAddXpSco()" class="p-button-outlined p-button-info"></button>
                </div>
                
                <div class="field col-12">
                    <label>Lien présentation vidéo</label>
                    <input pInputText type="text" placeholder="Vous pouvez nous faire part d'une présentation vidéo sous forme de lien" formControlName="video_lien" />
                </div>

                <div class="field col-12">
                    <label>joindre un fichier (pdf)</label>
                    <input multiple type="file" accept="application/pdf" maxFileSize="10000000" (change)="onUpload($event)" chooseLabel="Browse"/>
                </div>
                <div>
                    <button pButton label="Valider" type="submit" [disabled]="formAddCV.invalid"></button>
                </div>
            </form>
        </div>
    </div>

    <!-- Table d'affichae de la cvthèque -->
    <div class="col-12">
		<div class="card">
            <button pButton pRipple label="Ajouter un CV" icon="pi pi-plus" class="mr-2 mb-2" (click)="showFormAddCV = true" style="float: right"></button>

			<h5>Cv thèque Intedgroup</h5>
			<p-table #dt1 [value]="cvLists" dataKey="_id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['user_id.firstname','user_id.lastname','user_id.email', 'user_id.email_perso', 'user_id.type', 'user_id._id']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Vider les filtres" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
						
                        <p-dropdown [style]="{'margin':'5px'}" [options]="typeList" (onChange)="dt1.filter($event.value, 'user_id.type', 'equals')" filterPlaceholder="Type"></p-dropdown>

                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche" class="w-full"/>
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th>
							<div class="flex justify-content-between align-items-center">
								Nom &amp; Prénom
							</div>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Email
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Email perso
							</div>
						</th>
                        <th>
							<div class="flex justify-content-between align-items-center">
								Type
							</div>
						</th>
						<th style="width: 8rem">
							<div class="flex justify-content-between align-items-center">
								Action
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-cv>
					<tr>
						<td style="min-width: 12rem;">
							{{cv.user_id?.lastname | uppercase}} {{cv.user_id?.firstname | titlecase}}
						</td>

                        <td style="min-width: 12rem;">
							{{cv.user_id?.email}}
						</td>

                        <td style="min-width: 12rem;">
							{{cv.user_id?.email_perso}}
						</td>

                        <td style="min-width: 12rem;">
							{{cv.user_id?.type}}
						</td>
						
						<td class="text-center" style="min-width: 8rem;">
							<i class="pi pi-book" title="Acceder à la cv thèque de {{cv.user_id?.lastname}} {{cv.user_id?.firstname}}" style="color: green"></i>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="5">Aucun cv trouvé.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="5">Chargement...</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>

	</div>
</div>
