.button-danger {
    background-color: red;
    border: none;
}

.button-danger:hover, .button-danger:focus, .button-danger:active {
    background-color: rgb(174, 7, 7);
}

.imen-btn {
    padding-left: 50px;
    padding-right: 50px;
}





.upload-doc {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }

  .upload-doc i {
    margin-right: 10px;
  }

  .file-name {
    font-weight: 700;
    padding: 6px;
    margin-left: 10px;
  }

input[type="file"] {
    display: none;
}

.cancel-icon {
    padding: 6px;
    cursor: pointer;
    color: red;
}

.doc-title {
    font-size: 1.2em;
    font-weight: 700;
}

.doc-block {
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-bottom: 10px;
}
