<div class="grid">
    <div class="col-12" *ngIf="ListeContrats.length > 0">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"> Nombre de contrats insérés
                    </span>
                    <div class="text-900 font-medium text-xl">{{ ListeContrats.length }}</div>
                </div>

                <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-file text-pink-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Filtre par commercial -->
    <div class="col-4" *ngIf="listeContratsFilteredByCommercial.length > 0">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"> Nombre de contrats pour {{
                        commercialFiltered.firstname }}
                    </span>
                    <div class="text-900 font-medium text-xl">{{ listeContratsFilteredByCommercial.length }}</div>
                </div>

                <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-file text-pink-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <!-- Formulaire d'ajout d'un nouveau contrat -->
        <div class="card" *ngIf="formAddNewCA">
            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                (click)="formAddNewCA = false;" aria-hidden="true"></i>

            <h4 style="text-align: center;">Nouveau contrat</h4>

            <form [formGroup]="RegisterNewCA" (ngSubmit)="createNewCA()">
                <fieldset class="p-fluid p-formgrid grid"
                    style="border: 1px solid rgb(27, 74, 193); border-radius: 10px">
                    <legend style="color: rgb(27, 74, 193);">Informations contrat</legend>
                    <div class="field col-12 md:col-12">
                        <label For="TypeCOntrat">Type de contrat<span style="color: red;">
                            </span></label>
                        <p-selectButton optionValue="value" formControlName="professionnalisation"
                            (onChange)="afficherProsChamp()"
                            [options]="[{label:'Apprentissage',value:false},{label:'Professionnalisation',value:true}]">
                        </p-selectButton>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="entreprise_id">Entreprise<span style="color: red;"> *
                            </span></label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false [options]="EntrepriseList"
                            dataKey="_id" filter="true" formControlName="entreprise_id"
                            [disabled]="token.type == 'CEO Entreprise'" (onChange)="loadTuteur(entreprise_id.value)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="tuteur_id">Tuteur <span style="color: red;"> *
                            </span></label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false [options]="dropdownTuteurList"
                            dataKey="_id" filter="true" id="alternant" formControlName="tuteur_id">
                        </p-dropdown>
                    </div>
                    <div class="field col-12">
                        <label For="alternant">Alternant<span style="color: red;"> *
                            </span> </label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false [options]="listAlternantDD"
                            dataKey="_id" filter="true" id="alternant" formControlName="alternant">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="debut_contrat">Date de debut du contrat<span style="color: red;"> *
                            </span></label>
                        <p-calendar formControlName="debut_contrat" [monthNavigator]="true" [yearNavigator]="true"
                            [required]="true" [showOnFocus]="false" [showIcon]="true" placeHolder="26/05/1998"
                            dateFormat="dd/mm/yy">
                        </p-calendar>
                        <div *ngIf="debut_contrat.invalid && (debut_contrat.touched || debut_contrat.dirty)">
                            <span style="color: red;" class="error" *ngIf="debut_contrat.errors?.required">*
                                Le champs est vide ou n'est pas dans le format JJ/MM/AAAA</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="fin_contrat">Date de fin du contrat<span style="color: red;"> *
                            </span></label>
                        <p-calendar formControlName="fin_contrat" [monthNavigator]="true" [yearNavigator]="true"
                            [required]="true" [showOnFocus]="false" [showIcon]="true" placeHolder="26/05/1998"
                            dateFormat="dd/mm/yy">
                        </p-calendar>
                        <div *ngIf="fin_contrat.invalid && (fin_contrat.touched || fin_contrat.dirty)">
                            <span style="color: red;" class="error" *ngIf="fin_contrat.errors?.required">*
                                Le champs est vide ou n'est pas dans le format JJ/MM/AAAA</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="horaire">Horaires par semaine</label>
                        <input pInputText id="horaire" type="text" placeholder="35 h/semaine"
                            formControlName="horaire" />
                        <div *ngIf="horaire.invalid && (horaire.touched || horaire.dirty)">
                            <span style="color: red;" class="error" *ngIf="horaire.errors?.required">
                                *Le champs est obligatoire.
                            </span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="classification">Classification<span style="color: red;"> *
                            </span></label>
                        <input pInputText id="classification" type="text" placeholder="Classe A"
                            formControlName="classification" />
                        <div *ngIf="classification.invalid && (classification.touched || classification.dirty)">
                            <span style="color: red;" class="error" *ngIf="classification.errors?.required">
                                * Le champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="intitule">Intitulé<span style="color: red;">
                            </span></label>
                        <input pInputText id="intitule" type="text" placeholder="Intitulé du poste"
                            formControlName="intitule" />
                        <div *ngIf="intitule.invalid && (intitule.touched || intitule.dirty)">
                            <span style="color: red;" class="error" *ngIf="intitule.errors?.required">
                                *Le champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="niv">Niveau de la formation<span style="color: red;"> *</span></label>
                        <input pInputText id="niv" type="text" placeholder="Bac+3" formControlName="niv" />
                        <div *ngIf="niv.invalid && (niv.touched || niv.dirty)">
                            <span style="color: red;" class="error" *ngIf="niv.errors?.required">
                                *Le champs est obligatoire.
                            </span>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="coeff_hier">Coefficient hiérarchique<span style="color: red;"> *
                            </span></label>
                        <input pInputText id="coeff_hier" type="text" placeholder="5.2" formControlName="coeff_hier" />
                        <div *ngIf="coeff_hier.invalid && (coeff_hier.touched || coeff_hier.dirty)">
                            <span style="color: red;" class="error" *ngIf="coeff_hier.errors?.required">*
                                Le
                                champs est obligatoire.</span>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label For="form">Formation<span style="color: red;"> *
                            </span></label>

                        <p-dropdown [options]="formationList" id="form" formControlName="form" filter="true"
                            emptyFilterMessage="Pas de formation trouvé" filterPlaceholder="Filtrer">
                        </p-dropdown>
                        <div *ngIf="form.invalid && (form.touched || form.dirty)">
                            <span style="color: red;" class="error" *ngIf="form.errors?.required">*
                                Le
                                champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-12">
                        <label For="code_commercial">Commercial référent</label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false
                            [options]="dropDownCommecialList" dataKey="_id" filter="true"
                            formControlName="code_commercial">
                        </p-dropdown>
                        <div *ngIf="code_commercial.invalid && (code_commercial.touched || code_commercial.dirty)">
                            <span style="color: red;" class="error">*
                                Le
                                champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-6">
                        <label>Année scolaire</label>
                        <p-multiSelect class="p-dropdown-clearable" [autoDisplayFirst]=false
                            [options]="dropDownAnneeList" optionLabel="label" filter="true"
                            formControlName="anne_scolaire">
                        </p-multiSelect>
                    </div>
                    <div class="field col-6">
                        <label>CFA <span style="color: red;"> *
                            </span></label>
                        <p-dropdown placeholder="Choisissez le CFA" [options]="dropdownCFA" filter="true"
                            formControlName="ecole">
                        </p-dropdown>
                    </div>
                </fieldset>

                <fieldset class="p-fluid p-formgrid grid mt-2"
                    style="border: 1px solid rgb(27, 74, 193); border-radius: 10px">
                    <legend style="color: rgb(27, 74, 193);">Avantages contrat</legend>

                    <div class="field col-12">
                        <label for="mob_int">Mobilité internationale <span style="color: red;">*</span></label>
                        <p-dropdown placeholder="Choisissez le statut" [options]="advantageStatusList" id="mob_int"
                            formControlName="mob_int" (onChange)="onShowCout($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12" *ngIf="showCout">
                        <label for="cout_mobilite">Coût de la mobilité internationale</label>
                        <input pInputText type="number" id="cout_mobilite" formControlName="cout_mobilite">
                    </div>

                    <div class="field col-12">
                        <label for="mat_ped">Materiel pédagogique <span style="color: red;">*</span></label>
                        <p-dropdown placeholder="Choisissez le statut" [options]="advantageStatusList" id="mat_ped"
                            formControlName="mat_ped" (onChange)="onShowMatPedPrice($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12" *ngIf="showMatPedPrice">
                        <label for="cout_mat_ped">Coût du materiel pédagogique</label>
                        <input pInputText type="number" id="cout_mat_ped" formControlName="cout_mat_ped">
                    </div>

                    <div class="field col-12">
                        <label for="dl_help">Aide au permis <span style="color: red;">*</span></label>
                        <p-dropdown placeholder="Choisissez le statut" [options]="advantageStatusList" id="dl_help"
                            formControlName="dl_help" (onChange)="onShowDLPrice($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12" *ngIf="showDLHelpPrice">
                        <label for="cout_dl_help">Coût de laide au permis</label>
                        <input pInputText type="number" id="cout_dl_help" formControlName="cout_dl_help">
                    </div>

                    <div classe="field">
                        <button pButton type="submit" label="Ajouter" style="float: right;"
                            [disabled]="RegisterNewCA.invalid|| (Professionnalisation.value == true && classification.invalid)">
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

        <!-- Formulaire de modification d'un contrat -->
        <div class="card" *ngIf="showFormUpdateCa">
            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                (click)="showFormUpdateCa = false;" aria-hidden="true"></i>

            <h4 style="text-align: center;">Modifier ce contrat</h4>

            <form [formGroup]="formUpdateCa" (ngSubmit)="onUpdateCa()">
                <fieldset class="p-fluid p-formgrid grid"
                    style="border: 1px solid rgb(27, 74, 193); border-radius: 10px">
                    <legend style="color: rgb(27, 74, 193);">Informations contrat</legend>
                    <div class="field col-12 md:col-12">
                        <label For="TypeCOntrat">Type de contrat<span style="color: red;">
                            </span></label>
                        <p-selectButton optionValue="value" formControlName="professionnalisation"
                            (onChange)="afficherProsChamp()"
                            [options]="[{label:'Apprentissage',value:false},{label:'Professionnalisation',value:true}]">
                        </p-selectButton>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="entreprise_id">Entreprise<span style="color: red;"> *
                            </span></label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false [options]="EntrepriseList"
                            dataKey="_id" filter="true" formControlName="entreprise_id"
                            [disabled]="token.type == 'CEO Entreprise'" (onChange)="loadTuteur(entreprise_id.value)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="tuteur_id">Tuteur <span style="color: red;"> *
                            </span></label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false [options]="dropdownTuteurList"
                            dataKey="_id" filter="true" id="alternant" formControlName="tuteur_id">
                        </p-dropdown>
                    </div>
                    <div class="field col-12">
                        <label For="alternant">Alternant<span style="color: red;"> *
                            </span> </label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false [options]="listAlternantDD"
                            dataKey="_id" filter="true" id="alternant" formControlName="alternant">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="debut_contrat">Date de debut du contrat<span style="color: red;"> *
                            </span></label>
                        <p-calendar formControlName="debut_contrat" [monthNavigator]="true" [yearNavigator]="true"
                            [required]="true" [showOnFocus]="false" [showIcon]="true" placeHolder="26/05/1998"
                            dateFormat="dd/mm/yy">
                        </p-calendar>
                        <div *ngIf="debut_contrat_m.invalid && (debut_contrat_m.touched || debut_contrat_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="debut_contrat_m.errors?.required">*
                                Le champs est vide ou n'est pas dans le format JJ/MM/AAAA</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="fin_contrat">Date de fin du contrat<span style="color: red;"> *
                            </span></label>
                        <p-calendar formControlName="fin_contrat" [monthNavigator]="true" [yearNavigator]="true"
                            [required]="true" [showOnFocus]="false" [showIcon]="true" placeHolder="26/05/1998"
                            dateFormat="dd/mm/yy">
                        </p-calendar>
                        <div *ngIf="fin_contrat_m.invalid && (fin_contrat_m.touched || fin_contrat_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="fin_contrat_m.errors?.required">*
                                Le champs est vide ou n'est pas dans le format JJ/MM/AAAA</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label For="horaire">Horaires par semaine</label>
                        <input pInputText id="horaire" type="text" placeholder="35 h/semaine"
                            formControlName="horaire" />
                        <div *ngIf="horaire_m.invalid && (horaire_m.touched || horaire_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="horaire_m.errors?.required">
                                *Le champs est obligatoire.
                            </span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="classification">Classification<span style="color: red;"> *
                            </span></label>
                        <input pInputText id="classification" type="text" placeholder="Classe A"
                            formControlName="classification" />
                        <div *ngIf="classification_m.invalid && (classification_m.touched || classification_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="classification_m.errors?.required">
                                * Le champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="intitule">Intitulé<span style="color: red;">
                            </span></label>
                        <input pInputText id="intitule" type="text" placeholder="Intitulé du poste"
                            formControlName="intitule" />
                        <div *ngIf="intitule_m.invalid && (intitule_m.touched || intitule_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="intitule_m.errors?.required">
                                *Le champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="niv">Niveau de la formation<span style="color: red;"> *</span></label>
                        <input pInputText id="niv" type="text" placeholder="Bac+3" formControlName="niv" />
                        <div *ngIf="niv_m.invalid && (niv_m.touched || niv_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="niv_m.errors?.required">
                                *Le champs est obligatoire.
                            </span>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6" *ngIf="Professionnalisation">
                        <label For="coeff_hier">Coefficient hiérarchique<span style="color: red;"> *
                            </span></label>
                        <input pInputText id="coeff_hier" type="text" placeholder="5.2" formControlName="coeff_hier" />
                        <div *ngIf="coeff_hier_m.invalid && (coeff_hier_m.touched || coeff_hier_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="coeff_hier_m.errors?.required">*
                                Le
                                champs est obligatoire.</span>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label For="form">Formation<span style="color: red;"> *
                            </span></label>

                        <p-dropdown [options]="formationList" id="form" formControlName="form" filter="true"
                            emptyFilterMessage="Pas de formation trouvé" filterPlaceholder="Filtrer">
                        </p-dropdown>
                        <div *ngIf="form_m.invalid && (form_m.touched || form_m.dirty)">
                            <span style="color: red;" class="error" *ngIf="form_m.errors?.required">*
                                Le
                                champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-12">
                        <label For="code_commercial">Commercial référent</label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false
                            [options]="dropDownCommecialList" dataKey="_id" filter="true"
                            formControlName="code_commercial">
                        </p-dropdown>
                        <div
                            *ngIf="code_commercial_m.invalid && (code_commercial_m.touched || code_commercial_m.dirty)">
                            <span style="color: red;" class="error">*
                                Le
                                champs est obligatoire.</span>
                        </div>
                    </div>
                    <div class="field col-6">
                        <label>Année scolaire</label>
                        <p-multiSelect class="p-dropdown-clearable" [autoDisplayFirst]=false
                            [options]="dropDownAnneeList" optionLabel="label" filter="true"
                            formControlName="anne_scolaire">
                        </p-multiSelect>
                    </div>
                    <div class="field col-6">
                        <label>CFA <span style="color: red;"> *
                            </span></label>
                        <p-dropdown placeholder="Choisissez le CFA" [options]="dropdownCFA" filter="true"
                            formControlName="ecole">
                        </p-dropdown>
                    </div>
                </fieldset>

                <fieldset class="p-fluid p-formgrid grid mt-2"
                    style="border: 1px solid rgb(27, 74, 193); border-radius: 10px">
                    <legend style="color: rgb(27, 74, 193);">Avantages contrat</legend>

                    <div class="field col-12">
                        <label for="mob_int">Mobilité internationale <span style="color: red;">*</span></label>
                        <p-dropdown placeholder="Choisissez le statut" [options]="advantageStatusList" id="mob_int"
                            formControlName="mob_int" (onChange)="onShowCout($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12" *ngIf="showCout">
                        <label for="cout_mobilite">Coût de la mobilité internationale</label>
                        <input pInputText type="number" id="cout_mobilite" formControlName="cout_mobilite">
                    </div>

                    <div class="field col-12">
                        <label for="mat_ped">Materiel pédagogique <span style="color: red;">*</span></label>
                        <p-dropdown placeholder="Choisissez le statut" [options]="advantageStatusList" id="mat_ped"
                            formControlName="mat_ped" (onChange)="onShowMatPedPrice($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12" *ngIf="showMatPedPrice">
                        <label for="cout_mat_ped">Coût du materiel pédagogique</label>
                        <input pInputText type="number" id="cout_mat_ped" formControlName="cout_mat_ped">
                    </div>

                    <div class="field col-12">
                        <label for="dl_help">Aide au permis <span style="color: red;">*</span></label>
                        <p-dropdown placeholder="Choisissez le statut" [options]="advantageStatusList" id="dl_help"
                            formControlName="dl_help" (onChange)="onShowDLPrice($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12" *ngIf="showDLHelpPrice">
                        <label for="cout_dl_help">Coût de laide au permis</label>
                        <input pInputText type="number" id="cout_dl_help" formControlName="cout_dl_help">
                    </div>

                    <div classe="field">
                        <button pButton type="submit" label="Modifier" style="float: right;"
                            [disabled]="formUpdateCa.invalid|| (professionnalisation_m.value == true && classification_m.invalid)">
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>

        <!-- formulaire de mise à jour du status d'un contrat -->
        <div class="col-12" *ngIf="showStatusForm">
            <div class="card">
                <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                    (click)="showStatusForm = false;" aria-hidden="true"></i>
                <h4 style="text-align: center;">Mettre à jour le status du contrat</h4>

                <form [formGroup]="statusForm" (ngSubmit)="onUpdateStatus()">
                    <div style="color: black;font-weight:normal">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12">
                                <label for="libelle">Nouveau Status</label>
                                <p-dropdown id="libelle" [options]="statusList" formControlName="libelle"></p-dropdown>
                            </div>
                            <div classe="field">
                                <button pButton type="submit" label="Mettre à jour" [disabled]="statusForm.invalid">
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Upload du cerfa -->
        <div class="col-12" *ngIf="showFormAddCerfa">
            <div class="card">
                <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                    (click)="showFormAddCerfa = false;"></i>
                <h4>Ajouter le cerfa au contrat (pdf)</h4>
                <div class="field col-12">
                    <input pInputFile type="file" (change)="onSelectFile($event)" accept="application/pdf"
                        style="background-color: #6366F1; color: white; padding: 15px; border-radius: 10px;">
                </div>
                <button pButton label="Envoyer" (click)="onAddCerfa()"></button>
            </div>
        </div>

        <!-- Upload de la convention -->
        <div class="col-12" *ngIf="showFormAddConvention">
            <div class="card">
                <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                    (click)="showFormAddConvention = false;"></i>
                <h4>Ajouter la convention au contrat (pdf)</h4>
                <div class="field col-12">
                    <input pInputFile type="file" (change)="onSelectFile($event)" accept="application/pdf"
                        style="background-color: #6366F1; color: white; padding: 15px; border-radius: 10px;">
                </div>
                <button pButton label="Envoyer" (click)="onAddConvention()"></button>
            </div>
        </div>

        <!-- Upload de l'accord de prise en charge -->
        <div class="col-12" *ngIf="showFormAddAccordPriseEnCharge">
            <div class="card">
                <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                    (click)="showFormAddAccordPriseEnCharge = false;"></i>
                <h4>Ajouter l'accord de prise en charge (pdf)</h4>
                <div class="field col-12">
                    <input pInputFile type="file" (change)="onSelectFile($event)" accept="application/pdf"
                        style="background-color: #6366F1; color: white; padding: 15px; border-radius: 10px;">
                </div>
                <button pButton label="Envoyer" (click)="onAddAccordPriseEnCharge()"></button>
            </div>
        </div>

        <!-- Upload de la resiliation -->
        <div class="col-12" *ngIf="showFormAddResiliation">
            <div class="card">
                <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                    (click)="showFormAddResiliation = false;"></i>
                <h4>Ajouter la résiliation (pdf)</h4>
                <div class="field col-12">
                    <input pInputFile type="file" (change)="onSelectFile($event)" accept="application/pdf"
                        style="background-color: #6366F1; color: white; padding: 15px; border-radius: 10px;">
                </div>
                <button pButton label="Envoyer" (click)="onAddResiliation()"></button>
            </div>
        </div>

        <!-- Upload du document de relance -->
        <div class="col-12" *ngIf="showFormAddRelance">
            <div class="card">
                <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                    (click)="showFormAddRelance = false;"></i>
                <h4>Ajouter la résiliation (pdf)</h4>
                <div class="field col-12">
                    <input pInputFile type="file" (change)="onSelectFile($event)" accept="application/pdf"
                        style="background-color: #6366F1; color: white; padding: 15px; border-radius: 10px;">
                </div>
                <button pButton label="Envoyer" (click)="onAddRelance()"></button>
            </div>
        </div>

        <!-- Upload du livret d'apprentissage -->
        <div class="col-12" *ngIf="showFormAddLivret">
            <div class="card">
                <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                    (click)="showFormAddLivret = false;"></i>
                <h4>Ajouter le livret d'apprentissage (doc)</h4>
                <div class="field col-12">
                    <input pInputFile type="file" (change)="onSelectFile($event)"
                        accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                        style="background-color: #6366F1; color: white; padding: 15px; border-radius: 10px;">
                </div>
                <button pButton label="Envoyer" (click)="onAddLivret()"></button>
            </div>
        </div>


        <div class="col-12" *ngIf="token.type == 'CEO Entreprise'">
            <div class="card">
                <p-panel header="Notice" [toggleable]="true" class="line-height-3 m-0">
                    Si vous rencontrez une incohérence sur un contrat n'hésitez pas créer un ticket au service
                    commercial via le module ticketing.
                </p-panel>
            </div>
        </div>

        <div class="card">
            <button *ngIf="token.type != 'CEO Entreprise' && token.role != 'Watcher'" pButton
                label="Nouveau contrat d'alternance" (click)="ShowAddNewCA()" style="float: right;"></button>
            <button *ngIf="token.type != 'CEO Entreprise' && token.role == 'Watcher'" pButton
                label="Nouveau contrat d'alternance" (click)="ShowAddNewCA()" [disabled]="true"
                style="float: right; margin: 2px"></button>
            <button pButton pRipple type="button" label="Supprimer les doublons" class="p-button-warning"
                (click)="nettoyage()" style="float: right; margin: 2px"></button>

            <h5>Liste des contrats</h5>

            <p-toast></p-toast>
            <p-table #dt1 [value]="ListeContrats"
                [globalFilterFields]="['_id', 'code_commercial.lastname','code_commercial.firstname', 'cout_mobilite', 'statut','classification','alternant_id.user_id.firstname','alternant_id.user_id.lastname', 'alternant_id.campus.libelle']"
                [pageLinks]="5" [paginator]="true" rowExpandMode="single" dataKey="_id" responsiveLayout="scroll"
                [rows]="8">
                <ng-template pTemplate="caption">
                    <div class="grid flex justify-content-between flex-column sm:flex-row">
                        
                        <p-dropdown class="col-3" [style]="{'margin':'1px'}" [options]="filtreAgent"
                            (onChange)="dt1.filter($event.value, 'code_commercial._id', 'equals'); onFilterByCommercial($event)"
                            filterPlaceholder="Choisissez un commercial"></p-dropdown>

                        <p-dropdown class="col-3" [style]="{'margin':'1px'}" [options]="filtreCampus"
                            (onChange)="dt1.filter($event.value, 'alternant_id.campus', 'equals'); onFilterByCampus($event)"
                            filterPlaceholder="Choisissez un campus"></p-dropdown>

                        <p-dropdown class="col-3" [style]="{'margin':'1px'}" [options]="filtreEcole"
                            (onChange)="dt1.filter($event.value, 'ecole._id', 'equals');onFilterByEcole($event)"
                            filterPlaceholder="Choisissez une ecole"></p-dropdown>

                        <p-dropdown class="col-3" [style]="{'margin':'1px'}" [options]="filtreFormation"
                            (onChange)="dt1.filter($event.value, 'formation._id', 'equals')"
                            filterPlaceholder="Choisissez une classe"></p-dropdown>

                        <p-dropdown class="col-3" [style]="{'margin':'1px'}" [options]="filtreStatus"
                            (onChange)="dt1.filter($event.value, 'statut', 'equals')"
                            filterPlaceholder="Choisissez un status"></p-dropdown>

                        <p-dropdown class="col-3" [style]="{'margin':'1px'}" [options]="filtreMobility"
                            (onChange)="dt1.filter($event.value, 'cout_mobilite_status', 'equals')"
                            filterPlaceholder="Mobilité internationale"></p-dropdown>

                        <span class="p-input-icon-left mb-2 col-6">
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Recherche" class="w-full" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 8rem;"></th>
                        <th>Prenom &amp; Nom</th>
                        <th>Statut</th>
                        <th>Dernière date de changement du statut</th>
                        <th>Formation</th>
                        <th>OPCO</th>
                        <th>Ecole</th>
                        <th>Dates du contrat</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contrat let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="contrat"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 11rem;">
                            {{ contrat.alternant_id?.user_id?.firstname }}
                            {{ contrat.alternant_id?.user_id?.lastname }}
                        </td>
                        <td>
                            <p-tag *ngIf="contrat.statut==null" icon="pi pi-times" severity="danger"
                                [value]="'Aucun status définit'">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut=='créé'" icon="pi pi-exclamation-triangle" severity="warning"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Conclu'" icon="pi pi-pencil" severity="info"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'En attente d’informations'" icon="pi pi-spin pi-spinner"
                                severity="warning" [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'En attente de validation'" icon="pi pi-spin pi-spinner"
                                severity="warning" [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Champs requis'" icon="pi pi-info-circle" severity="danger"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Montant optimisé'" icon="pi pi-times" severity="danger"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Signé'" icon="pi pi-check" severity="info"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Déposé à l’OPCO'" icon="pi pi-check" severity="info"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Relance à traiter'" icon="pi pi-times" severity="danger"
                                [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Validé à facturation'" icon="pi pi-check"
                                severity="success" [value]="contrat.statut">
                            </p-tag>
                            <p-tag *ngIf="contrat.statut == 'Résilié'" icon="pi pi-times-circle" severity="danger"
                                [value]="contrat.statut">
                            </p-tag>
                        </td>
                        <td>{{ contrat.last_status_change_date | date: 'dd MMMM YYYY' }}</td>
                        <td>{{ contrat.formation.titre_long }}</td>
                        <td>{{ contrat.entreprise_id?.OPCO }}</td>
                        <td>{{ contrat.ecole?.libelle }}</td>
                        <td>{{contrat.debut_contrat | date:
                            'dd/MM/yyyy'}}-{{contrat.fin_contrat | date: 'dd/MM/yyyy'}}
                        </td>
                        <td *ngIf="token.role != 'Watcher'">
                            <i class="pi pi-chart-pie" pTooltip="Voir Assiduité" aria-hidden="true"
                                (click)="showPresence(contrat.alternant_id._id)" *ngIf="token.role != 'CEO Entreprise'"
                                style="text-align: center; color: red; margin: 2px"></i>
                            <i *ngIf="token.type != 'CEO Entreprise'" class="pi pi-tags"
                                pTooltip="Modifier le statut du contrat" aria-hidden="true"
                                (click)="showStatusForm = true; contratToUpdate = contrat"
                                style="text-align: center; color: gray; margin: 2px"></i>
                            <i class="pi pi-pencil" pTooltip="Modifier" aria-hidden="true"
                                (click)="onFillFormUpdate(contrat); showFormUpdateCa = true;"
                                style="text-align: center; color: blue; margin: 2px"
                                *ngIf="token.type != 'CEO Entreprise'"></i>
                            <br>
                            <!-- contract files -->
                            <i class="pi pi-file" pTooltip="Cerfa" style="cursor: pointer; color: blue; margin: 2px;"
                                (click)="contratToUpdate = contrat; showFormAddCerfa = true;"></i>
                            <i class="pi pi-file" pTooltip="Convention de formation"
                                style="cursor: pointer; color: orangered; margin: 2px;"
                                (click)="contratToUpdate = contrat; showFormAddConvention = true;"></i>
                            <i class="pi pi-file" pTooltip="Accord de prise en charge"
                                style="cursor: pointer; color: rgb(150, 248, 4); margin: 2px;"
                                (click)="contratToUpdate = contrat; showFormAddAccordPriseEnCharge = true;"></i>
                            <i class="pi pi-file" pTooltip="Livret d'apprentissage"
                                style="cursor: pointer; color: rgba(63, 30, 30, 0.744); margin: 2px;"
                                (click)="contratToUpdate = contrat; showFormAddLivret = true;"></i>
                            <i *ngIf="contrat.statut == 'Relance à traiter'" class="pi pi-file"
                                pTooltip="Relance à traiter"
                                style="cursor: pointer; color: rgb(147, 145, 5); margin: 2px;"
                                (click)="contratToUpdate = contrat; showFormAddRelance = true;"></i>
                            <i *ngIf="contrat.statut == 'Résilié'" class="pi pi-file" pTooltip="Résiliation du contrat"
                                style="cursor: pointer; color: rgb(177, 6, 6); margin: 2px;"
                                (click)="contratToUpdate = contrat; showFormAddResiliation = true;"></i>
                            <!-- end files -->
                        </td>
                        <td *ngIf="token.role == 'Watcher'">
                            <small style="color: red;">Aucune action disponible pour ce compte</small>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-contrat>
                    <tr>
                        <td colspan="9">
                            <div class="p-2">
                                <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th>Horaire</th>
                        <th>Niveau de la formation</th>
                        <th>Groupe</th>
                        <th *ngIf="token.type != 'CEO Entreprise'">Entreprise</th>
                        <th>Commercial</th>
                        <th>Tuteur</th>
                        <th>Année-scolaires</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>{{contrat.horaire}}</td>
                        <td>{{contrat.niveau_formation}}</td>
                        <td>{{ contrat.alternant_id.classe_id?.abbrv }}</td>
                        <td style="min-width: 5rem;" *ngIf="token.type != 'CEO Entreprise'">
                            {{ contrat.entreprise_id?.r_sociale }}
                        </td>
                        <td>{{ contrat.code_commercial?.firstname | titlecase }} {{ contrat.code_commercial?.lastname |
                            uppercase }}</td>

                        <td *ngIf="contrat.tuteur_id != null">
                            {{ contrat.tuteur_id?.user_id?.lastname }}
                            {{ contrat.tuteur_id?.user_id?.firstname }}
                        </td>
                        <td *ngIf="contrat.directeur_id != null">
                            {{ contrat.directeur_id?.lastname }}
                            {{ contrat.directeur_id?.firstname }}
                        </td>

                        <td>
                            <ul>
                                <li *ngFor="let annee of contrat.anne_scolaire; let i = index">{{ annee }}</li>
                            </ul>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <!-- Documents liés au contrat -->
        <div class="p-2">
            <h6 style="font-weight: bold">Documents du contrat</h6>
            <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Calendrier</th> <!-- *lié à la formation(diplôme) -->
                        <th>Cerfa</th> <!-- *lié directement au contrat -->
                        <th>Convention de formation</th> <!-- *lié directement au contrat -->
                        <th>Livret d'apprentissage</th> <!-- *lié directement au contrat -->
                        <th>Accord de prise en charge</th> <!-- *lié directement au contrat -->
                        <th>Document de relance</th> <!-- *lié directement au contrat -->
                        <th>Résiliation de contrat</th> <!-- *lié directement au contrat -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td *ngIf="contrat.alternant_id.classe_id?.calendrier != null">
                            <i class="pi pi-calendar" title="Télécharger le calendrier"
                                style="font-size: 2em; color: green; cursor: pointer;"
                                (click)="onDownloadCalendar(contrat.alternant_id.classe_id?._id)"></i>
                        </td>
                        <td *ngIf="contrat.alternant_id.classe_id?.calendrier == null">
                            - aucun fichier -
                        </td>

                        <td *ngIf="contrat.cerfa != null">
                            <i class="pi pi-file" title="Télécharger le cerfa"
                                style="font-size: 2em; color: blue; cursor: pointer;"
                                (click)="onDownloadCerfa(contrat._id)"></i>
                        </td>
                        <td *ngIf="contrat.cerfa == null">
                            - aucun fichier -
                        </td>

                        <td *ngIf="contrat.convention_formation != null">
                            <i class="pi pi-file" title="Télécharger la convention"
                                style="font-size: 2em; color: orangered; cursor: pointer;"
                                (click)="onDownloadConvention(contrat._id)"></i>
                        </td>
                        <td *ngIf="contrat.convention_formation == null">
                            - aucun fichier -
                        </td>

                        <td *ngIf="contrat.livret_apprentissage != null">
                            <i class="pi pi-file" title="Télécharger le livret d'apprentissage"
                                style="font-size: 2em; color: rgba(63, 30, 30, 0.744); cursor: pointer;"
                                (click)="onDownloadLivret(contrat._id)">
                            </i>
                        </td>
                        <td *ngIf="contrat.livret_apprentissage == null" style="color: red; font-weight: bold;">
                            - aucun fichier -
                        </td>

                        <td *ngIf="contrat.accord_prise_charge != null">
                            <i class="pi pi-file" title="Télécharger l'accord de prise en charge"
                                style="font-size: 2em; color: rgb(150, 248, 4); cursor: pointer;"
                                (click)="onDownloadAccordPriseEnCharge(contrat._id)"></i>
                        </td>
                        <td *ngIf="contrat.accord_prise_charge == null" style="color: red; font-weight: bold;">
                            - aucun fichier -
                        </td>

                        <td *ngIf="contrat.relance != null">
                            <i class="pi pi-file" title="Télécharger le document de relance"
                                style="font-size: 2em; color: rgb(147, 145, 5); cursor: pointer;"
                                (click)="onDownloadRelance(contrat._id)"></i>
                        </td>
                        <td *ngIf="contrat.relance == null" style="color: red; font-weight: bold;">
                            - aucun fichier -
                        </td>

                        <td *ngIf="contrat.resiliation_contrat != null">
                            <i class="pi pi-file" title="Télécharger la résiliation"
                                style="font-size: 2em; color: rgb(177, 6, 6); cursor: pointer;"
                                (click)="onDownloadResiliation(contrat._id)"></i>
                        </td>
                        <td *ngIf="contrat.resiliation_contrat == null" style="color: green; font-weight: bold;">
                            -- Ce contrat est en cours --
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Remarques faites par l'employeur -->
        <div class="p-2">
            <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Remarques faites par l'employeur</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>{{contrat.remarque}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Avantage liés au contrat -->
        <div class="p-2">
            <h6 style="font-weight: bold">Avantages contrat</h6>
            <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Mobilité internationale</th>
                        <th>Materiel pédagogique</th>
                        <th>Aide au permis</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>
                            {{ contrat.cout_mobilite_status != 'Accordé' ? contrat.cout_mobilite_status:
                            contrat.cout_mobilite + '€' }}
                        </td>
                        <td>
                            {{ contrat.cout_mat_ped_status != 'Accordé' ? contrat.cout_mat_ped_status:
                            contrat.cout_mat_ped + '€' }}
                        </td>
                        <td>
                            {{ contrat.cout_dl_help_status != 'Accordé' ? contrat.cout_dl_help_status:
                            contrat.cout_dl_help + '€' }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- personne qui a ajouté le contrat -->
        <div class="p-2">
            <h6 style="font-weight: bold">Ajouté par</h6>
            <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>{{contrat.add_by?.lastname}}</td>
                        <td>{{contrat.add_by?.firstname}}</td>
                        <td>{{contrat.add_by?.email}}</td>
                        <td>{{contrat.add_by?.indicatif}}{{contrat.add_by?.phone}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>