<div class="grid">

    <div class="col-12">
        <div class="card">
            <h5>Liste des contrats <span *ngIf="ParmTuteur">du tuteur : {{ ListeContrats[0]?.tuteur_id.user_id.firstname
                    | titlecase
                    }} {{
                    ListeContrats[0]?.tuteur_id.user_id.lastname |
                    uppercase }} </span>
            </h5>

            <p-toast></p-toast>
            <p-table #dt1 [value]="ListeContrats" [globalFilterFields]="['']" [pageLinks]="5" [paginator]="true"
                rowExpandMode="single" dataKey="_id" responsiveLayout="scroll" [rows]="10"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Recherche" class="w-full" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 8rem;"></th>
                        <th pSortableColumn="alternant_id"> Prenom & Nom <p-sortIcon field="alternant_id">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="fin_contrat"> Entreprise <p-sortIcon field="entreprise_id">
                            </p-sortIcon>
                        </th>
                        <th *ngIf="token.role=='Admin'" pSortableColumn="tuteur_id.user_id.firstname">Tuteur de stage
                            <p-sortIcon field="tuteur_id">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="intitule"> Intitulé du poste <p-sortIcon field="intitule">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="formation"> Formation <p-sortIcon field="formation"></p-sortIcon>
                        </th>
                        <th pSortableColumn="début_contrat" style="min-width: 15rem;text-align: center; ">Date début et
                            fin du contrat

                        </th>

                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contrat>
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="contrat"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 11rem;">
                            {{ contrat.alternant_id.user_id.firstname }}
                            {{ contrat.alternant_id.user_id.lastname }}</td>
                        <td style="min-width: 5rem;">{{ contrat.tuteur_id.entreprise_id.r_sociale }}</td>

                        <td *ngIf="token.role=='Admin'"> {{ contrat.tuteur_id.user_id?.firstname | titlecase }} {{
                            contrat.tuteur_id.user_id?.lastname | uppercase }} </td>
                        <td style="min-width: 8rem;text-align: center; ">{{ contrat.intitule }}</td>
                        <td style="min-width: 8rem;text-align: center; ">{{ contrat.formation.titre_long }}</td>
                        <td style="min-width: 15rem;text-align: center; ">{{contrat.debut_contrat | date:
                            'dd/MM/yyyy'}}-{{contrat.fin_contrat | date: 'dd/MM/yyyy'}}</td>

                        <td>
                            <i class="pi pi-chart-pie" pTooltip="Voir Assiduité" aria-hidden="true"
                                (click)="showPresence(contrat.alternant_id._id)" style="text-align: center; "></i>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-contrat>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th>Horaire</th>
                        <th>Classification</th>
                        <th>Niveau de la formation</th>
                        <th>Coeff hierachique</th>
                        <th>code_commercial</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>{{contrat.horaire}}</td>
                        <td>{{contrat.classification}}</td>
                        <td>{{contrat.niveau_formation}}</td>

                        <td>{{contrat.coeff_hierachique}}</td>
                        <td>{{contrat.code_commercial}}</td>

                    </tr>
                </ng-template>


            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>