<div class="card">

    <h1>Sources des liens</h1>
    <h5>Cursus d’apprentissage LinkedIn Learning :<a
            href="https://www.linkedin.com/learning-admin/content/learning-paths/1~AAAAAAY-bGo=1490152?account=104754282">Employabilité/stage/Alternance
            (linkedin.com) </a></h5>

    <h1>Liens utiles </h1>
    <h5>Pratiques de recherche d’alternance :<a
            href="https://www.alternance.fr/articles/trouver-alternance/trouver-une-alternance/">Comment trouver une
            alternance ? Guide complet et conseils pratiques </a></h5>
    <h5>Rechercher votre alternance :<a href="https://www.alternance.fr/articles/">Toutes les informations sur
            l'alternance | Articles </a></h5>
    <h5>Guide de l’alternance :<a href="https://www.alternance.fr/guide-alternance.php">Guide de l'alternance 2023 à
            télécharger gratuitement</a></h5>

    <h1>Liens Youtube </h1>

    <h5>Comment faire un bon profil LinkedIn Learning étudiant :<a
            href="https://www.youtube.com/watch?v=OTzsoM6Rn40">(445) Comment Faire Un Bon PROFIL LINKEDIN Étudiant ?
            (tuto ingénieur 2022) - YouTube </a></h5>
    <h5>Recherche d’alternance/stage :<a href="https://www.youtube.com/watch?v=ZHGKFzpWEwI">(445) Comment trouver
            rapidement un stage/alternance en 2021 ? - YouTube </a></h5>

    <h1>Alternance en développement/Réseaux </h1>
    <h5>Préparer son entretien de développement informatique :
        <a
            href="https://www.linkedin.com/learning/preparer-son-entretien-de-developpement-informatique/bienvenue-dans-preparer-son-entretien-de-developpement-informatique?autoplay=true&u=104754282">
            Bienvenue dans « Préparer son entretien de développement informatique » (linkedin.com)
        </a>
    </h5>
    <h5>Réussir son entretien d’embauche en réseau :
        <a
            href="https://www.linkedin.com/learning/en-bref-reussir-son-entretien-d-embauche-en-cybersecurite/en-bref-reussir-son-entretien-d-embauche-en-cybersecurite?autoplay=true&u=104754282">
            En bref : Réussir son entretien d'embauche en cybersécurité (linkedin.com)
        </a>
    </h5>


</div>