<p-toast></p-toast>
<div class="grid">
    <div class="col-12">

        
        <div class="card">
      
    
            <form class="p-fluid p-formgrid grid" (ngSubmit)="redirectToForm2()" [formGroup]="RegisterForm2">
                <div class="field col-12 md:col-12">
                    <label For="role">Ecole <span style="color:red"> *</span></label>
                    <p-dropdown [options]="EcoleListRework" placeholder="Choisissez l'école du lead"
                        formControlName="ecole"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6" *ngIf="!isPartenaireExterne">
                    <label For="role">Source <span style="color:red"> *</span></label> 
                    <p-dropdown [options]="sourceList" placeholder="Choisissez la provenance du lead"
                        (onChange)="changeSource($event.value)" formControlName="source"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6" *ngIf="!isPartenaireExterne">
                    <label For="role">Commercial</label>
                    <p-dropdown [options]="commercialList" filter="true"
                        placeholder="Choisissez le commercial qui a ajouté le lead"
                        formControlName="commercial"></p-dropdown>
                </div>
                <div style="justify-content: right;">
                    <button pButton type="submit" label="Ajouter"
                        [disabled]="(RegisterForm2.invalid && !isPartenaireExterne) || (!RegisterForm2.value.ecole)"></button>
                </div>
            </form>
        </div>
    </div>

  
    <div class="col-12 card">
        <h4 style="text-align: center;">Ajouter un nouveau lead avec le Quick Ajout</h4>
        <div style="text-align: center;">
            <small>Tous les champs marqués d'un astérisque <span style="color: red;"> * </span> sont
                obligatoires</small><br>
        </div>
        <br>
        <form class="p-fluid p-formgrid grid" (ngSubmit)="addNewProspect()" [formGroup]="newLeadForm">
            <div class="field col-12 md:col-12">
                <label For="role">Ecole <span style="color:red"> *</span></label>
                <p-dropdown [options]="EcoleListRework" placeholder="Choisissez l'école du lead"
                    (onChange)="onSelectEcole()" formControlName="ecole"></p-dropdown>
            </div>
            <div class="field col-12 md:col-6" *ngIf="!isPartenaireExterne">
                <label For="role">Source <span style="color:red"> *</span></label> <!--SI INTERNE-->
                <p-dropdown [options]="sourceList" placeholder="Choisissez la provenance du lead"
                    (onChange)="changeSource($event.value)" formControlName="source"></p-dropdown>
            </div>
            <div class="field col-12 md:col-6" *ngIf="!isPartenaireExterne"> <!--SI INTERNE-->
                <label For="role">Commercial</label>
                <p-dropdown [options]="commercialList" filter="true"
                    placeholder="Choisissez le commercial qui a ajouté le lead"
                    formControlName="commercial"></p-dropdown>
            </div>
            <h5 class="col-12" style="text-align: center;">Informations personnelle</h5> <br>
            <div class="field col-12 md:col-2">
                <label For="civilite">Civilité<span style="color: red;"> * </span></label>
                <p-dropdown [options]="civiliteList" optionLabel="value" optionDisabled="actif"
                    placeholder="Choisissez une civilité" formControlName="civilite"></p-dropdown>
            </div>
            <div class="field col-12 md:col-5">
                <label For="nom">Nom <span style="color: red;"> * </span></label>
                <input pInputText id="nom" type="text" placeholder="Entrez votre nom" formControlName="lastname" />
            </div>
            <div class="field col-12 md:col-5">
                <label For="prenom">Prénom <span style="color: red;"> * </span></label>
                <input pInputText id="prenom" type="text" placeholder="Entrez votre prénom"
                    formControlName="firstname" />
            </div>
            <div class="field col-12 md:col-6">
                <label For="date_naissance">Date de naissance <span style="color: red;"> *
                    </span></label>
                <input type="date" formControlName="date_naissance" pInputText />
            </div>
            <div class="field col-12 md:col-6">
                <label For="nationalite">Nationalité <span style="color: red;"> * </span></label>
                <p-dropdown formControlName="nationalite" [options]="nationList" optionLabel="label"
                    emptyFilterMessage="Pas de nationalité trouvé" filterPlaceholder="Nationalité"
                    filter="true"></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label>Pays de résidence :<span style="color:red"> *</span></label><br>
                <p-dropdown formControlName="pays" [options]="paysList" placeholder="Pays" optionLabel="value"
                    emptyFilterMessage="Pas de pays trouvé" filterPlaceholder="Pays" filter="true"
                    optionDisabled="actif"></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label>Email :<span style="color:red"> *</span></label>
                <input type="email" formControlName="email_perso" placeholder="Email" (blur)="verifEmailInBD()"
                    pInputText>
            </div>
            <div class="field col-12 md:col-3">
                <label For="indicatif">Indicatif <span style="color: red;"> * </span></label>
                <input pInputText id="indicatif" type="text" placeholder="+33" formControlName="indicatif" />
            </div>
            <div class="field col-12 md:col-9">
                <label For="telephone">Numéro de téléphone <span style="color: red;"> *
                    </span></label>
                <input pInputText id="telephone" type="number" placeholder="Entrez votre numéro de téléphone"
                    formControlName="phone" />
            </div>
            <div class="field col-12 md:col-6">

                <label>Rue:</label>
                <input formControlName="rue_adresse" placeholder="Ex: 20 Place de l'église" pInputText>
            </div>
            <div class="field col-12 md:col-6">

                <label>Ville:</label>
                <input formControlName="ville_adresse" placeholder="Ex: Paris" pInputText>
            </div>
            <div class="field col-12 md:col-6">

                <label>Code postale:</label>
                <input formControlName="postal_adresse" placeholder="Ex: 14950" pInputText>
            </div>


            <h5 class="col-12" style="text-align: center;">Choix académique</h5><br>

            <div class="field col-12">
                <label>Choix du campus <span style="color: red;"> * </span></label>
                <p-dropdown [options]="campusDropdown" optionLabel="value" formControlName="campus"
                    placeholder="Choisissez un campus">
                </p-dropdown>
            </div>

            <div class="field col-12 md:col-12">
                <label>Choix de la rentrée <span style="color: red;"> * </span></label>
                <p-dropdown [options]="rentreeList" formControlName="rentree_scolaire"
                    placeholder="Choisissez une rentrée" placeholder="Choisissez la rentrée scolaire">
                </p-dropdown>
            </div>

    
            <div class="field col-12 md:col-12">
                <label For="programme_fr">Choix de la formation <span style="color: red;"> *
                    </span></label>
                <p-dropdown [options]="programeFrDropdown" placeholder="Choissiez un programme français"
                     [filter]="true" [group]="true" [style]="{'width':'100%'}" autoWidth="false"
                    formControlName="formation"></p-dropdown>
            </div>
            <div class="field col-12 md:col-12">
                <label For="rythme">Rythme de la formation <span style="color: red;"> *
                    </span></label>
                <p-dropdown [options]="typeFormationDropdown" optionLabel="value" autoWidth="false"
                    placeholder="Choisissez un rythme" [style]="{'width':'100%'}"
                    formControlName="rythme_formation"></p-dropdown>
            </div>
            <div style="justify-content: right;">
                <button pButton type="submit" label="Ajouter"
                    [disabled]="(newLeadForm.invalid && !isPartenaireExterne) || (!newLeadForm.value.ecole)"></button>
            </div>
        </form>


        <!-- <div *ngFor="let formData of formDataList">
            {{ formData | json }}
        </div> -->
        
    </div>
</div>