<div class="layout-topbar">
    <div class="col-12 col-offset-0 flex justify-content-center flex-wrap card-container">
        <h5>Connexion à Inted Management System</h5>
    </div>    
</div>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:10%">
        <div class="col-12 xl:col-6" *ngIf="showLoginPage"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <form [formGroup]="formLogin" class="h-full w-full m-0 py-7 px-4"
                style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="w-full md:w-10 mx-auto">
                    <div class="col-8 col-offset-2 flex justify-content-center flex-wrap card-container">
                        <img src="\assets\images\logo_eh_sfb.png" alt="logo eduhorizons" style="width: 40%;">
                    </div>    
                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email1" formControlName="email" type="email" placeholder="Entrez votre adresse email" pInputText
                        class="w-full mb-3" style="padding:1rem;">

                    <label for="password1" class="block text-900 text-xl font-medium mb-2">Mot de passe</label>
                    <input id="password1" formControlName="password" type="password" pInputText placeholder="Entrez votre mot de passe"
                        class="w-full mb-3" style="padding:1rem;">

                    <div class="flex align-items-center justify-content-between mb-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)" href="mailto:support@estya.com">Mot de passe oublié ?</a>
                    </div>
                    <button pButton pRipple label="Se connecter" icon="pi pi-envelope" (click)="Login()"class="w-full p-3 text-xl p-button-danger p-button-raised"></button>
                    <br><br>
                    <button pButton pRipple label="Retour" icon="pi pi-arrow-circle-left" (click)="showLoginPage = false;" class="w-full p-3 text-xl p-button-info p-button-raised"></button>
                </div>
            </form>
        </div>

        <div class="col-12 lg:col-6 xl:col-4" *ngIf="!showLoginPage">
            <div class="card">
                <div class="flex justify-content-between mb-2">
                    <div class="col-8 col-offset-2 flex justify-content-center flex-wrap card-container">
                            <img src="\assets\images\eh.png" alt="logo eduhorizons" style="width: 40%;"class="m-6">
                            <p style="text-align: center;">Si vous êtes un partenaire ou un collabotateur, merci de vous connectez avec votre adresse mail et votre mot de passe.</p>   
                        <form [formGroup]="formLogin" class="h-full w-full m-0 py-7 px-4">
                        <div class="w-full md:w-10 mx-auto">
                            <button pButton pRipple label="Se connecter" icon="pi pi-envelope" (click)="showLoginPage = true;" class="w-full p-3 text-xl p-button-danger p-button-raised"></button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-4" *ngIf="!showLoginPage">
            <div class="card">
                <div class="flex justify-content-between mb-4">
                    <div class="col-8 col-offset-2 flex justify-content-center flex-wrap card-container">
                        <div class="col-12 mt-5 xl:mt-0 text-center">
                            <img src="assets/images/logo-ims.png" alt="IMS logo" class="mb-4" style="width:140px; height:70px;">
                        </div>
                        <form [formGroup]="formLogin" class="h-full w-full m-0 py-7 px-4">
                        <div class="w-full md:w-10 mx-auto">
                            <p style="text-align: center;">Si vous êtes un salarié interne ou un étudiant, merci de vous connectez avec votre compte Microsoft.</p>
                            <br><br><br>
                            <button pButton pRipple label="Se connecter " icon="pi pi-microsoft" (click)="toLoginMiscroft()" class="w-full p-3 text-xl p-button-primary p-button-raised"></button>        
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-footer" class="col-12 col-offset-0 flex justify-content-center flex-wrap card-container">
            <span class="font-medium ml-2">Mentions légales <sup>.</sup> Politique de confidentialité <sup>.</sup> Données personnelles </span>
        </div>
        <div class="layout-footer" class="col-12 col-offset-0 flex justify-content-center flex-wrap card-container">
            <span class="font-medium ml-2">Copyright<sup>©</sup> 2022 - Inted Management System </span>
        </div>
    </div>  
</div>
