<div class="card" *ngIf="USER">
	<h5>Liste des matchings en cours pour <strong>{{USER.firstname | titlecase}} {{USER.lastname | uppercase}}</strong></h5>
	<p-table #dt1 rowExpandMode="single" [value]="matching" dataKey="_id" [rows]="5" [rowHover]="true"
		[globalFilterFields]="['cv_id.user_id.lastname','cv_id.user_id.firstname']" styleClass="p-datatable-gridlines"
		[paginator]="true" [pageLinks]="5" responsiveLayout="scroll">

		<ng-template pTemplate="caption">
			<div class="flex justify-content-between flex-column sm:flex-row">
				<span class="p-input-icon-left mb-3">
					<i class="pi pi-search"></i>
					<input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
						placeholder="Recherche" />
				</span>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th style="width: 3rem"></th>
				<th pSortableColumn="cv_id.user_id.lastname" style="text-align:center">
					Entreprise <p-sortIcon field="cv_id.user_id.lastname"></p-sortIcon>
				</th>
				<th pSortableColumn="taux" style="text-align:center">
					Commercial <p-sortIcon field="taux"></p-sortIcon>
				</th>
				<th style="text-align:center">
					Type Matching
				</th>
				<th style="text-align:center">
					Statut du Matching
				</th>
				<th pSortableColumn="date_creation" style="text-align:center">
					Date du matching <p-sortIcon field="date_creation"></p-sortIcon>
				</th>
				<th>
					Action
				</th>
		</ng-template>
		<ng-template pTemplate="body" let-match let-expanded="expanded">
			<tr>
				<td>
					<button type="button" pButton pRipple [pRowToggler]="match"
						class="p-button-text p-button-rounded p-button-plain"
						[icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
				</td>
				<td>
					{{ match.offre_id.entreprise_name | titlecase}}
				</td>
				<td *ngIf="match?.matcher_id?._id!=match?.cv_id?.user_id?._id">
					{{ match.matcher_id?.firstname | titlecase}} {{ match.matcher_id?.lastname | uppercase}}
				</td>
                <td *ngIf="match?.matcher_id?._id==match?.cv_id?.user_id?._id">
					&nbsp;
				</td>
				<td>
					{{match.type_matching}}
				</td>
				<td>
					{{match.statut}}
				</td>
				<td>
					{{match.date_creation|date:medium}}
				</td>
				<td>
					<i *ngIf="match.statut=='En cours'" pTooltip="Approuvez le contrat" style="margin-left: 2%; cursor: pointer;" class="pi pi-check"
						(click)="Validate(match)" aria-hidden="true"></i>
				</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="rowexpansion" let-match>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <p-table responsiveLayout="scroll" *ngIf="AllowRemarque">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Remarque</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td>{{match.remarque}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
		</ng-template>
	</p-table>
</div>