<p-toast></p-toast>
<div class="grid">
    <div class="col-6 lg:col-6 xl:col-3" *ngIf="showFilterByCampus">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Nombre d'étudiants du campus {{ filterByCampus.libelle }} {{ filterByAS ? filterByAS : '' }}</span>
                    <div class="text-900 font-medium text-xl">{{ etudiantsByCampus.length }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-home text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 lg:col-6 xl:col-3" *ngIf="showFilterByGroupe">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"> Nombre d'étudiants du groupe {{ filterByGroupe.abbrv }} {{ filterByAS ? filterByAS : '' }}
                    </span>
                    <div class="text-900 font-medium text-xl">{{ etudiantsByGroupe.length }}</div>
                </div>

                <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-clock text-pink-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 lg:col-6 xl:col-3" *ngIf="showNumbersByAS">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Nombre d'étudiants de {{ filterByAS }}
                    </span>
                    <div class="text-900 font-medium text-xl">{{ etudiantsByAS.length }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-calendar text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 lg:col-6 xl:col-3" *ngIf="showNumbersByType">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Nombre d'étudiants {{ filterByType ? 'alternants' : 'initials' }} {{ filterByGroupe ? filterByGroupe.abbrv : '' }} {{ filterByAS ? filterByAS : '' }}
                    </span>
                    <div class="text-900 font-medium text-xl">{{ etudiantsByType.length }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-user text-green-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- affichage de la partie upload de fichier -->
<div class="col-12">
    <input type="file" (change)="FileUploadPC($event.target.files)" id="selectedFile" #selectedFile
        style="display: none;" pInputFile />
</div>
<div class="grid">
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
    </p-confirmDialog>
    <!-- Partie ajout de documents -->
    <div class="col-12" *ngIf="showUploadFile!=null">
        <div class="card">
            <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showUploadFile = null"
                aria-hidden="true"> </i>
            <h3 *ngIf="showUploadFile.user_id && users[showUploadFile.user_id]" class="text-center"
                style="font-weight: bold;">Ajouter un document à : {{
                users[showUploadFile.user_id]?.firstname }} {{
                users[showUploadFile.user_id]?.lastname | uppercase }}</h3>
            <form class="col-8 col-offset-2">
                <div class="p-grid">
                    <div style="margin-left: 32%;">
                        <p-fileUpload (uploadHandler)="FileUpload($event)" mode="basic"
                            chooseLabel="Ajouter un Document" customUpload="true" fileLimit="1"
                            accept=".docx,.pdf,.doc,.jpg,.png,.jpeg" maxFileSize="10000000" [auto]="true" #fileInput>
                        </p-fileUpload>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- partie Ajouter cv-->
    <div class="col-12" *ngIf="showCV!=null">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="showCV = null"
                aria-hidden="true"> </i>
            <h3 *ngIf="showCV.user_id" class="text-center" style="font-weight: bold;">Ajouter/Modifier un CV à : {{
                showCV.user_id?.firstname }} {{
                showCV.user_id?.lastname | uppercase }}
            </h3>
            <div class="col-12 p-fluid p-formgrid grid">
                <div class="field col-12">
                    <p-fileUpload #fileUpload mode="basic" accept="application/pdf" maxFileSize="1000000"
                        [customUpload]="true" (uploadHandler)="onUploadPDF($event,fileUpload)" [auto]="true"
                        chooseLabel="Importer un CV sous PDF">
                    </p-fileUpload>
                </div>
                <div class="col-12 md:col-6 field">
                    <label>Langues:</label>
                    <p-multiSelect [options]="languesList" placeholder="Choissisez la langue" [(ngModel)]="languesCV">
                    </p-multiSelect>
                </div>
                <div class="col-12 md:col-6 field">
                    <label>URL Vidéo:</label>
                    <input pInputText placeholder="Exemple: Linkedin, google drive ou youtube" [(ngModel)]="urlVideo"/>
                </div>
                <button type="button" class="mb-2" (click)="onAddSkill()" pButton
                    label="Ajouter une compétences"></button>
                <div class="field col-12 grid" *ngFor="let skill of skillsCV; let i = index">
                    <div class="field col-5 grid">
                        <label>Compétences N°{{i+1}}</label>
                        <input pInputText [(ngModel)]="skillsCV[i].skill" />
                    </div>
                    <div class="field col-6 grid">
                        <label>Niveau</label>
                        <input pInputText placeholder [(ngModel)]="skillsCV[i].niveau" />
                    </div>
                    <div class="col-12 md:col-1">
                        <i style="cursor: pointer;" class="pi pi-trash" (click)="deleteSkill(i)" aria-hidden="true"></i>
                    </div>
                </div>
                <button type="button" (click)="onAddExp()" class="mb-2" pButton
                    label="Ajouter une expériences"></button>
                <div class="field col-12 grid" *ngFor="let exp of experiencesCV; let i = index">
                    <div class="field col-12 md:col-5 grid">
                        <label>Expériences N°{{i+1}}</label>
                        <input pInputText [(ngModel)]="experiencesCV[i].skill" />
                    </div>
                    <div class="field col-6 md:col-3 grid">
                        <label>Date Debut</label>
                        <input pInputText placeholder type="date" [(ngModel)]="experiencesCV[i].date_debut" />
                    </div>
                    <div class="field col-6 md:col-3 grid">
                        <label>Date Fin</label>
                        <input pInputText placeholder type="date" [(ngModel)]="experiencesCV[i].date_fin" />
                    </div>
                    <div class="col-12 md:col-1">
                        <i style="cursor: pointer;" class="pi pi-trash" (click)="deleteExp(i)" aria-hidden="true"></i>
                    </div>
                </div>
                <button type="button" (click)="submitCV()" class="mb-2" pButton label="Enregister le CV"></button>
            </div>
        </div>
    </div>
    <!-- partie Voir/Ajouter des payements -->
    <div class="col-12" *ngIf="showPayement!=null">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;"
                (click)="showPayement = null" aria-hidden="true"> </i>
            <h3 *ngIf="showPayement.user_id" class="text-center" style="font-weight: bold;">Ajouter un paiement de : {{
                showPayement.user_id?.firstname }} {{
                showPayement.user_id?.lastname | uppercase }}
            </h3>
            <form class="p-fluid p-formgrid grid" [formGroup]="formUpdateDossier">
                <div class="field col-12 md:col-6">
                    <label For="statut">Statut Dossier</label>
                    <p-multiSelect [options]="statutDossier" formControlName="statut_dossier">
                    </p-multiSelect>
                </div>
            </form>
            <div class="p-fluid p-formgrid grid">
                <div class="col-12 grid" *ngFor="let data of payementList; let i = index">
                    <!--<p style="font-style:italic">Paiement n°{{i+1}}</p>-->
                    <div class="field col-12 md:col-4">
                        <label>Type de paiement:</label><br>
                        <input pInputText type="text" (change)="changeMontant(i,$event,'type')"
                            [(value)]="payementList[i]['type']" placeholder="CB" class="form-control">
                    </div>
                    <div class="field col-12 md:col-3">
                        <label>Montant:</label><br>
                        <input type="number" (change)="changeMontant(i,$event,'montant')"
                            [(value)]="payementList[i]['montant']" placeholder="20" value="0" pInputText>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label>Date du paiement:</label><br>
                        <input type="date" (change)="changeMontant(i,$event,'date')" [(value)]="payementList[i]['date']"
                            pInputText>
                    </div>
                    <div class="field col-12 md:col-1">
                        <label>&nbsp;</label><br>
                        <button type="button" pButton icon="pi pi-times" (click)="deletePayement(i)"
                            styleClass="p-button-danger"></button>
                    </div>
                    <!--<div class="field col-12 md:col-2">
                        <i class="pi pi-trash" (click)="deletePayement(i)" aria-hidden="true"></i>
                    </div>-->
                </div>
                <div class="col-6">
                    <button type="button" (click)="onAddPayement()" pButton label="Ajouter un paiement"></button>
                </div>
                <div class="col-6">
                    <button pButton label="Valider" (click)="addNewPayment();onDossierUpdate()"></button>
                </div>
            </div>

        </div>
    </div>
    <!-- Formulaire de modification d'un étudiant -->
    <div class="col-12" *ngIf="showFormUpdateUser">
        <div class="card">

            <h4 *ngIf="etudiantToUpdate.user_id" style="text-align: center;">Modification de
                {{etudiantToUpdate.user_id.firstname}}
                {{etudiantToUpdate.user_id.lastname}} </h4>
            <div style="text-align: center;">
                <small style="text-align: center; font-size: 12px;">Tous les champs marqués d'un astérix <span
                        style="color: red;"> * </span> sont obligatoires</small>
            </div>

            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                (click)="showFormUpdateUser = false; formUpdateUser.reset()" aria-hidden="true"></i>

            <form class="p-fluid p-formgrid grid" [formGroup]="formUpdateUser" (ngSubmit)="onUpdateUser()">
                <div class="field col-12 md:col-6">
                    <label For="lastname">Nom de famille <span style="color: red;"> * </span></label>
                    <input formControlName="lastname" pInputText type="text" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="firstname">Prénom <span style="color: red;"> * </span></label>
                    <input formControlName="firstname" pInputText type="text" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="email_ims">Email IMS <span style="color: red;"> * </span></label>
                    <input formControlName="email_ims" pInputText type="text" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="email_perso">Email Personnel <span style="color: red;"> * </span></label>
                    <input formControlName="email_perso" pInputText type="text" />
                </div>

                <div>
                    <button pButton label="Valider" type="submit" [disabled]="formUpdateUser.invalid"></button>
                </div>
            </form>

        </div>
    </div>

    <!-- Formulaire de modification d'un étudiant -->
    <div class="col-12" *ngIf="showFormUpdateEtudiant">
        <div class="card">

            <h4 style="text-align: center;">Modifier cet étudiant </h4>
            <div style="text-align: center;">
                <small style="text-align: center; font-size: 12px;">Tous les champs marqués d'un astérix <span
                        style="color: red;"> * </span> sont obligatoires</small>
            </div>

            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                (click)="showFormUpdateEtudiant = false; formUpdateEtudiant.reset()" aria-hidden="true"></i>

            <form class="p-fluid p-formgrid grid" [formGroup]="formUpdateEtudiant" (ngSubmit)="onUpdateEtudiant()">

                <div class="field col-12 md:col-6">
                    <label For="statut">Statut Professionel<span style="color: red;"> * </span></label>
                    <p-dropdown [options]="statutList" optionLabel="viewValue" placeholder="Choissisez un statut"
                        formControlName="statut"></p-dropdown>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="statut">Statut Dossier</label>
                    <p-multiSelect [options]="statutDossier" formControlName="statut_dossier"></p-multiSelect>
                </div>


                <div class="field col-12 md:col-6">
                    <label For="campus">Campus</label>
                    <p-dropdown [options]="dropdownCampus" placeholder="Choissisez un campus"
                        formControlName="campus_id" emptyFilterMessage="Pas de campus trouvé" filterPlaceholder="Campus"
                        filter="true">
                    </p-dropdown>
                </div>


                <div class="field col-12 md:col-6">
                    <label For="campus">Filière<span style="color: red;"> * </span></label>
                    <p-dropdown [options]="dropdownFiliere" placeholder="Choissisez une filière"
                        formControlName="filiere" emptyFilterMessage="Pas de filière trouvé" filterPlaceholder="Filière"
                        filter="true">
                    </p-dropdown>
                </div>

                <!-- liste à retirer car récupérer -->
                <div class="field col-12 md:col-6">
                    <label For="groupe">Groupe<span style="color: red;"> * </span></label>
                    <p-dropdown [options]="dropdownClasse" optionLabel="libelle" placeholder="Choissisez un groupe"
                        formControlName="classe_id" emptyFilterMessage="Pas de groupe trouvé" filterPlaceholder="Groupe"
                        filter="true">
                    </p-dropdown>
                </div>


                <div class="field col-12 md:col-6">
                    <label For="nationalite">Nationalité<span style="color: red;"> * </span></label>
                    <p-dropdown formControlName="nationalite" [options]="nationList" optionLabel="viewValue"
                        emptyFilterMessage="Pas de nationalité trouvé" filterPlaceholder="Nationalité" filter="true">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-3">
                    <label For="date_naissance">Date de naissance<span style="color: red;"> * </span></label>
                    <input formControlName="date_naissance" pInputText (onChange)="isMinorFC()" type="date" />
                </div>

                <div class="field col-12 md:col-3">
                    <label For="ville">Dernier diplome obtenu</label>
                    <input pInputText type="text" id="ville" placeholder="Licence en DEV WEB & WEB Mobile"
                        formControlName="dernier_diplome" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="annee_scolaire">Année Scolaire<span style="color: red;"> * </span></label>
                    <p-multiSelect [options]="dropdownAnneeScolaire" placeholder="Choissisez les années scolaires où cette étudiant à étudié"
                        formControlName="annee_scolaire" ></p-multiSelect>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="sosemail">Email d'une personne en cas d'urgence</label>
                    <input pInputText type="email" id="sosemail" placeholder="email@gmail.com"
                        formControlName="sos_email" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="sostel">Téléphone d'une personne en cas d'urgence</label>
                    <input pInputText type="text" id="sostel" placeholder="+33 0601234589"
                        formControlName="sos_phone" />
                </div>

                <div class="field col-12">
                    <label>ENIC NARIC :</label>
                    <p-selectButton [options]="[{label:'Non Valide',value:false},{label:'Validé',value:true}]"
                        formControlName="enic_naric"></p-selectButton>
                </div>
                <!-- Parcous Etudiant-->
                <div class="col-12 grid" *ngFor="let data of parcoursList; let i = index">
                    <!--<p style="font-style:italic">Paiement n°{{i+1}}</p>-->
                    <div class="field col-12 md:col-4">
                        <label>Diplome du parcours:</label><br>
                        <input pInputText type="text" [(value)]="parcoursList[i]['diplome']" placeholder="BTS"
                            class="form-control">
                    </div>
                    <div class="field col-12 md:col-4">
                        <label>Date du parcours:</label><br>
                        <input type="date" [(value)]="parcoursList[i]['date']" pInputText>
                    </div>
                    <div class="field col-12 md:col-2">
                        <i class="pi pi-trash" (click)="onRemoveParcours(i)" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" (click)="onAddParcours()" pButton label="Ajouter un parcours"></button>
                </div>

                <div class="field col-12">
                    <label for="remarque">Remarque</label>
                    <textarea pInputTextarea formControlName="remarque" placeholder="Remarque"></textarea>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="ine">Numéro INE</label>
                    <input pInputText type="text" id="ine" placeholder="1234567890G" formControlName="numero_INE" />
                </div>

                <div class="field col-12 md:col-6">
                    <label For="nir">Numéro NIR</label>
                    <input pInputText type="text" id="nir" placeholder="1 53 12 45 007 231 48"
                        formControlName="numero_NIR" />
                </div>


                <div *ngIf="isMinor">
                    <hr>

                    <div class="field col-12 md:col-6">
                        <label For="nrl">Nom du représentant légal</label>
                        <input pInputText type="text" id="nrl" placeholder="Doe" formControlName="nom_rl" />
                    </div>

                    <div class="field col-12 md:col-6">
                        <label For="prl">Prénom du représentant légal</label>
                        <input pInputText type="text" id="prl" placeholder="John" formControlName="prenom_rl" />
                    </div>

                    <div class="field col-12">
                        <label For="erl">Email du représentant légal</label>
                        <input pInputText type="email" id="erl" placeholder="email@gmail.com"
                            formControlName="email_rl" />
                    </div>

                    <div class="field col-12">
                        <label For="erl">Adresse du représentant légal</label>
                        <textarea pInputTextarea placeholder="15 Rue du louvre 75001 Paris, France"
                            formControlName="adresse_rl" autoResize rows="3" cols="30"></textarea>
                    </div>

                </div>

                <div class="field col-12">
                    <p-selectButton [options]="[{label:'Initial',value:false},{label:'Alternant',value:true}]"
                        formControlName="isAlternant"></p-selectButton>
                </div>
                <div class="col-12" *ngIf="!formUpdateEtudiant.value.isAlternant">
                    <p-selectButton [options]="[{label:'Pas de stage',value:false},{label:'En stage',value:true}]"
                        formControlName="isOnStage" (onChange)="changestage()"></p-selectButton>


                </div>
                <div class="field col-12">
                    <label>Est une Personne à Mobilité Réduite ?</label>
                    <p-selectButton [options]="[{label:'Oui',value:true},{label:'Non',value:false}]"
                        formControlName="isHandicaped"></p-selectButton>
                </div>

                <div class="field col-12" *ngIf="formUpdateEtudiant.value.isHandicaped">
                    <label>As t-il/elle besoin d'un suivi particulier ?</label>
                    <input pInputText type="text" placeholder="Ascenseur" formControlName="suivi_handicaped" />
                </div>

                <div>
                    <button pButton label="Valider" type="submit" [disabled]="formUpdateEtudiant.invalid"></button>
                </div>
            </form>

        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div style="float: right;">
                <button pButton label="Vider les compteurs" icon="pi pi-trash" class="p-button-danger" (click)="onTrashCount();" style="margin-right: 3px;"></button>
                <button pButton label="Ajouter" icon="pi pi-plus" (click)="onRedirect();"></button>
            </div>
            <h5>Liste des étudiants</h5>
            <p-toast></p-toast>
            <p-table #dt1 [value]="etudiants" dataKey="_id" [expandedRowKeys]="expandedRows" responsiveLayout="scroll"
                [globalFilterFields]="['statut', 'user_id', 'classe_id','user_id.lastname','user_id.firstname','custom_id','user_id.email','user_id.email_perso']"
                [rows]="10" [pageLinks]="10" [paginator]="true" rowExpandMode="single" [totalRecords]="etudiants.length"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">

                    <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Recherche" />

                    <p-dropdown [style]="{'margin':'5px'}" [options]="typeEtudiant" filter="true"
                        (onChange)="dt1.filter($event.value, 'isAlternant', 'equals'); onFilterByType($event)"
                        emptyFilterMessage="Pas de type trouvé" filterPlaceholder="Type"></p-dropdown>

                    <!--<p-multiSelect [options]="searchClass" placeholder="Choissisez les groupes"
                        (onChange)="dt1.filter($event.value, 'classe_id._id','in');" [style]="{'margin':'5px'}">
                    </p-multiSelect>-->
                    <p-dropdown [options]="searchClass" placeholder="Choisir un groupe"
                        (onChange)="dt1.filter($event.value, 'classe_id._id','equals'); onFilterbyGroup($event);" [style]="{'margin':'5px'}">
                    </p-dropdown>

                    <p-dropdown [style]="{'margin':'5px'}" [options]="filterCampus" filter="true"
                        (onChange)="dt1.filter($event.value, 'campus._id', 'equals'); onFilterByCampus($event);"
                        emptyFilterMessage="Pas de type trouvé" filterPlaceholder="Campus"></p-dropdown>

                    <p-dropdown [style]="{'margin':'5px'}" [options]="filterAnneeScolaire" filter="true"
                        (onChange)="dt1.filter($event.value, 'annee_scolaire', 'contains'); onFilterByAS($event)"
                        emptyFilterMessage="Pas de type trouvé" filterPlaceholder="Annee Scolaire"></p-dropdown>

                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="custom_id">ID <p-sortIcon field="custom_id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="user_id.firstname">Prénom & Nom<p-sortIcon field="user_id.firstname">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="statut">Statut Dossier<p-sortIcon field="statut"></p-sortIcon>
                        </th>
                        <th pSortableColumn="classe_id.abbrv">Groupe <p-sortIcon field="classe_id.abbrv"></p-sortIcon>
                        </th>
                        <th pSortableColumn="campus.libelle">Campus <p-sortIcon field="campus.libelle"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email_perso">Email perso<p-sortIcon field="email_perso"></p-sortIcon>
                        </th>
                        <th pSortableColumn="nationalite">Nationnalitée <p-sortIcon field="nationalite"></p-sortIcon>
                        </th>
                        <th>Action </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-etudiant let-expanded="expanded">
                    <tr *ngIf="etudiant.user_id">
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="etudiant"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                (click)="loadPP(etudiant)"></button>
                        </td>
                        <td style="min-width: 12rem;">{{ etudiant.custom_id }}</td>

                        <td>
                            {{ etudiant.user_id.firstname }} {{ etudiant.user_id.lastname | uppercase }}
                        </td>
                        <td style="min-width: 8rem;">{{ etudiant.statut_dossier }} {{
                            etudiant.date_dernier_modif_dossier | date : 'dd/MM hh:mm' }}</td>
                        <td style="min-width: 10rem;">{{ etudiant.classe_id?.abbrv }}</td>
                        <td style="min-width: 10rem;">{{ etudiant?.campus?.libelle }}</td>
                        <td style="min-width: 10rem;">
                            <span *ngIf="etudiant.user_id.email">{{ etudiant.user_id.email }}</span>
                            <span *ngIf="!etudiant.user_id.email" style="color: red;">X</span>
                        </td>
                        <td style="min-width: 10rem;">{{ etudiant.user_id.email_perso }}</td>
                        <td style="min-width: 10rem;">{{ etudiant.nationalite }}</td>
                        <td>
                            <i style="margin-left: 2%;" class="pi pi-pencil"
                                *ngIf="(!this.isCommercial && !this.isAdministration) || token.role=='Admin'" (click)="
                                    showFUpdate(etudiant)" pTooltip="Modifier" aria-hidden="true"
                                tooltipPosition="bottom"></i>
                            <i style="margin-left: 2%;" class="pi pi-file-pdf" (click)="
                                    showUpdateCV(etudiant)" pTooltip="Modifier le CV" aria-hidden="true"
                                tooltipPosition="bottom"></i>
                            <i style="margin-left: 2%;" *ngIf="this.isCommercial || token.role=='Admin'"
                                class="pi pi-search" (click)="findMission(etudiant.user_id._id)"
                                pTooltip="Trouver une mission" aria-hidden="true" tooltipPosition="bottom"></i>
                            <i style="margin-left: 2%;" class="pi pi-user-edit"
                                *ngIf="(!this.isCommercial && !this.isAdministration) || token.role=='Admin'" (click)="
                                    showFPersonalUpdate(etudiant.user_id,etudiant)"
                                pTooltip="Modifier les informations personnelles" aria-hidden="true"
                                tooltipPosition="bottom"></i>
                            <!--
                                                                    idEtudiantToUpdate = etudiant._id; 
                                    idUserOfEtudiantToUpdate = etudiant.user_id._id;
                                    statutToUpdate = etudiant.statut;
                                    classeToUpdate = etudiant.classe_id?.nom;
                                    nationaliteToUpdate = etudiant.nationalite;
                            -->
                            <i pTooltip="Ajouter un document" tooltipPosition="bottom" class="pi pi-upload"
                                style="margin-left: 2%;" (click)="showUploadFile=etudiant" aria-hidden="true"></i>
                            <i pTooltip="Ajouter une photo de profil" tooltipPosition="bottom" class="pi pi-id-card"
                                style="margin-left: 2%;" (click)="clickFile(etudiant)" aria-hidden="true"
                                *ngIf="!this.isCommercial"></i>
                            <i (click)="router.navigate(['/details/'+etudiant._id])" pTooltip="Suivie assiduité"
                                style="margin-left: 2%;" tooltipPosition="bottom" class="pi pi-chart-bar"
                                aria-hidden="true">
                            </i>
                            <i *ngIf="isAdministration" pTooltip="Mettre à jour les paiements" tooltipPosition="bottom"
                                style="margin-left: 2%;" class="pi pi-money-bill"
                                (click)="showPayementFC(etudiant);etudiantToUpdate=etudiant" aria-hidden="true"></i>
                            <i *ngIf="this.isAdministration" (click)="disable(etudiant)"
                                pTooltip="Désactiver l'étudiant" style="margin-left: 2%;" tooltipPosition="bottom"
                                class="pi pi-trash" aria-hidden="true"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-etudiant>
                    <tr>
                        <td colspan="10">
                            <div class="p-3">
                                <p-table responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Adresse </th>
                        <th>Date de naissance </th>
                        <th>Téléphone </th>
                        <th>Dernier diplôme obtenu </th>
                        <th>Email d'urgence </th>
                        <th>Téléphone d'urgence</th>
                        <th>Numéro INE</th>
                        <th>Numéro NIR </th>
                        <th>NB Absences</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>

                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>
                            <img alt="userPicture" [src]="imageToShow" style="max-width: 140px; max-height: 140px;">
                        </td>
                        <td *ngIf="etudiant.user_id">
                            {{ etudiant.user_id.numero_adresse }} {{etudiant.user_id.rue_adresse }} {{
                            etudiant.user_id.postal_adresse }} <br> {{ etudiant.user_id.ville_adresse }}
                            {{ etudiant.user_id.pays_adresse }}
                        </td>
                        <td>
                            {{ etudiant.date_naissance | date:'dd/MM/yyyy' }}
                        </td>
                        <td *ngIf="etudiant.user_id">
                            {{ etudiant.user_id?.phone }}
                        </td>
                        <td>
                            {{ etudiant.dernier_diplome }}
                        </td>
                        <td>
                            {{ etudiant.sos_email }}
                        </td>
                        <td>
                            {{ etudiant.sos_phone }}
                        </td>
                        <td>
                            {{ etudiant.numero_INE }}
                        </td>
                        <td>
                            {{ etudiant.numero_NIR }}
                        </td>
                        <td>
                            {{absences.length}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- <p-table responsiveLayout="scroll" *ngIf="etudiant.isAlternant">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tuteur </th>
                        <th>Adresse du tuteur </th>
                        <th>Email du tuteur </th>
                        <th>Téléphone du tuteur </th>
                        <th>Entreprise</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>

                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>
                            {{ etudiant.nom_tuteur }} {{ etudiant.prenom_tuteur }}
                        </td>
                        <td>
                            {{ etudiant.adresse_tuteur }}
                        </td>
                        <td>
                            {{ etudiant.email_tuteur }}
                        </td>
                        <td>
                            {{ etudiant.indicatif_tuteur }} {{ etudiant.phone_tuteur }}
                        </td>
                        <td>
                            {{ etudiant.entreprise }}
                        </td>
                    </tr>
                </ng-template>
            </p-table> -->

            <p-table responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ENIC NARIC </th>
                        <th>Statut Professionel </th>
                        <th>Formation</th>
                        <th>Date d'ajout IMS</th>
                        <th>Année Scolaire</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>


                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td *ngIf="etudiant.enic_naric">
                            Oui
                        </td>
                        <td *ngIf="!etudiant.enic_naric">
                            Non
                        </td>
                        <td>{{etudiant.statut}}</td>
                        <td>{{etudiant?.filiere?.titre}}</td>
                        <td>{{etudiant?.user_id?.date_creation| date:'dd/MM/yyyy'}}</td>
                        <td>{{etudiant?.annee_scolaire}}</td>
                    </tr>

                </ng-template>
            </p-table>

            <p-table responsiveLayout="scroll" *ngIf="nom_rl">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Représentant légal </th>
                        <th>Adresse du Représentant légal </th>
                        <th>Email du représentant légal </th>
                        <th>Téléphone du représentant légal </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>


                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>
                            {{ etudiant.nom_rl }} {{ etudiant.prenom_rl }}
                        </td>
                        <td>
                            {{ etudiant.adresse_rl }}
                        </td>
                        <td>
                            {{ etudiant.email_rl }}
                        </td>
                        <td>
                            {{ etudiant.indicatif_rl }} {{ etudiant.phone_rl }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- Informations de prospects -->

            <p-table responsiveLayout="scroll" *ngIf="prospects && prospects[etudiant.user_id]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date d'inscription </th>
                        <th>Document manquant </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>


                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td> {{ prospects[etudiant?.user_id]?.date_traitement | date:'dd/MM/yyyy' }} </td>
                        <td> {{ prospects[etudiant?.user_id]?.document_manquant }} </td>
                    </tr>
                </ng-template>
            </p-table>

            <!-- Partie dedié à l'affichage des documents -->

            <div class="col-12">


                <div *ngIf="ListDocuments==null || ListDocuments.length==0" style="margin: 0 auto;
                                        width: auto;">
                    <h4>Aucun document n'a été chargé !</h4>
                </div>


                <div *ngFor="let file of ListDocuments; index as i" class="grid">

                    <div class="field col-10 " style="border-style: 2;border: 2em;border-bottom: red;">
                        <i class="pi pi-file-pdf " style="font-size: 20px;cursor: pointer;"
                            pTooltip="Visualiser dans un nouvel onglet" (click)="VisualiserFichier(etudiant._id,i)"></i>
                        <em (click)="VisualiserFichier(etudiant._id,i)" [id]="i" style="cursor: pointer;"
                            pTooltip=" Visualiser dans un nouvel onglet">
                            {{ ListDocuments[i] }}
                        </em>
                    </div>
                    <div class="field col-1">
                        <i class="pi pi-download" pTooltip="Télécharger le fichier"
                            style=" float:right;cursor: pointer;font-size: 15px;color: rgb(3, 54, 237);"
                            (click)="downloadFile(etudiant._id,i)"></i>
                    </div>
                    <div class="field col-1">
                        <i class="pi pi-times" style=" float:left;font-size: 15px;cursor:pointer;color: red;"
                            pTooltip="Supprimer le fichier du dossier" (click)="deleteFile(etudiant._id,i)"
                            aria-hidden="true"> </i>
                    </div>

                </div>
            </div>

            <h5 style="color: red; text-align: center;">Payements</h5>
            <p-table responsiveLayout="scroll" *ngIf="etudiant.payment_reinscrit" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Type du Paiement</th>
                        <th>Montant du Paiement</th>
                        <th>Date du Paiement</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-prospect>

                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr *ngFor="let payement of etudiant.payment_reinscrit;">
                        <td>{{ payement.type }}</td>
                        <td>{{ payement.montant }}</td>
                        <td>{{ payement.date | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>