<p-toast></p-toast>
<div class="grid">

    <!-- Formulaire de modification d'un campus -->
    <div class="col-12" *ngIf="campusToUpdate">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                (click)="campusToUpdate=null;campusFormUpdate.reset()" aria-hidden="true"> </i>
            <h4 style="text-align: center;">Modifier un campus</h4>
            <form class="p-fluid p-formgrid grid" [formGroup]="campusFormUpdate" (ngSubmit)="editCampus()">
                <div class="field col-12 md:col-6">
                    <label for="libelle">Libellé</label>
                    <input pInputText id="libelle" type="text" formControlName="libelle" placeholder="Nom du campus" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="adress">Adresse</label>
                    <input pInputText id="adress" type="text" formControlName="adresse"
                        placeholder="Adresse du  campus" />
                </div>
                <div class="field col-12 md:col-12 grid">
                    <div class="field col-12 md:col-6 grid" *ngFor="let data of salles; let i = index">
                        <h5> Salle n°{{i+1}}: </h5>
                        <div class="col-11">
                            <label>Nom de la salle:</label><br>
                            <input type="text" (change)="changeValue(i, $event.target.value)" [(value)]="salles[i]"
                                placeholder="Salle {{i+1}}" pInputText>
                        </div>
                        <div class="col-1">
                            <i class="pi pi-trash" (click)="salles.splice(i,1)" aria-hidden="true"></i>
                        </div>
                    </div>
                    <button type="button" (click)="onAddSalle()" pButton label="Ajouter une salle"></button>
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Modifier" type="submit" [disabled]="campusFormUpdate.invalid"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 card mb-2" *ngIf="showEcoles">
        <div style="text-align: right;">
            <i class="pi pi-times-circle" style=" font-size: 20px; color: red; cursor: pointer;"
                (click)="showEcoles=null;addEcoleForm.reset()" aria-hidden="true"> </i>
        </div>

        <form class="p-fluid p-formgrid grid mb-2" [formGroup]="addEcoleForm" (ngSubmit)="addEcole()"
            *ngIf="addEcoleForm.value._id">
            <div class="field col-12 md:col-6">
                <label for="libelle">Ecole</label>
                <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="dropdownEcole"
                    formControlName="ecole_id">
                </p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label for="libelle">Email</label>
                <input pInputText id="libelle" type="text" formControlName="email" placeholder="Ex: xxx@gmail.com" />
            </div>
            <button pButton label="Ajouter une école" type="submit" [disabled]="addEcoleForm.invalid"></button>
        </form>
        <p-table dataKey="_id" [value]="showEcoles.ecoles" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="ecole_id.titre" style="text-align: center;"> Ecole <p-sortIcon
                            field="ecole_id.titre"></p-sortIcon></th>
                    <th pSortableColumn="ecole_id.titre" style="text-align: center;"> Libellé <p-sortIcon
                            field="ecole_id.titre"></p-sortIcon></th>
                    <th pSortableColumn="email" style="text-align: center;"> Email <p-sortIcon
                            field="email"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ecole>
                <tr>
                    <td>
                        {{ecole?.ecole_id?.titre}}
                    </td>
                    <td>
                        {{ecole?.ecole_id?.titre}} - {{showEcoles?.libelle}}
                    </td>
                    <td>
                        {{ecole?.email}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-tabView style="width: 100%;">
        <p-tabPanel header="Ajouter" style="width: 100%;">
            <app-add-campus (createCampus)="onAddCampus($event)"></app-add-campus>
        </p-tabPanel>
        <p-tabPanel header="Liste" [selected]="true" style="width: 100%;">
            <p-table #dt1 *ngIf="campuss" [value]="campuss" rowExpandMode="single" dataKey="_id" [rows]="8"
                [rowHover]="true" [paginator]="true" [pageLinks]="5" rowExpandMode="single"
                [globalFilterFields]="['libelle','email','site','ville','pays']" responsiveLayout="scroll"
                styleClass="p-datatable-gridlines">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>

                        </th>
                        <th pSortableColumn="libelle" style="text-align: center;"> Libellé <p-sortIcon
                                field="libelle"></p-sortIcon></th>
                        <th pSortableColumn="adresse" style="text-align: center;"> Adresse <p-sortIcon
                                field="adresse"></p-sortIcon></th>
                        <th pSortableColumn="email" style="text-align: center;"> Ecole(s) <p-sortIcon
                                field="email"></p-sortIcon></th>
                        <th pSortableColumn="salles.length" style="text-align: center;"> Salle <p-sortIcon
                                field="salles.length"></p-sortIcon></th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="rowData"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 12rem;">
                            {{rowData.libelle}}
                        </td>
                        <td style="min-width: 12rem;">
                            {{ rowData.adresse }}
                        </td>
                        <td style="min-width: 14rem;">
                            <app-read-more [string]="showEcolesStr(rowData)"></app-read-more>
                        </td>
                        <td>
                            {{rowData.salles.length}}
                        </td>
                        <td style="min-width: 10rem;">
                            <i pTooltip="Ajouter une école" tooltipPosition="bottom" class="pi pi-building "
                                (click)="onAddEcole(rowData)" aria-hidden="true"></i>
                            <i pTooltip="Modifier" tooltipPosition="bottom" class="pi pi-pencil ml-2"
                                (click)="showModify(rowData)" aria-hidden="true"></i>
                            <i pTooltip="Supprimer" tooltipPosition="bottom" class="pi pi-trash ml-2"
                                (click)="delete(rowData)" aria-hidden="true"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData>
                    <td colspan="6">
                        <p-table dataKey="_id" [value]="rowData.ecoles" styleClass="p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="ecole_id.titre" style="text-align: center;"> Ecole <p-sortIcon
                                            field="ecole_id.titre"></p-sortIcon></th>
                                    <th pSortableColumn="ecole_id.titre" style="text-align: center;"> Libellé
                                        <p-sortIcon field="ecole_id.titre"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="email" style="text-align: center;"> Email <p-sortIcon
                                            field="email"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-ecole>
                                <tr>
                                    <td>
                                        {{ecole?.ecole_id?.titre}}
                                    </td>
                                    <td>
                                        {{ecole?.ecole_id?.titre}} - {{rowData?.libelle}}
                                    </td>
                                    <td>
                                        {{ecole?.email}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </td>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>

</div>