<!-- Formulaire de modification d'une matière -->
<div *ngIf="showFormModifMatiere" class="grid">
  <div class="xl:col-8 xl:col-offset-2 col-12">
    <p-card>
      <div class="p-grid">
        <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showFormModifMatiere = false"> </i>
        <form class="col-8 col-offset-2" [formGroup]="formModifMatiere" (ngSubmit)="onModifMatiere()">

          <h3>Modifier cette matière</h3>
          <div class="p-grid">

            <div class="ui-g-12 ui-md-12">
              <label>Nom de la matière</label>
              <input type="text" formControlName="nom" class="form-control col-12" placeholder="Ex: Cours de PHP"
                pInputText>
            </div>

            <div class="ui-g-6 ui-md-6">
              <label>Formation</label>
              <span>
                <p-dropdown [options]="formationList" optionLabel="titre" optionValue="_id"
                  formControlName="formation_id">
                </p-dropdown>
              </span>
            </div>

            <div>
              <button pButton type="submit" label="Modifier la matiere" [disabled]="formModifMatiere.invalid"
                style="margin-left: 77%;"></button>
            </div>

          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>




<!-- Formulaire d'ajout d'un nouveau formateur -->
<div *ngIf="showFormAddMatiere" class="grid">
  <div class="xl:col-8 xl:col-offset-2 col-12">
    <p-card>
      <div class="p-grid">
        <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showFormAddMatiere = false"> </i>
        <form class="col-8 col-offset-2" [formGroup]="formAddMatiere">

          <h3>Ajouter une matière</h3>
          <div class="p-grid">

            <div class="ui-g-12 ui-md-12">
              <label>Nom de la matière</label>
              <input type="text" formControlName="nom" class="form-control col-12" placeholder="Ex: Cours de PHP"
                pInputText>
            </div>
            
            <div class="ui-g-6 ui-md-6">
              <label>Formation</label>
              <span>
                <p-dropdown [options]="formationList" optionLabel="titre" optionValue="_id"
                  formControlName="formation_id">
                </p-dropdown>
              </span>
            </div>
      
            <div>
              <button pButton type="submit" label="Ajouter la matiere" [disabled]="formAddMatiere.invalid"
                style="margin-left: 78%;" (click)="onAddMatiere(); showFormModifMatiere = false;"></button>
            </div>

          </div>
        </form>
      </div>
    </p-card>
  </div>
</div>




<!-- Table d'affichage de la liste des matières -->
<div class="grid">
  <div class="col-10 col-offset-1">
    <!-- Bouton d'ajout d'une nouvelle matière -->
    <button pButton (click)="showFormAddMatiere = true; showFormModifMatiere = false;" type="button"
      label="Nouvelle matière" style="float: right"></button>

    <h3>Liste des Matières</h3>
    <div class="col-12 card shadow-lg my-5">

      <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
        placeholder="Recherche" />

      <p-table #dt1 selectionMode="single" [value]="matieres" responsiveLayout="scroll" [rows]="5" [paginator]="true"
        [pageLinks]="5" [responsive]="true" [totalRecords]="matieres.length" [filterDelay]="0"
        [globalFilterFields]="['nom']">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nom" scope="col">Nom <p-sortIcon field="nom"></p-sortIcon>
            </th>
            <th pSortableColumn="formation_id" scope="col">Diplômes<p-sortIcon field="formation_id"></p-sortIcon>
            </th>
            <th scope="col">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-matiere>
          <tr>
            <td>{{ matiere.nom }}</td>
            <td *ngIf="formationDic[matiere.formation_id]!=undefined">{{ formationDic[matiere.formation_id].titre }}</td>
            <td><i pTooltip="Modifier" tooltipPosition="bottom" class="pi pi-pencil"
                (click)="showFormModifMatiere = true; idMatiereToUpdate = matiere._id; onGetbyId(matiere); showFormAddMatiere = false;"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>