<div class="grid col-12 card">
    <div class="grid col-12">
        <h1 class="col-12" style="text-align: center;">Préférences</h1>
        <div class="col-2">
            <label>Source:</label><br>
            <p-multiSelect filter="true" placeholder="Source" [options]="filterSource" autoWidth="false" [style]="{'width':'100%'}"
                (onChange)="source=$event.value;updateFilter()" emptyFilterMessage="Pas de source trouvé"
                filterPlaceholder="Source">
            </p-multiSelect>
        </div>
        <div class="col-3">
            <label>Rentrée scolaire:</label><br>
            <p-multiSelect filter="true" placeholder="Rentrée scolaire" [options]="filterRentree" autoWidth="false" [style]="{'width':'100%'}"
                (onChange)="rentree_scolaire=$event.value;updateFilter()"
                emptyFilterMessage="Pas de rentrée scolaire trouvé" filterPlaceholder="Source">
            </p-multiSelect>
        </div>
        <div class="col-3">
            <label>Formation:</label><br>
            <p-multiSelect filter="true" placeholder="Formation" [options]="filterFormation" autoWidth="false" [style]="{'width':'100%'}"
                (onChange)="formation=$event.value;updateFilter()" emptyFilterMessage="Pas de formation trouvé"
                filterPlaceholder="Formation">
            </p-multiSelect>
        </div>
        <div class="col-2">
            <label>Ecole:</label><br>
            <p-multiSelect filter="true" placeholder="Ecole" [options]="filterEcole" autoWidth="false" [style]="{'width':'100%'}"
                (onChange)="ecole=$event.value;updateFilter()" emptyFilterMessage="Pas d'école trouvé"
                filterPlaceholder="Ecole">
            </p-multiSelect>
        </div>
        <div class="col-2">
            <label>Campus:</label><br>
            <p-multiSelect filter="true" placeholder="Campus" [options]="filterCampus" autoWidth="false" [style]="{'width':'100%'}"
                (onChange)="campus=$event.value;updateFilter()" emptyFilterMessage="Pas de campus trouvé"
                filterPlaceholder="Campus">
            </p-multiSelect>
        </div>

    </div>
    <div class="col-12 grid">
        <div class="col-6">
            <label>Pays:</label><br>
            <p-multiSelect filter="true" placeholder="Pays" [options]="filterPays" autoWidth="false" [style]="{'width':'100%'}"
                (onChange)="pays=$event.value;updateFilter()" emptyFilterMessage="Pas de pays trouvé"
                filterPlaceholder="Pays">
            </p-multiSelect>
        </div>
        <div class="col-6">
            <label>Date:</label><br>
            <p-calendar (onChange)="dates=$event.value;updateFilter()" selectionMode="range" autoWidth="false" [style]="{'width':'100%'}"></p-calendar>
        </div>
    </div>
    <div class="col-12 grid">
        <div class="col-1">
            &nbsp;
        </div>
        <div class="col-2">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Nombre total des prospects</span>
                        <div class="text-900 font-medium text-xl">{{ stats.tt_prospects }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-users text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"> Nombre total des Admis
                        </span>
                        <div class="text-900 font-medium text-xl">{{ stats.tt_admis }}</div>
                    </div>

                    <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-clock text-pink-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Nombre total des Paiements
                        </span>
                        <div class="text-900 font-medium text-xl">{{ stats.tt_paiements }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-calendar text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Nombre total des Visa
                        </span>
                        <div class="text-900 font-medium text-xl">{{ stats.tt_visa }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-user text-green-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Nombre total des étudiants
                        </span>
                        <div class="text-900 font-medium text-xl">{{ stats.tt_etudiants }}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                        [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-user text-green-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-12 grid">
        <div class="col-3">
            <label>Phase de candidature:</label><br>
            <p-multiSelect filter="true" placeholder="Choisissez une phase de candidature" [options]="filterPhase" autoWidth="false" [style]="{'width':'100%'}"
                (onChange)="phase_candidature=$event.value;updateFilter()" emptyFilterMessage="Pas de phase trouvé"
                filterPlaceholder="Phase">
            </p-multiSelect>
        </div>
        <div class="col-3 grid">
            <h5 class="col-12" style="text-align: center;">Orientation Prospects : {{ stats.tt_orientation }}</h5>
            <h5 class="col-12" style="text-align: center;">Admission Prospects : {{ stats.tt_admission }}</h5>
            <h5 class="col-12" style="text-align: center;">Paiements : {{ stats.tt_paiements }}</h5>
            <h5 class="col-12" style="text-align: center;">Accompagnement consulaire : {{ stats.tt_consulaire }}</h5>
        </div>
        <div class="col-6 grid card">
            <h3 class="col-12" style="text-align: center;">"Nombre" par "Phase" </h3>
            <p-chart class="col-12" type="bar" [data]="basicData" [options]="horizontalOptions" #chart></p-chart>
        </div>
    </div>
</div>