<div class="grid">
  
        <div class="card">
            <div *ngIf="etatForm!=3">
               
                <div style="text-align: center;">
                    <small>Tous les champs marqués d'un astérisque <span style="color: red;"> * </span> sont
                        obligatoires</small><br>
                </div>
             
            </div>
            <form class="col-12 p-fluid p-formgrid grid" [formGroup]="RegisterForm">
                <div class=" col-12 grid" *ngIf="etatForm==1">
                    <h3 class="col-12 custom-h4"> Informations de la société</h3>
                    <div class="grid" style="color: black;font-weight:normal">
                            <div class="p-fluid p-formgrid grid">
                                <div  class="field col-12 md:col-4">
                                    <label For="nomSoc">Nom de la société : <span style="color: red;"> * </span></label>
                                    <input pInputText id="nomSoc" type="text" formControlName="nomSoc"
                                        />
                                    <div *ngIf="nomSoc.invalid && (nomSoc.touched || nomSoc.dirty)">
                                        <span style="color: red;" class="error" *ngIf="nomSoc.errors?.required">* Le nom
                                            est obligatoire</span>
                                        <span style="color: red;" class="error" *ngIf="nomSoc.errors?.pattern">* Seul
                                            les lettres sont acceptés</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="typeSoc">Type de la société : <span style="color: red;"> *
                                        </span></label>
                                    <p-dropdown [options]="typeSoc" optionLabel="value" formControlName="type">
                                    </p-dropdown>
                                    <div *ngIf="type.invalid && (type.touched || type.dirty)">
                                        <span style="color: red;" class="error" *ngIf="type.errors?.required">* Le type
                                            de société est obligatoire</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="email_partenaire">Email : <span style="color: red;"> * </span></label>
                                    <input pInputText id="phone_partenaire" type="email"
                                        formControlName="email_partenaire"  />
                                    <div
                                        *ngIf="(email_partenaire.invalid || emailExist) && (email_partenaire.touched || email_partenaire.dirty)">
                                        <span style="color: red;" class="error" *ngIf="email_partenaire.errors">*
                                            L'email est obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="emailExist">*
                                            L'email est déjà utilisée.</span>
                                    </div>
                                </div>
                                <div class="col-12 grid">

                                <div class="field col-12 md:col-4">
                                    <label For="indicatifPhone">Indicatif : <span style="color: red;"> * </span></label>
                                    <input pInputText id="indicatifPhone" type="text" formControlName="indicatifPhone"
                                        />
                                    <div
                                        *ngIf="indicatifPhone.invalid && (indicatifPhone.touched || indicatifPhone.dirty)">
                                        <span style="color: red;" class="error"
                                            *ngIf="indicatifPhone.errors?.required">* L'indicatif est obligatoire</span>
                                        <span style="color: red;" class="error" *ngIf="indicatifPhone.errors?.pattern">*
                                            Seul les chiffres sont acceptés</span>
                                    </div>
                                </div>
                                
                                <div class="field col-12 md:col-4">
                                    <label For="phone_partenaire">Numéro de téléphone : <span style="color: red;">
                                            *</span></label>
                                    <input pInputText id="phone_partenaire" type="text"
                                        formControlName="phone_partenaire"
                                        />
                                    <div
                                        *ngIf="phone_partenaire.invalid && (phone_partenaire.touched || phone_partenaire.dirty)">
                                        <span style="color: red;" class="error"
                                            *ngIf="phone_partenaire.errors?.required">* Le téléphone est
                                            obligatoire.</span>
                                        <span style="color: red;" class="error"
                                            *ngIf="phone_partenaire.errors?.minlength || phone_partenaire.errors?.maxlength">*Le
                                            téléphone doit être composé:+33 612345678.</span>
                                    </div>
                                </div>  
                            </div>  
                              <div class="col-12 grid">
                                <div class="field col-12 md:col-4">
                                    <label For="indicatifWhatsapp">Indicatif : </label>
                                    <input pInputText id="indicatifWhatsapp" type="text"
                                        formControlName="indicatifWhatsapp"
                                         />
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="whatsApp">Numéro whatsapp : </label>
                                    <input pInputText id="whatsApp" type="text" formControlName="whatsApp"
                                        />
                                    <div *ngIf="whatsApp.invalid && (whatsApp.touched || whatsApp.dirty)">
                                        <span style="color: red;" class="error" *ngIf="whatsApp.errors?.required">* Le
                                            numéro WhatsApp est obligatoire.</span>
                                        <span style="color: red;" class="error"
                                            *ngIf="whatsApp.errors?.minlength || whatsApp.errors?.maxlength">* Le numéro
                                            WhatsApp doit être composé: 0612345678.</span>
                                        <span style="color: red;" class="error" *ngIf="whatsApp.errors?.pattern">* Seul
                                            les chiffres sont acceptés</span>
                                    </div>
                                </div>
                            </div>
                                <div class="field col-12 md:col-4">
                                    <label For="Services">Secteur d'activité : <span style="color: red;"> *
                                        </span></label>
                                    <textarea pInputTextarea type="text" formControlName="Services"
                                        ></textarea>
                                    <div *ngIf="Services.invalid && (Services.touched || Services.dirty)">
                                        <span style="color: red;" class="error" *ngIf="Services.errors?.required">*
                                            Secteur d'activité est obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="Services.errors?.pattern">*
                                            Secteur d'activité semble incorrect.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="adresse_ss">Adresse du siège social <span style="color: red;"> *
                                        </span></label>
                                    <input pInputText id="adresse_ss" type="text" formControlName="adresse_ent"
                                         />
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="postal_ss">Code postal <span style="color: red;"> * </span></label>
                                    <input pInputText id="postal_ss" type="text" formControlName="code_postale_ent"
                                         />
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="ville_ss">Ville <span style="color: red;"> * </span></label>
                                    <input pInputText id="ville_ss" type="text" formControlName="ville_ent"
                                         />
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label>Site Web</label>
                                    <input pInputText type="text" formControlName="site_web"
                                        />
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label>Facebook</label>
                                    <input pInputText type="text" formControlName="facebook"
                                         />
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label>Localisation<span style="color: red;"> * </span></label>
                                    <p-dropdown [options]="paysList" formControlName="localisation"
                                         optionLabel="value" optionValue="value"
                                        emptyFilterMessage="Pas de pays trouvé" filter="true">
                                    </p-dropdown>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="Pays">Pays d'activité : <span style="color: red;"> * </span></label>
                                 
                                    <p-multiSelect formControlName="Pays" [options]="paysList" 
                                        optionLabel="value" optionValue="value" emptyFilterMessage="Pas de pays trouvé"
                                         filter="true" optionDisabled="actif"></p-multiSelect>
                                    <div *ngIf="Pays.invalid && (Pays.touched || Pays.dirty)">
                                        <span style="color: red;" class="error" *ngIf="Pays.errors?.required">* Les pays
                                            d'activités sont obligatoires.</span>
                                        <span style="color: red;" class="error" *ngIf="Pays.errors?.pattern">* Les pays
                                            d'activités sont incorrect.</span>
                                    </div>
                                </div>
                                
                                <h3 class="col-12 custom-h3"> Informations représentant</h3>
                                <div class="field col-12 md:col-4">
                                            <label For="civilite">Civilité: <span style="color: red;"> * </span></label>
                                            <p-dropdown formControlName="civilite" [options]="civiliteList" optionLabel="value"></p-dropdown>
                                        </div>
                                        <div class="field col-12 md:col-4">
                                            <label For="lastname">Nom  : <span style="color: red;"> * </span></label>
                                            <input pInputText id="lastname" type="text" formControlName="lastname"  />
                                        </div>
                                        <div class="field col-12 md:col-4">
                                            <label For="firstname">Prénom : <span style="color: red;"> * </span></label>
                                            <input pInputText id="firstname" type="text" formControlName="firstname"  />
                                        </div>
                                    
                                
                            </div>
                        </div>
                        <div style="float: right;">
                            <button pButton type="button" label="Envoyer" [disabled]="RegisterForm.invalid"
                                (click)="submitForm();changeEtatForm(); redirectTo('admin/partenaire')"></button>
                        </div>
                   
                </div>

 
                <div *ngIf="etatForm==2">
                    <p-fieldset legend="Informations du réprésentant">
                        <div class="grid" style="color: black;font-weight:normal">
                            <div class="p-fluid p-formgrid grid">
                                <div class="field col-12 md:col-4">
                                    <label For="civilite">Civilité: <span style="color: red;"> * </span></label>
                                    <p-dropdown formControlName="civilite" [options]="civiliteList" optionLabel="value">
                                    </p-dropdown>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="indicatifPhoneR">Indicatif : <span style="color: red;"> *
                                        </span></label>
                                    <input pInputText id="indicatifPhoneR" type="text" formControlName="indicatifPhoneR"
                                         />
                                    <div
                                        *ngIf="indicatifPhoneR.invalid && (indicatifPhoneR.touched || indicatifPhoneR.dirty)">
                                        <span style="color: red;" class="error"
                                            *ngIf="indicatifPhoneR.errors?.required">* L'indicatif est
                                            obligatoire</span>
                                        <span style="color: red;" class="error"
                                            *ngIf="indicatifPhoneR.errors?.pattern">*
                                            Seul les chiffres sont acceptés</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="phone">Numéro de téléphone : <span style="color: red;"> *
                                        </span></label>
                                    <input pInputText id="phone" type="text" formControlName="phone"
                                         />
                                    <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                                        <span style="color: red;" class="error" *ngIf="phone.errors?.required">* Le
                                            téléphone est obligatoire.</span>
                                        <span style="color: red;" class="error"
                                            *ngIf="phone.errors?.minlength || phone.errors?.maxlength">*Le téléphone
                                            doit être composé:+33 612345678.</span>
                                        <span style="color: red;" class="error" *ngIf="phone.errors?.pattern">* Seul
                                            les chiffres sont acceptés</span>
                                    </div>
                                </div>

                                <div class="field col-12 md:col-4">
                                    <label For="email">Email : <span style="color: red;"> * </span></label>
                                    <input pInputText id="email" type="email" formControlName="email"
                                         (blur)="verifEmailInBD()" />
                                    <div *ngIf="email.invalid && (email.touched || email.dirty)">
                                        <span style="color: red;" class="error" *ngIf="email.errors?.required">* L'email
                                            est obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="email.errors?.pattern">* L'email
                                            n'est pas dans le bon format.</span>
                                    </div>
                                </div>
                               
                                <div class="field col-12 md:col-4">
                                    <label For="nationalite">Nationalité : <span style="color: red;"> * </span></label>
                                    <p-dropdown formControlName="nationalite" [options]="nationList" optionLabel="label"
                                        emptyFilterMessage="Pas de nationalité trouvé" filterPlaceholder=""
                                        filter="true"></p-dropdown>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="numero_adresse">Numéro de la rue : <span style="color: red;"> *
                                        </span></label>
                                    <input pInputText id="numero_adresse" type="number" formControlName="numero_adresse"
                                         />
                                    <div
                                        *ngIf="numero_adresse.invalid && (numero_adresse.touched || numero_adresse.dirty)">
                                        <span style="color: red;" class="error"
                                            *ngIf="numero_adresse.errors?.required">* Le numéro de l'adresse est
                                            obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="numero_adresse.errors?.pattern">*
                                            Seul les chiffres sont acceptés.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="rue_adresse">Nom de la rue : <span style="color: red;"> *
                                        </span></label>
                                    <input pInputText id="rue_adresse" type="text" formControlName="rue_adresse"
                                        />
                                    <div *ngIf="rue_adresse.invalid && (rue_adresse.touched || rue_adresse.dirty)">
                                        <span style="color: red;" class="error" *ngIf="rue_adresse.errors?.required">*
                                            Le nom de la rue est obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="rue_adresse.errors?.pattern">*
                                            Seul les lettres sont acceptés.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="postal_adresse">Code postal : <span style="color: red;"> *
                                        </span></label>
                                    <input pInputText id="postal_adresse" type="text" formControlName="postal_adresse"
                                         />
                                    <div
                                        *ngIf="postal_adresse.invalid && (postal_adresse.touched || postal_adresse.dirty)">
                                        <span style="color: red;" class="error"
                                            *ngIf="postal_adresse.errors?.required">* Le code postal est
                                            obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="postal_adresse.errors?.pattern">*
                                            Seul les chiffres sont acceptés.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="ville_adresse">Ville: <span style="color: red;"> * </span></label>
                                    <input pInputText id="ville_adresse" type="text" formControlName="ville_adresse"
                                         />
                                    <div
                                        *ngIf="ville_adresse.invalid && (ville_adresse.touched || ville_adresse.dirty)">
                                        <span style="color: red;" class="error" *ngIf="ville_adresse.errors?.required">*
                                            La ville est obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="ville_adresse.errors?.pattern">*
                                            Seul les lettres sont acceptés.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="pays_adresse">Pays: <span style="color: red;"> * </span></label>
                                    <input pInputText id="pays_adresse" type="text" formControlName="pays_adresse"
                                         />
                                    <div *ngIf="pays_adresse.invalid && (pays_adresse.touched || pays_adresse.dirty)">
                                        <span style="color: red;" class="error" *ngIf="pays_adresse.errors?.required">*
                                            Le pays est obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="pays_adresse.errors?.pattern">*
                                            Seul les lettres sont acceptés.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="statut">Statut du représentant au sein de l'entreprise : <span
                                            style="color: red;"> * </span></label>
                                    <input pInputText id="statut" type="text" formControlName="statut"
                                         />
                                    <div *ngIf="statut.invalid && (statut.touched || statut.dirty)">
                                        <span style="color: red;" class="error" *ngIf="statut.errors?.required">* Le
                                            statut est obligatoire.</span>
                                        <span style="color: red;" class="error" *ngIf="statut.errors?.pattern">* Seul
                                            les lettres sont acceptés.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="password">Mot de passe : <span style="color: red;"> * </span></label>
                                    <input pInputText id="password" type="password" formControlName="password"
                                      />
                                    <div *ngIf="password.invalid && (password.touched || password.dirty)">
                                        <span style="color: red;" class="error" *ngIf="password.errors?.required">* Le
                                            mot de passe est obligatoire.</span>
                                    </div>
                                </div>
                                <div class="field col-12 md:col-4">
                                    <label For="password_confirmed">Confirmez le mot de passe : <span
                                            style="color: red;"> * </span></label>
                                    <input pInputText id="password_confirmed" type="password"
                                        formControlName="password_confirmed"  />
                                    <div
                                        *ngIf="password_confirmed.invalid && (password_confirmed.touched || password_confirmed.dirty)">
                                        <span style="color: red;" class="error"
                                            *ngIf="password_confirmed.errors?.required">* Le mot de passe est
                                            obligatoire.</span>
                                    </div>
                                    <div
                                        *ngIf="!passwordCorrect() && (password_confirmed.touched || password_confirmed.dirty || password_confirmed.touched || password_confirmed.dirty)">
                                        <span style="color: red;" class="error">* Le mot de passe et le mot de passe
                                            confirmé ne sont pas les mêmes.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float:left">
                            <button pButton type="button" label="Retour" (click)="changeEtatForm(-1)"></button>
                        </div>
                        <div style="float: right;">
                            <button pButton type="button" label="Valider"
                                [disabled]="civilite.invalid || lastname.invalid || firstname.invalid
                            || phone.invalid || whatsApp.invalid || email.finvalid || date_naissance.invalid || nationalite.invalid 
                            || numero_adresse.invalid || rue_adresse.invalid || postal_adresse.invalid || ville_adresse.invalid 
                            || pays_adresse.invalid || statut.invalid || password.invalid || password_confirmed.invalid || emailExist" type="submit"
                                (click)="submitForm(); changeEtatForm();redirectTo('admin/partenaire') "></button>
                        </div>
                    </p-fieldset>
                </div>

                
             
            </form>
        </div>
   
</div>