

<div style="display: none;" id="a_masquer">
    <h3>Ajouter un utilisateur</h3>
<form #f="ngForm" [formGroup]="Services">
      <h5>Nom du service </h5>
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText  placeholder="Saisir le nom"  formControlName="nom" >
      </span>
    </form> 
 </div>
  
<input type="button" value="Ajouter" (click)="masquer_div('a_masquer');" /> 

 <div style="padding-top: 5%;">
    <table class="table table-striped  ">
      <thead>
        <tr>
          
          <th scope="col"> Nom du service </th>
  
        </tr>
      </thead>
      <tbody>
        <tr >
          <tr *ngFor="let sr of allServices" >
         
            <td>{{sr.nom }}  </td>
            <td>{{sr.nom }}  </td>
         
        </tr>
      </tbody>
    </table>
    </div>
