<p style="text-indent: 0pt;text-align: left;"><br /></p>
<!--<p class="s1" style="padding-top: 4pt;padding-left: 110pt;text-indent: 86pt;text-align: left;">POLITIQUE DE
    CONFIDENTIALITÉ</p>-->
<p class="s2" style="padding-top: 24pt;padding-left: 110pt;text-indent: 0pt;text-align: center;">POLITIQUE DE
    CONFIDENTIALITÉ - DONNÉES
    PERSONNELLES</p>
<p style="text-indent: 0pt;text-align: left;"><br /></p>
<p class="s3" style="padding-top: 13pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Définitions</p>
<h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">L&#39;Éditeur <span class="p">: La
        personne, physique ou morale, qui édite les services de communication au public en ligne.</span></h2>
<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Le Site <span class="p">: L&#39;ensemble des sites,
        pages Internet et services en ligne proposés par l&#39;Éditeur.</span></h2>
<h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">L&#39;Utilisateur <span class="p">: La personne
        utilisant le Site et les services.</span></h2>
<p style="text-indent: 0pt;text-align: left;"><br /></p>
<ol id="l1">
    <li data-list-text="1-">
        <p class="s3" style="padding-left: 27pt;text-indent: -22pt;text-align: left;">Nature des données collectées
        </p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Dans le cadre de
            l&#39;utilisation des Sites, l&#39;Éditeur est susceptible de collecter les catégories de données
            suivantes concernant ses Utilisateurs :</h2>
        <p style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Données d&#39;état-civil,
            d&#39;identité, d&#39;identification...</p>
        <p style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Données relatives à la vie
            professionnelle (CV, scolarité, formation professionnelle, distinctions...)</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="2-">
        <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Communication des données
            personnelles à des tiers</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Pas de communication à des
            tiers</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Vos données ne font l&#39;objet d&#39;aucune
            communication à des tiers. Vous êtes toutefois informés qu&#39;elles pourront être divulguées en
            application d&#39;une loi, d&#39;un règlement ou en vertu d&#39;une décision d&#39;une autorité
            réglementaire ou judiciaire compétente.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="3-">
        <p class="s3" style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;">Information
            préalable pour la communication des données personnelles à des tiers en cas de fusion / absorption</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Information préalable et
            possibilité d’opt-out avant et après la fusion / acquisition <span class="p">Dans le cas où nous
                prendrions part à une opération de fusion, d’acquisition ou à toute autre forme de cession d’actifs,
                nous nous engageons à garantir la confidentialité de vos données personnelles et à vous informer
                avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de
                confidentialité.</span></h2>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="4-">
        <p class="s3" style="padding-left: 27pt;text-indent: -22pt;text-align: justify;">Agrégation des données</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Agrégation avec des
            données non personnelles</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Nous pouvons publier, divulguer et utiliser
            les informations agrégées (informations relatives à tous nos Utilisateurs ou à des groupes ou catégories
            spécifiques d&#39;Utilisateurs que nous combinons de manière à ce qu&#39;un Utilisateur individuel ne
            puisse plus être identifié ou mentionné) et les informations non personnelles à des fins d&#39;analyse
            du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires et à
            d&#39;autres fins commerciales.</p>
        <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Agrégation avec des
            données personnelles disponibles sur les comptes sociaux de l&#39;Utilisateur</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Si vous connectez votre compte à un compte
            d’un autre service afin de faire des envois croisés, ledit service pourra nous communiquer vos
            informations de profil, de connexion, ainsi que toute autre information dont vous avez autorisé la
            divulgation. Nous pouvons agréger les informations relatives à tous nos autres Utilisateurs, groupes,
            comptes, aux données personnelles disponibles sur l’Utilisateur.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="5-">
        <p class="s3" style="padding-left: 27pt;text-indent: -22pt;text-align: justify;">Collecte des données
            d&#39;identité</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
        <h2 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Inscription et identification préalable
            pour la fourniture du service</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">L’utilisation du Site nécessite une
            inscription et une identification préalable. Vos données nominatives (nom, prénom, adresse postale,
            e-mail, numéro de téléphone,...) sont utilisées pour exécuter nos obligations légales résultant de la
            livraison des produits et / ou des services, en vertu du Contrat de licence utilisateur final, de la
            Limite de garantie, le cas échéant, ou de toute autre condition applicable. Vous ne fournirez pas de
            fausses informations nominatives et ne créerez pas de compte pour une autre personne sans son
            autorisation. Vos coordonnées devront toujours être exactes et à jour.</p>
    </li>
    <li data-list-text="6-">
        <p class="s3" style="padding-top: 3pt;padding-left: 27pt;text-indent: -22pt;text-align: left;">Collecte des
            données d&#39;identification</p>
        <h2 style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;line-height: 178%;text-align: left;">
            Utilisation de l&#39;identifiant de l&#39;utilisateur pour proposition de mise en relation et offres
            commerciales</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;line-height: 178%;text-align: left;">Nous utilisons vos
            identifiants électroniques pour rechercher des relations présentes par connexion, par adresse mail ou
            par services. Nous pouvons utiliser vos informations de contact pour permettre à d&#39;autres personnes
            de trouver votre compte, notamment via des services tiers et des applications clientes. Vous pouvez
            télécharger votre carnet d&#39;adresses afin que nous soyons en mesure de vous aider à trouver des
            connaissances sur notre réseau ou pour permettre à d&#39;autres Utilisateurs de notre réseau de vous
            trouver. Nous pouvons vous proposer des suggestions, à vous et à d&#39;autres Utilisateurs du réseau, à
            partir des contacts importés de votre carnet d’adresses. Nous sommes susceptibles de travailler en
            partenariat avec des sociétés qui proposent des offres incitatives. Pour prendre en charge ce type de
            promotion et d&#39;offre incitative, nous sommes susceptibles de partager votre identifiant
            électronique.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="7-">
        <p class="s3" style="padding-top: 6pt;padding-left: 27pt;text-indent: -22pt;text-align: left;">Collecte des
            données du terminal</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Aucune collecte des
            données techniques</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Nous ne collectons et ne conservons aucune
            donnée technique de votre appareil (adresse IP, fournisseur d&#39;accès à Internet...).</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="8-">
        <p class="s3" style="padding-left: 27pt;text-indent: -22pt;text-align: left;">Cookies</p>
    </li>
</ol>
<h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Durée de conservation des cookies
</h2>
<p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Conformément aux recommandations de la CNIL, la
    durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt dans le terminal
    de l&#39;Utilisateur, tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces
    cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra
    donc être renouvelé à l&#39;issue de ce délai.</p>
<h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Finalité cookies</h2>
<p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Les cookies peuvent être utilisés pour des fins
    statistiques notamment pour optimiser les services rendus à l&#39;Utilisateur, à partir du traitement des
    informations concernant la fréquence d&#39;accès, la personnalisation des pages ainsi que les opérations
    réalisées et les informations consultées.</p>
<p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Vous êtes informé que l&#39;Éditeur est susceptible
    de déposer des cookies sur votre terminal. Le cookie enregistre des informations relatives à la navigation sur
    le service (les pages que vous</p>
<p style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">avez consultées, la date et
    l&#39;heure de la consultation...) que nous pourrons lire lors de vos visites ultérieures.</p>
<p style="text-indent: 0pt;text-align: left;"><br /></p>
<h1 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Droit de l&#39;Utilisateur de refuser les cookies,
    la désactivation entraînant un fonctionnement dégradé du service</h1>
<p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Vous reconnaissez avoir été informé que
    l&#39;Éditeur peut avoir recours à des cookies, et l&#39;y autorisez. Si vous ne souhaitez pas que des cookies
    soient utilisés sur votre terminal, la plupart des navigateurs vous permettent de désactiver les cookies en
    passant par les options de réglage. Toutefois, vous êtes informé que certains services sont susceptibles de ne
    plus fonctionner correctement.</p>
<h1 style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Association possible des cookies avec des données
    personnelles pour permettre le fonctionnement du service</h1>
<p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">L&#39;Éditeur peut être amenée à
    recueillir des informations de navigation via l&#39;utilisation de cookies.</p>
<p style="text-indent: 0pt;text-align: left;"><br /></p>
<p class="s5" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">9 <span style=" color: #F80604;">-
        Conservation des données techniques</span></p>
<h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Durée de conservation des données
    techniques</h2>
<p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Les données techniques sont conservées pour la durée
    strictement nécessaire à la réalisation des finalités visées ci-avant.</p>
<p style="text-indent: 0pt;text-align: left;"><br /></p>
<ol id="l2">
    <li data-list-text="10-">
        <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Délai de conservation des données
            personnelles et d&#39;anonymisation</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
        <p class="s6" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Conservation des données pendant
            la durée de la relation contractuelle</p>
        <p class="s7" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Conformément à l&#39;article 6-5°
            de la loi n°78-17 du 6 janvier 1978 relative à l&#39;informatique, aux fichiers et aux libertés, les
            données à caractère personnel faisant l&#39;objet d&#39;un traitement ne sont pas conservées au-delà du
            temps nécessaire à l&#39;exécution des obligations définies lors de la conclusion du contrat ou de la
            durée prédéfinie de la relation contractuelle.</p>
        <p class="s6" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Conservation des données
            anonymisées au delà de la relation contractuelle / après la suppression du compte</p>
        <p class="s7" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Nous conservons les données
            personnelles pour la durée strictement nécessaire à la réalisation des finalités décrites dans les
            présentes Politiques de confidentialité. Au-delà de cette durée, elles seront anonymisées et conservées
            à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que
            ce soit.</p>
        <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Suppression des données
            après suppression du compte</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Des moyens de purge de données sont mis en
            place afin d&#39;en prévoir la suppression effective dès lors que la durée de conservation ou
            d&#39;archivage nécessaire à l&#39;accomplissement des finalités déterminées ou imposées est atteinte.
            Conformément à la loi n°78-17 du 6 janvier 1978 relative à l&#39;informatique, aux fichiers et aux
            libertés, vous disposez par ailleurs d&#39;un droit de suppression sur vos données que vous pouvez
            exercer à tout moment en prenant contact avec l&#39;Éditeur.</p>
        <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Suppression des données
            après 3 ans d&#39;inactivité</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Pour des raisons de sécurité, si vous ne
            vous êtes pas authentifié sur le Site pendant une période de trois ans, vous recevrez un e-mail vous
            invitant à vous connecter dans les plus brefs délais, sans quoi vos données seront supprimées de nos
            bases de données.</p>
    </li>
    <li data-list-text="11-">
        <p class="s3" style="padding-top: 3pt;padding-left: 38pt;text-indent: -33pt;text-align: left;">Suppression
            du compte</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Suppression du compte à la
            demande</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">L&#39;Utilisateur a la possibilité de
            supprimer son Compte à tout moment, par simple demande à l&#39;Éditeur OU par le menu de suppression de
            Compte présent dans les paramètres du Compte le cas échéant.</p>
        <h2 style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Suppression du compte en
            cas de violation de la Politique de Confidentialité</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">En cas de violation d&#39;une ou de
            plusieurs dispositions de la Politique de Confidentialité ou de tout autre document incorporé aux
            présentes par référence, l&#39;Éditeur se réserve le droit de mettre fin ou restreindre sans aucun
            avertissement préalable et à sa seule discrétion, votre usage et accès aux services, à votre compte et à
            tous les Sites.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="12-">
        <p class="s3" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Indications en cas de faille de
            sécurité décelée par l&#39;Éditeur</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Information de
            l&#39;Utilisateur en cas de faille de sécurité</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Nous nous engageons à mettre en oeuvre
            toutes les mesures techniques et organisationnelles appropriées afin de garantir un niveau de sécurité
            adapté au regard des risques d&#39;accès accidentels, non autorisés ou illégaux, de divulgation,
            d&#39;altération, de perte ou encore de destruction des données personnelles vous concernant. Dans
            l&#39;éventualité où nous prendrions connaissance d&#39;un accès illégal aux données personnelles vous
            concernant stockées sur nos serveurs ou ceux de nos prestataires, ou d&#39;un accès non autorisé ayant
            pour conséquence la réalisation des risques identifiés ci-dessus, nous nous engageons à :</p>
        <p style="padding-top: 2pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Vous notifier
            l&#39;incident dans les plus brefs délais ; Examiner les causes de l&#39;incident et vous en informer ;
        </p>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Prendre les mesures nécessaires dans la
            limite du raisonnable afin d&#39;amoindrir les effets négatifs et préjudices pouvant résulter dudit
            incident.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
        <h2 style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Limitation de la
            responsabilité</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">En aucun cas les engagements définis au
            point ci-dessus relatifs à la notification en cas de faille de sécurité ne peuvent être assimilés à une
            quelconque reconnaissance de faute ou de responsabilité quant à la survenance de l&#39;incident en
            question.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="13-">
        <p class="s3" style="padding-left: 38pt;text-indent: -33pt;text-align: left;">Transfert des données
            personnelles à l&#39;étranger</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Pas de transfert en dehors
            de l&#39;Union européenne</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">L&#39;Éditeur s&#39;engage à ne pas
            transférer les données personnelles de ses Utilisateurs en dehors de l&#39;Union européenne.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;"><a
                href="https://www.cnil.fr/fr/la-protection-des-donnees-dans-le-monde" class="a"
                target="_blank">https://www.cnil.fr/fr/la-protection-des-donnees-dans-le-monde</a>
        </p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="14-">
        <p class="s3" style="padding-top: 4pt;padding-left: 38pt;text-indent: -33pt;text-align: left;">Modification
            de la politique de confidentialité</p>
        <h2 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">En cas de modification de
            la présente Politique de Confidentialité, engagement de ne pas baisser le niveau de confidentialité de
            manière substantielle sans l&#39;information préalable des personnes concernées</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Nous nous engageons à vous informer en cas
            de modification substantielle de la présente Politique de Confidentialité, et à ne pas baisser le niveau
            de confidentialité de vos données de manière substantielle sans vous en informer et obtenir votre
            consentement.</p>
    </li>
    <li data-list-text="15-">
        <p class="s3" style="padding-top: 3pt;padding-left: 38pt;text-indent: -33pt;text-align: left;">Droit
            applicable et modalités de recours</p>
        <h2 style="padding-top: 19pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Application du droit
            français (législation CNIL) et compétence des tribunaux</h2>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">La présente Politique de Confidentialité et
            votre utilisation du Site sont régies et interprétées conformément aux lois de France, et notamment à la
            Loi n° 78-17 du 6 janvier 1978 relative à l&#39;informatique, aux fichiers et aux libertés. Le choix de
            la loi applicable ne porte pas atteinte à vos droits en tant que consommateur conformément à la loi
            applicable de votre lieu de résidence. Si vous êtes un consommateur, vous et nous acceptons de se
            soumettre à la compétence non-exclusive des juridictions françaises, ce qui signifie que vous pouvez
            engager une action relative à la présente Politique de Confidentialité en France ou dans le pays de
            l&#39;UE dans lequel vous vivez. Si vous êtes un professionnel, toutes les actions à notre encontre
            doivent être engagées devant une juridiction en France.</p>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">En cas de litige, les parties chercheront
            une solution amiable avant toute action judiciaire. En cas d&#39;échec de ces tentatives, toutes
            contestations à la validité, l&#39;interprétation et / ou l&#39;exécution de la Politique de
            Confidentialité devront être portées même en cas de pluralité des défendeurs ou d&#39;appel en garantie,
            devant les tribunaux français.</p>
        <p style="text-indent: 0pt;text-align: left;"><br /></p>
    </li>
    <li data-list-text="16-">
        <p class="s3" style="padding-left: 38pt;text-indent: -33pt;text-align: left;">Portabilité des données</p>
    </li>
</ol>
<h1 style="padding-top: 7pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Portabilité des données</h1>
<p class="s4" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">L&#39;Éditeur s&#39;engage à vous offrir
    la possibilité de vous faire restituer l&#39;ensemble des données vous concernant sur simple demande.
    L&#39;Utilisateur se voit ainsi garantir une meilleure maîtrise de ses données, et garde la possibilité de les
    réutiliser. Ces données devront être fournies dans un format ouvert et aisément réutilisable.</p>