.urgent-begin {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
    border-left: 2px solid red !important;
}

.urgent-middle {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
}

.urgent-end {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
    border-right: 2px solid red !important;
}

.urgent-n-1 {
    border-bottom: 2px solid red !important;
}