<div class="header">
    <div class="header-inner">
        <div class="section-left">
            <div class="student-image-container">
                <div class="student-image" [style.backgroundImage]="'url('+student.imgPDP+')'"></div>
            </div>
        </div>

        <div class="section-right">
            <div class="top-part">
                <img class="design" src="../../../../../../../../assets/images/imatch/gen-cv/adg/adg-header.png" />
                <img class="logo" src="../../../../../../../../assets/images/imatch/gen-cv/adg/logo.png" />
            </div>
            <div class="content">
                <h1><strong>{{ student.fullName }}</strong></h1>
                <h1>{{ student.profile }}</h1>
            </div>
        </div>
        <div class="separator"></div>
    </div>
</div>