<div class="p-grid">
    
    <div class="xl:col-8 xl:col-offset-2 col-12">
        <p-card>
            <div class="p-grid">
                <div class="text-center"><img src="assets/layout/images/logo.png" class="logo"></div>
                <form class="col-8 col-offset-2" [formGroup]="serviceForm" style="display: none;" id="a_masquer" *ngIf="showForm" >
                    
                    <h3 class="text-center">Ajouter un service</h3>
                    <div class="p-grid">

                        <div class="mt-2 mb-2 col-12">
                            <input type="text" formControlName="label" class="form-control col-12"
                                placeholder="Le nom du service" pInputText>
                        </div>

                      
                            
                       
                    </div>
                </form>
                <!--[disabled]="serviceForm.invalid" -->
                <div class=" xl:col-offset-10 sm:col-offset-4">
                 <button pButton class="ui-button-raised ui-button-success" 
                                (click)="masquer_div2('a_masquer'); toggleForm()"  [label]="showForm"></button>
                </div>

                <h3>Liste des services</h3>

                <div class="col-12 card shadow-lg my-5 ">
                    <p-table *ngIf="services" [columns]="cols" [value]="services" selectionMode="single"
                        [(selection)]="currentService" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                         [rows]="4"  
                        [paginator]="true" [pageLinks]="5" [responsive]="true">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="col-8 col-offset-4" >
                                    Service
                                </th>

                                <th class="col-4 col-offset-2">
                                    Action
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="columns">
                                <td *ngFor="let col of columns">

                                    {{rowData.label}}
                            
                                </td>
                             
                                <td>
                                    <div class=" xl:col-offset-6 sm:col-offset-4" style="cursor: pointer;" >
                                    <i class="pi pi-pencil" (click)="edit(rowData)"></i>
                                    </div>
                                    <!-- <i class="pi pi-trash" (click)="deleteService(rowData)"></i> -->
                                </td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div *ngIf="currentService">
                    <form class="col-8 col-offset-2" [formGroup]="sujetForm" style="display: none;" id="aa_masquer" *ngIf="showwForm">

                        <h3 class="text-center">Ajouter un sujet</h3>
                        <div class="p-grid">

                            <div class="mt-2 mb-2 col-12">
                                <input type="text" formControlName="label" class="form-control col-12"
                                    placeholder="Le nom du sujet" pInputText>
                            </div>
                            
                        </div>
                    </form>
                    <div class=" xl:col-offset-10 sm:col-offset-4" >
                        <button pButton class="ui-button-raised ui-button-success"
                             (click)="masquer_div('aa_masquer'); toggleForm2()"  [label]="showwForm"></button>
                    </div>

                    <h3>Liste des sujets du service: {{currentService.label}}</h3>
                    <div class="col-12 card shadow-lg my-5">
                        <p-table *ngIf="sujetShow" [columns]="cols" [value]="sujetShow"  [rows]="4"  
                        [paginator]="true" [pageLinks]="5" [responsive]="true">
                            <ng-template pTemplate="header" let-columns>
                                <th class="col-8 col-offset-4" >
                                    Sujet
                                </th>

                                <th class="col-4 col-offset-2">
                                    Action
                                </th>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="columns">
                                    <div class=" xl:col-offset-6 sm:col-offset-4" >
                                    <td  *ngFor="let col of columns">
    
                                        {{rowData.label}}
                                    </td>
                                    </div>
                                    <td>
                                        <div class=" xl:col-offset-6 sm:col-offset-4" style="cursor: pointer;">
                                        <i class="pi pi-pencil" (click)="editSujet(rowData)"></i>
                                        </div>
                                        <!-- <i class="pi pi-trash" (click)="deleteSujet(rowData)"></i> -->
                                    </td>
    
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>


            </div>
        </p-card>

    </div>
</div>