<div class="p-grid">
    <div class="xl:col-8 xl:col-offset-2 col-12">
        <p-card>
          <div class="p-grid">
                <form class="col-8 col-offset-2" [formGroup]="serviceForm">
                    <div class="text-center"><img src="assets/layout/images/logo.png" class="logo"></div>
                    <h3 class="text-center">Modifier le service</h3>
                        <div class="p-grid">
                          
                            <div *ngIf="currentService">
                                <h4>Service</h4>
                                <input id = "label" type="text" formControlName="currentService.label" name="label" pInputText/>  
                              
                            </div>
                            <div class="col-offset-5 xl:col-offset-5 sm:col-offset-4">
                                <button pButton class="ui-button-raised ui-button-success" [disabled]="serviceForm.invalid"  
                                label="Enregistrer" (click)="updateService()"></button>
                            </div>
                            <p>{{ message }}</p>
                        </div>
                </form>
                </div>
                </p-card>
            
                </div>
                </div>
               
               


