.cra-none {
    background-color: rgb(255, 61, 61);
}

.cra-middle {
    background-color: orange;
}

.cra-perfect {
    background-color: green;
}
.valid-begin {
    border-top: 2px solid green !important;
    border-bottom: 2px solid green !important;
    border-left: 2px solid green !important;
}

.valid-middle {
    border-top: 2px solid green !important;
    border-bottom: 2px solid green !important;
}

.valid-end {
    border-top: 2px solid green !important;
    border-bottom: 2px solid green !important;
    border-right: 2px solid green !important;
}

.non-valid-begin {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
    border-left: 2px solid red !important;
}

.non-valid-middle {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
}

.non-valid-end {
    border-top: 2px solid red !important;
    border-bottom: 2px solid red !important;
    border-right: 2px solid red !important;
}