<div class="col-12">
    <input type="file" (change)="uploadFile($event.target.files)" id="selectedFileLeadDossier" #selectedFileLeadDossier style="display: none;"
        accept=".png, .jpg, .jpeg, .jfif" pInputFile />
    <input type="file" (change)="uploadOtherFile($event.target.files)" id="selectedFileOtherLeadDossier" #selectedFileOtherLeadDossier
        style="display: none;" accept=".png, .jpg, .jpeg, .jfif" pInputFile />
</div>
<div class="card grid" *ngIf="PROSPECT">
    <h3 class="col-12">Documents</h3>
    <!--<p class="col-12"
        [ngClass]="{'green-border':PROSPECT.etat_dossier=== 'Complet','orange-border':(PROSPECT.etat_dossier!= 'Complet'||!PROSPECT.etat_dossier)}"
        style="text-align: center;padding: 9px;">
        Sans remplir tous les documents obligatoires, votre dossier ne sera pas traité par l'équipe d'admission.<br>
        Etat du dossier : <strong>{{PROSPECT.etat_dossier}}</strong>
    </p>-->
    <div class="col-12 grid">
        <div class="col-6">
            Je réside en France
            <p-checkbox [(ngModel)]="resideFr" [binary]="true" inputId="binary"
                (onChange)="checkIfDossierComplet()"></p-checkbox>
        </div>
        <div class="col-6">
            Je cherche une alternance
            <p-checkbox [(ngModel)]="alternance" [binary]="true" inputId="binary"
                (onChange)="checkIfDossierComplet()"></p-checkbox>
        </div>
    </div>
    <p-table [value]="PROSPECT.documents_dossier" #dt1 dataKey="_id" class="col-12" responsiveLayout="scroll"
        styleClass="p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th>Document</th>
                <th>Lien</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-doc>
            <tr *ngIf="(doc.nom!='Carte vitale ou attestation provisoire' || alternance)">
                <td style="width: 80%;">
                    {{doc.nom}}
                    <span style="color: red;" *ngIf="documentsObligatoires.includes(doc.nom)">(Obligatoire)</span>
                    <i *ngIf="doc.info" [pTooltip]="doc.info" tooltipPosition="bottom" class="pi pi-info-circle ml-2"
                        style="margin-left: 2%;" aria-hidden="true"></i>
                </td>
                <td style="text-align: center;width: 10%;">
                    <i *ngIf="doc.path" pTooltip="Télécharger le document" tooltipPosition="bottom" class="pi pi-file"
                        (click)="downloadFile(doc)" style="margin-left: 2%;color: green;" aria-hidden="true"></i>
                </td>
                <td style="width: 10%;">

                    <i pTooltip="Ajouter un fichier" tooltipPosition="bottom" class="pi pi-plus mr-2"
                        *ngIf="!docToUpload" (click)="initUpload(doc)" aria-hidden="true"></i>
                    <i pTooltip="Fichier en cours de chargement ..." tooltipPosition="bottom"
                        class="pi pi-spin pi-spinner mr-2" *ngIf="docToUpload" (click)="initUpload(doc)"
                        style="color: grey;" aria-hidden="true"></i>
                    <i pTooltip="Supprimer" style="cursor: pointer;" class="pi pi-trash" (click)="delete(doc)"
                        aria-hidden="true"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-table [value]="PROSPECT.documents_autre" #dt1 dataKey="_id" [rowHover]="true" class="col-12" [pageLinks]="5"
        [globalFilterFields]="['libelle','email','site']" responsiveLayout="scroll" [filterDelay]="0"
        styleClass="p-datatable-gridlines">
        <ng-template pTemplate="body" let-doc let-ri="rowIndex">
            <tr [pEditableRow]="doc">
                <td pEditableColumn style="width: 80%;">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="text" pInputText [(ngModel)]="doc.nom">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{doc.nom}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center;width: 10%;">
                    <i *ngIf="doc.path" pTooltip="Télécharger le document" tooltipPosition="bottom" class="pi pi-file"
                        (click)="downloadOtherFile(doc)" style="margin-left: 2%;color: green;" aria-hidden="true"></i>
                </td>
                <td style="width: 10%;">
                    <i pTooltip="Ajouter un fichier" tooltipPosition="bottom" class="pi pi-plus"
                        *ngIf="doc.nom!='Cliquer pour modifier le nom du document ici' && !docToUpload"
                        (click)="initUpload(doc,'selectedFileOtherLeadDossier')" style="margin-left: 2%;" aria-hidden="true"></i>
                    <i pTooltip="Fichier en cours de chargement ..." tooltipPosition="bottom"
                        class="pi pi-spin pi-spinner" *ngIf="docToUpload" (click)="initUpload(doc)"
                        style="margin-left: 2%;color: grey;" aria-hidden="true"></i>
                    <i pTooltip="Supprimer" style="margin-left: 2%; cursor: pointer;" class="pi pi-trash"
                        (click)="deleteOther(doc)" aria-hidden="true"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="col-4">
        <p-button [style]="{'width':'100%'}" (click)="addDoc()" icon="pi pi-plus" autoWidth="false"></p-button>
    </div>
</div>