.card-done {
  background-color: rgb(193, 193, 250);
  color: white;
}

:host ::ng-deep .card-todo .p-component {
  background: rgb(241, 241, 241) !important;
  /* Couleur pour To Do */
}

:host ::ng-deep .p-card-content {
  padding: 0;
}

:host ::ng-deep .p-card-body {
  padding: 0.5rem;
}

:host ::ng-deep .card-doing .p-component {
  background: rgb(241, 241, 241) !important;
  ;
  /* Couleur pour To Doing */
}

:host ::ng-deep .card-done .p-component {
  background: rgb(241, 241, 241) !important;
  /* Couleur pour To Done */
}

.color-square {
  width: 10px;
  height: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #000;
}

:host ::ng-deep .card-todo .p-card .p-component {
  background-color: rgb(255, 174, 174) !important;

}

:host ::ng-deep .p-button .p-component {
  background-color: rgb(255, 174, 174) !important;
  /* Définir la couleur de fond du bouton comme transparent */
}

:host ::ng-deep .card-doing .p-card .p-component {
  background-color: rgb(181, 245, 255) !important;
}

:host ::ng-deep .card-done .p-card .p-component {
  background-color: rgb(158, 255, 160) !important;
}
.label {
  padding: .25rem .5rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: .5rem;
  color: white;
}