<div class="grid col-12 card">
    <div class="col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-4">
                <div>
                    <span class="block text-500 font-medium mb-4">Nombre total des projets : </span>
                    <div class="text-900 font-medium text-xl">{{nbr_project}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw  text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-4">
                <div>
                    <span class="block text-500 font-medium mb-4">Nombre total des projets en cours:</span>
                    <div class="text-900 font-medium text-xl"></div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw  text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-4">
                <div>
                    <span class="block text-500 font-medium mb-4">Nombre total des projets cloturés :</span>
                    <div class="text-900 font-medium text-xl"></div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-fw  text-xl"></i>
                </div>
            </div>
        </div>

    </div>

</div>

<div *ngIf="showAddTacheForm">
    <i class="pi pi-times-circle" style="color: red; font-size: 20px; cursor: pointer; float: right;"
        (click)="showAddTacheForm = false; showOtherTextArea = false;"></i>
    <div style="float: right"></div>

    <h3 class="text-center">Nouvelle tache pour ce project</h3>
    <form class="p-formgrid grid p-fluid" [formGroup]="formAddTache" (ngSubmit)="addTache(project._id)">

        <div class="field col-12 md:col-8">
            <label htmlFor="libelle">Libellé <span style="color: red">*</span></label>
            <textarea formControlName="libelle" pInputTextarea placeholder="Donnez un titre à votre projet" autoResize
                rows="2" cols="40"></textarea>
        </div>

        <div class="field col-12">
            <label>Priorité <span style="color: red">*</span></label>
            <p-dropdown formControlName="priorite" [options]="prioriteListe" filter="true" placeholder="priorite"
                [showClear]="true" (onChange)="onShowOtherTextArea($event)"></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="number_of_hour">Nombre d'heurs <span style="color: red">*</span></label>
            <input formControlName="number_of_hour" pInputText type="number" id="nb_jour">
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="date_limite">Date limite <span style="color: red">*</span></label>
            <p-calendar formControlName="date_limite" [showIcon]="true" [showButtonBar]="true"></p-calendar>
        </div>

        <div class="field col-12 ">
            <label htmlFor="description">Description <span style="color: red">*</span></label>
            <textarea formControlName="description" pInputTextarea placeholder="Donnez une discription à votre projet"
                autoResize rows="4" cols="30"></textarea>
        </div>

        <button pButton pRipple type="submit" class="my-2" label="Ajouter" [disabled]="formAddTache.invalid"></button>
    </form>
</div>

<div *ngIf="showtache">
    <i class="pi pi-times-circle" style="color: red; font-size: 20px; cursor: pointer; float: right;"
        (click)="showtache = false; showOtherTextArea = false;"></i>
    <button pButton pRipple label="Nouvelle tache " style="float: right; margin-right: 2%;"
        class="p-button-outlined mb-2" (click)="showAddTacheForm = true"></button>
    <h5 class="text-center">Les taches</h5>

    <div style="float: right"></div>

    <p-table #dt2 dataKey="_id" [rows]="8" [rowHover]="true" [paginator]="true" [value]="task" [paginator]="true"
        rowExpandMode="single" [pageLinks]="5" selectionMode="single" class="col-12"
        [globalFilterFields]="['customid', 'prenom', 'nom','email']" responsiveLayout="scroll"
        styleClass="p-datatable-gridlines">

        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th> ID Tache </th>
                <th> ID Ticket </th>
                <th> Libellé </th>
                <th> Affecté à </th>
                <th> Etat d'avancement </th>
                <th> Action </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task let-expandedt="expandedt" let-rit="rowIndext">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="task"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expandedt ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                </td>

                <td>{{ task._id }}</td>
                <td>{{ task.ticket_id}}</td>
                <td>{{ task.libelle}}</td>
                <td>{{ task.attribuate_to}}</td>
                <td>{{ task.etat }}</td>
                <td>
                    <i pTooltip="Modifier" style="margin-left: 3%; cursor: pointer;" class="pi pi-pencil"
                        (click)="onUpdatetask(task)" aria-hidden="true"></i>
                    <i pTooltip="Supprimer" style="margin-left: 3%; cursor: pointer;" class="pi pi-trash"
                        (click)="deletetask(task._id,ri)" aria-hidden="true"></i>
                    <i pTooltip="transformer" style="margin-left: 3%; cursor: pointer;" class="pi pi-tag"
                        (click)=" transformtask(task._id) ; showtache=true" aria-hidden="true"></i>
                    <i pTooltip="affecter" style="margin-left: 3%; cursor: pointer;" class="pi pi-user"
                        (click)=" affectertask(task._id) ; showtache=true" aria-hidden="true"></i>
                </td>



            </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-tache>

            <tr>
                <td colspan="9">
                    <p-table class="col-12" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
            <tr>
                <th> Description </th>
                <th> Date de fin </th>
                <th> nombre d'heurs </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td>{{tache.description}}</td>
                <td>{{tache.date_limite| date:'mediumDate'}}</td>
                <td>{{tache.number_of_hour}}</td>
    
            </tr>
    
        </ng-template>
    
    
    </p-table>
    </td>
    
    </tr>
    
    <tr>
    
    
        </ng-template>
    
        
        
    </p-table>
</div>


<div *ngIf="showAddProjectForm">
    <i class="pi pi-times-circle" style="color: red; font-size: 20px; cursor: pointer; float: right;"
        (click)="showAddProjectForm = false; showOtherTextArea = false;"></i>
    <div style="float: right"></div>

    <h3 class="text-center">Nouveau projet</h3>
    <form class="p-formgrid grid p-fluid" [formGroup]="formAddProject" (ngSubmit)="addProject()">

        <div class="field col-12 md:col-8">
            <label htmlFor="titre">Titre du projet <span style="color: red">*</span></label>
            <textarea formControlName="titre" pInputTextarea placeholder="Donnez un titre à votre projet" autoResize
                rows="2" cols="40"></textarea>
        </div>

        <div class="field col-12">
            <label>Responsable <span style="color: red">*</span></label>
            <p-dropdown formControlName="responsable" [options]="responsableListe" filter="true"
                placeholder="responsable" [showClear]="true" (onChange)="onShowOtherTextArea($event)"></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="debut">Début <span style="color: red">*</span></label>
            <p-calendar formControlName="debut" [showIcon]="true" [showButtonBar]="true"></p-calendar>
        </div>
        <div class="field col-12 md:col-6">
            <label htmlFor="fin">Fin <span style="color: red">*</span></label>
            <p-calendar formControlName="fin" [showIcon]="true" [showButtonBar]="true"></p-calendar>
        </div>

        <div class="field col-12 ">
            <label htmlFor="description">Description <span style="color: red">*</span></label>
            <textarea formControlName="description" pInputTextarea placeholder="Donnez une discription à votre projet"
                autoResize rows="4" cols="30"></textarea>
        </div>

        <button pButton pRipple type="submit" class="my-2" label="Envoyer" [disabled]="formAddProject.invalid"></button>
    </form>
</div>
<p-table #dt1 dataKey="_id" [rows]="8" [rowHover]="true" [paginator]="true" [value]="project" [paginator]="true"
    rowExpandMode="single" [pageLinks]="5" selectionMode="single" class="col-12"
    [globalFilterFields]="['customid', 'prenom', 'nom','email']" responsiveLayout="scroll"
    styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
            <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="Recherche" />

            <p-dropdown [style]="{'margin':'5px'}" [options]="filterStatut" filter="true"
                (onChange)="dt1.filter($event.value, 'statut', 'equals');" placeholder="Choisissez un etat"
                emptyFilterMessage="Pas d'état trouvé" filterPlaceholder="Choisissez un état"></p-dropdown>

            <button pButton pRipple label="Nouveau projet" style="float: right;" class="p-button-outlined mb-2"
                (click)="showAddProjectForm = true"></button>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="customid" style="text-align:center"> ID Projet <p-sortIcon field="customid">
                </p-sortIcon>
            </th>
            <th pSortableColumn="date_ajout" style="text-align:center"> Date de création <p-sortIcon field="date_ajout">
                </p-sortIcon>
            </th>
            <th pSortableColumn="createur_id.lastname" style="text-align:center"> Crée par <p-sortIcon field="user_id">
                </p-sortIcon>
            </th>
            <th pSortableColumn="service" style="text-align:center"> Responsable Projet <p-sortIcon field="service">
                </p-sortIcon>
            </th>
            <th pSortableColumn="sujet" style="text-align:center"> Etat <p-sortIcon field="sujet">
                </p-sortIcon>
            </th>
            <th pSortableColumn="priorite" style="text-align:center">Avancement <p-sortIcon field="priorite">
                </p-sortIcon>
            </th>
            <th pSortableColumn="priorite" style="text-align:center"> Actions <p-sortIcon field="priorite">
                </p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project let-expanded="expanded" let-ri="rowIndex">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="project"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                </button>
            </td>
            <td>
                {{project._id}}
            </td>
            <td>
                {{project.created_date | date:'mediumDate'}}
            </td>

            <td>
                {{project?.createur | titlecase}}
            </td>
            <td>
                {{project?.responsable | titlecase}}
            </td>

            <td>
                <p-tag *ngIf="project.etat == null" icon="pi pi-times" severity="success" [value]="'en cour'">
                </p-tag>
                <p-tag *ngIf="project.statut == 'En suspension'" icon="pi pi-pause" severity="danger"
                    [value]="project.statut">
                </p-tag>
                <p-tag *ngIf="project.statut == 'cloturer'" icon="pi pi-check-square" severity="success"
                    [value]="project.statut">
                </p-tag>
            </td>
            <td>
                {{project.avancement}} %
            </td>
            <td>
                <i pTooltip="Modifier" style="margin-left: 3%; cursor: pointer;" class="pi pi-pencil"
                    (click)="onUpdate(project)" aria-hidden="true"></i>
                <i pTooltip="Supprimer" style="margin-left: 3%; cursor: pointer;" class="pi pi-trash"
                    (click)="delete(project._id,ri)" aria-hidden="true"></i>
                <i pTooltip="taches" style="margin-left: 3%; cursor: pointer;" class="pi pi-align-justify"
                    (click)=" showTaskList(project._id) ; showtache=true" aria-hidden="true"></i>
                <i pTooltip="ressources" style="margin-left: 3%; cursor: pointer;" class="pi pi-info"
                    (click)="ressources(project._id,ri)" aria-hidden="true"></i>
                <i pTooltip="budjet" style="margin-left: 3%; cursor: pointer;" class="pi pi-money-bill"
                    (click)="budjet(ticket._id,ri)" aria-hidden="true"></i>


            </td>
        </tr>
    </ng-template>



    <ng-template pTemplate="rowexpansion" let-ticket>

        <tr>
            <td colspan="9">
                <p-table class="col-12" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
        <tr>
            <th> Description </th>
            <th> Date de debut </th>
            <th> Date de fin </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td>{{ticket.description}}</td>
            <td>{{ticket.debut| date:'mediumDate'}}</td>
            <td>{{ticket.fin| date:'mediumDate'}}</td>

        </tr>

    </ng-template>


</p-table>
</td>

</tr>

<tr>


    </ng-template>

    </p-table>