<div class="p-grid mt-2">
    <div class="col-8 col-offset-2 col-xl-8 col-lg-8 col-md-8">
        <p-card>
            <div class="p-col-xl-12 col-lg-12 col-md-12 p-grid">
                <form class="col-8 col-offset-2 col-xl-8 col-lg-8 col-md-8" [formGroup]="RegisterForm">
                  <div class="text-center"><img src="assets/layout/images/logo.png" class="logo"></div>
                    <h3 class="text-center">Création de ticket</h3>
                        <div class="grid">
                            <div class="field col mt-2 mb-2 col-lg-6 col-6">
                                <select class="form-control col-12" >
                                    <option [ngValue]="null" disabled>Choissisez un service</option>
                                    <option *ngFor="let service of listServices">
                                        {{ service.label }}
                                       </option>
                                </select>
                            </div>
                            <div class="field col mt-2 mb-2 col-lg-6 col-6">
                                <select fromControlName="sujet" class="form-control col-12" >
                                    <option [ngValue]="null" disabled>Choissisez un sujet</option>
                                    <option *ngFor="let sujet of listSujet" [ngValue]="sujet">
                                        {{ sujet.label }}
                                       </option>
                                </select>
                            </div>
                            <div class="mt-2 mb-2 col-lg-12 col-12">
                                <input type="text" formControlName="description" class="form-control col-12" placeholder="Description" pInputText>
                                <div *ngIf="description.invalid && (description.touched || description.dirty)">
                                    <span class="error" *ngIf="description.errors?.required">*La description est obligatoire.</span>
                                </div>
                            </div>
                            <div class="col-offset-5 md:col-offset-5 sm:col-offset-4">
                                <button pButton class="ui-button-raised ui-button-success" [disabled]="TicketForm.invalid" label="Ajouter" (click)="addTicket()"></button>
                            </div>
                        </div>
                </form>
            </div>
        </p-card>
    </div>
  </div>