<p-toast></p-toast>
<div class="col-12">
    <input type="file" (change)="FileUpload($event.target)" id="selectedFile" #selectedFile style="display: none;"
        pInputFile />
</div>
<div class="grid">
    <!-- Formulaire d'ajout d'un collaborateur -->
    <div class="col-12 card" *ngIf="gestionCommercial">
        <i aria-hidden="true" class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;"
            (click)="gestionCommercial = null;">
        </i>
        <h4 style="text-align: center;">Gestion du commercial</h4>
        <form class="p-fluid p-formgrid grid" [formGroup]="formGestion" (ngSubmit)="onGestion()">
            <h2 class="col-12">Informations commercial</h2>
            <div class="field col-12 md:col-6">
                <label>Date d'ajout</label>
                <p> {{ gestionCommercial?.user_id?.date_creation | date:'mediumDate' }}</p>
            </div>
            <div class="field col-12 md:col-6">
                <label>Contribution</label>
                <p-dropdown [options]="contributionList" formControlName="contribution" autoWidth="false"
                    [style]="{'width':'100%'}" placeholder="Choisissez une contribution"></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label>Pays de prospection</label>
                <p-multiSelect [options]="paysList" formControlName="pays_prospections" autoWidth="false" filter="true"
                    [style]="{'width':'100%'}" placeholder="Choisissez des pays"></p-multiSelect>
                <!--<p>{{gestionCommercial?.pays_prospections}}</p>-->
            </div>
            <div class="field col-12 md:col-6">
                <label>Localisation du commercial</label>
                <p-dropdown [options]="paysList" formControlName="localisation" autoWidth="false" filter="true"
                    [style]="{'width':'100%'}" placeholder="Choisissez un pays"></p-dropdown>
                <!--<p>{{gestionCommercial?.localisation}}</p>-->
            </div>
            <h2 class="col-12">Contrat et commissions</h2>
            <div class="field col-12 md:col-6">
                <label>Etat contrat</label>
                <p-dropdown [options]="etatContratList" formControlName="etat_contrat" autoWidth="false"
                    [style]="{'width':'100%'}" placeholder="Choisissez un état"></p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
                <label>Contrat</label><br>
                <a *ngIf="gestionCommercial.contrat" (click)="downloadContrat()">Télécharger le contrat</a><br>
                <a (click)="uploadContrat()">Ajouter un contrat</a>
            </div>
        </form>
        <div class="col-12 card" *ngIf="AddCommission">
            <h3>Ajouter une commission</h3>
            <form class="p-fluid p-formgrid grid" [formGroup]="formCommission" (ngSubmit)="onAddCommission()">
                <div class="field col-12">
                    <label>Description</label>
                    <textarea pInputTextarea formControlName="description"></textarea>
                </div>
                <div class="field col-12">
                    <label>Montant</label>
                    <p-inputNumber formControlName="montant" inputId="locale-german" mode="currency" currency="EUR"
                        locale="fr-FR" [minFractionDigits]="2">
                    </p-inputNumber>
                </div>
                <div class="col-12">
                    <button pButton label="Ajouter cette commission" [disabled]="formCommission.invalid"
                        type="submit"></button>
                </div>
            </form>
        </div>
        <div class="col-12">
            <h3>Tableau Commissions</h3>
            <p-table #dt2 dataKey="_id" [rows]="10" [value]="gestionCommercial.commissions" [paginator]="true"
                editMode="row" [pageLinks]="5" [globalFilterFields]="['montant', 'description']"
                [totalRecords]="gestionCommercial.commissions.length" responsiveLayout="scroll"
                styleClass="p-datatable-gridlines">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                        <button pButton icon="pi pi-file" label="Ajouter" (click)="AddCommission=true" type="button"
                            style="float: right;margin-left:2%">
                        </button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="description" style="text-align: center;"> Description <p-sortIcon
                                field="description">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="montant" style="text-align: center;"> Montant <p-sortIcon
                                field="montant"></p-sortIcon>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-commission let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="commission">
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <textarea pInputTextarea [(ngModel)]="commission.description"></textarea>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{commission.description}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-inputNumber [(ngModel)]="commission.montant" inputId="locale-german"
                                        mode="currency" currency="EUR" locale="fr-FR" [minFractionDigits]="2">
                                    </p-inputNumber>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{commission.montant}}€
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <i *ngIf="!editing" pTooltip="Modifier la commission" pInitEditableRow
                                tooltipPosition="bottom" class="pi pi-pencil mr-2" (click)="onRowEditInit(commission);"
                                aria-hidden="true"></i>
                            <i *ngIf="editing" pSaveEditableRow class="pi pi-check p-button-success mr-2"
                                pTooltip="Sauvegarder les modifications" (click)="onRowEditSave(commission)"></i>
                            <i *ngIf="editing" pCancelEditableRow class="pi pi-times p-button-danger mr-2"
                                pTooltip="Annuler les modifications" (click)="onRowEditCancel(commission, ri)"></i>
                            <i pTooltip="Supprimer la commission" tooltipPosition="bottom" class="pi pi-trash"
                                aria-hidden="true" (click)="deleteCommission(commission)"> </i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <button pButton label="Enregistrer les modifications" class='col-12' (click)="onGestion()"></button>
        </div>

    </div>
    <div class="col-12" *ngIf="showFormAddCommercial">
        <div class="card">
            <i aria-hidden="true" class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;"
                (click)="showFormAddCommercial = false;">
            </i>
            <h4 style="text-align: center;">Ajouter un commercial</h4>
            <form class="p-fluid p-formgrid grid" [formGroup]="formAddCommercial" (ngSubmit)="onAddCommercial()">
                <div class="field col-12 md:col-2">
                    <label>Civilité</label>
                    <p-dropdown [options]="civiliteList" optionLabel="value" formControlName="civilite"></p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label for="nom">Nom</label>
                    <input pInputTextarea id="nom" rows="4" formControlName="lastname" />
                </div>
                <div class="field col-12 md:col-5">
                    <label for="prenom">Prénom</label>
                    <input pInputText id="prenom" type="text" formControlName="firstname" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="phone">Numéro de téléphone</label>
                    <input pInputText id="phone" type="tel" formControlName="phone" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" />
                </div>
                <div class="field col-12 md:col-4">
                    <label>Statut</label>
                    <p-dropdown [options]="statutList" optionLabel="value" formControlName="statut"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="password">Mot de passe</label>
                    <input pInputText id="password" type="password" formControlName="password" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="password_confirmed">Confirmer le mot de passe</label>
                    <input pInputText id="password_confirmed" type="password" formControlName="password_confirmed" />
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Ajouter ce commercial" [disabled]="formAddCommercial.invalid"
                        type="submit"></button>
                </div>
            </form>
        </div>
    </div>

    <!-- Formulaire de modification d'un collaborateur -->
    <div class="col-12" *ngIf="showFormUpdateCommercial">
        <div class="card">
            <i aria-hidden="true" class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;"
                (click)="showFormUpdateCommercial = false;">
            </i>
            <h4 style="text-align: center;">Modifier un commercial</h4>
            <form class="p-fluid p-formgrid grid" [formGroup]="formUpdateCommercial" (ngSubmit)="onUpdateCommercial()">
                <div class="field col-12 md:col-2">
                    <label>Civilité</label>
                    <p-dropdown [options]="civiliteList" optionLabel="value" formControlName="civilite"></p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label for="nom">Nom</label>
                    <input pInputTextarea id="nom" rows="4" formControlName="lastname" />
                </div>
                <div class="field col-12 md:col-5">
                    <label for="prenom">Prénom</label>
                    <input pInputText id="prenom" type="text" formControlName="firstname" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="phone">Numéro de téléphone</label>
                    <input pInputText id="phone" type="tel" formControlName="phone" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" />
                </div>
                <div class="field col-12 md:col-4">
                    <label>Statut</label>
                    <p-dropdown [options]="statutList" optionLabel="value" formControlName="statut"></p-dropdown>
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Modifier ce commercial" [disabled]="formUpdateCommercial.invalid"
                        type="submit"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <button *ngIf="idPartenaire" pButton pRipple label="Ajouter un commercial" class="mr-2 mb-2"
                style="float: right;"
                (click)="showFormAddCommercial = true; showFormUpdateCommercial = false;"></button>

            <h5>Liste des commercials</h5>
            <p-table #dt1 dataKey="_id" [rows]="10" [rowHover]="true" rowExpandMode="single"
                [value]="commercialPartenaires" [paginator]="true" [pageLinks]="5"
                [globalFilterFields]="['code_commercial_partenaire', 'statut']"
                [totalRecords]="commercialPartenaires.length" responsiveLayout="scroll"
                styleClass="p-datatable-gridlines">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                        <button pButton icon="pi pi-file" label="Exporter" (click)="exportExcel()" type="button"
                            style="float: right;margin-left:2%" *ngIf="!idPartenaire">
                        </button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code" style="text-align: center;"> ID Commercial <p-sortIcon field="code">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="nom_prenom" style="text-align: center;"> Prénom & Nom <p-sortIcon
                                field="nom_prenom"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email" style="text-align: center;"> Email <p-sortIcon field="email">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="telephone" style="text-align: center;"> Téléphone <p-sortIcon
                                field="telephone"></p-sortIcon>
                        </th>
                        <th pSortableColumn="statut" style="text-align: center;"> Statut <p-sortIcon field="statut">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="date_ajout" style="text-align: center;"> Date d'ajout <p-sortIcon
                                field="date_ajout">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="contribution" style="text-align: center;"> Contribution <p-sortIcon
                                field="contribution">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="pays_prospections" style="text-align: center;"> Pays de prospections
                            <p-sortIcon field="pays_prospections">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="localisation" style="text-align: center;"> Localisation <p-sortIcon
                                field="localisation">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="etat_contrat" style="text-align: center;"> Etat de contrat <p-sortIcon
                                field="etat_contrat">
                            </p-sortIcon>
                        </th>


                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-commercial>
                    <tr>
                        <td style="min-width: 14rem;">
                            {{ commercial.code_commercial_partenaire }}
                        </td>
                        <td style="min-width: 12rem;">
                            {{ users[commercial.user_id]?.firstname | titlecase }}
                            {{ users[commercial.user_id]?.lastname | uppercase}}

                        </td>
                        <td style="min-width: 12rem;">
                            {{ users[commercial.user_id]?.email_perso }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ users[commercial.user_id]?.phone }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ commercial.statut }}
                        </td>

                        <td style="min-width: 14rem;" *ngIf="users[commercial.user_id]?.date_creation">
                            {{ users[commercial.user_id]?.date_creation| date:'mediumDate' }}
                        </td>
                        <td style="min-width: 14rem;" *ngIf="!users[commercial.user_id]?.date_creation">
                            {{ commercial.date_ajout | date:'mediumDate' }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ commercial.contribution }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ commercial.pays_prospections }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ commercial.localisation }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ commercial.etat_contrat }}
                        </td>


                        <td style="min-width: 10rem;">
                            <i style="margin-left: 2%;" *ngIf="token && token.id!=commercial.user_id"
                                (click)="onInitGestion(commercial)" class="pi pi-user-edit" aria-hidden="true"
                                pTooltip="Gestion de commercial">
                            </i>
                            <i style="margin-left: 2%;" *ngIf="token && token.id!=commercial.user_id"
                                (click)="showFormUpdateCommercial = true; showFormAddCommercial = false; idCommercialToUpdate = commercial._id; idUserToUpdate = commercial.user_id; onGetById();"
                                class="pi pi-pencil" aria-hidden="true" pTooltip="Modifier le commercial"></i>
                            <i pTooltip="Voir les Leads affiliés" tooltipPosition="bottom" class="pi pi-envelope"
                                (click)="seePreRecruted(commercial)" aria-hidden="true" style="margin-left: 7px"></i>
                            <i pTooltip="Voir les Alternants affiliés" tooltipPosition="bottom" class="pi pi-envelope"
                                (click)="seeAlternants(commercial)" aria-hidden="true" style="margin-left: 7px"></i>
                            <i *ngIf="commercial.statut!='Admin'" pTooltip="Supprimer le commercial"
                                tooltipPosition="bottom" class="pi pi-trash" (click)="delete(commercial)"
                                aria-hidden="true" style="margin-left: 7px"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>