<p-toast></p-toast>
<div class="grid">
    <!-- Formulaire d'ajout d'un collaborateur -->
    <div class="col-12" *ngIf="showFormAddCommercial">
        <div class="card">
            <i aria-hidden="true" class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;"
                (click)="showFormAddCommercial = false;">
            </i>
            <h4 style="text-align: center;">Ajouter un collaborateur</h4>
            <form class="p-fluid p-formgrid grid" [formGroup]="formAddCommercial" (ngSubmit)="onAddCommercial()">
                <div class="field col-12 md:col-2">
                    <label>Civilité</label>
                    <p-dropdown [options]="civiliteList" optionLabel="value" formControlName="civilite"></p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label for="nom">Nom</label>
                    <input pInputTextarea id="nom" rows="4" formControlName="lastname" />
                </div>
                <div class="field col-12 md:col-5">
                    <label for="prenom">Prénom</label>
                    <input pInputText id="prenom" type="text" formControlName="firstname" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="phone">Numéro de téléphone</label>
                    <input pInputText id="phone" type="tel" formControlName="phone" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" />
                </div>
                <div class="field col-12 md:col-4">
                    <label>Statut</label>
                    <p-dropdown [options]="statutList" optionLabel="value" formControlName="statut"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="password">Mot de passe</label>
                    <input pInputText id="password" type="password" formControlName="password" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="password_confirmed">Confirmer le mot de passe</label>
                    <input pInputText id="password_confirmed" type="password" formControlName="password_confirmed" />
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Ajouter ce commercial" [disabled]="formAddCommercial.invalid"
                        type="submit"></button>
                </div>
            </form>
        </div>
    </div>

    <!-- Formulaire de modification d'un collaborateur -->
    <div class="col-12" *ngIf="showFormUpdateCommercial">
        <div class="card">
            <i aria-hidden="true" class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;"
                (click)="showFormUpdateCommercial = false;">
            </i>
            <h4 style="text-align: center;">Modifier un collaborateur</h4>
            <form class="p-fluid p-formgrid grid" [formGroup]="formUpdateCommercial" (ngSubmit)="onUpdateCommercial()">
                <div class="field col-12 md:col-2">
                    <label>Civilité</label>
                    <p-dropdown [options]="civiliteList" optionLabel="value" formControlName="civilite"></p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label for="nom">Nom</label>
                    <input pInputTextarea id="nom" rows="4" formControlName="lastname" />
                </div>
                <div class="field col-12 md:col-5">
                    <label for="prenom">Prénom</label>
                    <input pInputText id="prenom" type="text" formControlName="firstname" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="phone">Numéro de téléphone</label>
                    <input pInputText id="phone" type="tel" formControlName="phone" />
                </div>
                <div class="field col-12 md:col-4">
                    <label for="email">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" />
                </div>
                <div class="field col-12 md:col-4">
                    <label>Statut</label>
                    <p-dropdown [options]="statutList" optionLabel="value" formControlName="statut"></p-dropdown>
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Modifier ce commercial" [disabled]="formUpdateCommercial.invalid"
                        type="submit"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <button *ngIf="idPartenaire" pButton pRipple label="Ajouter un commercial" class="mr-2 mb-2"
                style="float: right;"
                (click)="showFormAddCommercial = true; showFormUpdateCommercial = false;"></button>

            <h5>Liste des collaborateurs</h5>
            <p-table #dt1 dataKey="_id" [rows]="10" [rowHover]="true" rowExpandMode="single"
                [value]="commercialPartenaires" [paginator]="true" [pageLinks]="5"
                [globalFilterFields]="['code_commercial_partenaire', 'statut']"
                [totalRecords]="commercialPartenaires.length" responsiveLayout="scroll"
                styleClass="p-datatable-gridlines">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                        <button pButton icon="pi pi-file" label="Exporter" (click)="exportExcel()" type="button"
                            style="float: right;margin-left:2%" *ngIf="!idPartenaire">
                        </button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code" style="text-align: center;"> ID Commercial <p-sortIcon field="code">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="nom_prenom" style="text-align: center;"> Prénom & Nom <p-sortIcon
                                field="nom_prenom"></p-sortIcon>
                        </th>
                        <th pSortableColumn="email" style="text-align: center;"> Email <p-sortIcon field="email">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="telephone" style="text-align: center;"> Téléphone <p-sortIcon
                                field="telephone"></p-sortIcon>
                        </th>
                        <th pSortableColumn="statut" style="text-align: center;"> Statut <p-sortIcon field="statut">
                            </p-sortIcon>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-commercial>
                    <tr>
                        <td style="min-width: 14rem;">
                            {{ commercial.code_commercial_partenaire }}
                        </td>
                        <td style="min-width: 12rem;">
                            {{ users[commercial.user_id]?.firstname | titlecase }}
                            {{ users[commercial.user_id]?.lastname | uppercase}}

                        </td>
                        <td style="min-width: 12rem;">
                            {{ users[commercial.user_id]?.email }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ users[commercial.user_id]?.phone }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ commercial.statut }}
                        </td>

                        <td style="min-width: 10rem;">
                            <i style="margin-left: 2%;" *ngIf="token && token.id!=commercial.user_id"
                                (click)="showFormUpdateCommercial = true; showFormAddCommercial = false; idCommercialToUpdate = commercial._id; idUserToUpdate = commercial.user_id; onGetById();"
                                class="pi pi-pencil" aria-hidden="true" pTooltip="Modifier le commercial"></i>
                            <i pTooltip="Voir les Eleves affiliés" tooltipPosition="bottom" class="pi pi-users"
                                (click)="seeRecruted(commercial)" aria-hidden="true" style="margin-left: 7px"></i>
                            <i pTooltip="Voir les Prospects affiliés" tooltipPosition="bottom" class="pi pi-envelope"
                                (click)="seePreRecruted(commercial)" aria-hidden="true" style="margin-left: 7px"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>