<p-toast key="tst" [baseZIndex]="99999"></p-toast>
<div class="grid">
    <div class="col-12">
        <p-dialog header="Merci de suivre ces instructions avant d'ajouter une nouvelle année scolaire"
            [(visible)]="display" modal="modal" showEffect="fade" [style]="{width: '30vw'}"
            [breakpoints]="{'960px': '75vw'}">
            <p class="line-height-3 m-0">
                Pour créer une année scolaire, veillez à saisir correctement le libelle de l'année scolaire
                dans le bon format.<br>
                <span style="color: red;">Ex: </span> 2022-2023 <br>
                <span style="color: red;">Ex: </span> 2022/2023 <br>
            </p>
            <ng-template pTemplate="footer">
                <button pButton icon="pi pi-check" (click)="display=false" label="Ok"
                    class="p-button-outlined"></button>
            </ng-template>
        </p-dialog>
        <div class="grid">
            <div class="col-12">
                <button (click)="display=true" pButton icon="pi pi-info-circle" label="Informations"
                    style="width:auto;"></button>
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4 style="text-align: center;">Ajouter une année scolaire</h4>
            <form class="p-fluid p-formgrid grid" (ngSubmit)="saveAnneeScolaire()" [formGroup]="anneeScolaireForm">
                <div class="field col-12 md:col-6">
                    <label for="libelle">Libéllé</label>
                    <input pInputText id="libelle" formControlName="libelle" type="text" placeholder="Ex: 2022-2023" />
                </div>
                <div class="field col-12 md:col-6">
                    <label>Etat</label>
                    <p-dropdown formControlName="etat" [options]="etat_annee" optionLabel="value" optionDisabled="actif"></p-dropdown>
                </div>
                <div style="justify-content: right;">
                    <button pButton label="Ajouter" type="submit"[disabled]="anneeScolaireForm.invalid" ></button>
                </div>
            </form>

            <a routerLink="/annee-scolaire" style="float: right;"><i class="pi pi-caret-right"></i> Voir les années-scolaires</a>
        </div>
    </div>
</div>