.en-tete
{
    text-align: center;
    background: #4e46e5e1;
    color: white;
}
.add-button
{
    float: right;
    margin-bottom: 3px;
}
.clear-float
{
    clear: both;
}
.filter-data
{
    margin: 2px;
}
.close-forme-icon
{
    color: red;
    font-size: 20px;
    float: right;
    cursor: pointer;
    margin-bottom: 2px;
}
.pi-pencil
{
    color: blue;
    cursor: pointer;
    margin: 1px;
}
.pi-chart-pie
{
    color: red;
    cursor: pointer;
    margin: 1px;
}
.no-file-td
{
    font-style: italic;
}
.td-file
{
    text-align: center;
    color: #808080;
    cursor: pointer;
    font-size: 20px;
}
.td-file-icone
{
    margin: 1px;
    color: #808080;
}
.input-file
{
    background-color: #6366F1;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.sub-form-small
{
    color: red;
}