<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
        <!-- formulaire d'ajout d'un nouveau stage -->
        <div class="card" *ngIf="showFormAdd">
            <i
                class="pi pi-times-circle close-forme-icon"
                (click)="showFormAdd = false"
            ></i>
            <div class="clear-float"></div>
            <div class="en-tete">
                <h2>Nouveau stage</h2>
            </div>

            <form [formGroup]="formAdd" (ngSubmit)="onAdd()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="student_id"
                            >Étudiant<span style="color: red">*</span></label
                        >
                        <p-dropdown
                            formControlName="student_id"
                            id="student_id"
                            [options]="students"
                            filter="true"
                        ></p-dropdown>
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="enterprise_id"
                            >Entreprise<span style="color: red">*</span></label
                        >
                        <p-dropdown
                            formControlName="enterprise_id"
                            id="enterprise_id"
                            [options]="enterprises"
                            filter="true"
                            (onChange)="onLoadTutors($event.value)"
                        ></p-dropdown>
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="tutor_id"
                            >Tuteur<span style="color: red">*</span></label
                        >
                        <p-dropdown
                            formControlName="tutor_id"
                            id="tutor_id"
                            [options]="tuteurs"
                            filter="true"
                        ></p-dropdown>
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="begin_date"
                            >Date de debut<span style="color: red"
                                >*</span
                            ></label
                        >
                        <input
                            pInputText
                            formControlName="begin_date"
                            id="begin_date"
                            type="date"
                        />
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="end_date"
                            >Date de fin<span style="color: red">*</span></label
                        >
                        <input
                            pInputText
                            formControlName="end_date"
                            id="begin_date"
                            type="date"
                        />
                    </div>

                    <div class="field md:col-3 col-12">
                        <label for="schedules_per_week"
                            >Horaires/ semaines<span style="color: red"
                                >*</span
                            ></label
                        >
                        <input
                            pInputText
                            formControlName="schedules_per_week"
                            id="schedules_per_week"
                            type="number"
                        />
                    </div>

                    <div class="field md:col-9 col-12">
                        <label for="commercial_id">Commercial referent</label>
                        <p-dropdown
                            formControlName="commercial_id"
                            id="commercial_id"
                            [options]="commercialFilters"
                            filter="true"
                        ></p-dropdown>
                    </div>

                    <div class="field col-12">
                        <label for="mission_tasks"
                            >Tâche de la mission<span style="color: red"
                                >*</span
                            ></label
                        >
                        <textarea
                            pInputTextarea
                            formControlName="mission_tasks"
                            id="mission_tasks"
                            type="text"
                        ></textarea>
                    </div>

                    <div class="field md:col-5 col-12">
                        <label for="gratification"
                            >Gratification<span style="color: red"
                                >*</span
                            ></label
                        >
                        <input
                            pInputText
                            formControlName="gratification"
                            id="gratification"
                            type="number"
                        />
                    </div>

                    <div class="field md:col-7 col-12">
                        <label for="payment_modality"
                            >Modalités de paiements<span style="color: red"
                                >*</span
                            ></label
                        >
                        <input
                            pInputText
                            formControlName="payment_modality"
                            id="payment_modality"
                            type="text"
                        />
                    </div>

                    <div class="field col-12">
                        <label for="other_advantages">Autres avantages</label>
                        <textarea
                            pInputTextarea
                            formControlName="other_advantages"
                            id="other_advantages"
                            type="text"
                        ></textarea>
                    </div>

                    <div class="field col-12">
                        <label for="school_year"
                            >Année-scolaire<span style="color: red"
                                >*</span
                            ></label
                        >
                        <p-multiSelect
                            class="p-dropdown-clearable"
                            [options]="anneeScolaires"
                            filter="true"
                            formControlName="school_year"
                            id="school_year"
                        >
                        </p-multiSelect>
                    </div>

                    <div class="field col-12">
                        <label For="code_commercial">Commercial référent</label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false
                            [options]="commercialData" dataKey="_id" filter="true"
                            formControlName="code_commercial">
                        </p-dropdown>
                    </div>

                    <div class="field">
                        <button
                            pButton
                            type="submit"
                            label="Ajouter"
                            icon="pi pi-plus"
                            [disabled]="formAdd.invalid"
                        ></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- formulaire de mise à jour d'un stage -->
        <div class="card" *ngIf="showFormUpdate">
            <i
                class="pi pi-times-circle close-forme-icon"
                (click)="showFormUpdate = false"
            ></i>
            <div class="clear-float"></div>
            <div class="en-tete">
                <h2>
                    Modifier le contrat de stage de
                    {{
                        stageToUpdate.student_id?.user_id?.firstname | titlecase
                    }}
                    {{
                        stageToUpdate.student_id?.user_id?.lastname | uppercase
                    }}
                </h2>
            </div>

            <form [formGroup]="formUpdate" (ngSubmit)="onUpdate()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="student_id">Étudiant</label>
                        <p-dropdown
                            formControlName="student_id"
                            id="student_id"
                            [options]="students"
                            optionLabel="label"
                            filter="true"
                        ></p-dropdown>
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="enterprise_id">Entreprise</label>
                        <p-dropdown
                            formControlName="enterprise_id"
                            id="enterprise_id"
                            [options]="enterprises"
                            filter="true"
                            (onChange)="onLoadTutors($event.value)"
                        ></p-dropdown>
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="tutor_id">Tuteur</label>
                        <p-dropdown
                            formControlName="tutor_id"
                            id="tutor_id"
                            [options]="tuteurs"
                            filter="true"
                        ></p-dropdown>
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="begin_date">Date de debut</label>
                        <p-calendar
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [required]="true"
                            [showOnFocus]="false"
                            [showIcon]="true"
                            placeHolder="26/05/1998"
                            dateFormat="dd/mm/yy"
                            formControlName="begin_date"
                        ></p-calendar>
                    </div>

                    <div class="field md:col-6 col-12">
                        <label for="end_date">Date de fin</label>
                        <p-calendar
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [required]="true"
                            [showOnFocus]="false"
                            [showIcon]="true"
                            placeHolder="26/05/1998"
                            dateFormat="dd/mm/yy"
                            formControlName="end_date"
                        ></p-calendar>
                    </div>

                    <div class="field md:col-3 col-12">
                        <label for="schedules_per_week"
                            >Horaires/ semaines</label
                        >
                        <input
                            pInputText
                            formControlName="schedules_per_week"
                            id="schedules_per_week"
                            type="number"
                        />
                    </div>

                    <div class="field md:col-9 col-12">
                        <label for="commercial_id">Commercial referent</label>
                        <p-dropdown
                            formControlName="commercial_id"
                            id="commercial_id"
                            [options]="commercialFilters"
                            filter="true"
                        ></p-dropdown>
                    </div>

                    <div class="field col-12">
                        <label for="mission_tasks">Tâche de la mission</label>
                        <textarea
                            pInputTextarea
                            formControlName="mission_tasks"
                            id="mission_tasks"
                            type="text"
                        ></textarea>
                    </div>

                    <div class="field md:col-5 col-12">
                        <label for="gratification">Gratification</label>
                        <input
                            pInputText
                            formControlName="gratification"
                            id="gratification"
                            type="number"
                        />
                    </div>

                    <div class="field md:col-7 col-12">
                        <label for="payment_modality"
                            >Modalités de paiements</label
                        >
                        <input
                            pInputText
                            formControlName="payment_modality"
                            id="payment_modality"
                            type="text"
                        />
                    </div>

                    <div class="field col-12">
                        <label for="other_advantages">Autres avantages</label>
                        <textarea
                            pInputTextarea
                            formControlName="other_advantages"
                            id="other_advantages"
                            type="text"
                        ></textarea>
                    </div>

                    <div class="field col-12">
                        <label for="school_year">Année-scolaire</label>
                        <p-multiSelect
                            class="p-dropdown-clearable"
                            [options]="anneeScolaires"
                            filter="true"
                            formControlName="school_year"
                            id="school_year"
                        >
                        </p-multiSelect>
                    </div>

                    <div class="field col-12">
                        <label For="code_commercial">Commercial référent</label>
                        <p-dropdown class="p-dropdown-clearable" [autoDisplayFirst]=false
                            [options]="commercialData" dataKey="_id" filter="true"
                            formControlName="code_commercial">
                        </p-dropdown>
                    </div>

                    <div class="field">
                        <button
                            pButton
                            type="submit"
                            label="Modifier"
                            icon="pi pi-plus"
                            [disabled]="formUpdate.invalid"
                        ></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- formulaire d'ajout ou de modification d'un fichier -->
        <div class="card" *ngIf="showFormAddDoc">
            <i
                class="pi pi-times-circle close-forme-icon"
                (click)="showFormAddDoc = false"
            ></i>
            <div class="clear-float"></div>
            <div class="en-tete">
                <h2>Ajouter ou modifier un document sur ce stage</h2>
            </div>

            <form [formGroup]="formAddDoc" (ngSubmit)="onUploadDoc()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="fileType"
                            >Quelle type de fichier uploader ?</label
                        >
                        <p-dropdown
                            id="fileType"
                            [options]="fileTypeList"
                            formControlName="fileType"
                        ></p-dropdown>
                    </div>
                    <div class="field col-12">
                        <input
                            class="input-file"
                            pInputFile
                            type="file"
                            accept="application/pdf"
                            maxFileSize="1000000"
                            (change)="onSelectFile($event)"
                        />
                    </div>
                    <div class="field">
                        <button
                            pButton
                            label="Téléverser le fichier"
                            icon="pi pi-file"
                            type="submit"
                            [disabled]="formAddDoc.invalid"
                        ></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- formulaire de modification du status -->
        <p-dialog
            header="Mise à jour du statut du contrat de stage"
            [(visible)]="showFormUpdateStatus"
            [modal]="true"
            [draggable]="false"
            [style]="{ width: '50vw', height: '500px' }"
        >
            <form [formGroup]="formUpdateStatus" (ngSubmit)="onUpdateStatus()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="status"
                            >Nouveau statut du contrat de stage</label
                        >
                        <p-dropdown
                            [options]="statusList"
                            id="status"
                            formControlName="status"
                        ></p-dropdown>
                    </div>
                    <div class="field">
                        <button
                            pButton
                            label="Mettre à jour"
                            type="submit"
                            [disabled]="formUpdateStatus.invalid"
                        ></button>
                    </div>
                </div>
            </form>
        </p-dialog>

        <!-- Table d'affichage de la liste des stages -->
        <div class="card">
            <div class="add-button">
                <button
                    pButton
                    class="p-button-outlined"
                    icon="pi pi-fw {{ showFormAdd ? 'pi-times' : 'pi-plus' }}"
                    label="{{ showFormAdd ? 'Fermer' : 'Ajouter' }}"
                    (click)="showFormAdd = !showFormAdd"
                ></button>
            </div>
            <div class="clear-float"></div>
            <div class="en-tete">
                <h2>Gestion des stages</h2>
            </div>

            <p-table
                [value]="stages"
                dataKey="_id"
                #dt1
                [rowHover]="true"
                [totalRecords]="stages.length"
                [paginator]="true"
                [rows]="8"
                [pageLinks]="5"
                responsiveLayout="scroll"
                [globalFilterFields]="[
                    'student_id.user_id.lastname',
                    'student_id.user_id.firstname',
                    'enterprise_id.r_sociale',
                    'commercial_id.lastname',
                    'commercial_id.firstname',
                    'commercial_id.lastname',
                    'gratification',
                    'tutor_id.user_id.firstname',
                    'tutor_id.user_id.lastname'
                ]"
            >
                <ng-template pTemplate="caption">
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="
                                dt1.filterGlobal(
                                    $event.target.value,
                                    'contains'
                                )
                            "
                            placeholder="Recherche"
                            class="filter-data"
                        />
                    </span>
                    <div class="flex table-header">
                        <p-dropdown
                            [options]="commercialFilters"
                            (onChange)="
                                dt1.filter(
                                    $event.value,
                                    'commercial_id._id',
                                    'equals'
                                )
                            "
                            class="filter-data"
                            filter="true"
                        >
                        </p-dropdown>

                        <p-dropdown
                            [options]="campusFilters"
                            (onChange)="
                                dt1.filter(
                                    $event.value,
                                    'student_id.campus._id',
                                    'equals'
                                )
                            "
                            class="filter-data"
                            filter="true"
                        >
                        </p-dropdown>

                        <p-dropdown
                            [options]="certificateFilters"
                            (onChange)="
                                dt1.filter(
                                    $event.value,
                                    'student_id.classe_id.diplome_id._id',
                                    'equals'
                                )
                            "
                            class="filter-data"
                            filter="true"
                        >
                        </p-dropdown>

                        <p-dropdown
                            [options]="statusFilters"
                            (onChange)="
                                dt1.filter($event.value, 'status', 'equals')
                            "
                            class="filter-data"
                            filter="true"
                        >
                        </p-dropdown>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th>Prénom et NOM</th>
                        <th>Statut</th>
                        <th>Formation</th>
                        <th>Entreprise</th>
                        <th>Opco</th>
                        <th>École</th>
                        <th>Dates du stage</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stage let-expanded="expanded">
                    <tr>
                        <td>
                            <button
                                type="button"
                                pButton
                                pRipple
                                [pRowToggler]="stage"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="
                                    expanded
                                        ? 'pi pi-chevron-down'
                                        : 'pi pi-chevron-right'
                                "
                            ></button>
                        </td>
                        <td>
                            {{
                                stage.student_id?.user_id?.firstname | titlecase
                            }}
                            {{
                                stage.student_id?.user_id?.lastname | uppercase
                            }}
                        </td>
                        <td>
                            <p-tag
                                *ngIf="stage.status == null"
                                icon="pi pi-times"
                                severity="danger"
                                [value]="'Aucun status définit'"
                            >
                            </p-tag>
                            <p-tag
                                *ngIf="stage.status == 'Crée'"
                                icon="pi pi-exclamation-triangle"
                                severity="warning"
                                [value]="stage.status"
                            >
                            </p-tag>
                            <p-tag
                                *ngIf="stage.status == 'Conclu'"
                                icon="pi pi-info"
                                severity="info"
                                [value]="stage.status"
                            >
                            </p-tag>
                            <p-tag
                                *ngIf="stage.status == 'Champs requis'"
                                icon="pi pi-info-circle"
                                severity="danger"
                                [value]="stage.status"
                            >
                            </p-tag>
                            <p-tag
                                *ngIf="stage.status == 'Établie'"
                                icon="pi pi-info"
                                severity="info"
                                [value]="stage.status"
                            >
                            </p-tag>
                            <p-tag
                                *ngIf="stage.status == 'Signé'"
                                icon="pi pi-pencil"
                                severity="success"
                                [value]="stage.status"
                            >
                            </p-tag>
                            <p-tag
                                *ngIf="stage.status == 'Fini'"
                                icon="pi pi-check"
                                severity="success"
                                [value]="stage.status"
                            >
                            </p-tag>
                        </td>
                        <td>
                            {{ stage.student_id?.classe_id?.diplome_id?.titre }}
                        </td>
                        <td>{{ stage.enterprise_id?.r_sociale }}</td>
                        <td>{{ stage.enterprise_id?.OPCO }}</td>
                        <td>
                            {{ stage.student_id?.campus?.ecole_id?.libelle }}
                        </td>
                        <td>
                            {{ stage.begin_date | date : "dd MMMM YYYY" }} -
                            {{ stage.end_date | date : "dd MMMM YYYY" }}
                        </td>
                        <td>
                            <i
                                class="pi pi-pencil"
                                pTooltip="Modifier le contrat"
                                aria-hidden="true"
                                (click)="onPatchFormUpdate(stage)"
                            ></i>
                            <i
                                class="pi pi-chart-pie"
                                pTooltip="Voir Assiduité"
                                aria-hidden="true"
                                (click)="showPresence(stage.student_id._id)"
                            ></i>
                            <i
                                class="pi pi-bookmark"
                                pTooltip="Mettre le status à jour"
                                aria-hidden="true"
                                (click)="
                                    stageToUpdate = stage;
                                    onShowFormUpdateStatus()
                                "
                            ></i>
                            <!-- icônes de téléchargement des fichiers liés au stage -->
                            <i
                                class="pi pi-file td-file-icone"
                                pTooltip="Ajouter ou modifier un fichier"
                                (click)="
                                    stageToUpdate = stage; showFormAddDoc = true
                                "
                            ></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-stage>
                    <tr>
                        <td colspan="8">
                            <!-- informations sur le tuteur -->
                            <div class="p-3">
                                <p-table responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Tuteur</th>
                                        </tr>
                                        <tr>
                                            <th>Prénom et NOM</th>
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                            <th>Fonction</th>
                                            <th>Date de naissance</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body">
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td>
                                                {{
                                                    stage.tutor_id?.user_id
                                                        ?.firstname | titlecase
                                                }}
                                                {{
                                                    stage.tutor_id?.user_id
                                                        ?.lastname | uppercase
                                                }}
                                            </td>
                                            <td>
                                                {{
                                                    stage.tutor_id?.user_id
                                                        ?.email_perso
                                                }}
                                            </td>
                                            <td>
                                                {{
                                                    stage.tutor_id?.user_id
                                                        ?.phone
                                                }}
                                            </td>
                                            <td>
                                                {{ stage.tutor_id?.fonction }}
                                            </td>
                                            <td>
                                                {{
                                                    stage.tutor_id
                                                        ?.date_naissance
                                                }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <!-- informations sur l'entreprise -->
                            <div class="p-3">
                                <p-table responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Entreprise</th>
                                        </tr>
                                        <tr>
                                            <th>Activité</th>
                                            <th>Siret</th>
                                            <th>Téléphone</th>
                                            <th>Adresse</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body">
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td>
                                                {{
                                                    stage.enterprise_id
                                                        ?.activite
                                                }}
                                            </td>
                                            <td>
                                                {{ stage.enterprise_id?.siret }}
                                            </td>
                                            <td>
                                                {{
                                                    stage.enterprise_id
                                                        ?.indicatif_ent
                                                }}
                                                {{
                                                    stage.enterprise_id
                                                        ?.phone_ent
                                                }}
                                            </td>
                                            <td>
                                                <address>
                                                    {{
                                                        stage.enterprise_id
                                                            ?.adresse_ent
                                                    }}, <br />
                                                    {{
                                                        stage.enterprise_id
                                                            ?.code_postale_ent
                                                    }},
                                                    <strong>{{
                                                        stage.enterprise_id
                                                            ?.ville_ent
                                                    }}</strong>
                                                </address>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <!-- informations sur le représentant -->
                            <div class="p-3">
                                <p-table responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Représentant</th>
                                        </tr>
                                        <tr>
                                            <th>Prénom et NOM</th>
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body">
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td>
                                                {{
                                                    stage.enterprise_id
                                                        ?.directeur_id
                                                        ?.firstname | titlecase
                                                }}
                                                {{
                                                    stage.enterprise_id
                                                        ?.directeur_id?.lastname
                                                        | uppercase
                                                }}
                                            </td>
                                            <td>
                                                {{
                                                    stage.enterprise_id
                                                        ?.directeur_id
                                                        ?.email_perso
                                                }}
                                            </td>
                                            <td>
                                                {{
                                                    stage.enterprise_id
                                                        ?.directeur_id?.phone
                                                }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <!-- commercial referent -->
                            <div class="p-2">
                                <p-table
                                    responsiveLayout="scroll"
                                    styleClass="p-datatable-gridlines"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Commercial referent</th>
                                        </tr>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td>
                                                {{ stage.code_commercial?.lastname }}
                                            </td>
                                            <td>
                                                {{ stage.code_commercial?.firstname }}
                                            </td>
                                            <td>{{ stage.code_commercial?.email }}</td>
                                            <td>
                                                {{ stage.code_commercial?.indicatif
                                                }}{{ stage.code_commercial?.phone }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <!-- Fichier liés au contrat -->
                            <div class="p-3">
                                <p-table responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Fichier liés au contrat</th>
                                        </tr>
                                        <tr>
                                            <th>Convention</th>
                                            <th>Avenant</th>
                                            <th>Attestation</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body">
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td
                                                *ngIf="stage.convention != null"
                                            >
                                                <i
                                                    class="pi pi-file td-file"
                                                    (click)="
                                                        onDownloadDoc(
                                                            'convention',
                                                            stage._id
                                                        )
                                                    "
                                                ></i>
                                            </td>
                                            <td
                                                *ngIf="stage.convention == null"
                                                class="no-file-td"
                                            >
                                                -aucun fichier-
                                            </td>

                                            <td *ngIf="stage.avenant != null">
                                                <i
                                                    class="pi pi-file td-file"
                                                    (click)="
                                                        onDownloadDoc(
                                                            'avenant',
                                                            stage._id
                                                        )
                                                    "
                                                ></i>
                                            </td>
                                            <td
                                                *ngIf="stage.avenant == null"
                                                class="no-file-td"
                                            >
                                                -aucun fichier-
                                            </td>

                                            <td
                                                *ngIf="
                                                    stage.attestation != null
                                                "
                                            >
                                                <i
                                                    class="pi pi-file td-file"
                                                    (click)="
                                                        onDownloadDoc(
                                                            'attestation',
                                                            stage._id
                                                        )
                                                    "
                                                ></i>
                                            </td>
                                            <td
                                                *ngIf="
                                                    stage.attestation == null
                                                "
                                                class="no-file-td"
                                            >
                                                -aucun fichier-
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            <!-- personne qui a ajouté le contrat -->
                            <div class="p-2">
                                <p-table
                                    responsiveLayout="scroll"
                                    styleClass="p-datatable-gridlines"
                                >
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Ajouté le {{ stage?.added_date | date : "dd MMMM YYYY" }}, par</th>
                                        </tr>
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td>
                                                {{ stage.add_by?.lastname }}
                                            </td>
                                            <td>
                                                {{ stage.add_by?.firstname }}
                                            </td>
                                            <td>{{ stage.add_by?.email }}</td>
                                            <td>
                                                {{ stage.add_by?.indicatif
                                                }}{{ stage.add_by?.phone }}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
