<p-toast></p-toast>
<div class="grid col-12">
    <div class="grid col-12 card" *ngIf="rdvToUpdate">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="rdvToUpdate=null"
            aria-hidden="true"> </i>
        <h3 style="font-weight: bold; text-align: center;">Mettre à jour
            le rendez-vous
        </h3>
        <form class="p-fluid p-formgrid grid col-12" [formGroup]="form" (ngSubmit)="onUpdate()">
            <div class="field col-12">
                <label>Date: </label>
                <p-calendar formControlName="meeting_start_date" placeholder="Ex: 20/01/2000"
                    showTime="true"></p-calendar>
            </div>
            <button pButton [disabled]="form.invalid" label="Mettre à jour le rendez-vous"></button>
        </form>
    </div>
    <div class="grid col-12 card">
        <h5 class="col-9">Liste des rendez-vous</h5>
        <p-table #dt1 dataKey="_id" [rows]="8" [rowHover]="true" [paginator]="true" [value]="meetings" class="col-12"
            [paginator]="true" [pageLinks]="5"
            [globalFilterFields]="['statut', 'winner_id.firstname','winner_id.lastname','user_id.firstname','user_id.lastname','company_email','description']"
            responsiveLayout="scroll" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">

                <div class="flex justify-content-center align-items-center">
                    <!--<div>
                        <p>Date</p>
                        <p-columnFilter type="date" field="date" display="menu"></p-columnFilter>
                    </div>-->
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter
                            (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                            class="w-full" />
                    </span>
                    <p-dropdown [style]="{'margin':'5px'}" [options]="filterStatut" filter="true"
                        (onChange)="dt1.filter($event.value, 'statut', 'equals');"
                        emptyFilterMessage="Pas de source trouvé"
                        filterPlaceholder="Choisissez une source"></p-dropdown>
                    <p-calendar [style]="{'margin':'5px'}" (onSelect)="onFilterDate($event)"
                        placeholder="Date à partir de"></p-calendar>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="offre_id.custom_id" scope="col" style="text-align: center;">
                        ID Offre <p-sortIcon field="offre_id.custom_id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="user_id.firstname" scope="col" style="text-align: center;">
                        Prénom & Nom <p-sortIcon field="user_id.firstname"></p-sortIcon>
                    </th>
                    <th pSortableColumn="meeting_start_date" scope="col" style="text-align: center;">
                        Date <p-sortIcon field="meeting_start_date"></p-sortIcon>
                    </th>
                    <th pSortableColumn="statut" scope="col" style="text-align: center;">
                        Statut <p-sortIcon field="statut"></p-sortIcon>
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rdv>
                <tr>
                    <td [ngClass]="{'valid-begin':(rdv?.statut=='Validé'),'annuler-begin':(rdv?.statut=='Annulé')}">
                        {{rdv?.offre_id?.custom_id }}
                    </td>
                    <td [ngClass]="{'valid-middle':(rdv?.statut=='Validé'),'annuler-middle':(rdv?.statut=='Annulé')}">
                        {{rdv?.user_id?.firstname|titlecase }} {{rdv?.user_id?.lastname |uppercase }}
                    </td>
                    <td [ngClass]="{'valid-middle':(rdv?.statut=='Validé'),'annuler-middle':(rdv?.statut=='Annulé')}">
                        {{rdv?.meeting_start_date | date:'dd MMMM yy'}} {{rdv?.meeting_start_date | date:'shortTime'}}
                    </td>
                    <td [ngClass]="{'valid-middle':(rdv?.statut=='Validé'),'annuler-middle':(rdv?.statut=='Annulé')}">
                        {{rdv?.statut}}
                    </td>
                    <td [ngClass]="{'valid-end':(rdv?.statut=='Validé'),'annuler-end':(rdv?.statut=='Annulé')}">
                        <i pTooltip="Replanifier" style="margin-left: 2%; cursor: pointer;color: green;"
                            *ngIf="!isEtudiant" class="pi pi-pencil" (click)="onInitUpdate(rdv)" aria-hidden="true"></i>
                        <i pTooltip="Valider" style="margin-left: 2%; cursor: pointer;color: green;"
                            *ngIf="(rdv.statut=='Planifié' || !rdv.statut) && !isEntreprise" class="pi pi-check"
                            (click)="changeStatut('Validé',rdv)" aria-hidden="true"></i>
                        <i pTooltip="Annulé" style="margin-left: 2%; cursor: pointer;color: red;"
                            *ngIf="(rdv.statut=='Planifié' || !rdv.statut)" class="pi pi-times" (click)="changeStatut('Annulé',rdv)"
                            aria-hidden="true"></i>
                    </td>
                </tr>

            </ng-template>
        </p-table>
    </div>
</div>