<p-toast></p-toast>
<p-dialog header="Envoie de mail" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}"
	[style]="{width: '90vw',height:'90vw'}" [draggable]="false" [resizable]="false">
	<input class="mb-2" pInputText type="text" [(ngModel)]="objetMail" placeholder="Objet du mail" /><br />
	<textarea pInputTextarea [(ngModel)]="mailtype" [style]="{width: '85vw',height:'35vw'}"
		[placeholder]=placeholderType></textarea>
	<ng-template pTemplate="footer">
		<p-button (click)="loadDefautEDT()" label="Charger le mail type 'Emploi du temps' par défaut"
			styleClass="p-button-text"></p-button>
		<p-button [disabled]="mailtype==''||objetMail==''"
			(click)="displayResponsive=false;sendCalendar(mailtype,objetMail)" label="Envoyer ce mail"
			styleClass="p-button-text">
		</p-button>
	</ng-template>
</p-dialog>
<div class="grid">
	<!-- Formulaire de modification du groupe -->
	<div class="col-12" *ngIf="showFormUpdateClasse">
		<div class="card">
			<i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
				(click)="showFormUpdateClasse = null; formUpdateClasse.reset()"> </i>
			<h4 style="text-align: center;">Modifier un groupe</h4>
			<form class="p-fluid p-formgrid grid" [formGroup]="formUpdateClasse" (ngSubmit)="modifyClasse()">
				<div class="field col-12">
					<label for="campus">Campus</label>
					<p-dropdown [options]="dropdownCampus" optionLabel="libelle" formControlName="campus_id"
						emptyFilterMessage="Pas de campus trouvé" filterPlaceholder="Choissisez un campus"
						filter="true"></p-dropdown>
				</div>

				<div class="field col-12 md:col-6">
					<label For="libelle">Diplôme</label>
					<p-dropdown [options]="dropdownDiplome" optionLabel="libelle" formControlName="diplome_id"
						(onChange)="chooseDiplome($event.value,'Add')"></p-dropdown>
				</div>
				<div class="field col-12 md:col-6">
					<label For="annee">Année <span style="color: red;"> * </span></label>
					<p-dropdown [options]="dropdownAnnee" optionLabel="libelle" formControlName="annee"></p-dropdown>
				</div>
				<div class="field col-12">
					<label For="nom_groupe">Groupe <span style="color: red;"> * </span></label>
					<p-dropdown [options]="dropdownGroupe" optionLabel="libelle" formControlName="libelle"></p-dropdown>
				</div>
				<div style="justify-content: right;">
					<button pButton label="Modifier" type="submit" [disabled]="formUpdateClasse.invalid"></button>
				</div>
			</form>
		</div>
	</div>

	<div class="col-12" *ngIf="showPV">
		<div class="card">
			<i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
				(click)="showPV = null; formPV.reset()"> </i>
			<h4 style="text-align: center;">Générer un PV</h4>
			<form class="p-fluid p-formgrid grid" [formGroup]="formPV">
				<div class="field col-12">
					<label for="campus">Semestre</label>
					<p-dropdown [options]="semestreList" formControlName="semestre" placeholder="Choissisez un semestre"></p-dropdown>
				</div>
				<div style="justify-content: right;" class="col-6">
					<button pButton label="PV Note" type="button" [disabled]="formPV.invalid" (click)="generatePV()"></button>
				</div>
				<div style="justify-content: right;" class="col-6">
					<button pButton label="PV Appreciations" type="button" [disabled]="formPV.invalid" (click)="generatePVApp()"></button>
				</div>
			</form>
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			<div style="float: right;">
				<button pButton icon="pi pi-plus" label="Ajouter" (click)="onRedirect();"></button>
			</div>
			<h5>Liste des groupes</h5>
			<p-table #dt1 *ngIf="classes" [value]="classes" rowExpandMode="single" dataKey="_id" [rows]="10"
				[rowHover]="true" [totalRecords]="classes.length" [paginator]="true" [pageLinks]="5"
				[globalFilterFields]="['abbrv']" responsiveLayout="scroll" styleClass="p-datatable-gridlines">

				<p-multiSelect [options]="searchClass" placeholder="Choissisez les groupes"
					(onChange)="dt1.filter($event.value, 'filiere','in');">
				</p-multiSelect>

				<ng-template pTemplate="caption">
					<span class="p-input-icon-left mb-2">
						<i class="pi pi-search"></i>
						<input pInputText type="text" #filter
							(input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
							class="w-full" />
					</span>
					<p-dropdown filter="true" placeholder="Département" [options]="[{value:null,label:'Tous les départements'},
						{value:'Informatique',label:'Informatique'},
						{value:'Commerce',label:'Commerce'},
						{value:'Construction',label:'Construction'},
						{value:'Tertiaire',label:'Tertiaire'}]" (onChange)="dt1.filter($event.value, 'diplome_id.domaine','equals')"
						emptyFilterMessage="Pas de département trouvé" filterPlaceholder="Département"
						[style]="{'margin':'5px'}">
					</p-dropdown>
					<p-dropdown filter="true" placeholder="Diplome" [options]="diplomeFilter"
						(onChange)="dt1.filter($event.value, 'diplome_id._id','equals')"
						emptyFilterMessage="Pas de diplome trouvé" filterPlaceholder="Diplome"
						[style]="{'margin':'5px'}">
					</p-dropdown>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="nom_groupe" style="text-align: center;"> Nom du groupe <p-sortIcon
								field="nom_groupe"></p-sortIcon>
						</th>
						<th pSortableColumn="diplome" style="text-align: center;"> Diplôme <p-sortIcon field="diplome">
							</p-sortIcon>
						</th>
						<th pSortableColumn="campus" style="text-align: center;"> Campus <p-sortIcon field="campus">
							</p-sortIcon>
						</th>
						<th pSortableColumn="nb_etudiant"> Nombres d'étudiants <p-sortIcon field="nb_etudiant">
							</p-sortIcon>
						</th>
						<th>
							<div class="flex justify-content-between align-items-center">
								Action
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData>
					<tr>
						<td style="min-width: 12rem;">
							{{ rowData.abbrv }}
						</td>
						<td style="min-width: 12rem;">
							{{ rowData.diplome_id.titre }}
						</td>
						<td style="min-width: 12rem;">
							{{ campus[rowData.campus_id]?.libelle }}
						</td>
						<td *ngIf='numberClasse[rowData._id]'>
							{{ numberClasse[rowData._id] }}
						</td>
						<td *ngIf='!numberClasse[rowData._id]'>
							0
						</td>
						<td style="min-width: 10rem;">
							<i aria-hidden="true" pTooltip="Modifier" tooltipPosition="bottom" class="pi pi-pencil"
								*ngIf="user.departement==rowData.diplome_id.domaine || user.role=='Admin'"
								tooltipPosition="bottom"
								(click)="idClasseToUpdate = rowData._id; onGetById(); showFormUpdateClasse = true; showFormAddClasse = false; diplomeToUpdate = rowData.diplome_id.titre;"></i>
							<i class="pi pi-calendar" aria-hidden="true" (click)="showCalendar(rowData)"
								tooltipPosition="bottom" pTooltip="Voir le calendrier du groupe"></i>
							<i class="pi pi-envelope" aria-hidden="true"
								(click)="displayResponsive=true;mailtype='';groupeEdt=rowData" tooltipPosition="bottom"
								pTooltip="Envoyer un mail au groupe"></i>
							<i class="pi pi-file-excel" pTooltip="Générer un PV Semestriel/Annuel" (click)="initPV(rowData)"
								tooltipPosition="bottom" aria-hidden="true"></i>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>

	</div>
</div>