.content{
    max-width: 500px;
    margin:auto;
    background-color: #fff;
    padding: 2% 2%;
  }
  button{
    background-color: green;
    color: #fff;
  }
  button:hover{
    color: #fff;
  }
  .error
  {
      color: red;
  }
  .logo {
    max-width: 50%;
  }

  .btnBW{
    border: none!important;
    background-color: white!important;
    color: black!important;
    box-shadow: none!important;
    float: left;
  }
  .btnBW:hover{
    cursor: pointer;
    background-color: lightgrey!important;
  }

  .microsoft{
    width: 24px;
    height: 24px;
    float: right;
  }

  .micro{
    width: 24px;
    height: 24px;
  }

  .btnBW2{
    border: none!important;
    background-color: white!important;
    color: black!important;
    box-shadow: none!important;
  }
  .btnBW2:hover{
    cursor: pointer;
    background-color: lightgrey!important;
  }