<div class="col-12">
    <div class="card">
        <h5>Liste des étudiants</h5>
        <p-toast></p-toast>
        <p-table #dt1 [value]="etudiants" dataKey="_id" responsiveLayout="scroll"
            [globalFilterFields]="['statut', 'user_id', 'classe_id','user_id.lastname','user_id.firstname','custom_id','user_id.email']"
            [rows]="10" [pageLinks]="10" [paginator]="true" rowExpandMode="single" [totalRecords]="etudiants.length"
            styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">

                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    placeholder="Recherche" />

                <p-dropdown [style]="{'margin':'5px'}" [options]="typeEtudiant" filter="true"
                    (onChange)="dt1.filter($event.value, 'isAlternant', 'equals'); onFilterByType($event)"
                    emptyFilterMessage="Pas de type trouvé" filterPlaceholder="Type"></p-dropdown>

                <!--<p-multiSelect [options]="searchClass" placeholder="Choissisez les groupes"
                    (onChange)="dt1.filter($event.value, 'classe_id._id','in');" [style]="{'margin':'5px'}">
                </p-multiSelect>-->
                <p-dropdown [options]="searchClass" placeholder="Choisir un groupe" filter="true"
                    (onChange)="dt1.filter($event.value, 'classe_id._id','equals'); onFilterbyGroup($event);"
                    [style]="{'margin':'5px'}">
                </p-dropdown>

                <p-dropdown [style]="{'margin':'5px'}" [options]="filterCampus" filter="true"
                    (onChange)="dt1.filter($event.value, 'campus._id', 'equals'); onFilterByCampus($event);"
                    emptyFilterMessage="Pas de type trouvé" filterPlaceholder="Campus"></p-dropdown>

                <p-dropdown [style]="{'margin':'5px'}" [options]="filterAnneeScolaire" filter="true"
                    (onChange)="dt1.filter($event.value, 'annee_scolaire', 'contains'); onFilterByAS($event)"
                    emptyFilterMessage="Pas de type trouvé" filterPlaceholder="Annee Scolaire"></p-dropdown>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!--<th style="width: 3rem"></th>-->
                    <th pSortableColumn="custom_id">ID <p-sortIcon field="custom_id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="user_id.firstname">Prénom & Nom<p-sortIcon field="user_id.firstname">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="ecole_id?.libelle">Ecole <p-sortIcon field="ecole_id?.libelle">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="filiere?.titre">Filière <p-sortIcon field="filiere?.titre">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="classe_id.abbrv">Groupe <p-sortIcon field="classe_id.abbrv"></p-sortIcon>
                    </th>
                    <th pSortableColumn="campus.libelle">Campus <p-sortIcon field="campus.libelle"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="isAlternant">Initial/Alternant<p-sortIcon field="isAlternant"></p-sortIcon>
                    </th>
                    <th>Action </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-etudiant let-expanded="expanded">
                <tr *ngIf="etudiant.user_id">
                    <!--<td>
                        <button type="button" pButton pRipple [pRowToggler]="etudiant"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                            (click)="loadPP(etudiant);"></button>
                    </td>-->
                    <td style="min-width: 12rem;">{{ etudiant.custom_id }}</td>

                    <td>
                        {{ etudiant.user_id.firstname }} {{ etudiant.user_id.lastname | uppercase }}
                    </td>
                    <td>{{etudiant?.ecole_id?.libelle}}</td>
                    <td>{{etudiant?.filiere?.titre}}</td>
                    <td style="min-width: 10rem;">{{ etudiant.classe_id?.abbrv }}</td>
                    <td style="min-width: 10rem;">{{ etudiant?.campus?.libelle }}</td>
                    <td style="min-width: 10rem;">
                        <span *ngIf="etudiant.user_id.email">{{ etudiant.user_id.email }}</span>
                        <span *ngIf="!etudiant.user_id.email" style="color: red;">X</span>
                    </td>
                    <td style="min-width: 10rem;" *ngIf="etudiant.isAlternant">
                        Alternant
                    </td>
                    <td style="min-width: 10rem;" *ngIf="!etudiant.isAlternant">
                        Initial
                    </td>
                    <td>
                        <a href="{{etudiant.lien_livret_excel.edit}}" target="_blank"><i
                                pTooltip="Voir le livret Excel" tooltipPosition="bottom" class="pi pi-file-excel"
                                style="margin-left: 2%;" aria-hidden="true"></i></a>
                        <a href="{{etudiant.lien_livret_word.edit}}" target="_blank"><i
                                pTooltip="Voir le livret Word" tooltipPosition="bottom" class="pi pi-file-pdf"
                                style="margin-left: 2%;" aria-hidden="true"></i></a>
                        <i pTooltip="Ajouter un document" tooltipPosition="bottom" class="pi pi-upload"
                            style="margin-left: 2%;" (click)="showUploadFile=etudiant;scrollToTop()"
                            aria-hidden="true"></i>
                        <i (click)="router.navigate(['/details/'+etudiant._id])" pTooltip="Suivie assiduité"
                            style="margin-left: 2%;" tooltipPosition="bottom" class="pi pi-chart-bar"
                            aria-hidden="true">
                        </i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-etudiant>
                <tr>
                    <td colspan="11">
                        <div class="p-3">
                            <p-table responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th>Adresse </th>
                    <th>Date de naissance </th>
                    <th>Téléphone </th>
                    <th>Dernier diplôme obtenu </th>
                    <th>Email d'urgence </th>
                    <th>Téléphone d'urgence</th>
                    <th>Numéro INE</th>
                    <th>Numéro NIR </th>
                    <th>NB Absences</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>
                        <img alt="userPicture" [src]="imageToShow" style="max-width: 140px; max-height: 140px;">
                    </td>
                    <td *ngIf="etudiant.user_id">
                        {{ etudiant.user_id.numero_adresse }} {{etudiant.user_id.rue_adresse }} {{
                        etudiant.user_id.postal_adresse }} <br> {{ etudiant.user_id.ville_adresse }}
                        {{ etudiant.user_id.pays_adresse }}
                    </td>
                    <td>
                        {{ etudiant.date_naissance | date:'dd/MM/yyyy' }}
                    </td>
                    <td *ngIf="etudiant.user_id">
                        {{ etudiant.user_id?.phone }}
                    </td>
                    <td>
                        {{ etudiant.dernier_diplome }}
                    </td>
                    <td>
                        {{ etudiant.sos_email }}
                    </td>
                    <td>
                        {{ etudiant.sos_phone }}
                    </td>
                    <td>
                        {{ etudiant.numero_INE }}
                    </td>
                    <td>
                        {{ etudiant.numero_NIR }}
                    </td>
                    <td>
                        {{absences.length}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <!-- Partie dedié à l'affichage des documents -->

        <div class="col-12">


            <div *ngIf="ListDocuments==null || ListDocuments.length==0" style="margin: 0 auto;
                                    width: auto;">
                <h4>Aucun document n'a été chargé !</h4>
            </div>


            <div *ngFor="let file of ListDocuments; index as i" class="grid">

                <div class="field col-10 " style="border-style: 2;border: 2em;border-bottom: red;">
                    <i class="pi pi-file-pdf " style="font-size: 20px;cursor: pointer;"
                        pTooltip="Visualiser dans un nouvel onglet" (click)="VisualiserFichier(etudiant._id,i)"></i>
                    <em (click)="VisualiserFichier(etudiant._id,i)" [id]="i" style="cursor: pointer;"
                        pTooltip=" Visualiser dans un nouvel onglet">
                        {{ ListDocuments[i] }}
                    </em>
                </div>
                <div class="field col-1">
                    <i class="pi pi-download" pTooltip="Télécharger le fichier"
                        style=" float:right;cursor: pointer;font-size: 15px;color: rgb(3, 54, 237);"
                        (click)="downloadFile(etudiant._id,i)"></i>
                </div>

            </div>
        </div>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
</div>