
  <div *ngIf="showUpdateForm">
    <app-add-remboussement *ngIf="showUpdateForm" [showUpdateForm]="showUpdateForm" [currentDemande]="currentDemande" (cancelFormOutPut)="closeForm($event)" (doneUpdating)="returnToList($event)"></app-add-remboussement>
  </div>
  <p-table *ngIf="!showUpdateForm" #demande [value]="refundRequests" dataKey="_id" [rows]="8" [loading]="loading" [rowHover]="true"
  [globalFilterFields]="['student.first_name','student.last_name','customid','student.email' ]"  
  rowExpandMode="single" selectionMode="single" styleClass="p-datatable-gridlines" [paginator]="true" [(selection)]="selectedDemande"
    responsiveLayout="scroll">

    <ng-template pTemplate="caption">
      <div class="col-6 md:col-2 grid">
        <p style="padding: 8px; border: 2px lightgray solid ;">
        <span style="font-weight: bold ;">Demandes selectionnés {{refundRequests.length}}</span>
      </p>
      </div>
      <div class="flex">
        <p-multiSelect class="mr-3" [ngModel]="value" [options]="filterEcole" [(ngModel)]="seletedEcoles" placeholder="Ecole" (onChange)="updateFilter();" optionLabel="label">
        </p-multiSelect>
        <p-multiSelect class="mr-3" [ngModel]="value" [options]="filterPays" [(ngModel)]="selectedPays" placeholder="Pays de résidence" (onChange)="updateFilter();" optionLabel="label">
        </p-multiSelect>
        <p-multiSelect class="mr-3" [ngModel]="value" [options]="filterFormation" [(ngModel)]="selectedFormation" placeholder="Formation" (onChange)="updateFilter();" optionLabel="label">
        </p-multiSelect>
        <p-multiSelect class="mr-3" [ngModel]="value" [options]="filterStatus" [(ngModel)]="selectedStatus" placeholder="Statut" (onChange)="updateFilter();" optionLabel="label">
        </p-multiSelect>

       
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="demande.filterGlobal($event.target.value, 'contains')" placeholder="Recherche " />
       </span>
    <!-- <span class="p-buttonset ml-auto mr-3">
      <button [disabled]="formRembourssement.invalid" pButton pRipple (click)="isNewDemande=true; showUpdateForm = true" class="imen-btn" label="Ajouter" icon="pi pi-plus" type="submit"></button>
  </span> -->
      </div>
  </ng-template>
  
    <ng-template pTemplate="header" >


      <tr >
        <th style="width: 5rem"></th>
        <th>
          <div class="flex justify-content-between align-items-center">
            ID
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Nom
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Prénom
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Année Scolaire
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Ecole
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Montant
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Modalité de paiement
          </div>
        </th>
        <th style="width: 4rem">
          <div class="flex justify-content-between align-items-center" >
            Statut
          </div>
        </th>
        <th style="width: 4rem">
          <div class="flex justify-content-between align-items-center">
            Action
          </div>
        </th>
      </tr>
      

    </ng-template>
  
    <ng-template pTemplate="body" let-demande let-expanded="expanded">
      <tr >
        <td style="width: 5rem;">
          <button type="button" pButton pRipple [pRowToggler]="demande" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        
        <td> {{demande?.customid}}</td>
        <td >{{demande.student?.last_name}}</td>
        <td >{{demande.student?.first_name}}</td>
        <td >{{ annesSchols[demande.training?.scholar_year]}}</td>
        <td >
          <span *ngIf="demande.training?.school">{{ ecolesList[demande.training?.school]}}</span>
        </td>
        <td >{{demande.payment?.montant}}</td>
        <td >
          <span *ngIf="demande.payment?.method" >
          {{modesPaiement[demande.payment?.method]}}
        </span>
        </td>
        <td>
            <p-dropdown [options]="filterStatus" placeholder="Status" [(ngModel)]="demande.status" (onChange)="saveStatus(demande, $event.value)" >
            </p-dropdown>

        </td>

          <td class="text-right" style="min-width: 8rem">

          <i class="pi pi-pencil mr-2 clickable-element" title="Modifier" (click)="showFUpdateForm(demande)"></i>
          <i class="pi pi-trash mr-2 clickable-element" title="supprimer" (click)="deleteDemande(demande._id)"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-demande>
      <tr>
        <td  colspan="10" >
          <div class="details-element"> 
            <app-details-candidat [demande]="demande" [annesSchols]="annesSchols"></app-details-candidat>
          </div>
          <div class="details-element">
            <app-contact-remboursement [demande]="demande"> </app-contact-remboursement>
          </div>
          <div class="details-element">
            <app-data-cle (saveDemande)="updateDemande($event)" [demande]="demande" [annesSchols]="annesSchols"></app-data-cle>
          </div>
          <div class="details-element">
            <app-dossier-remboursement [demande]="demande" [user]="curentUserObject.id" (demandeUpdated)="onDemandeUpdated($event)"></app-dossier-remboursement>
          </div>
          <div class="details-element">
            <app-commentaire-section (saveDemande)="updateDemande($event)" [demande]="demande" [user]="curentUserObject"></app-commentaire-section>
          </div>
          <div class="details-element">
            <app-payement-information (saveDemande)="updateDemande($event)" [demande]="demande" [modesPaiement]="modesPaiement"></app-payement-information>
          </div>
          <div class="details-element">
            <app-information-remboursement (saveDemande)="updateDemande($event)" [demande]="demande" (uploadFile)="onUpload($event)"></app-information-remboursement>
          </div>
        </td>
      </tr>
    </ng-template>
    
 

  