<p-toast></p-toast>
<div class="grid">
    <div class="col-6 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Nombre de comptes IMS </span>
                    <div class="text-900 font-medium text-xl">{{ users.length }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-folder-open text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"> Nombre d'étudiants
                    </span>
                    <div class="text-900 font-medium text-xl">{{ etudiants.length }}</div>
                </div>

                <div class="flex align-items-center justify-content-center bg-pink-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-clock text-pink-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Nombre de compte ESTYA
                    </span>
                    <div class="text-900 font-medium text-xl">{{ nbEstya }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-sync text-cyan-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Nombre d'agents
                    </span>
                    <div class="text-900 font-medium text-xl">{{ agents.length }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-green-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-check-circle text-green-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulaire de modification des infos utilisateur -->
    <div class="col-12">
        <div class="card" *ngIf="showFormUpdate">
            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                title="Fermer" (click)="showFormUpdate = false" aria-hidden="true"> </i>

            <h4 style="text-align: center;">Modifier les infos</h4>
            <form [formGroup]="formUpdate" (ngSubmit)="onUpdateUser()" class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label For="Civilite">Civilité</label>
                    <p-dropdown [options]="civiliteList" formControlName="civilite" optionLabel="label"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label For="lastname">Nom</label>
                    <input pInputText id="lastname" formControlName="lastname" type="text" placeholder="Nom" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="firstname">Prénom</label>
                    <input pInputText id="firstname" formControlName="firstname" type="text" placeholder="Prénom" />
                </div>
                <div class="field col-12 md:col-4">
                    <label For="indicatif">Indicatif</label>
                    <input pInputText id="indicatif" formControlName="indicatif" type="text" placeholder="0033" />
                </div>
                <div class="field col-12 md:col-8">
                    <label For="phone">Téléphone</label>
                    <input pInputText id="phone" formControlName="phone" type="tel" placeholder="0767987887" />
                </div>
                <div class="field col-12">
                    <label For="email">Email</label>
                    <input pInputText id="email" formControlName="email" type="email" placeholder="s.hue@estya.com" />
                </div>
                <div class="field col-12">
                    <label For="email_perso">Email perso</label>
                    <input pInputText id="phone" formControlName="email_perso" type="email"
                        placeholder="s.hue@gmail.com" />
                </div>
                <div class="field col-6">
                    <label For="mention">Mention</label>
                    <p-dropdown [options]="mentionList" formControlName="mention"
                        placeholder="Choisissez une mention"></p-dropdown>
                </div>
                <div class="field col-6">
                    <label For="service">Service</label>
                    <p-dropdown [options]="dropDownService" formControlName="service"
                        placeholder="Tous les services"></p-dropdown>
                </div>
                <div class="field col-6">
                    <label For="type">Type</label>
                    <p-dropdown [options]="typeList" formControlName="type"></p-dropdown>
                </div>
                <div class="field col-6">
                    <label For="role">Rôle</label>
                    <p-dropdown [options]="roleList" formControlName="role"></p-dropdown>
                </div>
                <div class="field col-12" *ngIf="formUpdate.value.role.value=='Etudiant'">
                    <label For="service">Type supplémentaire<span style="color:red"> *</span></label>
                    <p-multiSelect [options]="typeList" placeholder="Choisissez un type"
                        formControlName="type_supp"></p-multiSelect>
                </div>
                <div class="field col-12" style="width: 100%;"
                    *ngIf="formUpdate.value.type || formUpdate.value.type_supp.length!=0">
                    <label htmlFor="localisation">Site</label><br>
                    <p-multiSelect [options]="localisationList" placeholder="Paris, Tunis..." autoWidth="false"
                        [filter]="true" [style]="{'width':'100%'}" formControlName="SITE"></p-multiSelect>
                </div>
                <div class="field col-12">
                    <label For="role">Campus <span style="color:red">*</span></label>
                    <p-dropdown [options]="campusList" formControlName="campus"></p-dropdown>
                </div>
                <div class="field col-12 md:col-7">
                    <label For="pays">Pays</label>
                    <p-dropdown [options]="paysList" formControlName="pays_adresse" optionLabel="value"></p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label For="ville">Ville</label>
                    <input pInputText id="ville" formControlName="ville_adresse" type="text" placeholder="Paris" />
                </div>
                <div class="field col-12 md:col-4">
                    <label For="numero_adresse">Numéro de rue</label>
                    <input pInputText id="numero_adresse" formControlName="numero_adresse" type="number"
                        placeholder="15" />
                </div>
                <div class="field col-12 md:col-8">
                    <label For="rue_adresse">Rue</label>
                    <input pInputText id="rue_adresse" formControlName="rue_adresse" type="text"
                        placeholder="rue du louvre" />
                </div>
                <div class="field md:col-6 col-12">
                    <label For="postal_adresse">Code postale</label>
                    <input pInputText id="postal_adresse" formControlName="postal_adresse" type="number"
                        placeholder="94200" />
                </div>
                <div class="field md:col-6 col-12">
                    <label For="postal_adresse">Date création</label>
                    <input pInputText formControlName="date_creation" type="date" placeholder="Ex: 20/01/2000" />
                </div>
                <div>
                    <button pButton label="Modifier" type="submit" [disabled]="formUpdate.invalid"></button>
                </div>
            </form>

        </div>
    </div>


    <!-- Table d'affichage des utilisateurs -->
    <div class="col-12">
        <div class="card" *ngIf="showUsersList">
            <h5>Gestion des utilisateurs</h5>
            <p-table [value]="users" dataKey="_id" responsiveLayout="scroll" responsiveLayout="scroll" #dt1
                [globalFilterFields]="['_id', 'type', 'role', 'lastname','firstname','email','email_perso']" [rows]="8"
                [pageLinks]="10" [paginator]="true" rowExpandMode="single" [totalRecords]="users.length">
                <ng-template pTemplate="caption">
                    <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Recherche" />

                    <p-dropdown [style]="{'margin':'5px'}" [options]="typeList" filter="true"
                        (onChange)="dt1.filter($event.value, 'type', 'equals')" emptyFilterMessage="Type non trouvé"
                        filterPlaceholder="Type"></p-dropdown>

                    <p-dropdown [style]="{'margin':'5px'}" [options]="roleList" filter="true"
                        (onChange)="dt1.filter($event.value, 'role', 'equals')" emptyFilterMessage="Role non trouvé"
                        filterPlaceholder="Rôle"></p-dropdown>

                    <div class="flex table-header">
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="_id">_ID <p-sortIcon field="_id"></p-sortIcon></th>
                        <th>Rôle</th>
                        <th pSortableColumn="type">Type <p-sortIcon field="type">
                            </p-sortIcon></th>
                        <th pSortableColumn="type">Type Supp<p-sortIcon field="type">
                            </p-sortIcon></th>
                        <th pSortableColumn="lastname">Prénom NOM<p-sortIcon field="lastname">
                            </p-sortIcon></th>
                        <th>Email</th>
                        <th>Email perso</th>
                        <th pSortableColumn="_id">Date d'insertion <p-sortIcon field="_id">
                            </p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="user"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                (click)="onLoadProfilePicture(user._id)">
                            </button>
                        </td>
                        <td style="min-width: 8rem;">{{ user._id }}</td>
                        <td style="min-width: 10rem;">{{ user.role }}</td>
                        <td>{{ user.type }}</td>
                        <td>{{ user.type_supp }}</td>
                        <td style="min-width: 10rem;">{{ user.civilite }} {{ user.firstname | titlecase }}
                            {{user.lastname | uppercase }}</td>
                        <td style="min-width: 10rem;">{{ user.email }}</td>
                        <td style="min-width: 10rem;">{{ user.email_perso }}</td>
                        <td style="min-width: 10rem;">{{ user.date_creation | date:'dd/MM/YYYY' }}</td>
                        <td style="min-width: 10rem;">
                            <i pTooltip="Modifier" style="margin-left: 2%; cursor: pointer;" class="pi pi-pencil"
                                (click)="userToUpdate = user; onPatchData(); showFormUpdate = true;"
                                aria-hidden="true"></i>
                            <i pTooltip="Supprimer entièrement" style="margin-left: 2%; cursor: pointer;"
                                class="pi pi-trash" (click)="deletePerso(user)" aria-hidden="true"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-user>
                    <tr>
                        <td colspan="8">
                            <div class="p-3">
                                <p-table responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>Service</th>
                        <th>Mention</th>
                        <th>Téléphone</th>
                        <th>Pays</th>
                        <th>Ville</th>
                        <th>Rue</th>
                        <th>Dernière connexion</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>

                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td><img [src]="profilPicture" alt="{{ 'Pofile' | uppercase }}" width="80" height="80" /></td>
                        <td>{{ user.service_id ? user.service_id.label : 'Sans service' }}</td>
                        <td>{{user.mention}}</td>
                        <td style="min-width: 10rem;">{{ user.indicatif }} {{ user.phone }}</td>
                        <td>{{ user.pays_adresse }}</td>
                        <td>{{ user.ville_adresse }}</td>
                        <td>{{ user.numero_adresse }} {{ user.rue_adresse }} <br /> {{ user.postal_adresse }}</td>
                        <td style="color: red; font-weight: bolder;">{{ user.last_connection | date:'dd/MM/YYYY à
                            HH:mm'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>