<input type="file" (change)="FileUpload($event.target.files)" id="selectedFilesuivre"
#selectedFilesuivre style="display: none;" accept=".png, .jpg, .jpeg, .jfif" pInputFile />
<div class="card col-12" *ngIf="showFollow">
    <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="showFollow = null"
        aria-hidden="true"> </i>
    
    <p-tabView class="col-12">
        <p-tabPanel header="Historique">
            <p-dialog header="Modifier le contact" [(visible)]="visible_contact" modal="true"
                            [style]="{width: '50vw'}">

                            <form [formGroup]="formUpdateContact" class="p-fluid p-formgrid grid col-12">
                                <div class="field col-6">
                                    <label>canal </label>
                                    <p-dropdown [options]="canalList" formControlName="canal" 
                                        placeholder="Choisissez un canal"></p-dropdown>
                                </div>
                                <div class="field col-6">
                                    <label>Joignabilité </label>
                                    <p-dropdown [options]="suiteContactList"  editable="true"
                                    formControlName="suite_contact"  placeholder="Choisissez un état"></p-dropdown>
                                </div>
                                
                                <div class="field col-6">
                                    <label For="description">Note </label>
                                    <textarea pInputTextarea formControlName="note"></textarea>
                                </div>
                                <div class="col-12">
                                    <p-button [style]="{'width':'100%'}" autoWidth="false" (onClick)="onUpdateCon()"
                                        label="Enregistrer" [disabled]="formUpdateContact.invalid"></p-button>
                                </div>
                            </form>
                        </p-dialog>
            <form class="p-fluid grid" [formGroup]="formAddHistorique" (ngSubmit)="onAddHistorique()">
                <div class="field col-12 md:col-3">
                    <p-dropdown [options]="canalList" placeholder="Veuillez décrire le canal"
                        [editable]="true" formControlName="canal"></p-dropdown>
                    <!--<input pInputText type="text" id="tache" formControlName="task"
                        placeholder="Veuillez décrire l'activité">-->
                </div>
                <div class="field col-12 md:col-3" >
                    <p-dropdown   formControlName="suite_contact" editable="true"
                     [options]="suiteContactList" placeholder="joignabilité"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4" >
                    <input pInputText type="text"  formControlName="note"
                        placeholder="note" step="15">
                </div>
                <div class="col-12 md:col-2">
                    <button pButton pRipple type="submit" label="Ajouter" class="p-button-primary mb-2 "
                        [disabled]="formAddHistorique.invalid"></button>
                </div>
            </form>
            
            <p-table #dtcontact dataKey="_id" [value]="showFollow.contacts" class="col-12"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date_contact" style="text-align: center;"> Contacté le <p-sortIcon
                                field="date_contact">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="contact_by" style="text-align: center;"> Contacté par <p-sortIcon
                                field="contact_by">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="canal" style="text-align: center;"> Canal <p-sortIcon
                                field="canal"></p-sortIcon>
                        </th>
                        <th pSortableColumn="suite_contact" style="text-align: center;"> Suite Contact <p-sortIcon
                                field="suite_contact"></p-sortIcon>
                        </th>
                        <th pSortableColumn="note" style="text-align: center;"> Note <p-sortIcon
                                field="note"></p-sortIcon>
                        </th>

                        <th style="text-align: center;">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contact let-ri="rowIndex">
                    <tr [pEditableRow]="contact">
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input type="date" pInputText [(ngModel)]="contact.date_contact"
                                        (onChange)="onUpdateDate('contacts',ri,'date_contact',$event.target.value)">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{contact?.date_contact | date:'dd MMMM yy'}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="memberList" [(ngModel)]="contact.contact_by"
                                        placeholder="Choisissez un membre"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{contact?.contact_by}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="canalList" [(ngModel)]="contact.canal"
                                        placeholder="Choisissez un canal"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{contact?.canal}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="suiteContactList" [(ngModel)]="contact.suite_contact"
                                        placeholder="Choisissez un état"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{contact?.suite_contact}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <textarea pInputTextarea [(ngModel)]="contact.note"></textarea>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{contact?.note}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <i style="padding-left: 3%;" pTooltip="Modifier le contact" tooltipPosition="bottom" class="pi pi-pencil" aria-hidden="true"
                            (click)="onUpdatecontacte(ri)" pTooltip="Modifier" ></i>
                            <i style="padding-left: 3%;"pTooltip="Supprimer le contact" tooltipPosition="bottom" class="pi pi-trash"
                                aria-hidden="true" (click)="deleteContact(ri)" > </i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Document">
            
            <p-table #dtdocuments dataKey="_id" [value]="showFollow.documents" class="col-12"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nom" style="text-align: center;"> Nom du document <p-sortIcon
                                field="nom">
                            </p-sortIcon>
                        </th>
                        <th>
                            Lien Document
                        </th>

                        <th style="text-align: center;">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-document let-ri="rowIndex">
                    <tr [pEditableRow]="document">
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input type="text" pInputText [(ngModel)]="document.nom">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{document?.nom}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td *ngIf="document?.path">
                            <a (click)="downloadFile(ri)">Télécharger le document</a>
                        </td>
                        <td *ngIf="!document?.path">
                            <a (click)="uploadFile(ri)">Uploader le document</a>
                        </td>
                        <td>
                            <i style="padding-left: 3%;" pTooltip="Supprimer le document" tooltipPosition="bottom" class="pi pi-trash mr-2"
                                aria-hidden="true" (click)="deleteFile(ri)"> </i>
                            <i style="padding-left: 3%;" *ngIf="document?.path" pTooltip="Uploader le document" tooltipPosition="bottom"
                                class="pi pi-cloud-upload" aria-hidden="true" (click)="uploadFile(ri)"> </i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="col-12">
                <button pButton label={{buttonName}} (click)="onAddDocumment()"></button>
            </div>
        </p-tabPanel>
        
        <!--<p-tabPanel header="Mailing">
            <div class="col-12">
                <button pButton label="Ajouter un mail" (click)="onAddMail()"></button>
            </div>
            <p-table #dtmail dataKey="_id" [value]="showFollow.mailing" class="col-12"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date_envoie" style="text-align: center;"> Date de l'envoi
                            <p-sortIcon field="date_envoie">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="objet_mail" style="text-align: center;">
                            Objet mail
                            <p-sortIcon field="objet_mail">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="note" style="text-align: center;">
                            Note
                            <p-sortIcon field="note">
                            </p-sortIcon>
                        </th>
                        <th style="text-align: center;">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mail let-ri="rowIndex">
                    <tr [pEditableRow]="mail">
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input type="date" pInputText [(ngModel)]="mail.date_envoie"
                                        (onChange)="onUpdateDate('mailing',ri,'date_envoie',$event.target.value)">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{mail?.date_envoie | date:'dd MMMM yy'}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="produitList" [(ngModel)]="mail.objet_mail"
                                        autoWidth="false" [style]="{'width':'100%'}"
                                        placeholder="Choisissez un objet"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{mail?.objet_mail}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <textarea pInputTextarea [(ngModel)]="mail.note"></textarea>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{mail.note}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <i pTooltip="Supprimer le mail" tooltipPosition="bottom" class="pi pi-trash"
                                aria-hidden="true" (click)="deleteMail(ri)"> </i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>-->
        
        <p-tabPanel header="Fiche Qualification">
            <p-dialog header="Modifier la qualification"[(visible)]="visible_qualification" modal="true"
                            [style]="{width: '50vw'}">

                            <form [formGroup]="formUpdateQualification" class="p-fluid p-formgrid grid col-12">
                                <div class="field col-6">
                                    <label>Critére</label>
                                    <p-multiSelect [options]="critereList" formControlName="critere" 
                                        placeholder="Choisissez un critére"></p-multiSelect>
                                </div>
                                <div class="field col-6">
                                    <label For="commentaire ">Commentaire </label>
                                    <textarea pInputTextarea formControlName="commentaire"></textarea>
                                </div>
                                <br><br><br><br><br><br><br><br><br><br><br><br>
                                <div class="col-12">
                                    <p-button [style]="{'width':'100%'}" autoWidth="false" (onClick)="onUpdatequalification()"
                                        label="Enregistrer" [disabled]="formUpdateQualification.invalid"></p-button>
                                </div>
                            </form>
                        </p-dialog>
            <form class="p-fluid p-formgrid grid" [formGroup]="qualifiquationsForm">
                
                <div class="field col-12 md:col-3">
                    <p-multiSelect [options]="critereList" formControlName="criteres_qualification"
                        autoWidth="false" [style]="{'width':'100%'}"
                        placeholder="Choisissez un critère"></p-multiSelect>
                </div>
                <!-- <div class="field col-12 md:col-3">
                    <p-dropdown [options]="decisionList" formControlName="decision_qualification" autoWidth="false"
                        [style]="{'width':'100%'}" placeholder="Choisissez une decision"></p-dropdown>
                </div>-->
                <div class="field col-12 md:col-4">
                    
                    <textarea pInputTextarea formControlName="note_qualification" placeholder="Commentaire"></textarea>
                </div>
                <div class="field col-12 md:col-2">
                    <button pButton label=Ajouter (click)="onAddQualifications()"></button>
                </div>
            </form>
            <p-table #dtq dataKey="_id" [value]="showFollow.qualifications" class="col-12"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th  style="text-align: center;">  Critére
                        </th>
                        
                       
                        <th  style="text-align: center;"> Commentaire
                        </th>
                        

                        <th style="text-align: center;">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-qualifiction let-ri="rowIndex">
                    <tr >
                        <td >
                            {{qualifiction.criteres_qualification}}
                        </td>
                        
                        <td >
                            {{qualifiction.note_qualification}}
                        </td>
                        
                        
                        <td>
                            <i style="padding-left: 3%;" pTooltip="Modifier la qualification" tooltipPosition="bottom" class="pi pi-pencil"
                            aria-hidden="true" (click)="updatequalification(ri)"> </i>
                            <i style="padding-left: 3%;" pTooltip="Supprimer la qualification" tooltipPosition="bottom" class="pi pi-trash"
                                aria-hidden="true" (click)="deletequalification(ri)"> </i>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Fiche Choix">
            <form class="p-fluid p-formgrid grid" [formGroup]="followForm">
                <div class="field col-12 md:col-6">
                    <label>Opération</label>
                    <p-dropdown  formControlName="operation" autoWidth="false" [options]="operationList"
                        [style]="{'width':'100%'}" placeholder="Choisissez une opération"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Produit</label>
                    <p-dropdown  formControlName="produit" autoWidth="false" [options]="produitList"
                        [style]="{'width':'100%'}" placeholder="Produit"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Ecole</label>
                    <p-dropdown [options]="ecoleList" formControlName="ecole" autoWidth="false"
                        [style]="{'width':'100%'}" placeholder="Choisissez une ecole"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Formation</label>
                    <p-dropdown [options]="formationList" formControlName="formation" autoWidth="false"
                        [style]="{'width':'100%'}" placeholder="Choisissez une formation"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Campus</label>
                    <p-dropdown [options]="campusList" formControlName="campus" autoWidth="false"
                        [style]="{'width':'100%'}" placeholder="Choisissez un campus"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Rythme</label>
                    <p-dropdown [options]="rythmeList" formControlName="rythme" autoWidth="false"
                        [style]="{'width':'100%'}" placeholder="Choisissez un rythme"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Note</label>
                    <textarea pInputTextarea formControlName="note_choix"></textarea>
                </div>
                <div class="field col-12 md:col-6"></div>
                <div class="field col-12 md:col-10"></div>
                <div class="field col-12 md:col-2">
                    <button pButton label=Enregistrer (click)="onUpdateFollow()"></button>
                </div>
            </form>
        </p-tabPanel>
        <p-tabPanel header="Paiement">
            <p-dialog header="Modifier la qualification"[(visible)]="visible_paiement" modal="true"
                            [style]="{width: '50vw'}">

                            <form [formGroup]="formUpdatepaiementForm" class="p-fluid p-formgrid grid col-12">
                                <div class="field col-12 md:col-3">
                                    <input pInputText type="number"  formControlName="montant_paye"
                                    placeholder="Montant" >
                                </div>
                                <div class="field col-12 md:col-3">
                                    <p-dropdown [options]="typePaiement" formControlName="modalite_paiement" autoWidth="false"
                                        [style]="{'width':'100%'}" placeholder="Modalité"></p-dropdown>
                                </div>
                                <div class="field col-12 md:col-4">
                                    
                                    <textarea pInputTextarea formControlName="note" placeholder="Note"></textarea>
                                </div>
                                <br><br><br><br><br><br>
                                <div class="col-12">
                                    <p-button [style]="{'width':'100%'}" autoWidth="false" (onClick)="onUpdatepaiement()"
                                        label="Enregistrer" [disabled]="formUpdatepaiementForm.invalid"></p-button>
                                </div>
                            </form>
                        </p-dialog>
            <form class="p-fluid p-formgrid grid" [formGroup]="paiementForm">
                
                <div class="field col-12 md:col-3">
                    <input pInputText type="number"  formControlName="montant_paye"
                    placeholder="Montant" >
                </div>
                <div class="field col-12 md:col-3">
                    <p-dropdown [options]="typePaiement" formControlName="modalite_paiement" autoWidth="false"
                        [style]="{'width':'100%'}" placeholder="Modalité"></p-dropdown>
                </div>
                <div class="field col-12 md:col-4">
                    
                    <textarea pInputTextarea formControlName="note" placeholder="Note"></textarea>
                </div>
                <div class="field col-12 md:col-2">
                    <button pButton label=Ajouter (click)="onAddPaiement()"></button>
                </div>
            </form>
            <p-table #dtvente dataKey="_id" [value]="showFollow.ventes" class="col-12"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date_paiement" style="text-align: center;"> Date de Paiement
                            <p-sortIcon field="date_paiement">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="montant_paye" style="text-align: center;">
                            Montant payé
                            <p-sortIcon field="montant_paye">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="modalite_paiement" style="text-align: center;">
                            Modalite de paiement
                            <p-sortIcon field="modalite_paiement"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="note" style="text-align: center;">
                            Note
                            <p-sortIcon field="note"> </p-sortIcon>
                        </th>
                        <th style="text-align: center;">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-paiement let-ri="rowIndex">
                    <tr [pEditableRow]="paiement">
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input type="date" pInputText [(ngModel)]="paiement.date_paiement"
                                        (onChange)="onUpdateDate('paiements',ri,'date_paiement',$event.target.value)">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{paiement?.date_paiement | date:'dd MMMM yy'}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-inputNumber [(ngModel)]="paiement.montant_paye" mode="currency"
                                        currency="EUR" locale="fr-FR"></p-inputNumber>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{paiement?.montant_paye}}€ &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="typePaiement" [(ngModel)]="paiement.modalite_paiement"
                                        placeholder="Choisissez une modalite"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{paiement?.modalite_paiement}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <textarea pInputTextarea [(ngModel)]="paiement.note"></textarea>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{paiement?.note}} &nbsp;
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <i style="padding-left: 3%;" pTooltip="Modifier le paiement" tooltipPosition="bottom" class="pi pi-pencil"
                                aria-hidden="true" (click)="Updatepaiement(ri)"> </i>
                            <i style="padding-left: 3%;" pTooltip="Supprimer le paiement" tooltipPosition="bottom" class="pi pi-trash"
                                aria-hidden="true" (click)="deletePaiement(ri)"> </i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
   <!-- <div class="col-12 grid">
        <div class="col-12">
            <button pButton label="Sauvegardez les modifications" (click)="onUpdateFollow()"></button>
        </div>
    </div>-->
    
</div>