<div class="main-page">
    <div class="page-header"></div>
    <div class="page-content">
        <pdf-viewer [src]="pdfSrc" [original-size]="false" *ngIf="pdfSrc"
            style="min-width: 12.6cm; min-height: 17.82cm"></pdf-viewer>
        <div class="old-cv" *ngIf="!pdfSrc">
            <div class="field col-12">
                <h1>Joindre un fichier (pdf)</h1>
                <input multiple type="file" accept="application/pdf" maxFileSize="10000000" (change)="onUpload($event)"
                    chooseLabel="Browse" />
            </div>
        </div>
        <div *ngIf="ID && !user && !formAddCV.value?.user_id">
            <p-skeleton width="50rem" height="50rem"></p-skeleton>
        </div>
        <div class="input-form-cv" style="height:17.82cm;overflow:scroll"
            *ngIf="!ID || (user && formAddCV.value?.user_id)">
            <div *ngIf="formAddCV">
                <h4 class="title-add-cv">Génération de CV</h4>
                <div class="col-12" *ngIf="!isEtudiant">
                    <label for="user">Choisir une école</label>
                    <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="pdfPreviewSchools"
                        [(ngModel)]="pdfPreviewChosenSchool" placeholder="Selectionner une école" filter="true"
                        emptyFilterMessage="Aucun école trouvé" filterPlaceholder="Recherche"></p-dropdown>
                </div>
                <form class="p-fluid p-formgrid grid" [formGroup]="formAddCV">

                    <div class="field col-12" *ngIf="!isEtudiant && !CV_USER_ID">
                        <label for="user">A qui appartient ce CV ?</label>
                        <p-selectButton autoWidth="false" [style]="{'width':'100%'}" formControlName="user_create_type"
                            optionValue="value" optionLabel="label"
                            [options]="[{label:'Externe',value:'Externe'},{label:'Interne',value:'Interne'}]"></p-selectButton>
                        <!-- Rajouter filter Ecole et Spécialité -->
                    </div>

                    <div class="field col-12"
                        *ngIf="formAddCV.value.user_create_type=='Externe' && !isEtudiant && !CV_USER_ID">
                        <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [virtualScroll]="true" itemSize="30"
                            [options]="dropdownUserExterne" placeholder="Selectionner un externe" [showClear]="true"
                            (onChange)="onSelectUser($event.value)" formControlName="user_id" filter="true"
                            emptyFilterMessage="Aucun utilisateur trouvé" filterPlaceholder="Recherche"></p-dropdown>
                    </div>
                    <div class="field col-12 grid"
                        *ngIf="formAddCV.value.user_create_type=='Interne' && !isEtudiant && !CV_USER_ID">
                        <p-dropdown autoWidth="false" class="col-6 mb-4" [style]="{'width':'100%'}" [options]="ecoles"
                            [virtualScroll]="true" itemSize="30" placeholder="Selectionner une école" [showClear]="true"
                            filter="true" emptyFilterMessage="Aucun école trouvé"
                            (onChange)="onSelectEcole($event.value)" filterPlaceholder="Recherche"></p-dropdown>

                        <p-dropdown autoWidth="false" class="col-6" [style]="{'width':'100%'}" [options]="groupes"
                            [virtualScroll]="true" itemSize="30" placeholder="Selectionner un groupe" [showClear]="true"
                            (onChange)="onSelectGroupe($event.value)" filter="true"
                            emptyFilterMessage="Aucun groupe troonuvé" filterPlaceholder="Recherche"></p-dropdown>

                        <p-dropdown autoWidth="false" class="col-12" [style]="{'width':'100%'}"
                            [options]="dropdownUserInterne" [virtualScroll]="true" itemSize="30"
                            placeholder="Selectionner un Interne" [showClear]="true" formControlName="user_id"
                            filter="true" emptyFilterMessage="Aucun utilisateur trouvé"
                            (onChange)="onSelectUser($event.value)" filterPlaceholder="Recherche"></p-dropdown>

                    </div>

                    <!--<div formArrayName="experiences_pro">
                            <label>Expériences professionnelles</label> <br />
                            <div class="p-formgrid grid" *ngFor="let xpProControl of getXpPros().controls; let i = index">
                                <div class="field col-10">
                                    <textarea pInputTextarea type="text" placeholder="2018-2019: expérience"
                                        [formControlName]="i"></textarea>
                                </div>
                                <div class="field col-2">
                                    <button pButton icon="pi pi-trash" type="button" (click)="onRemoveXpPro(i)"
                                        class="p-button-outlined p-button-danger"></button>
                                </div>
                            </div>
                            <button pButton icon="pi pi-plus" label="Ajouter une expérience" type="button"
                                (click)="onAddXpPro()" class="p-button-outlined p-button-info"></button>
                        </div>-->
                    <div class="field col-12">
                        <label htmlFor="profil">Profil</label>
                        <p-dropdown id="profil" [options]="profilsList" formControlName="profil"
                            (onChange)="filterCompetencesList();onAddCV(false)"
                            [(ngModel)]="profilSelected"></p-dropdown>
                    </div>

                    <div class="field col-10">
                        <label>Compétences</label>
                        <p-multiSelect [options]="competencesList" [(ngModel)]="selectedMultiCpt"
                            [showToggleAll]="false" [itemSize]="20" [virtualScroll]="true" (onChange)="onAddCV(false)"
                            defaultLabel="Selectionner les compétences" optionLabel="label" class="multiselect-custom"
                            formControlName="competences">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary border-round mr-2"
                                    *ngFor="let option of selectedMultiCpt">
                                    <div>{{option.label}}</div>
                                </div>
                                <div *ngIf="!selectedMultiCpt || selectedMultiCpt.length === 0"
                                    class="country-placeholder">
                                    Selectionner une ou plusieurs compétences
                                </div>
                            </ng-template>
                            <ng-template let-competence pTemplate="item">
                                <div class="flex align-items-center country-item">
                                    <div>{{competence.label}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                    <div class="field col-2">
                        <label>&nbsp;</label>
                        <p-button icon="pi pi-plus" pTooltip="Ajouter une compétence" tooltipPosition="bottom"
                            (click)="displayAddSkill = true"></p-button>
                    </div>
                    <div class="field col-12">
                        <label>A propos</label>
                        <input pInputText type="text" placeholder="Ex: J'adore la vie" formControlName="a_propos"
                            (blur)="onAddCV(false)" />
                    </div>

                    <!--<div class="field col-12 md:col-12">
                            <label>Outils</label>
                            <p-multiSelect [options]="outilsList" [(ngModel)]="selectedMultiOutils"
                                defaultLabel="Selectionner les outils" optionLabel="label" class="multiselect-custom"
                                formControlName="outils">
                                <ng-template let-value pTemplate="selectedItems">
                                    <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary text-primary border-round mr-2"
                                        *ngFor="let option of selectedMultiOutils">
                                        <div>{{option.label}}</div>
                                    </div>
                                    <div *ngIf="!selectedMultiOutils || selectedMultiOutils.length === 0"
                                        class="country-placeholder">
                                        Selectionner un ou plusieurs outils
                                    </div>
                                </ng-template>
                                <ng-template let-outil pTemplate="item">
                                    <div class="flex align-items-center country-item">
                                        <div>{{outil.label}}</div>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </div>-->

                    <div class="field col-12 md:col-12">
                        <label>Langues</label>
                        <p-multiSelect [options]="languesList" [(ngModel)]="selectedMultilang"
                            (onChange)="onAddCV(false)" defaultLabel="Selectionner les langues" optionLabel="label"
                            class="multiselect-custom" formControlName="langues">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary border-round mr-2"
                                    *ngFor="let option of selectedMultilang">
                                    <div>{{option.label}}</div>
                                </div>
                                <div *ngIf="!selectedMultilang || selectedMultilang.length === 0"
                                    class="country-placeholder">
                                    Selectionner une ou plusieurs langues
                                </div>
                            </ng-template>
                            <ng-template let-langue pTemplate="item">
                                <div class="flex align-items-center country-item">
                                    <div>{{langue.label}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>

                    <!--<div class="field col-12">
                            <label>Lien présentation vidéo</label>
                            <input pInputText type="text"
                                placeholder="Vous pouvez nous faire part d'une présentation vidéo sous forme de lien"
                                formControlName="video_lien" />
                        </div>-->

                    <div class="field col-12">
                        <label>Joindre un fichier (pdf)</label>
                        <input multiple type="file" accept="application/pdf" maxFileSize="10000000"
                            (change)="onUpload($event)" chooseLabel="Browse" />
                    </div>
                    <div class="field col-12">
                        <label for="user">Afficher pour les entreprises le CV original ?</label>
                        <p-selectButton autoWidth="false" [style]="{'width':'100%'}" formControlName="showCVPDF"
                            (onChange)="onAddCV(false)"
                            [options]="[{label:'Oui',value:true},{label:'Non',value:false}]"></p-selectButton>
                    </div>
                    <div class="field col-8">
                        <label>Joindre une photo</label>
                        <input #selectedFile id="selectedFile" multiple type="file" accept="image/*"
                            maxFileSize="10000000" (change)="FileUploadPDP($event)" chooseLabel="Browse" />
                    </div>
                    <div class="field col-4" style="text-align: right;">
                        <label>&nbsp;</label>
                        <p-button icon="pi pi-trash" pTooltip="Supprimer la photo" tooltipPosition="bottom"
                            (click)="deletePhoto()"></p-button>
                    </div>
                    <div class="field col-12">
                        <label>Mobilité - Ville</label>
                        <p-multiSelect [options]="locations" defaultLabel="Lieu" autoWidth="false"
                            (onChange)="onAddCV(false)" [style]="{'width':'100%'}" [virtualScroll]="true" itemSize="30"
                            class="w-100" formControlName="mobilite_lieu"></p-multiSelect>

                    </div>

                    <div class="field col-12">
                        <label>Centres d'intérêt</label>
                        <input pInputText type="text" placeholder="Ex: Basketball, Littérature" (blur)="onAddCV(false)"
                            formControlName="centre_interets" />
                    </div>


                    <div class="field col-12">
                        <label>Disponibilité</label>
                        <p-calendar formControlName="disponibilite" autoWidth="false" (onBlur)="onAddCV(false)"
                            [style]="{'width':'100%'}"></p-calendar>
                    </div>

                    <div class="field col-12" *ngIf="!isEtudiant">
                        <label>Winner lié à ce CV:</label>
                        <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [virtualScroll]="true" itemSize="30"
                            [options]="commercials" placeholder="Selectionner un winner" [showClear]="true"
                            (onChange)="onAddCV(false)" formControlName="winner_id" filter="true"
                            emptyFilterMessage="Aucun winner trouvé" filterPlaceholder="Recherche"></p-dropdown>
                    </div>
                    <div class="field col-12">
                        <label for="user">Publier votre CV sur iMatch ?</label>
                        <p-selectButton autoWidth="false" [style]="{'width':'100%'}" formControlName="isPublic"
                            optionValue="value" optionLabel="label" (onChange)="onAddCV(false)"
                            [options]="[{label:'Oui',value:true},{label:'Non',value:false}]"></p-selectButton>
                    </div>
                    <div class="field col-12">
                        <label for="user">Selectionné un niveau d'étude</label>
                        <p-dropdown autoWidth="false" [style]="{'width':'100%'}" [options]="etudes" [editable]="true"
                            placeholder="Selectionner un niveau" formControlName="niveau_etude" filter="true"
                            (onChange)="onAddCV(false)" emptyFilterMessage="Aucun niveau trouvé"
                            filterPlaceholder="Recherche"></p-dropdown>
                    </div>

                </form>
                <div class="field col-12">
                    <h3 class="col-12">Expériences professionnelles</h3>
                    <p-table [value]="experiences_pro" #dtexp dataKey="_id" class="col-12" responsiveLayout="scroll"
                        styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="addExpPro()" class="mr-2"
                                pTooltip="Ajouter une expérience" tooltipPosition="bottom"></button>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Intitulé</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Entreprise</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-exp let-ri="rowIndex">
                            <tr [pEditableRow]="exp">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.intitule_experience"
                                                placeholder="Ex: Dévéloppeur Full Stack">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.intitule_experience}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <p-dropdown [options]="typeContratList" [(ngModel)]="exp.type"
                                                appendTo="body" [style]="{'width':'100%'}" autoWidth="false"
                                                placeholder="Choisissez le type de contrat"></p-dropdown>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.type}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <textarea placeholder="Ex: Dévéloppé Front & Back-End de l'application"
                                                pInputTextarea [(ngModel)]="exp.details"></textarea>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <app-read-more [string]="exp.details" [size_max]=60></app-read-more>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.structure">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.structure}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_debut">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_debut| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_fin">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_fin| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <i pTooltip="Supprimer" style="margin-left: 2%; cursor: pointer;"
                                        class="pi pi-trash" (click)="deleteExpPro(ri)" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="field col-12">
                    <h3 class="col-12">Education</h3>
                    <p-table [value]="education" #dtexp dataKey="_id" class="col-12" responsiveLayout="scroll"
                        styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="addEdu()" class="mr-2"
                                pTooltip="Ajouter une education" tooltipPosition="bottom"></button>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Intitulé</th>
                                <th>Description</th>
                                <th>Etablissement</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-exp let-ri="rowIndex">
                            <tr [pEditableRow]="exp">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.intitule_experience">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.intitule_experience}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <textarea pInputTextarea [(ngModel)]="exp.details"></textarea>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <app-read-more [string]="exp.details" [size_max]=60></app-read-more>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.structure">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.structure}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_debut">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_debut| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_fin">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_fin| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <i pTooltip="Supprimer" style="margin-left: 2%; cursor: pointer;"
                                        class="pi pi-trash" (click)="deleteEdu(ri)" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="field col-12">
                    <h3 class="col-12">Expériences associatives</h3>
                    <p-table [value]="experiences_associatif" #dtexp dataKey="_id" class="col-12"
                        responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="addExpAss()" class="mr-2"
                                pTooltip="Ajouter une expérience associatif" tooltipPosition="bottom"></button>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Intitulé</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Etablissement</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-exp let-ri="rowIndex">
                            <tr [pEditableRow]="exp">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.intitule_experience">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.intitule_experience}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.type">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.type}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <textarea pInputTextarea [(ngModel)]="exp.details"></textarea>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <app-read-more [string]="exp.details" [size_max]=60></app-read-more>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.structure">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.structure}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_debut">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_debut| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_fin">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_fin| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <i pTooltip="Supprimer" style="margin-left: 2%; cursor: pointer;"
                                        class="pi pi-trash" (click)="deleteExpAss(ri)" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="field col-12">
                    <h3 class="col-12">Informatique</h3>
                    <p-table [value]="informatique" #dtexp dataKey="_id" class="col-12" responsiveLayout="scroll"
                        styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="addInf()" class="mr-2"
                                pTooltip="Ajouter une expérience informatique" tooltipPosition="bottom"></button>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Intitulé</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Etablissement</th>
                                <th>Date début</th>
                                <th>Date fin</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-exp let-ri="rowIndex">
                            <tr [pEditableRow]="exp">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.intitule_experience">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.intitule_experience}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.type">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.type}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <textarea pInputTextarea [(ngModel)]="exp.details"></textarea>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            <app-read-more [string]="exp.details" [size_max]=60></app-read-more>
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.structure">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.structure}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_debut">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_debut| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="date" pInputText [(ngModel)]="exp.date_fin">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.date_fin| date:'dd MMMM yy'}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <i pTooltip="Supprimer" style="margin-left: 2%; cursor: pointer;"
                                        class="pi pi-trash" (click)="deleteInf(ri)" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="field col-12">
                    <h3 class="col-12">Lien</h3>
                    <p-table [value]="links" #dtexp dataKey="_id" class="col-12" responsiveLayout="scroll"
                        styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="addLink()" class="mr-2"
                                pTooltip="Ajouter un lien" tooltipPosition="bottom"></button>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Intitulé</th>
                                <th>Lien (cliquable)</th>
                                <th>Lien (modifiable)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-exp let-ri="rowIndex">
                            <tr [pEditableRow]="exp">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.label">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.label}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <a style="cursor: pointer;" href="https://{{exp.lien}}" target="_blank">
                                        https://{{exp.lien}}
                                    </a>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.lien">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.lien}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <i pTooltip="Supprimer" style="margin-left: 2%; cursor: pointer;"
                                        class="pi pi-trash" (click)="deleteLink(ri)" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="field col-12">
                    <h3 class="col-12">Documents</h3>
                    <p-table [value]="documents" #dtexp dataKey="_id" class="col-12" responsiveLayout="scroll"
                        styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="caption">
                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="addDoc()" class="mr-2"
                                pTooltip="Ajouter un document" tooltipPosition="bottom"></button>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Intitulé</th>
                                <th>Lien (cliquable)</th>
                                <th>Lien (modifiable)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-exp let-ri="rowIndex">
                            <tr [pEditableRow]="exp">
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.label">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.label}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <a style="cursor: pointer;" href="https://{{exp.lien}}" target="_blank">
                                        https://{{exp.lien}}
                                    </a>
                                </td>
                                <td pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText [(ngModel)]="exp.lien">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{exp.lien}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    <i pTooltip="Supprimer" style="margin-left: 2%; cursor: pointer;"
                                        class="pi pi-trash" (click)="deleteDoc(ri)" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <div class="new-cv" *ngIf="(!ID || (user && formAddCV.value?.user_id)) && !formAddCV.value.showCVPDF">
            <div class="page-container" id="page-certif" *ngIf="!formAddCV.value.showCVPDF">
                <app-cv-pdf-preview
                    [student]="{fullName: userName, profile: profilSelected?.libelle || 'Profile non spécifié', imgPDP: imgPDP}"
                    [sidebar]="{apropos: formAddCV.value?.a_propos, interets: formAddCV.value?.centre_interets, competences: selectedMultiCpt, langues: selectedMultilang}"
                    [maintContent]="{
                    experiences_pro: experiences_pro,
                    experiences_associatif: experiences_associatif,
                    educations: education,
                    informatiques: informatique 
                }" [school]="pdfPreviewChosenSchool"></app-cv-pdf-preview>

            </div>

            <div class="grid mt-2 footer-content">
                <div class="col-4">
                    <button pButton label="Enregistrer" autoWidth="false" [style]="{'width':'100%'}" type="submit"
                        [disabled]="formAddCV.invalid" (click)="onAddCV()"></button>
                </div>
                <div class="col-4">
                    <button pButton label="Enregistrer et Imprimer" autoWidth="false" [style]="{'width':'100%'}"
                        type="submit" [disabled]="formAddCV.invalid" (click)="onAddCV();onPrint()"></button>
                </div>
                <div class="col-4">
                    <button pButton label="Exporter en PDF" type="submit" autoWidth="false" [style]="{'width':'100%'}"
                        (click)="onPrint()"></button>
                </div>

            </div>
        </div>
        <pdf-viewer [src]="pdfSrc" [original-size]="false" *ngIf="formAddCV.value.showCVPDF && pdfSrc"
            style="min-width: 12.6cm; min-height: 17.82cm"></pdf-viewer>

        <div class="page-container" *ngIf="formAddCV.value.showCVPDF && !pdfSrc">
            <div class="field col-12">
                <h1>Joindre un fichier (pdf)</h1>
                <input multiple type="file" accept="application/pdf" maxFileSize="10000000" (change)="onUpload($event)"
                    chooseLabel="Browse" />
            </div>
        </div>

    </div>
    <div class="page-footer"></div>
</div>
<p-dialog [(visible)]="displayAddSkill" [modal]="true" [style]="{width: '75vw'}" [draggable]="false" [resizable]="false"
    (onHide)="refreshSkills()">
    <app-skills-management></app-skills-management>
</p-dialog>

<p-dialog [(visible)]="dialogEXPPRO" [modal]="true" [style]="{width: '75vw'}" [draggable]="false" [resizable]="false"
    (onHide)="onAddCV(false)">
    <div class="p-fluid p-formgrid grid" *ngIf="dialogEXPPRO">
        <div class="field col-6 md:col-12 ">
            <label>Intitulé <span style="color: red">*</span></label>
            <input type="text" pInputText [(ngModel)]="experiences_pro[idxDialog].intitule_experience"
                placeholder="Ex: Dévéloppeur Full Stack">
        </div>
        <div class="field col-6 md:col-12">
            <label>Type de contrat</label>
            <p-dropdown [options]="typeContratList" [(ngModel)]="experiences_pro[idxDialog].type" appendTo="body"
                [style]="{'width':'100%'}" autoWidth="false" placeholder="Choisissez le type de contrat"></p-dropdown>
        </div>
        <div class="field col-6 md:col-12">
            <label>Description</label>
            <textarea placeholder="Ex: Dévéloppé Front & Back-End de l'application" pInputTextarea
                [(ngModel)]="experiences_pro[idxDialog].details"></textarea>
        </div>
        <div class="field col-6 md:col-12">
            <label>Etablissement</label>
            <input type="text" pInputText [(ngModel)]="experiences_pro[idxDialog].structure">
        </div>
        <div class="field col-6 md:col-12">
            <label>Date de début</label>
            <input type="date" pInputText [(ngModel)]="experiences_pro[idxDialog].date_debut">
        </div>
        <div class="field col-6 md:col-12">
            <label>Date de fin</label>
            <input type="date" pInputText [(ngModel)]="experiences_pro[idxDialog].date_fin">
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="dialogEdu" [modal]="true" [style]="{width: '75vw'}" [draggable]="false" [resizable]="false"
    (onHide)="onAddCV(false)">
    <div class="p-fluid p-formgrid grid" *ngIf="dialogEdu">
        <div class="field col-6 md:col-12 ">
            <label>Intitulé <span style="color: red">*</span></label>
            <input type="text" pInputText [(ngModel)]="education[idxDialog].intitule_experience"
                placeholder="Ex: Dévéloppeur Full Stack">
        </div>
        <div class="field col-6 md:col-12">
            <label>Description</label>
            <textarea pInputTextarea [(ngModel)]="education[idxDialog].details"></textarea>
        </div>
        <div class="field col-6 md:col-12">
            <label>Etablissement</label>
            <input type="text" pInputText [(ngModel)]="education[idxDialog].structure">
        </div>
        <div class="field col-6 md:col-12">
            <label>Date de début</label>
            <input type="date" pInputText [(ngModel)]="education[idxDialog].date_debut">
        </div>
        <div class="field col-6 md:col-12">
            <label>Date de fin</label>
            <input type="date" pInputText [(ngModel)]="education[idxDialog].date_fin">
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="dialogAssos" [modal]="true" [style]="{width: '75vw'}" [draggable]="false" [resizable]="false"
    (onHide)="onAddCV(false)">
    <div class="p-fluid p-formgrid grid" *ngIf="dialogEdu">
        <div class="field col-6 md:col-12 ">
            <label>Intitulé <span style="color: red">*</span></label>
            <input type="text" pInputText [(ngModel)]="experiences_associatif[idxDialog].intitule_experience"
                placeholder="Ex: Dévéloppeur Full Stack">
        </div>
        <div class="field col-6 md:col-12">
            <label>Type</label>
            <input type="text" pInputText [(ngModel)]="education[idxDialog].type">
        </div>
        <div class="field col-6 md:col-12">
            <label>Description</label>
            <textarea pInputTextarea [(ngModel)]="education[idxDialog].details"></textarea>
        </div>
        <div class="field col-6 md:col-12">
            <label>Etablissement</label>
            <input type="text" pInputText [(ngModel)]="education[idxDialog].structure">
        </div>
        <div class="field col-6 md:col-12">
            <label>Date de début</label>
            <input type="date" pInputText [(ngModel)]="education[idxDialog].date_debut">
        </div>
        <div class="field col-6 md:col-12">
            <label>Date de fin</label>
            <input type="date" pInputText [(ngModel)]="education[idxDialog].date_fin">
        </div>
    </div>
</p-dialog>