.main-page {
  min-height: 100vh;
  width: 100%;
  background-color: white;
  padding: 50px 50px;
}

.page-content {
  display: flex;
  justify-content: space-between;
}

.pdf-viewer-here .page {
  width: auto;
}

.old-cv,
.new-cv {
  min-width: 12.6cm;
  height: 17.82cm;
}

.old-cv {
  font-weight: bold;
  min-width: 21cm;
  margin-right: -220px;
  height: 29.7cm;
  transform: scale(0.7);
  transform-origin: top left;
}

.new-cv {
  min-width: 29.7cm;
  height: 42cm;
  background-color: lightblue;
  transform: scale(0.5);
  transform-origin: top left;
}

.input-form-cv {
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 20px;
  margin: 0;
  margin-right: 10px;
  min-height: 100vh;
  flex-grow: 1;
  min-width: 500px;
}




.page-container {
  width: 297mm;
  min-height: 420mm;
  display: flex;
  padding: 0mm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
}







.student-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 150px;
  margin-right: 20px
}

.student-name {
  margin: 0;
  text-align: left;
  margin-left: 50px;
  font-size: 44px;
  padding: 0;
}

.title-add-cv {
  margin: 0;
  font-size: 24px;
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 600;
}

.content-container {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 400px;
  height: 100%;
  color: white;
  border-radius: 0 30px 0 0;
  background-color: #29295c;
  padding: 30px;
  padding-top: 10px;
}

.content {
  padding: 0 30px;
  width: 100%;
  font-size: 16px;
}


.section-title {
  display: flex;
  justify-content: space-between;
}

.section-cv h2 {
  color: #e0222e;
}

.logo-image {
  height: 90px;
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.section-content {
  margin-bottom: 30px;
}

.section-training {
  font-weight: 900;
}

.section-main {
  font-style: italic;
}


.sidebar-content .spectialite {
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding: 10x 20px;
  text-align: center;
  color: #29295c;
}

.sidebar-section {
  margin-bottom: 30px;
}

.sidebar-title {
  font-weight: bolder;
  font-size: 18px;
}

.content-container {
  position: relative;
}




