<div *ngIf="showForm=='Fermer'">
    <div class="p-grid mt-2">
        <div class="xl:col-8 xl:col-offset-2 col-12">
            <p-card>
                <div class="p-grid">
                    <form class="col-8 col-offset-2" [formGroup]="TicketForm">
                        <div class="text-center"><img src="assets/layout/images/logo.png" class="logo"></div>
                        <h3 class="text-center">Création de ticket</h3>
                        <div class="grid">
                            <div class="field col mt-2 mb-2 col-lg-6 col-6">
                                Service:
                                <select formControlName="service" class="form-control col-12" (change)="onChange()">
                                    <option [ngValue]="null" disabled>Choissisez un service</option>
                                    <option *ngFor="let service of filterService" [ngValue]="service">
                                        {{ service.label }}
                                    </option>
                                </select>
                            </div>
                            <div class="field col mt-2 mb-2 col-lg-6 col-6">
                                Sujet:
                                <select [disabled]="selectedService" formControlName="sujet"
                                    class="form-control col-12">
                                    <option *ngIf="TicketForm.value.service" [ngValue]="null">Choissisez un sujet
                                    </option>
                                    <option *ngFor="let sujet of listSujets[TicketForm.value.service._id]"
                                        [ngValue]="sujet">
                                        {{ sujet.label }}
                                    </option>
                                </select>
                            </div>
                            <div class="mt-2 mb-2 col-lg-12 col-12">
                                <input type="text" formControlName="description" class="form-control col-12"
                                    placeholder="Description" pInputText>
                                <div *ngIf="description.invalid && (description.touched || description.dirty)">
                                    <span class="error" *ngIf="description.errors?.required">*La description est
                                        obligatoire.</span>
                                </div>
                            </div>
                            <div class="col-offset-5 md:col-offset-5 sm:col-offset-4">
                                <button pButton class="ui-button-raised ui-button-success"
                                    [disabled]="TicketForm.invalid" label="Ajouter" (click)="addTicket()"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </p-card>
        </div>
    </div>
</div>

<button pButton type="button" [label]="showForm" style="margin-left: 90%;" (click)="toggleForm()"></button>


<div class="p-grid mt-2" id="modifier" style="display: none;">
    <div class="xl:col-8 xl:col-offset-2 col-12">
        <p-card>
            <div class="p-grid">
                <form class="col-8 col-offset-2" [formGroup]="TicketForm1">
                  <div class="text-center"><img src="assets/layout/images/logo.png" class="logo"></div>
                    <h3 class="text-center">Modification d'un ticket</h3>
                        <div class="grid">
                            <div class="field col mt-2 mb-2 col-lg-6 col-6">
                                Service
                                <select formControlName="service" class="form-control col-12" (change)="onChange2()">
                                    <option [ngValue]="null" disabled>Choissisez un service</option>
                                    <option *ngFor="let service of listServices1" [ngValue]="service">
                                        {{ service.label }}
                                       </option>
                                </select>
                            </div>
                            <div class="field col mt-2 mb-2 col-lg-6 col-6">
                                Sujet:
                                <select [disabled]="!TicketForm1.value.service" formControlName="sujet" class="form-control col-12" >
                                    <option [ngValue]="null" disabled>Choissisez un sujet</option>
                                    <option *ngFor="let sujet of listSujets1[TicketForm1.value.service._id]" [ngValue]="sujet">
                                        {{ sujet.label }}
                                       </option>
                                </select>
                            </div>
                            <div class="mt-2 mb-2 col-lg-12 col-12">
                                <input type="text" formControlName="description" class="form-control col-12" placeholder="Description" pInputText>
                                <div *ngIf="description.invalid && (description.touched || description.dirty)">
                                    <span class="error" *ngIf="description.errors?.required">*La description est obligatoire.</span>
                                </div>
                            </div>
                            <div class="col-offset-5 md:col-offset-5 sm:col-offset-4">
                                <button pButton class="ui-button-raised ui-button-success" [disabled]="TicketForm1.invalid" [routerLink]="['/ticket/suivi']" label="Enregistrer" (click)="modifyTicket()"></button>
                            </div>
                        </div>
                </form>
            </div>
        </p-card>
    </div>
  </div>



<div class="grid">
    <div class="col-10 col-offset-1">
        <div class="col-12 card shadow-lg my-5">
            <p-table *ngIf="ticketList" [value]="ticketList" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="false"
                currentPageReportTemplate="Affiche {first} à {last} de {totalRecords} résultats"
                [rowsPerPageOptions]="[5,10,20]">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        Liste de mes tickets
                        <!--<span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                    placeholder="Faire une recherche" />
                            </span>-->
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            Service
                        </th>
                        <th>
                            Sujet
                        </th>
                        <th>
                            Statut
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <!--<tr>
                            <th *ngIf="filterService">
                                <p-dropdown [options]="filterService" (onChange)="dt.filter($event.value, 'Service', 'equals')" styleClass="p-column-filter" placeholder="Select a Service" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                            <th *ngIf="filterSujet">
                                <p-dropdown [options]="filterSujet" (onChange)="dt.filter($event.value, 'Sujet', 'equals')" styleClass="p-column-filter" placeholder="Select a Sujet" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                            <th *ngIf="filterStatut">
                                <p-dropdown [options]="filterStatut" (onChange)="dt.filter($event.value, 'Statut', 'equals')" styleClass="p-column-filter" placeholder="Select a Statut" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                        </tr>-->
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr *ngIf="sujetList[rowData.sujet_id]" class="bodytab">
                        <!--Si le ticket s'affiche pas c'est que le sujet ou le service a été supprimer-->
                        <td>
                            {{serviceList[sujetList[rowData.sujet_id].service_id]}}
                        </td>
                        <td>
                            {{sujetList[rowData.sujet_id].label}}
                        </td>
                        <td >
                            {{rowData.statut}}
                        </td>
                        <td>
                            <i class="pi pi-pencil" (click)="modify(rowData)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>