ng-template{
  overflow-y: hidden;
}
.content{
    max-width: 500px;
    margin:auto;
    background-color: #fff;
    padding: 2% 2%;
  }
  button{
    color: #fff;
  }
  button:hover{
    color: #fff;
  }
  .error
  {
      color: red;
  }
  .logo {
    max-width: 50%;
  }
.bodytab {
 padding-left: 20%;
 text-align: center;
}