.retour{
  font-weight: bold;
  font-size: 20px;
}

.timeline {
    padding-bottom: 6px;
  }
   .timeline ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
   .timeline ul li .p-col-fixed {
    z-index: 500;
    width: 48px;
  }
   .timeline ul li .p-col-fixed .timeline-icon {
    z-index: 700;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #dfe6ee;
    border-radius: 50%;
    padding: 9px;
  }
   .timeline ul li .p-col-fixed .timeline-icon i {
    font-size: 17px;
    
  }
   .timeline ul li .timeline-icon {
    padding: 9px;
    color:#3da827
  }
   .timeline ul li .time-line-event .timeline-event-title {
    padding: 3px 7px;
    background-color: #eaf0f6;
    color: #525e6c;
    border-radius: 5px;
  }
  .timeline ul li .time-line-event .timeline-event-message {
    position: relative;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #ebebef;
    -moz-border-radius: solid 1px 3px;
    -webkit-border-radius: solid 1px 3px;
    border-radius: solid 1px 3px;
  }
   .timeline ul li .timeline-event-time {
    float: right;
    color: #657587;
    font-size: 12px;
  }


  .widget-timeline {
    padding-bottom: 6px;
  }
  .widget-timeline ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
  }
  .widget-timeline ul::before {
    content: " ";
    display: inline-block;
    position: absolute;
    margin-top: 7px;
    left: 16px;
    width: 3px;
    height: 100%;
    z-index: 400;
    background: linear-gradient(to bottom, #1360a4, #1E88E5);
  }
  .widget-timeline ul li .p-col-fixed {
    z-index: 500;
    width: 48px;
  }
  .widget-timeline ul li .p-col-fixed .timeline-icon {
    z-index: 700;
    text-align: center;
    background-color: #ffffff;
    border: solid 1px #dfe6ee;
    border-radius: 50%;
  }
  .widget-timeline ul li .p-col-fixed .timeline-icon i {
    font-size: 17px;
  }
  .widget-timeline ul li:nth-child(1) .timeline-icon {
    padding: 9px;
  }
  .widget-timeline ul li:nth-child(1) .timeline-icon i {
    color: #e73c3c;
  }
  .widget-timeline ul li:nth-child(2) .timeline-icon {
    padding: 7px;
  }
  .widget-timeline ul li:nth-child(2) .timeline-icon i {
    color: #fd4a85;
  }
  .widget-timeline ul li:nth-child(3) .timeline-icon {
    padding: 9px;
  }
  .widget-timeline ul li:nth-child(3) .timeline-icon i {
    color: #e73c3c;
  }
  .widget-timeline ul li:nth-child(4) .timeline-icon {
    padding: 8px;
  }
  .widget-timeline ul li:nth-child(4) .timeline-icon i {
    color: #f4a22e;
  }
  .widget-timeline ul li:nth-child(5) .timeline-icon {
    padding: 8px;
  }
  .widget-timeline ul li:nth-child(5) .timeline-icon i {
    color: #2fc5b3;
  }
  .widget-timeline ul li .time-line-event .timeline-event-title {
    padding: 3px 7px;
    background-color: #eaf0f6;
    color: #525e6c;
    border-radius: 5px;
  }
  .widget-timeline ul li .time-line-event .timeline-event-message {
    position: relative;
    padding: 8px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #ebebef;
    -moz-border-radius: solid 1px 3px;
    -webkit-border-radius: solid 1px 3px;
    border-radius: solid 1px 3px;
  }
  .widget-timeline ul li .timeline-event-time {
    float: right;
    color: #657587;
    font-size: 12px;
  }