<div class="grid"> 
    <div class="col-10 col-offset-1" >
    <div *ngIf="retour">
        <i class="pi pi-arrow-circle-left" style="font-size: 30px;" pTooltip="Retour" [routerLink]="['/ticket/suivi']"></i>
        </div>  
</div>
    <div class="col-10 col-offset-1" *ngIf="notifications.length==0 ">
        <div class="col-10 col-offset-4">
           <h4>Vous n'avez aucune notifications pour le moment</h4> 
        </div>
    </div> 
    <div class="col-10 col-offset-1" *ngIf="notifications.length!==0">  
            
        <h3>Notifications</h3>
        <div class="card shadow-lg timeline">
            <div >
                <i pTooltip="Marqué comme vu pour toutes les notifications" tooltipPosition="bottom" class="pi pi-times-circle"
                    style="cursor: pointer; font-size: 27px; margin-left: 98%; color: red;" (click)="retirertout()"></i>
            </div>
            <ul>
                <li *ngFor="let notif of notifications">
                    <div class="grid">
                        <div class="col-fixed">
                        </div>
                        <div class="col">
                            <div class="time-line-event"
                                *ngIf="notif && sujetDic[listTicket[notif.ticket_id].sujet_id].label">
                                <span class="timeline-event-title" style="font-weight: bold; font-size: 120%;">{{notif.type}}</span>
                                <div class="timeline-event-message" style="font-size: small;">
                                    Numéro du ticket : <span style="font-weight: bold;">{{notif.ticket_id}} </span>, Sujet : <span style="font-weight: bold;">{{sujetDic[listTicket[notif.ticket_id].sujet_id].label}}</span>
                                </div>
                                <!--<div class="timeline-event-message" *ngIf="notif.type==='Nouveau Ticket Affecté'">
                                    Un nouveau ticket qui a pour numéro : <span style="font-weight: bold;">{{notif.ticket_id}}</span> et qui a pour sujet : {{sujetDic[listTicket[notif.ticket_id].sujet_id].label}} crée par : <span style="font-weight: bold;"> {{userDic[listTicket[notif.ticket_id].createur_id].lastname | titlecase}} {{userDic[listTicket[notif.ticket_id].createur_id].firstname | titlecase}} </span> vous a
                                    été affecté.
                                </div>
                                <div class="timeline-event-message" *ngIf="notif.type==='Nouveau Message'">
                                    {{sujetDic[listTicket[notif.ticket_id]]}}
                                    <div >
                                        Vous avez reçu un nouveau message pour le ticket qui a pour numéro :<span style="font-weight: bold;">{{notif.ticket_id}}</span> et qui a pour sujet : <span style="font-weight: bold;">{{sujetDic[listTicket[notif.ticket_id].sujet_id].label}}</span>.
                                    </div>  
                                </div>
                                <div class="timeline-event-message" *ngIf="notif.type==='Modification d\'un ticket'">
                                    <div>
                                        Votre ticket qui a pour numéro : <span style="font-weight: bold;">{{notif.ticket_id}}</span> et qui a pour sujet : <span style="font-weight: bold;">{{sujetDic[listTicket[notif.ticket_id].sujet_id].label}}</span> a été redirigé vers un autre service ou un autre sujet par un agent.
                                    </div>
                                </div>
                                <div class="timeline-event-message" *ngIf="notif.type==='Traitement de votre ticket'">
                                    <div>
                                        Votre ticket qui a pour numéro : <span style="font-weight: bold;">{{notif.ticket_id}}</span> et qui a pour sujet :  <span style="font-weight: bold;">{{sujetDic[listTicket[notif.ticket_id].sujet_id].label}}</span> a été traité.
                                    </div>
                                </div>-->
                                <div class="timeline-event-time">
                                    {{notif.date_ajout | date:'dd/MM/yyyy HH:mm'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                </ul>     
            </div>
    </div>
