<!-- <div class="grid">
    <div class="col-10 col-offset-1">
    
        <h3>Liste des notifications</h3>
        <div class="col-12 card shadow-lg my-5 ">
            <p-table *ngIf="notifications" [columns]="cols" [value]="notifications" selectionMode="single"
           
                [rows]="4" [paginator]="true" [pageLinks]="5"
                [responsive]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="col-8 col-offset-4">
                           Notification
                        </th>
                        <th class="col-8 col-offset-4">
                           Action
                         </th>
                  
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="columns">
                        <td *ngFor="let col of columns">
                            {{rowData.type}}
                        </td>
                         <td>
                           
                            <i class="pi pi-trash" (click)="deleteNotification();"></i>
                        </td> -->
<!--    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div> -->

<div class="p-col-12">
    <div>
        <h1>Notifications</h1>
        <div class="p-grid ui-fluid card">
            <div class="ui-g-12 ui-md-12">
                <div class="ui-g-1 ui-md-1">
                    <div class="timeline-icon">
                        <i class="pi pi-inbox"></i>
                    </div>
                </div>
                <div class="ui-g-11 ui-md-11">
                    <div>
                        <span>
                            Message Recived
                        </span>
                        <div>
                            Unexpected event happened near San Mateo
                        </div>
                        <div>
                            2 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>