<div class="grid" *ngIf="token.role=='user'">
    <div class="col-10 col-offset-1">
        <h3>Signature de la séance: </h3><!-- Afficher le nom de la séance-->
        <div class="col-12 card shadow-lg my-5 ">
            <p>
                <canvas #mon_canvas width="300" height="100"></canvas>
            </p>
            <button pButton class="ui-button-raised ui-button-success" label="Envoyer"
                (click)="getSignature();"></button>
            <!--<i *ngIf="loadingFile" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    <button pButton [disabled]="loadingFile" class="ui-button-raised ui-button-success" label="DownloadFile"
        (click)="downloadFile();"></button>-->
            <p-fileUpload #justificatif (uploadHandler)="onFileChange($event)" mode="basic"
                chooseLabel="Joindre un fichier" customUpload="true" fileLimit="1" accept=".pdf,.jpg,.png,.jpeg"
                maxFileSize="20000000" [auto]="true">
            </p-fileUpload>
            <i *ngIf="uploadFile" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            <button [disabled]="justif_file_value==null || justif_file_value>20000000 || uploadFile" pButton
                class="ui-button-raised ui-button-success" label="Envoyer" (click)="sendJustif();"></button>
        </div>
    </div>
</div>


<div class="grid" *ngIf="token.role!='user'">
    <div class="col-10 col-offset-1">
        <h3>Liste des présence de la séance: </h3><!-- Afficher le nom de la séance-->
        <div class="col-12 card shadow-lg my-5 ">
            <p-table #dt1 *ngIf="presences" [columns]="cols" [value]="presences" selectionMode="single" [rows]="10"
                [paginator]="true" [pageLinks]="5" [responsive]="true" [totalRecords]="presences.length">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="user_id" scope="col">
                            Nom <p-sortIcon field="user_id"></p-sortIcon>
                        </th>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="user_id" scope="col">
                            Prénom <p-sortIcon field="user_id"></p-sortIcon>
                        </th>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="isPresent" scope="col">
                            Présent <p-sortIcon field="isPresent"></p-sortIcon>
                        </th>
                        <th class="col-5" style="text-decoration: underline;" pSortableColumn="date_signature" scope="col">
                            Date de présence <p-sortIcon field="date_signature"></p-sortIcon>
                        </th>
                        <th class="col-2" style="text-decoration: underline;" scope="col">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngIf="userList[rowData.user_id]">
                            {{userList[rowData.user_id].lastname}}
                        </td>
                        <td *ngIf="userList[rowData.user_id]">
                            {{userList[rowData.user_id].firstname}}
                        </td>
                        <td>
                            {{(rowData.isPresent)?"Oui":"Non"}}
                        </td>
                        <td>
                            {{rowData.date_signature| date:'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td>
                            <i *ngIf="rowData.justificatif" pTooltip="Télécharger la justification"
                                tooltipPosition="bottom" class="pi pi-download" (click)="downloadFile(rowData)"></i>
                            <i *ngIf="!rowData.isPresent" pTooltip="Marquer comme présent" tooltipPosition="bottom"
                                class="pi pi-check" (click)="acceptJustif(rowData)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>