<p-toast></p-toast>
<p-fieldset legend="Champ basique">
    <form class="p-fluid p-formgrid grid col-12" [formGroup]="formulaire">
        <!-- Input : https://www.primefaces.org/primeng-v13-lts/#/inputtext -->
        <div class="md:col-6 col-12">
            <label>Texte <span style="color:red"> *</span></label>
            <input pInputText formControlName="texte" type="text" placeholder="Ex: John Smith" />
        </div>

        <!-- Calendar : https://www.primefaces.org/primeng-v13-lts/#/calendar -->
        <div class="md:col-6 col-12">
            <label>Date <span style="color:red"> *</span></label>
            <p-calendar formControlName="date" placeholder="Ex: 21/12/2000" dateFormat="dd/mm/yy"></p-calendar>
        </div>

        <!-- ngx-intl-tel-input : https://www.npmjs.com/package/ngx-intl-tel-input -->
        <div class="md:col-6 col-12">
            <label>Numéro de téléphone</label><br>
            <ngx-intl-tel-input class="pInputText" [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[
SearchCountryField.Iso2,
SearchCountryField.Name
]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.UnitedArabEmirates" [phoneValidation]="true"
                [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                formControlName="telephone">
            </ngx-intl-tel-input>
        </div>

        <!-- Dropdown : https://www.primefaces.org/primeng-v13-lts/#/dropdown -->
        <div class="md:col-6 col-12">
            <label>Choix unique dans une liste déroulante</label>
            <p-dropdown [options]="dropdownContent1" placeholder="Choisissez une valeur" autoWidth="false"
                [filter]="true" [style]="{'width':'100%'}" formControlName="dropdown"></p-dropdown>
        </div>

        <!-- MultiSelect : https://www.primefaces.org/primeng-v13-lts/#/multiselect -->
        <div class="md:col-6 col-12">
            <label>Choix multiple dans une liste déroulante</label>
            <p-multiSelect [options]="multiSelect1" placeholder="Choisissez plusieurs valeurs" autoWidth="false"
                [filter]="true" [style]="{'width':'100%'}" formControlName="multiSelect"></p-multiSelect>
        </div>

        <!-- MultiSelect : https://www.primefaces.org/primeng-v13-lts/#/multiselect selectionLimit-->
        <div class="md:col-6 col-12">
            <label>Choix multiple dans une liste déroulante (Max 3)</label>
            <p-multiSelect [options]="multiSelect1" placeholder="Choisissez plusieurs valeurs" autoWidth="false"
                selectionLimit="3" [filter]="true" [style]="{'width':'100%'}"
                formControlName="multiSelectMax3"></p-multiSelect>
        </div>

        <!-- SelectButton : https://www.primefaces.org/primeng-v13-lts/#/selectbutton -->
        <div class="col-12">
            <label>Choix unique avec un panel</label>
            <p-selectButton [options]="selectButton1" formControlName="selectButton"></p-selectButton>
        </div>

        <!-- TextArea : https://www.primefaces.org/primeng-v13-lts/#/inputtextarea -->
        <div class="col-12">
            <label>Grand Champ Texte (TextArea)</label>
            <textarea formControlName="textArea" placeholder="Ex: https://www.primefaces.org/primeng-v13-lts/#/setup"
                pInputTextarea></textarea>
        </div>
    </form>
</p-fieldset>
<p-fieldset legend="Champ conditionnel">
    <form class="p-fluid p-formgrid grid col-12" [formGroup]="formulaire">
        <!-- ngIf : https://angular.io/api/common/NgIf -->
        <div class="col-12">
            <label>Quel est le sens de la vie ?</label>
            <p-selectButton [options]="selectButton2" formControlName="sens_vie"></p-selectButton>
        </div>
        <div class="col-12" *ngIf="formulaire.value.sens_vie=='42'">
            <p>Bonne réponse !</p>
        </div>
        <div class="col-12" *ngIf="formulaire.value.sens_vie=='Le Travail'">
            <p>A quoi sert de travailler si on ne peut pas profiter de la vie ?</p>
        </div>
        <div class="col-12" *ngIf="formulaire.value.sens_vie=='La Famille'">
            <label>Argumenter avec 400 mots</label>
            <textarea formControlName="argumentation"
                placeholder="Ex: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in lacinia sem, at suscipit quam. Cras tempus venenatis lectus, vel condimentum nibh pulvinar eu. Phasellus vel neque vel dui vestibulum tincidunt vel id leo. Integer faucibus sodales ornare. Proin ultricies bibendum nisi ut tincidunt. Pellentesque ornare, leo quis tincidunt finibus, massa enim scelerisque erat, ut elementum ex lorem ac neque. Suspendisse pellentesque feugiat mollis. Duis malesuada, quam sed placerat egestas, nibh lorem facilisis nunc, vitae lacinia mauris diam nec risus. Aenean nec condimentum sapien. Praesent eget ullamcorper tellus. Mauris eleifend lectus elit, et eleifend mauris auctor a. Proin cursus egestas nunc nec tempus. In tellus nibh, iaculis id vulputate maximus, porttitor ultricies est. Curabitur luctus at quam sed egestas."
                pInputTextarea></textarea>
        </div>
    </form>
</p-fieldset>
<p-fieldset legend="Champ avec Action">
    <form class="p-fluid p-formgrid grid col-12" [formGroup]="formulaire">
        <div class="col-12">
            <label>Chargez les donnés de quel école ?</label>
            <p-selectButton [options]="selectButton3" formControlName="ecole"
                (onChange)="onSelectEcole($event.value)"></p-selectButton>
        </div>

        <div class="col-12" *ngIf="dropdownContent2.length!=0">
            <label>Voici les formations liés à l'école :</label>
            <p-dropdown [options]="dropdownContent2" placeholder="Choisissez une formation" autoWidth="false"
                optionLabel="name" (onChange)="onSelectFormation($event.value)" [filter]="true"
                [style]="{'width':'100%'}" formControlName="formation"></p-dropdown>
        </div>
        <!-- blur est native HTML donc pour les components primeng (p-) utilisé plutot (onBlur) et enlever le .target-->
        <div class="md:col-6 col-12">
            <label>Quand vous avez fini d'écrire:</label>
            <input pInputText formControlName="onBlur" type="text" placeholder="Ex: John Smith"
                (blur)="onBlur($event.target.value)" />
        </div>
        <!-- input est native HTML donc pour les components primeng (p-) utilisé plutot (onInput) et enlever le .target-->
        <div class="md:col-6 col-12">
            <label>Quand vous rajoutez ou supprimez une lettre:</label>
            <input pInputText formControlName="onInput" type="text" placeholder="Ex: John Smith"
                (input)="onInput($event.target.value)" />
        </div>
    </form>
</p-fieldset>
<p-fieldset legend="Utilisations des cols">
    <h2 style="text-align: center;">Pour pouvoir changer la taille d'une balise on utilise les "cols", chaque ligne est
        divisé par 12 colonnes, pour qu'elles fonctionnent elles doivent se trouvé dans une balise parent avec une class
        "grid"</h2>
    <div class="grid">
        <div class="col-12">
            <h3 style="text-align: center;">Col-12 va prendre toute la ligne</h3>
            <button pButton type="submit" label="Envoyer" [disabled]="formulaire.invalid" (click)="onSaveFormulaire()"
                [style]="{'width':'100%'}"></button>
        </div>

        <div class="col-8 col-offset-2">
            <h3 style="text-align: center;">Col-8 va prendre 2/3 de la ligne et si on rajoute un col-offset-2 cela fera
                un
                espace à gauche</h3>
            <button pButton type="submit" label="Envoyer" [disabled]="formulaire.invalid" (click)="onSaveFormulaire()"
                [style]="{'width':'100%'}"></button>
        </div>

        <div class="col-6">
            <button pButton type="submit" label="Envoyer" [disabled]="formulaire.invalid" (click)="onSaveFormulaire()"
                [style]="{'width':'100%'}"></button>
        </div>
        <div class="col-6">
            <h3 style="text-align: center;">Col-6 va prendre la moitié de la ligne et si on mets un autre col-6 alors
                ils
                seront cote à cote sur la même ligne</h3>
        </div>

        <div class="md:col-6 col-12">
            <button pButton type="submit" label="Envoyer" [disabled]="formulaire.invalid" (click)="onSaveFormulaire()"
                [style]="{'width':'100%'}"></button>
        </div>

        <div class="md:col-6 col-12">
            <h3 style="text-align: center;">md:col-6 va prendre la moitié de la ligne seulement sur les écrans
                d'ordinateur sinon ils chargera le col-12 qui prendra toute la ligne sur les écrans de téléphones</h3>
        </div>
    </div>

</p-fieldset>
<p-fieldset legend="Récupération des données en fonctions du params de l'URL">
    <h2 style="text-align: center;">Pour pouvoir changer les informations d'un texte en restant sur le même formulaire,
        on va récupérer l'information (de l'école par exemple) qui se trouve dans le l'URL</h2>
    <p style="text-align: center;">Par exemple le params est : {{params}} qui corresponds à l'école : {{ECOLE.name}}</p>
    <div class="grid" *ngIf="ECOLE">
        <p class="col-12" style="text-align: center;">
            Le details de cette école est : {{ECOLE.details}}
        </p>
        <div class="col-12" *ngIf="dropdownContent3.length!=0">
            <label>Voici les formations liés à l'école :</label>
            <p-dropdown [options]="dropdownContent3" placeholder="Choisissez une formation" autoWidth="false"
                optionLabel="name" (onChange)="onSelectFormation($event.value)" [filter]="true"
                [style]="{'width':'100%'}" formControlName="formation2"></p-dropdown>
        </div>
    </div>
</p-fieldset>