.header
{
    text-align: center;
    font-weight: bold;
}

.add-button-div
{
    float: right;
}

.clear-float
{
    clear: both;
}

.close-icon
{
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.obligatory
{
    color: red;
    font-weight: bold;
}

.periode-begin {
    border-top: 2px solid orange !important;
    border-bottom: 2px solid orange !important;
    border-left: 2px solid orange !important;
}

.periode-middle {
    border-top: 2px solid orange !important;
    border-bottom: 2px solid orange !important;
}

.periode-end {
    border-top: 2px solid orange !important;
    border-bottom: 2px solid orange !important;
    border-right: 2px solid orange !important;
}