.header
{
    text-align: center;
    font-weight: bold;
}

.add-button-div
{
    float: right;
}

.clear-float
{
    clear: both;
}

.close-icon
{
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.obligatory
{
    color: red;
    font-weight: bold;
}