<div class="layout-footer" class="col-12 col-offset-0 flex justify-content-center flex-wrap card-container">
    <span class="font-medium ml-2">
        <a href="/#/contact" target="_blank">Contact</a> -
        <a href="/#/mentions-legales" target="_blank">Mentions légales</a> -
        <a href="/#/politique-confidentialite" target="_blank">Politique de confidentialité</a> -
        <a href="/#/politique-confidentialite" target="_blank">Données personnelles</a>
    </span>
</div>
<div class="layout-footer">
    <span class="font-medium ml-2">
        Copyright<sup>©</sup> 2022 - Inted Management System&nbsp;
    </span>
    <!--<a href="https://www.lemonway.com/conditions-generales-dutilisation/" target="_blank">
        <img src="../assets/images/lemonway.png"
            alt="logo Lemonway" style="max-height:30px; padding-top: 5px;"></a>-->
</div>