<div class="grid col-12 card">
    <h5 class="col-12">Liste des agents</h5><!-- NOUVEAU -->
    <p-table #dt1 [value]="agents" dataKey="_id" responsiveLayout="scroll" class="col-12" rowExpandMode="single"
        [globalFilterFields]="['lastname', 'email', 'firstname', 'site_web']" [rows]="8" [paginator]="true"
        styleClass="p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                placeholder="Recherche" />
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="civilite" scope="col" style="text-align: center;">
                    Civilité <p-sortIcon field="civilite"></p-sortIcon>
                </th>
                <th pSortableColumn="lastname" scope="col" style="text-align: center;">
                    Nom <p-sortIcon field="lastname"></p-sortIcon>
                </th>
                <th pSortableColumn="firstname" scope="col" style="text-align: center;">
                    Prénom <p-sortIcon field="firstname"></p-sortIcon>
                </th>
                <th pSortableColumn="email" scope="col" style="text-align: center;">
                    Adresse Email Ecole <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="mention" scope="col" style="text-align: center;">
                    Mention <p-sortIcon field="mention"></p-sortIcon>
                </th>
                <th pSortableColumn="service_id" scope="col" style="text-align: center;">
                    Service <p-sortIcon field="service_id"></p-sortIcon>
                </th>
                <th pSortableColumn="role" scope="col" style="text-align: center;">
                    Role <p-sortIcon field="role"></p-sortIcon>
                </th>
                <th pSortableColumn="type" scope="col" style="text-align: center;">
                    Type <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th pSortableColumn="type_supp" scope="col" style="text-align: center;">
                    Type Supp<p-sortIcon field="type_supp"></p-sortIcon>
                </th>
                <!--<th>
                    Accès<br>
                    Module : Role
                </th>-->
                <th pSortableColumn="date_creation" scope="col" style="text-align: center;">
                    Date de création <p-sortIcon field="date_creation"></p-sortIcon>
                </th>
                <th>
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-agent>
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="agent"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'">
                    </button>
                </td>
                <td>
                    {{agent.civilite}}
                </td>
                <td>
                    {{agent.lastname}}
                </td>
                <td>
                    {{agent.firstname}}
                </td>
                <td>
                    {{agent.email}}
                </td>
                <td>
                    {{agent.mention}}
                </td>
                <td>
                    {{agent?.service_id?.label}}
                </td>
                <td>
                    {{agent.role}}
                </td>
                <td *ngIf="agent.type">
                    {{agent.type}}
                </td>
                <td *ngIf="!agent.type">
                    Non défini
                </td>
                <td>
                    {{agent.type_supp}}
                </td>
                <!--<td>
                    <ng-container *ngFor="let role of agent.roles_list">
                        {{role.module}} : {{role.role}}<br>
                    </ng-container>
                </td>-->
                <td>
                    {{agent?.date_creation | date:'dd MMMM yy'}}
                </td>
                <td>
                    <i pTooltip="Mettre à jour cette agent" tooltipPosition="bottom" class="pi pi-cog ml-2"
                        aria-hidden="true" (click)="update(agent)"> </i>
                    <i pTooltip="Supprimer cette agent" tooltipPosition="bottom" class="pi pi-trash ml-2"
                        aria-hidden="true" (click)="delete(agent)"> </i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-agent>
            <tr>
                <td colspan="11">
                    <div class="p-3">
                        <p-table responsiveLayout="scroll" [value]="agent.roles_list">
                            <ng-template pTemplate="header">
            <tr>
                <th>Module</th>
                <th>Role</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role let-index="rowIndex">
            <tr *ngIf="index==0 && agent.role=='Admin'">
                <td>Admin IMS</td>
                <td>Super-Admin</td>
            </tr>
            <tr *ngIf="index==0 && agent.type=='Responsable'">
                <td>Ressources Humaines</td>
                <td>Super-Admin</td>
            </tr>
            <tr>
                <td>{{role.module}}</td>
                <td>{{role.role}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</td>
</tr>

</ng-template>
</p-table>
</div>