<p-toast></p-toast>
<div class="grid">
  <div class="col-12">
    <div class="card" style="margin: 10%">
      <div style="text-align: center">
        <img [src]="logo" alt="IntedGroup" style="width: 20%; height: 20%;">
      </div>
      <hr>

      <div style="margin: 0 auto;" class="flex align-items-center justify-content-center">
        <!-- Partie 1 lorsqu'il n'y a pas de paramètre dans l'url -->
        <div *ngIf="userIdParams == undefined">
          <!-- Formulaire de saisie d'adresse email -->
          <form class="p-fluid" [formGroup]="formSendLink" (ngSubmit)="onSendEmail();" *ngIf="!showSuccessMessage">
            <h5 style="text-align: center; font-weight: bolder; color: red;">Mot de passe oublié ?</h5>
            <small style="display: none;">Si vous avez un compte IMS, vous recevrez un mail pour réinitialisez votre mot
              de passe</small>
            <div class="field">
              <label for="email">Veuillez saisir votre adresse email</label>
              <input pInputText type="email" placeholder="xxx@xxx.com" id="email" formControlName="email">
            </div>
            <div class="field">
              <button pButton label="Envoyer" type="submit"></button>
            </div>
          </form>

          <!-- Texte de validation du mail envoyé -->
          <div *ngIf="showSuccessMessage">
            <h5 style="text-align: center; color: red;">Un email de recuperation vous a été envoyé
              par mail, veuillez consulter votre boite mail <span style="font-weight: bolder;">{{userEmail}}</span></h5>
          </div>
        </div>

        <!-- Partie 2 lorsqu'il y a le paramètre id dans l'url -->
        <div *ngIf="userIdParams != undefined">
          <form class="p-fluid" [formGroup]="formUpdatePwd" (ngSubmit)="onUpdatePassword();" *ngIf="!isPasswordUpdated">
            <div class="field">
              <label for="password">Veuillez saisir un mot de passe</label>
              <input pInputText type="password" placeholder="Mot de passe" id="email" formControlName="password">
              <!-- erreurs sur le password -->
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <span *ngIf="password.errors.minlength" style="font-weight: bolder; color: red;">Minimum 8 caractères</span>
                <span *ngIf="password.errors.required" style="font-weight: bolder; color: red;">Ce champs est obligatoire</span>
              </div>
            
            </div>
            <div class="field">
              <label for="cfmPassword">Veuillez confirmer le mot de passe</label>
              <input pInputText type="password" placeholder="Confirmer le mot de passe" id="email" formControlName="cfmPassword">
            </div>
            <div class="field">
              <button pButton label="Envoyer" type="submit" [disabled]="formUpdatePwd.invalid"></button>
            </div>
          </form>

          <div *ngIf="isPasswordUpdated">
            Votre mot de passe a bien été mis à jour, merci de vous authentifier <a routerLink="/login">en cliquant ici</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>