<p-toast></p-toast>
<div class="layout-topbar">
    <div class="col-12 col-offset-0 flex justify-content-center flex-wrap card-container">
        <h5>Réinitiliser votre mot de passe Inted Management System</h5>
    </div>
</div>
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:10%">
        <div class="col-12 xl:col-12"
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <form [formGroup]="form_mpoublie" class="h-full w-full m-0 py-7 px-4"
                style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="w-full md:w-10 mx-auto">
                    <div class="col-8 col-offset-2 flex justify-content-center flex-wrap card-container">
                        <img src="\assets\images\logo_eh_sfb.png" alt="logo eduhorizons" style="width: 40%;">
                    </div>
                </div>
                <div>
                    <div class="col-12" *ngIf="!buttonRetour">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email :</label>
                        <input id="email1" formControlName="email" type="email" placeholder="Entrez votre adresse email"
                            pInputText class="w-full mb-3" style="padding:1rem;">
                    </div>
                    <div class="col-12 col-offset-0 flex justify-content-center flex-wrap card-container" *ngIf="buttonRetour">
                        <p>
                            Rendez vous sur le mail reçu pour continuer
                        </p>
                    </div>

                    <button *ngIf="!buttonRetour" pButton pRipple label="Réinitiliser mot de passe" icon="pi pi-key"
                        (click)="submitForm()" [disabled]="!form_mpoublie.valid"
                        class="w-full p-3 text-xl p-button-danger p-button-raised"></button>
                    <button *ngIf="buttonRetour" pButton pRipple label="Retour" icon="pi pi-arrow-left"
                        (click)="router.navigate(['/'])"
                        class="w-full p-3 text-xl p-button-danger p-button-raised"></button>
                </div>
            </form>


        </div>
    </div>
</div>