.imatch-main-page {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: inset 0px 10px 0px 0px #0A2E40;
    padding-top: 10px;
    min-height: 100vh;
}

.header-imatch h1 {
    font-size: 18px;
    font-weight: 900;
}

.container {
    padding: 50px 80px;
    padding-bottom: 0;
}

.header-top {
    box-shadow: inset 0px 30px 0px 0px #F2F2F2;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-title {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.page-title h1 {
    font-weight: 900;
    color: #0A2E40;
    font-size: 2.4em;
}

hr.imatch-main {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    width: 130px;
    border-top: 2px solid #F28627;
}

.btn-cv {
    border-radius: 30px;
    padding: 7px 30px;
    min-width: 250px;
    text-align: center;
    text-decoration: none;
    text-align: center;

}
.btn-cv p, .btn-cv i {
    margin: 0;
}

.btn-cv-1 {
    color: #D95525;
    background-color: white;
    border: 1px solid #D95525;
}

.btn-cv-1:hover {
    color: white;
    background-color: #D95525;
    text-decoration: none;
}


.btn-cv-2 {
    color: white !important;
    background-color: #37BAD4;

    cursor: pointer;
}


.btn-cv-2:hover {
    color: white !important;
    background-color: #159BB6;
    text-decoration: none;
}

.btn-cv-3 {
    color: white;
    background-color: #1E526C;
    border: 1px solid white;
}

.btn-cv-3:hover {
    color: white;
    background-color: #D95525;
    border: none;
    text-decoration: none;
}


.btn-cv-4 {
    color: #1E526C;
    background-color: white;
    cursor: pointer;
}


.btn-cv-4:hover {
    color: white !important;
    background-color: #37BAD4;
}



.header-top-container {
    display: flex;
    justify-content: center;
}

.margin-both {
    margin-left: 30px;
    margin-right: 30px;
}

.video-intro {
    margin-right: 50px;
    margin-left: 50px;
    height: 400px;
    width: auto !important;
}

.images-imatch {
    height: 450px;
    width: auto !important;
}

.image-student {
    transform: perspective(900px) rotateY(-30deg) scale(1);
    transition: 0.5s ease all;
    background: linear-gradient(180deg, #eba65b 30%, #d99267);
}
.image-company {
    transform: perspective(900px) rotateY(30deg) scale(1);
    transition: 0.5s ease all;
    background: linear-gradient(180deg, #eba65b 30%, #d99267);
}


.images-imatch:hover {
    transform: rotate(0deg) scale(1) translateY(10px);
    box-shadow: 0px 0px 21px #9D9D9D;
  }


  @media screen and (max-width: 1350px) {
    .images-imatch {
        height: 300px;
        width: auto !important;
    }}


    @media screen and (max-width: 1120px) {
        .images-imatch {
            display: none;
        }}

    


.bouton-plus {
    background-color: #F28627;
    font-size: 1em;
    padding: 10px 50px;
    border-radius: 50px;
    color: white;
    line-height: 1.2;
}

.bouton-plus:hover {
    background-color: #37BAD4;
    text-decoration: none;
    color: white;
}

.icon-right {
    margin-top: 2px;
    line-height: 1.2;
    margin-left: 10px;
}

.steps-imatch {
    width: 500px;
}

.text-header {
    height: 100%;
    vertical-align: middle;
}


.cv-list {
    background-color: #F2F2F2;
    min-height: 400px;
    padding-bottom: 30px;
}
@media screen and (max-width: 1500px) {
    .cv-list {
        grid-template-columns: 50% 50% ;
    }
  }

  @media screen and (max-width: 1100px) {
    .cv-list {
        grid-template-columns: auto ;
    }
  }

.lightgray-bg {
    background-color: #F2F2F2;
}

.cv-card {
    height: 100%;
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.178));
    background-color: white;
}

.cv-card:hover {
    scale: 1.03;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.300));
}



.header-imatch {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}



.cv-card-footer {
    display: flex;
    justify-content: space-between;
}

.cv-card-footer a {
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.cv-card-footer .cv {
    background-color: #D95525;
}


.cv-card-footer .meeting {
    background-color: #1E526C;
    border-radius: 0 0 0 20px;
    color: white;
}


.cv-card-footer .cv:hover {
    background-color: #1E526C;
    cursor: pointer;
}


.cv-card-footer .meeting:hover {
    background-color: #D95525;
    color: white;
    cursor: pointer;

}


.card-competences {
    display: flex;
    justify-content: space-between;

}

.card-competences p {
    color: white;
    background-color: #37BAD4;
    padding: 10px 30px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 12px;
}

.cv-card-main {
    padding: 0px 20px;
}

.card-main-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-main-info h3 {
    margin: 0;
}

.card-main-info .card-age {
    font-size: 24px;
    color: #D95525;
}

.cv-card-information {
    display: flex;
    margin-bottom: 15px;
}

.cv-clear-button {
    background: none;
    color: #AAAAAA;
    border: none !important;

}

.pad-bt-16 {
    padding-bottom: 16px;
}

.cv-clear-button:hover,.cv-clear-button:focus, .cv-clear-button:active {
    background: none;
    color: #D95525;
    border: none !important;
}

.cv-search {
    left: 1.75rem !important;
    color: #9D9D9D !important;
}

.cv-search {
    left: 1.75rem !important;
    color: #9D9D9D !important;
}

.cv-input-text {
    padding-left: 3.5rem;
    border-radius: 100px;

}

.cv-card-information .img-card {
    width: 80px;
    height: 80px;
    border-radius: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cv-card-information .cv-card-details {
    padding-left: 20px;
}

.card-main-data p {
    margin: 0;
}

.header-top img {

    width: 100%;
    
    }

    