<div class="imatch-main-page">
    <div class="header-top">
        <div class="page-title">
            <h1>iMATCH<br>Votre portail de mise en relation entre alternants et entreprises</h1>
            <hr class="imatch-main">
        </div>
            <div class="header-top-container ">
                <a class="btn-cv  btn-cv-1" target="_blank" href="https://ieg.group/alternance/pour-les-apprenants/#imatch">Comment ça marche (Alternants) ?</a>
                <a class="btn-cv  btn-cv-1" target="_blank" href="https://ieg.group/alternance/pour-les-entreprises/#imatch">Comment ça marche (Entreprise) ?</a>
            </div>
    </div>
    <div class="container">
        <div class="portal-btns row">
            <div class="col-md-6 col-12">
                <div class="portal-btn student-btn" (click)="navigate('offres')">
                    <p>Je suis</p>
                    <p class="name-btn"><strong>un étudiant</strong></p>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="portal-btn company-btn" (click)="navigate('cvtheque')">
                    <p>Je suis</p>
                    <p class="name-btn"><strong>une entreprise</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <img src="../../assets/images/logo_ieg.png"/>
        <p>Copyright © 2023 - IEG</p>
    </div>
</div>