<p-toast></p-toast>
<div class="grid">
    <div class="col-12" *ngIf="showFormUpdateSeance!=null">
        <div class="card">
            <h4 style="text-align: center;">Modifier une séance </h4>
            <p style="text-align: center; font-size: 12px;">Tous les champs marqués d'un astérix <span
                    style="color: red;"> * </span> sont obligatoires</p>
            <form class="p-fluid p-formgrid grid" [formGroup]="seanceFormUpdate" (ngSubmit)="modifySeance()">
                <div class="field col-12 md:col-6">
                    <label>Nom du groupe</label><br>
                    <p-multiSelect formControlName="classe" [options]="dropdownClasse"
                        (onChange)="showCampus($event.value)" defaultLabel="Selection des groupes"
                        filter="true"></p-multiSelect>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Module</label><br>
                    <p-dropdown formControlName="matiere" [options]="dropdownMatiere" optionLabel="nom"
                        placeholder="Choissisez un module" emptyFilterMessage="Pas de module trouvé"
                        filterPlaceholder="Nom du module" filter="true">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-12">
                    <label>Remarque</label><br>
                    <input pInputText type="text" formControlName="libelle" placeholder="libelle de la séance"
                        class="form-control col-12">
                </div>
                <div class="field col-12 md:col-6">
                    <label>Début:</label>
                    <input type="datetime-local" formControlName="date_debut" class="form-control col-12"
                        placeholder="Début de la séance" pInputText>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Fin:</label>
                    <input type="datetime-local" formControlName="date_fin" class="form-control col-12"
                        placeholder="Fin de la séance" pInputText>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Temps Max pour signer (en Min)<span style="color: red;"> * </span></label><br>
                    <input pInputText type="number" formControlName="time_max_sign" placeholder="30"
                        class="form-control col-12">
                </div>
                <div class="field col-12 md:col-6">
                    <label>Campus</label><br>
                    <p-dropdown formControlName="campus_id" [options]="dropdownCampus" optionLabel="libelle"
                        (onChange)="showSalles($event.value)" emptyFilterMessage="Pas de campus trouvé"
                        filterPlaceholder="Nom du campus" filter="true">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Nom du formateur</label><br>
                    <p-dropdown formControlName="formateur" [options]="dropdownFormateur" optionLabel="nom"
                        placeholder="Choissisez un formateur" emptyFilterMessage="Pas de formateur trouvé"
                        filterPlaceholder="Nom de formateur" filter="true">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Numéro de séance</label><br>
                    <input pInputText type="number" formControlName="nbseance" placeholder="1"
                        class="form-control col-8">
                </div>
                <div class="field col-12 md:col-6">
                    <label>Emplacement de la séance <span style="color: red;"> * </span></label>
                    <p-selectButton
                        [options]="[{label:'Présentiel',value:'Présentiel'},{label:'Distanciel',value:'Distanciel'},{label:'Hybride',value:'Hybride'}]"
                        formControlName="isPresentiel"></p-selectButton>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Type de planification <span style="color: red;"> * </span></label>
                    <p-selectButton [options]="[{name:'Planifiée',value:true},{name:'Validée',value:false}]"
                        formControlName="isPlanified" optionLabel="name" optionValue="value"></p-selectButton>
                </div>
                <div class="field col-12 md:col-12"
                    *ngIf="isPresentielUpdated.value!='Distanciel' && salleNames.length!=0">
                    <label>Salle Présentiel:</label><br>
                    <p-dropdown formControlName="salle_name" [options]="salleNames" optionLabel="value">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Type de séance <span style="color: red;"> * </span></label>
                    <p-selectButton (onChange)="changeType($event.value)" [options]="dropdownSeanceType"
                        formControlName="seance_type"></p-selectButton>
                </div>
                <div class="field col-6">
                    <label>Autorisation de signature <span style="color: red;"> * </span></label>
                    <p-selectButton
                        [options]="[{label:'Signature autorisée par le formateur seulement',value:true},{label:'Signature en début de séance',value:false}]"
                        formControlName="forcedAllowedByFormateur"></p-selectButton>
                </div>
                <div class="field col-6">
                    <label>Signature optionnel <span style="color: red;"> * </span></label>
                    <p-selectButton
                        [options]="[{label:'Signature optionnel',value:true},{label:'Signature obligatoire',value:false}]"
                        formControlName="isOptionnel"></p-selectButton>
                </div>
                <div class="col-offset-5 md:col-offset-5 sm:col-offset-4">
                    <button pButton class="ui-button-raised ui-button-success" [disabled]="seanceFormUpdate.invalid"
                        label="Enregistrer" type="submit"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<div>
    <h2>Bonjour cette page possède des problèmes actuellement en travaux par l'équipe dev MERCI</h2>
    <p>{{seances|json}}</p>
    <p>{{diplomeFilter|json}} <====> {{groupeFilter|json}}</p>
</div>-->
<div class="col-12">
    <div class="card">
        <div style="float: right;">
            <button style="margin-left: 2px;" pButton icon="pi pi-plus-circle" label="Valider la planification"
                (click)="validPlanification()"></button>
        </div>
        <h3>Liste des séances {{ titre }}</h3>
        <div class="col-12 card shadow-lg my-5 ">
            <p-table #dt1 *ngIf="seances" [columns]="cols" [value]="seances" rowExpandMode="single" [rows]="10"
                responsiveLayout="scroll" [paginator]="true" [pageLinks]="5" [responsive]="true"
                [totalRecords]="seances.length" [filterDelay]="0" [(first)]="first"
                [globalFilterFields]="['libelle','date_debut','date_fin','formateur_id','matiere','diplome_titre','classe_abbrv']"
                styleClass="p-datatable-gridlines">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <p-dropdown *ngIf="diplomeFilter!=null && diplomeFilter.length!=1" [options]="diplomeFilter" filter="true"
                            class="mb-2"
                            (onChange)="dt1.filter($event.value, 'diplome_titre', 'equals');updateGroupeFilter($event.value)">
                        </p-dropdown>
                        <p-dropdown *ngIf="groupeFilter!=null && groupeFilter.length!=1" [options]="groupeFilter" filter="true"
                            class="mb-2" (onChange)="dt1.filter($event.value, 'classe_abbrv', 'equals')">
                        </p-dropdown>
                        <span>
                            <p-calendar [(ngModel)]="calendar_value" (onSelect)="filterRange($event)"
                                selectionMode="range" [readonlyInput]="true"></p-calendar>
                            <i *ngIf="calendar_value && calendar_value[0] && calendar_value[1]"
                                class="pi pi-filter-slash" (click)="clearFilter()"></i>
                        </span>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Recherche" />
                        </span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="abbrv" scope="col" style="text-align:center">
                            Code Grp <p-sortIcon field="abbrv"></p-sortIcon>
                        </th>

                        <th pSortableColumn="matiere" scope="col" style="text-align:center">
                            Module <p-sortIcon field="matiere"></p-sortIcon>
                        </th>
                        <th pSortableColumn="formateur_id" scope="col" style="text-align:center">
                            Formateur <p-sortIcon field="formateur_id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="libelle" scope="col" style="text-align:center">
                            Libelle <p-sortIcon field="libelle"></p-sortIcon>
                        </th>

                        <th pSortableColumn="date_debut" scope="col" style="text-align:center">
                            Date <p-sortIcon field="date_debut"></p-sortIcon>
                        </th>

                        <th scope="col" style="text-align:center">
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngIf="type!='classe'" style="min-width: 12rem;">
                            <span *ngFor="let cid of rowData.classe_id; let index = index">
                                <span
                                    *ngIf="classes[cid] && classes[cid].abbrv && index==0">{{classes[cid].abbrv}}</span>
                                <span
                                    *ngIf="classes[cid] && classes[cid].abbrv && index!=0">,<br>{{classes[cid].abbrv}}</span>
                            </span>
                        </td>

                        <td style="min-width: 12rem;">
                            {{ matieres[rowData.matiere_id]?.nom }}
                        </td>
                        <td *ngIf="type!='formateur'" style="min-width: 12rem;">
                            {{ formateurs[rowData.formateur_id]?.firstname }}
                            {{ formateurs[rowData.formateur_id]?.lastname }}
                        </td>
                        <td style="min-width: 12rem;">
                            {{ rowData.libelle }}
                        </td>

                        <td style="min-width: 12rem;">
                            {{rowData.date_debut | date:'dd/MM/yyyy HH:mm'}} - {{rowData.date_fin | date:'HH:mm'}}
                        </td>
                        <td>
                            <i pTooltip="Modifier" tooltipPosition="bottom" class="pi pi-pencil"
                                (click)="showModify(rowData);" aria-hidden="true"></i>
                            <i pTooltip="Supprimer" tooltipPosition="bottom" class="pi pi-trash"
                                (click)="delete(rowData);" aria-hidden="true"></i>
                            <i pTooltip="Informations de la séance" tooltipPosition="bottom" class="pi pi-list"
                                (click)="toSign(rowData)" aria-hidden="true" style="margin-left: 5%;"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>