<div class="p-grid mt-2">
    <div class="col-8 col-offset-2 col-xl-8 col-lg-8 col-md-8" id="register">
        <p-card>
            <div class="p-col-xl-12 col-lg-12 col-md-12 p-grid">
                <form class="col-8 col-offset-2 col-xl-8 col-lg-8 col-md-8" [formGroup]="RegisterForm">
                    <div class="text-center"><img src="assets/layout/images/logo.png" class="logo"></div>
                    <h3 class="text-center">Complétion de votre profil</h3>

                    <br>
                    <div class="grid">
                        <div class="field col mt-2 mb-2 col-lg-8 col-8">
                            <div>
                                <label for="civilite" class="p-sr-only">Civilité :</label>
                            </div>
                            <span>
                                <p-dropdown formControlName="civilite" [options]="civiliteList" optionLabel="value"
                                    class="register"></p-dropdown>
                            </span>
                        </div>
                        <div class="field col mt-2 mb-2 col-lg-6 col-6">
                            <div>
                                <label for="lastname" class="p-sr-only">Nom :</label>
                            </div>
                            <input type="text" formControlName="lastname" class="form-control col-12" placeholder="Nom"
                                pInputText>
                            <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
                                <span class="error" *ngIf="lastname.errors?.required">*Le nom est obligatoire</span>
                                <span class="error" *ngIf="lastname.errors?.pattern">*Seul les lettres sont
                                    acceptés</span>
                            </div>
                        </div>
                        <div class="field col mt-2 mb-2 col-lg-6 col-6">
                            <div>
                                <label for="firstname" class="p-sr-only">Prénom :</label>
                            </div>
                            <input type="text" formControlName="firstname" class="form-control col-12"
                                placeholder="Prénom" pInputText>
                            <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
                                <span class="error" *ngIf="firstname.errors?.required">*Le prénom est
                                    obligatoire.</span>
                                <span class="error" *ngIf="firstname.errors?.pattern">*Seul les lettres sont
                                    acceptés.</span>
                            </div>
                        </div>
                        <div class="mt-2 mb-2 col-lg-12 col-12">
                            <div>
                                <label for="adresse" class="p-sr-only">Adresse :</label>
                            </div>
                            <input id="adresse" type="text" formControlName="adresse" class="form-control col-12"
                                placeholder="Adresse" pInputText required />
                            <div *ngIf="adresse.invalid && (adresse.dirty || adresse.touched)">
                                <span class="error" *ngIf="adresse.errors?.required">*L'adresse est obligatoire.</span>
                                <span class="error" *ngIf="adresse.errors?.pattern">*L'adresse n'est pas correct.</span>
                            </div>
                        </div>
                        <div class="mt-2 mb-2 col-lg-12 col-12">
                            <div>
                                <label for="phone" class="p-sr-only">Téléphone :</label>
                            </div>
                            <input type="text" formControlName="phone" class="form-control col-12"
                                placeholder="Téléphone" pInputText>
                            <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                                <span class="error" *ngIf="phone.errors?.required">*Le téléphone est obligatoire.</span>
                                <span class="error" *ngIf="phone.errors?.minlength || phone.errors?.maxlength">*Le
                                    téléphone doit être composé:+33 612345678.</span>
                            </div>
                        </div>
                        
                        <div class="field col mt-2 mb-2 col-12">
                            <div>
                                <label for="type" class="p-sr-only">Statut :</label>
                            </div>
                            <span>
                                <p-dropdown formControlName="type" [options]="statutList" optionLabel="value"
                                    class="register"></p-dropdown>
                            </span>
                        </div>

                        <div class="field col mt-2 mb-2 col-6" *ngIf="type=='Etudiant' || type=='Alternant/Stagiaire'">
                            <div>
                                <label for="campus" class="p-sr-only">Campus :</label>
                            </div>
                            <span>
                                <p-dropdown formControlName="campus" [options]="campusList" optionLabel="value"
                                    class="register"></p-dropdown>
                            </span>
                        </div>

                        <div class="field col mt-2 mb-2 col-6"  *ngIf="type=='Etudiant' || type=='Alternant/Stagiaire'">
                            <div>
                                <label for="formation" class="p-sr-only">Classe :</label>
                            </div>
                            <span>
                                <p-dropdown formControlName="formation" [options]="formationList" optionLabel="nom_court"
                                    class="register" filterPlaceholder="Recherche une classe" filter="true"></p-dropdown>
                            </span>
                        </div>
                        
                        <div class="field col mt-2 mb-2 col-12" *ngIf="type=='Salarié' || type=='Alternant/Stagiaire'">
                            <div>
                                <label for="entreprise" class="p-sr-only">Entreprise :</label>
                            </div>
                            <span>
                                <p-dropdown formControlName="entreprise" [options]="entreprisesList" optionLabel="value"
                                    class="register"></p-dropdown>
                            </span>
                        </div>

                        <div class="mt-2 mb-2 col-lg-12 col-12" id="btn">
                            <button pButton class="ui-button-raised ui-button-success"
                                [disabled]="RegisterForm.invalid"
                                label="Enregistrer" (click)="saveUser()"></button>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>