<p-toast></p-toast>
<div class="grid">
    <!-- Partie changement de statut -->

    <!-- Table d'ajout de note par classe -->
    <div class="col-12" *ngIf="examSelected">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; color: red;" (click)="examSelected = null"
                aria-hidden="true">
            </i>
            <h3>Saisie de notes</h3>
            <p>
                Groupe: <strong>{{ formatClasse(examSelected.classe_id) }}</strong> <br />
                Evaluation: <strong>{{ examSelected.libelle }}</strong> <br />
                Date d'examen: <strong>{{ examSelected.date | date:'dd/MM' }}</strong> <br />
            </p>

            <p-table #dt1 [value]="tableauNotes" dataKey="_id" responsiveLayout="scroll" editMode="row"
                [globalFilterFields]="['etudiant', 'appreciation']" [rows]="10" [pageLinks]="10" [paginator]="true"
                rowExpandMode="single" [totalRecords]="tableauNotes.length" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">Nom & Prénom</th>
                        <th style="width:5%">Date d'intégration IMS </th>
                        <th style="width:5%">Date d'intégration Teams </th>
                        <th style="width:5%">Date de notation </th>
                        <th style="width:20%">Note </th>
                        <th style="width:25%">Appreciation </th>
                        <th style="width:15%">Action </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="data">
                        <td>{{ data.etudiant}}</td>
                        <td>{{ data.date_IMS }}</td>
                        <td>{{ data.date_TEAMS }}</td>
                        <td>{{ data.date_note | date:'dd/MM' }}</td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" step="0.1" [(ngModel)]="data.note" required>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    <p *ngIf="!data.isAbsent && !isNaN(data.note)">{{ data.note }}</p>
                                    <p *ngIf="!data.isAbsent && isNaN(data.note)">Non Noté</p>
                                    <p *ngIf="data.isAbsent">Absence Justifiée</p>
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="data.appreciation">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ data.appreciation }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                pTooltip="Modifier la note" tooltipPosition="bottom" (click)="onRowEditInit(data)"
                                class="p-button-rounded p-button-text mr-2"></button>
                            <button *ngIf="!editing" pButton pRipple type="button" pSaveEditableRow
                                pTooltip="Noter l'étudiant en Absent Justifié" tooltipPosition="bottom"
                                icon="pi pi-exclamation-triangle" (click)="onRowUpdateIntoAbsent(data, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(data, ri)"
                                class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(data, ri)"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div class="col-12" *ngIf="showFormUpdateExamen">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
                title="Fermer" (click)="showFormUpdateExamen = false;formUpdateExamen.reset()" aria-hidden="true">
            </i>
            <h3 style="text-align: center;" *ngIf="examenToUpdate">Modification de {{examenToUpdate.libelle}}</h3>
            <form class="p-fluid p-formgrid grid" [formGroup]="formUpdateExamen" (ngSubmit)="onUpdateExamen()">

                <div class="field col-12">
                    <small>Tout les champs marqués d'un asterique <span style="color:red">*</span> sont
                        obligatoires</small>
                </div>

                <div class="field col-12 md:col-6">
                    <label>Groupe<span style="color:red">*</span>:</label><br>

                    <p-multiSelect [options]="dropdownClasse" placeholder="Choissisez un groupe"
                        formControlName="classe_id">
                    </p-multiSelect>

                </div>

                <div class="field col-12 md:col-6">
                    <label>Module<span style="color:red">*</span>:</label><br>
                    <span>
                        <p-dropdown [options]="dropdownMatiere" laceholder="Choissisez un module"
                            (onChange)="onLoadModules($event)" formControlName="matiere_id">
                        </p-dropdown>
                    </span>
                </div>

                <div [ngClass]="{'field col-12 md:col-12':!isFormateur,'field col-12 md:col-6':isFormateur}">
                    <label>Libellé:</label><br>
                    <input type="text" formControlName="libelle" class="form-control col-12"
                        placeholder="Intitulé de l'évaluation" pInputText>

                </div>

                <div class="field col-12 md:col-6" *ngIf="!isFormateur">
                    <label>Formateur<span style="color:red">*</span>:</label><br>
                    <span>
                        <p-dropdown [options]="dropdownFormateur" formControlName="formateur_id">
                        </p-dropdown>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <label>Note max<span style="color:red">*</span>:</label><br>
                    <input type="text" formControlName="note_max" class="form-control col-12" placeholder="20"
                        pInputText>

                    <div *ngIf="note_max_m.invalid && (note_max_m.touched || note_max_m.dirty)">
                        <span *ngIf="note_max_m.errors?.pattern" style="color: red;">
                            La note maximale n'est pas dans le bon format
                        </span>
                    </div>
                </div>

                <div class="field col-12 md:col-6">
                    <label>Coefficient<span style="color:red">*</span>:</label><br>
                    <input type="number" formControlName="coef" class="form-control col-12" placeholder="1" pInputText>
                </div>

                <div class="field col-12 md:col-6">
                    <label>Date<span style="color:red">*</span>:</label><br>
                    <input type="datetime-local" formControlName="date" class="form-control col-12" pInputText>
                </div>

                <div class="field col-12 md:col-6">
                    <label>Type d'évaluation<span style="color:red">*</span>:</label><br>
                    <span>
                        <p-dropdown [options]="dropdownType" formControlName="type">
                        </p-dropdown>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <label>Niveau d'évaluation<span style="color:red">*</span>:</label><br>
                    <span>
                        <p-dropdown [options]="dropdownNiveau" formControlName="niveau">
                        </p-dropdown>
                    </span>
                </div>
                <div>
                    <button pButton type="submit" label="Modifier l'évaluation"
                        [disabled]="formUpdateExamen.invalid"></button>

                </div>

            </form>


        </div>
    </div>
    <div class="col-12">
        <div class="card">

            <!--<div style="float: right;">
                <button pButton icon="pi pi-plus" label="Ajouter" (click)="onRedirect();"></button>
            </div>-->
            <h3>Evaluations</h3>
            <p-toast></p-toast>
            <p-table #dt1 [value]="examens" dataKey="_id" responsiveLayout="scroll"
                [globalFilterFields]="['libelle', 'classe_id.abbrv', 'matiere_id.abbrv', 'note_max', 'coef']"
                [rows]="10" [pageLinks]="5" [paginator]="true" rowExpandMode="single" [totalRecords]="examens.length"
                styleClass="p-datatable-gridlines">

                <ng-template pTemplate="caption">

                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="field" *ngIf="dropdownGroupe.length!=1">
                            <p-dropdown filter="true" [options]="dropdownGroupe" class="mr-2"
                                (onChange)="dt1.filter($event.value, 'classe_id._id', 'in')"
                                emptyFilterMessage="Pas de classe trouvé" filterPlaceholder="Nom du groupe">
                            </p-dropdown>

                            <p-dropdown filter="true" [options]="dropdownModule" class="mr-2"
                                (onChange)="dt1.filter($event.value, 'matiere_id._id', 'equals')"
                                emptyFilterMessage="Pas de classe trouvé" filterPlaceholder="Nom du module">
                            </p-dropdown>

                            <p-dropdown filter="true" [options]="filterFormateur" class="mr-2"
                                (onChange)="dt1.filter($event.value, 'formateur_id._id', 'equals')"
                                emptyFilterMessage="Pas de formateur trouvé" filterPlaceholder="Nom du formateur">
                            </p-dropdown>

                            <p-dropdown filter="true" [options]="dropdownType" *ngIf="dropdownType.length!=1"
                                (onChange)="dt1.filter($event.value.value, 'type', 'equals')" optionLabel="label"
                                emptyFilterMessage="Pas de type trouvé" filterPlaceholder="Type d'évaluation">
                            </p-dropdown>
                        </div>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText class="w-full" type="text"
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche" />
                        </span>
                    </div>

                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th id="expandBtn" style="width: 3rem"></th>
                        <th>Formateur</th>
                        <th pSortableColumn="classe_id">Groupe <p-sortIcon field="classe_id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="matiere_id">Module <p-sortIcon field="matiere_id"></p-sortIcon>
                        </th>
                        <th pSortableColumn="libelle">Libellé <p-sortIcon field="libelle"></p-sortIcon>
                        </th>
                        <th>Action </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-examen let-expanded="expanded">
                    <tr class="bandeau-show">
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="examen" (click)="loadNotes(examen)"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                style="background-color:white; color: green; border: 0px"></button>
                        </td>
                        <td>{{ examen.formateur_id?.user_id?.firstname }} {{
                            examen.formateur_id?.user_id?.lastname }}</td>
                        <td>
                            <span *ngFor="let cid of examen.classe_id; let index = index">
                                <span *ngIf="cid && index==0">{{cid.abbrv}}</span>
                                <span *ngIf="cid && index!=0">,<br>{{cid.abbrv}}</span>
                            </span>
                        </td>
                        <td>{{ examen.matiere_id?.abbrv }}</td>
                        <td>{{ examen.libelle }}</td>
                        <td>
                            <i type="button" pTooltip="Modifier" tooltipPosition="bottom" *ngIf="!isFormateur"
                                class="pi pi-pencil" (click)="showFormUpdateExamen = true; 
                            showFormAddExamen = false;
                            idExamenToUpdate = examen._id;
                            idClasseToUpdate = examen.classe_id;
                            idMatiereToUpdate = examen.matiere_id._id;
                            formateurToUpdate = examen.formateur_id;
                            onGetById();" aria-hidden="true"></i>

                            <i class="pi pi-file-excel ml-1" pTooltip="Attribuer des notes" tooltipPosition="bottom"
                                (click)="loadEtudiantsForNote(examen)"></i>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-examen>

                    <tr>
                        <td colspan="9">
                            <div class="p-3">
                                <p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                    <tr>
                        <th>Type d'évaluation:</th>
                        <th>Date de l'évaluation:</th>
                        <th>Note max:</th>

                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-examen>

                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>{{ examen.type }}</td>
                        <td> {{ examen.date | date:'dd/MM/yyyy HH:mm' }}</td>
                        <td>{{ examen.note_max }}</td>
                    </tr>
                </ng-template>
            </p-table>
            <br>
            <p-table responsiveLayout="scroll" *ngIf="notes">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstname">Prénom & Nom</th>
                        <th pSortableColumn="note_val"> Note <p-sortIcon field="note_val"></p-sortIcon>
                        </th>
                        <th>
                            Appreciation
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr *ngFor="let note of notes">
                        <td>
                            {{ note.etudiant_id?.user_id?.firstname }}
                            {{ note.etudiant_id?.user_id?.lastname }}
                        </td>
                        <td style="min-width: 10rem;">
                            {{ note.note_val | number : '0.2-9' }}
                        </td>
                        <td style="min-width: 12rem; ">
                            {{ note.appreciation }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>
    </div>
</div>
</div>