.valid-begin {
    border-top: 2px solid green !important;
    border-bottom: 2px solid green !important;
    border-left: 2px solid green !important;
}

.valid-middle {
    border-top: 2px solid green !important;
    border-bottom: 2px solid green !important;
}

.valid-end {
    border-top: 2px solid green !important;
    border-bottom: 2px solid green !important;
    border-right: 2px solid green !important;
}