.imatch-main-page {
    height: 100%;
    width: 100%;
    background-color: white;
    box-shadow: inset 0px 10px 0px 0px #0A2E40;
    padding-top: 10px;
    min-height: 100vh;
}

.page-content {
    box-shadow: inset 0px 30px 0px 0px #F2F2F2;
    padding-top: 30px;
}

.top-header, .footer {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .pi-arrow-left {
        margin-right: 30px;
    }
}

.btn-cv {
    border-radius: 7px;
    padding: 7px 20px;
    min-width: 250px;
    text-align: center;
    text-decoration: none;
}

.btn-cv:hover{
    text-decoration: none;
}

.btn-cv-shadow-1 {
    filter: drop-shadow(0rem 0.3rem 0.2rem rgba(175, 175, 175, 0.4));

}

.btn-cv-1 {
    color: #D95525;
    background-color: white;
    border: 1px solid #D95525;
}

.btn-cv-1:hover {
    color: white;
    background-color: #D95525;
}

.header {
    background-color: #F2F2F2;
    padding: 50px 0;
}

.cv-main-info {
    margin-left: 30px;
    hr {
        margin: 2px 0;
        width: 30px;
        border-top: 2px solid #9D9D9D;
    }
    h1 {
        margin: 0;
        padding: 0;
        font-weight: 900;
        color: #0A2E40;
        text-transform: uppercase;
    }
    .cv-profile {
        color: #D93B3B;

    }
}

.cv-title {
    display: flex;
    align-items: center;
    padding: 50px 20px;
}

.btn-cancel {
    color: #777777;
}

.btn-cancel i {
    margin-right: 30px;
}

.img-card {
    height: 100px;
    width: 100px;
    filter: drop-shadow(0rem 0.3rem 0.2rem rgb(0, 0, 0, 0.25));
    background-size: cover;
    border-radius: 100px;
}


.rendez-vous-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        color: #777777;
    }

    h1 {
        font-weight: 700;
        font-style: italic;
        color: #0A2E40;
        hr {
            margin: 0;
            width: 40px;
            border-top: 5px solid #37BAD4;
        }
    }
}
.form-container {
    color: #777777;
}

.button-submit {
    background-color: #D93B3B;
    border-radius: 5px;
    filter: drop-shadow(0rem 0.3rem 0.2rem rgba(175, 175, 175, 0.4));
    margin: 20px 0;
    width: 100%;
}

.button-submit:hover, .button-submit:active {
    background-color: #9e1b1b;
}

@media (max-width:768px){
    .rendez-vous-header {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        align-items: flex-start;
    }

    .cv-title {
        padding: 0;
    }
}

