<div class="grid card" *ngIf="PROSPECT">
    <p-fieldset legend="Suivre ma candidature" class="col-12 grid">
        <div class="col-12 grid">
            <p class="col-6"><strong>Phase de candidature :</strong>
                {{PROSPECT.phase_candidature}}</p>
            <p class="col-6"><strong>Décision admission :</strong>
                {{PROSPECT.decision_admission}}</p>
            <p class="col-12"><strong>Paiement :</strong>
                {{PROSPECT.statut_payement}}</p>


            <p class="col-12"><strong>Avez-vous besoin de visa d'étude :</strong> <p-selectButton autoWidth="false" [style]="{'width':'100%'}"
                    [options]="[{label:'Oui',value:'Oui'},{label:'Non concerné',value:'Non concerné'}]"
                    [(ngModel)]="PROSPECT.a_besoin_visa" (onChange)="updateValue('a_besoin_visa')"></p-selectButton>
            </p>
            <p class="col-6"><strong>Avancement Campus France :</strong>
                <br>
                <p-dropdown [options]="cfList" [(ngModel)]="PROSPECT.validated_cf" placeholder="Choisissez un état" autoWidth="false" [style]="{'width':'100%'}"
                    (onChange)="updateValue('validated_cf',$event.value)"></p-dropdown>
            </p>
            <p class="col-6"><strong>Numéro de dossier Campus France :</strong><br>
                <input pInputText type="text" placeholder="1A2B3C" (blur)="updateValue('numero_dossier_campus_france')" autoWidth="false" [style]="{'width':'100%'}"
                    [(ngModel)]="PROSPECT.numero_dossier_campus_france" />
            </p>
            <p class="col-12"><strong>Statut Visa :</strong><br>
                <p-dropdown [options]="visaList" [(ngModel)]="PROSPECT.avancement_visa" placeholder="Choisissez un état" autoWidth="false" [style]="{'width':'100%'}"
                    (onChange)="updateValue('avancement_visa')"></p-dropdown>
            </p>

        </div>
    </p-fieldset>
</div>