$primaryColor: #185cd2;
$primaryHiglightColor:#793BB1;
$primaryTextColor:#532C75;

/* background */
$backgroundColor: #ffffff;

/* horizontal menu */
$horizontalMenuItemBgColor: rgb(5, 16, 26);
$horizontalMenuItemTextColor: rgba(226, 32, 32, 0.8);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.4);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.2);
$topbarItemHoverBgColor:rgba(255,255,255,0.4);
$topbarItemIconColor:rgba(255,255,255,0.72);
$topbarItemTextColor:rgba(255,255,255,0.72);
$topbarChildItemHoverColor:#793BB1;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#E7D8F5;
$overlayMenuItemActiveTextColor:#532C75;

/* overlay menu button */
$overlayMenuButtonColor:#0b0f11;
$overlayMenuButtonHoverBgColor:#E7D8F5;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#E7D8F5;
$actionItemIconColor:#532C75;
$actionItemHoverBgColor:#E0BFFF;
$actionItemActiveBgColor:#793BB1;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.67);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#793BB1;

@import '../../sass/layout/_layout';
