<div class="col-12 page-pdf">
    <div class="grid col-12 card" *ngIf="cvToUpdate">
        <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;" title="Fermer"
            (click)="cvToUpdate = null" aria-hidden="true"> </i>
        <form class="grid" [formGroup]="formUpdate">

            <div class="p-fluid p-formgrid grid col-12">
                <div class="field col-12">
                    <label For="Civilite">Civilité<span style="color:red"> *</span></label>
                    <p-dropdown [options]="civiliteList" formControlName="civilite"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label For="lastname">Nom<span style="color:red"> *</span></label>
                    <input pInputText id="lastname" formControlName="lastname" type="text" placeholder="Nom" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="firstname">Prénom<span style="color:red"> *</span></label>
                    <input pInputText id="firstname" formControlName="firstname" type="text" placeholder="Prénom" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="phone">Téléphone</label>
                    <input pInputText id="phone" formControlName="phone" type="tel" placeholder="0767987887" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="email_perso">Mail personnel<span style="color:red"> *</span></label>
                    <input pInputText id="phone" formControlName="email_perso" type="email"
                        placeholder="s.hue@gmail.com" />
                </div>

                <div class="field col-12 md:col-7">
                    <label For="pays">Pays de résidence</label>
                    <p-dropdown [options]="paysList" formControlName="pays_adresse"></p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label For="ville">Ville</label>
                    <input pInputText id="ville" formControlName="ville_adresse" type="text" placeholder="Paris" />
                </div>
                <div class="field col-12 md:col-4">
                    <label For="numero_adresse">Numéro de rue</label>
                    <input pInputText id="numero_adresse" formControlName="numero_adresse" type="number"
                        placeholder="15" />
                </div>
                <div class="field col-12 md:col-8">
                    <label For="rue_adresse">Rue</label>
                    <input pInputText id="rue_adresse" formControlName="rue_adresse" type="text"
                        placeholder="rue du louvre" />
                </div>
                <div class="field md:col-6 col-12">
                    <label For="postal_adresse">Code postale</label>
                    <input pInputText id="postal_adresse" formControlName="postal_adresse" type="number"
                        placeholder="94200" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="nationalite">Nationalité<span style="color: red;"> * </span></label>
                    <p-dropdown formControlName="nationnalite" [options]="nationList"
                        emptyFilterMessage="Pas de nationalité trouvé" filterPlaceholder="Nationalité" filter="true">
                    </p-dropdown>
                </div>
                <div class="col-12">
                    <button pButton label="Sauvegardez les modifications" [disabled]="formUpdate.invalid"
                        (click)="saveUpdate()"></button>
                </div>
            </div>
        </form>
    </div>
    <div class="grid col-12 card" *ngIf="cvToAdd">
        <i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;" title="Fermer"
            (click)="cvToAdd = false" aria-hidden="true"> </i>
        <form class="grid" [formGroup]="formAdd">
            <div class="p-fluid p-formgrid grid col-12">
                <div class="field col-12">
                    <label For="Civilite">Civilité<span style="color:red"> *</span></label>
                    <p-dropdown [options]="civiliteList" formControlName="civilite"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label For="lastname">Nom<span style="color:red"> *</span></label>
                    <input pInputText id="lastname" formControlName="lastname" type="text" placeholder="Nom" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="firstname">Prénom<span style="color:red"> *</span></label>
                    <input pInputText id="firstname" formControlName="firstname" type="text" placeholder="Prénom" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="phone">Téléphone</label>
                    <input pInputText id="phone" formControlName="phone" type="tel" placeholder="0767987887" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="email_perso">Mail personnel<span style="color:red"> *</span></label>
                    <input pInputText id="phone" formControlName="email_perso" type="email"
                        placeholder="s.hue@gmail.com" />
                </div>

                <div class="field col-12 md:col-7">
                    <label For="pays">Pays de résidence</label>
                    <p-dropdown [options]="paysList" formControlName="pays_adresse"></p-dropdown>
                </div>
                <div class="field col-12 md:col-5">
                    <label For="ville">Ville</label>
                    <input pInputText id="ville" formControlName="ville_adresse" type="text" placeholder="Paris" />
                </div>
                <div class="field col-12 md:col-4">
                    <label For="numero_adresse">Numéro de rue</label>
                    <input pInputText id="numero_adresse" formControlName="numero_adresse" type="number"
                        placeholder="15" />
                </div>
                <div class="field col-12 md:col-8">
                    <label For="rue_adresse">Rue</label>
                    <input pInputText id="rue_adresse" formControlName="rue_adresse" type="text"
                        placeholder="rue du louvre" />
                </div>
                <div class="field md:col-6 col-12">
                    <label For="postal_adresse">Code postale</label>
                    <input pInputText id="postal_adresse" formControlName="postal_adresse" type="number"
                        placeholder="94200" />
                </div>
                <div class="field col-12 md:col-6">
                    <label For="nationalite">Nationalité<span style="color: red;"> * </span></label>
                    <p-dropdown formControlName="nationnalite" [options]="nationList"
                        emptyFilterMessage="Pas de nationalité trouvé" filterPlaceholder="Nationalité" filter="true">
                    </p-dropdown>
                </div>
                <div class="col-12">
                    <button pButton label="Ajout du CV" [disabled]="formAdd.invalid" (click)="saveAdd()"></button>
                </div>
            </div>
        </form>
    </div>
    <p-tabView style="width: 100%;" [(activeIndex)]="activeIndex1" (onClose)="handleClose($event)">
        <p-tabPanel header="Rendez-vous" class="test">
            <app-rendez-vous-resultats></app-rendez-vous-resultats>
        </p-tabPanel>
        <p-tabPanel header="Générateur de CV" *ngIf="!isEntreprise">
            <app-ajout-cv (PRINTING)="onPrinting($event)"></app-ajout-cv>
        </p-tabPanel>
        <p-tabPanel header="CV">
            <p-dataView #dv [value]="['']" layout="grid">
                <ng-template pTemplate="header">
                    <!--<span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                                placeholder="Recherche" class="w-full" />
                        </span>-->
                    <div class="grid ">
                        <div class="field col-12 grid ">
                            <div *ngIf="filter_value.profil.length!=0" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Profil</label><br>
                                <p-multiSelect placeholder="Choisissez un profil" [options]="profilFilter"
                                    autoWidth="false" [style]="{'width':'10em'}" [(ngModel)]="filter_value.profil"
                                    (onChange)="updateFilter()">
                                </p-multiSelect>
                            </div>
                            <div *ngIf="filter_value.type" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Type</label><br>
                                <p-dropdown placeholder="Choisissez un type" [options]="typeFilter" autoWidth="false"
                                    [style]="{'width':'10em'}" [(ngModel)]="filter_value.type"
                                    (onChange)="updateFilter()">
                                </p-dropdown>
                            </div>
                            <div *ngIf="filter_value.locations.length!=0" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Lieu</label><br>
                                <p-multiSelect [options]="locations" autoWidth="false" [style]="{'width':'100%'}"
                                    autoWidth="false" [style]="{'width':'10em'}" filter="true"
                                    placeholder="Choisissez un lieu" [(ngModel)]="filter_value.locations"
                                    (onChange)="updateFilter()"></p-multiSelect>
                            </div>
                            <div *ngIf="filter_value.disponibilite" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Disponibilité</label><br>
                                <p-calendar [readonlyInput]="true" view="month" dateFormat="mm/yy" autoWidth="false"
                                    [style]="{'width':'10em'}" (onSelect)="updateFilter()"
                                    [(ngModel)]="filter_value.disponibilite" (onBlur)="updateFilter()" inputId="range"
                                    autoWidth="false" [style]="{'width':'10em'}"
                                    placeholder="Date de début"></p-calendar>
                            </div>
                            <div *ngIf="filter_value.competences.length!=0" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Compétences</label><br>
                                <p-multiSelect placeholder="Choisissez une compétence" [options]="competencesList"
                                    autoWidth="false" [style]="{'width':'10em'}" [(ngModel)]="filter_value.competences"
                                    (onChange)="updateFilter()">
                                </p-multiSelect>
                            </div>
                            <div *ngIf="filter_value.niveau.length!=0" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Niveau d'étude</label><br>
                                <p-multiSelect placeholder="Choisissez un niveau d'étude" [options]="etudes"
                                    autoWidth="false" [style]="{'width':'10em'}" [(ngModel)]="filter_value.niveau"
                                    (onChange)="updateFilter()">
                                </p-multiSelect>
                            </div>
                            <div *ngIf="filter_value.taux" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Couleur</label><br>
                                <p-dropdown [options]="colorFilter" placeholder="Choisissez une couleur"
                                    autoWidth="false" [style]="{'width':'10em'}" filter="true" class="mb-2"
                                    appendTo="body" [(ngModel)]="filter_value.taux"
                                    (onChange)="updateFilter()"></p-dropdown>
                            </div>
                            <div *ngIf="filter_value.ecole" class="field col-6">
                                <label style="text-align: center;" class="mr-2">Ecole</label><br>
                                <p-dropdown [options]="ecoleFilter" placeholder="Choisissez une école" autoWidth="false"
                                    [style]="{'width':'10em'}" filter="true" class="mb-2" appendTo="body"
                                    [(ngModel)]="filter_value.ecole" (onChange)="updateFilter()"></p-dropdown>
                            </div>
                        </div>
                        <div class="col-12 grid" style="text-align: right;">
                            <div class="md:col-1 col-3" style="text-align: center;">
                                <button pButton label="Filtrer" class="p-button" icon="pi pi-filter"
                                    (click)="displayFilter=true"></button>
                            </div>
                            <div class="md:col-1 col-3" style="text-align: center;">
                                <button pButton label="Vider&nbsp;" class="p-button" icon="pi pi-filter-slash"
                                    (click)="clearFilter()"></button>
                            </div>
                            <div class="md:col-4 col-6" style="text-align: center;">
                                <input pInputText type="text" style="width: 100%;" [(ngModel)]="filter_value.search"
                                    (input)="updateFilter()" placeholder="Recherche" />
                            </div>
                            <div class="md:col-4 col-6" style="text-align: center;">
                                <p-dropdown placeholder="Auteur" [options]="auteurFilter" [style]="{'width':'100%'}"
                                    autoWidth="false" [(ngModel)]="filter_value.createur_id" [filter]="true"
                                    (onChange)="updateFilter()">
                                </p-dropdown>
                            </div>
                            <div class="md:col-1 col-3" style="text-align: center;">
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                            <div class="md:col-1 col-3" style="text-align: center;">
                                <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="mr-2 mb-2"
                                    (click)="cvToAdd = true"></button>
                            </div>

                        </div>
                    </div>



                </ng-template>
                <ng-template pTemplate="listItem">

                    <p-table #dt1 [value]="cvs" dataKey="_id" [rows]="8" [rowHover]="true"
                        styleClass="p-datatable-gridlines" style="width: 100%;" [paginator]="true"
                        rowExpandMode="single"
                        [globalFilterFields]="['user_id.firstname','user_id.lastname','user_id.email', 'user_id.email_perso', 'user_id.type', 'user_id._id']"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem" scope="col"></th>

                                <th pSortableColumn="user_id.civilite" style="text-align: center;">Civilité <p-sortIcon
                                        field="user_id.civilite"></p-sortIcon>
                                </th>
                                <th pSortableColumn="user_id.firstname" style="text-align: center;"
                                    *ngIf="!isEntreprise">Prénom <p-sortIcon field="user_id.firstname"></p-sortIcon>
                                </th>
                                <th pSortableColumn="user_id.lastname" style="text-align: center;"
                                    *ngIf="!isEntreprise">Nom <p-sortIcon field="user_id.lastname"></p-sortIcon>
                                </th>
                                <th pSortableColumn="type" style="text-align: center;">Type <p-sortIcon
                                        field="type"></p-sortIcon>
                                </th>
                                <th pSortableColumn="profil_id.libelle" style="text-align: center;">Profil <p-sortIcon
                                        field="profil_id.libelle"></p-sortIcon>
                                </th>
                                <th pSortableColumn="winner_id.firstname" style="text-align: center;">Winner <p-sortIcon
                                        field="winne.firstnamer"></p-sortIcon>
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-cv let-expanded="expanded">
                            <tr>
                                <td
                                    [ngClass]="{'bg-green':cv.taux>=60,'bg-red':cv.taux<=10,'bg-orange':(cv.taux>10 && cv.taux<60)}">
                                    <button type="button" pButton pRipple [pRowToggler]="cv" (click)="expandcv(cv)"
                                        class="p-button-text p-button-rounded p-button-plain"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                </td>

                                <td style="min-width: 12rem;">
                                    {{cv.user_id?.civilite}}
                                </td>

                                <td style="min-width: 12rem;" *ngIf="!isEntreprise">
                                    {{cv.user_id?.firstname | titlecase}}
                                </td>

                                <td style="min-width: 12rem;" *ngIf="!isEntreprise">
                                    {{cv.user_id?.lastname | uppercase}}
                                </td>

                                <td style="min-width: 12rem;">
                                    {{cv.user_id?.type}}
                                </td>

                                <td style="min-width: 12rem;">
                                    {{ cv?.profil?.libelle || cv?.competences[0]?.profile_id?.libelle ||
                                    'Profil'}} 
                                </td>
                                <td style="min-width: 12rem;">
                                    {{cv?.winner_id?.firstname | titlecase}} {{cv?.winner_id?.lastname | uppercase}}
                                </td>
                                <td class="text-center" style="min-width: 8rem;">
                                    <i class="pi pi-pencil mr-2" style="color: blue;" pTooltip="Modifier"
                                        (click)="onInitUpdate(cv)" tooltipPosition="bottom"></i>
                                    <i class="pi pi-trash mr-2" style="color: red;" pTooltip="Supprimer"
                                        (click)="deleteCV(cv)" tooltipPosition="bottom"></i>
                                    <i class="pi pi-file mr-2" style="color: #a16126;" pTooltip="CV"
                                        (click)="goToCV(cv)" tooltipPosition="bottom"></i>
                                    <ng-container *ngIf="dicMatching[cv?._id]; then badge1 else no_badge1">

                                    </ng-container>
                                    <ng-template #badge1>
                                        <i class="pi pi-users mr-2" pTooltip="Matching" pBadge style="font-size: 1.5rem"
                                            [value]="dicMatching[cv?._id]" tooltipPosition="bottom"
                                            (click)="onLoadMatching(cv)"></i>
                                    </ng-template>
                                    <ng-template #no_badge1>
                                        <i class="pi pi-users mr-2" pTooltip="Matching" pBadge style="font-size: 1.5rem"
                                            value="0" tooltipPosition="bottom" (click)="onLoadMatching(cv)"></i>
                                    </ng-template>

                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">Aucun cv trouvé.</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-cv>
                            <tr>
                                <td colspan="9">
                                    <h5>Détails</h5>
                                    <br>
                                    <p-table responsiveLayout="scroll" [value]="['']">
                                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    Email école
                                </th>
                                <th>
                                    Email personnel
                                </th>
                                <th>
                                    Téléphone
                                </th>
                                <th>
                                    Adresse
                                </th>
                                <th>
                                    CV Externe
                                </th>
                                <th>
                                    Nationalité
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body">
                            <tr>
                                <td>
                                    {{cv?.user_id?.email}}
                                </td>
                                <td>
                                    {{cv?.user_id?.email_perso}}
                                </td>
                                <td>
                                    {{cv?.user_id?.phone}}
                                </td>
                                <td>
                                    {{cv?.user_id?.numero_adresse}} {{cv?.user_id?.rue_adresse}}
                                    {{cv?.user_id?.postal_adresse}}
                                    {{cv?.user_id?.ville_adresse}} {{cv?.user_id?.pays_adresse}}
                                </td>
                                <td *ngIf="seeCV">
                                    <a style="cursor: pointer;" (click)="downloadOldCV(cv)">Téléchargé l'ancien CV</a>
                                </td>
                                <td *ngIf="!seeCV">
                                    Aucun CV trouvé
                                </td>
                                <td>
                                    {{cv?.user_id?.nationnalite}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <br>
                    <p-table responsiveLayout="scroll" [value]="['']">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    Source
                                </th>
                                <th>
                                    Crée par
                                </th>
                                <th>
                                    Crée le
                                </th>
                                <th>
                                    Modifié le
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body">
                            <tr>
                                <td style="min-width: 12rem;">
                                    {{cv.source}}
                                </td>
                                <td>
                                    {{cv?.createur_id?.firstname | titlecase}} {{cv?.createur_id?.lastname | uppercase}}
                                </td>
                                <td>
                                    {{cv?.date_creation | date:'dd MMMM yy'}}
                                </td>
                                <td>
                                    {{cv?.last_modified_at | date:'dd MMMM yy'}}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    </td>
                    </tr>
                </ng-template>
                </p-table>
                </ng-template>
                <ng-template pTemplate="gridItem">
                    <div class="col-12 md:col-4" *ngFor="let cv of cvs">
                        <div class="cv-card">
                            <div class="cv-card-main">
                                <div class="cv-card-information">

                                    <div
                                        *ngIf="dicPicture && dicPicture[cv?.user_id?._id]?.url;then cv_image else default_image">
                                    </div>
                                    <ng-template #cv_image>
                                        <div class="img-card"
                                            style="background-image: url('{{dicPicture[cv?.user_id?._id].url}}');">
                                        </div>
                                    </ng-template>
                                    <ng-template #default_image>
                                        <div *ngIf="cv?.user_id?.civilite == 'Madame'; then is_madame else other"></div>
                                        <ng-template #is_madame>
                                            <div class="img-card"
                                                style="background-image: url('../../../assets/images/imatch/female.png');">
                                            </div>
                                        </ng-template>
                                        <ng-template #other>
                                            <div class="img-card"
                                                style="background-image: url('../../../assets/images/imatch/male.png');">
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                    <div class="cv-card-details">
                                        <div class="card-main-info">
                                            <div class="cv-card-title">
                                                <h4 style="font-weight: bold; width: 100%">
                                                    {{ cv?.profil?.libelle || cv?.competences[0]?.profile_id?.libelle ||
                                                    'Profil'}}
                                                </h4>
                                                <h5 style="width: 100%">{{cv?.user_id?.firstname | titlecase}}
                                                    {{cv?.user_id?.lastname | uppercase}}</h5>
                                            </div>
                                        </div>
                                        <div class="card-main-data">
                                            <p *ngIf='cv.mobilite_lieu'>📍 {{cv?.mobilite_lieu}}</p>
                                            <p *ngIf='!cv.mobilite_lieu'>📍 France</p>
                                            <p *ngIf="disponible(cv.disponibilite); then dispo_immediat else not_dispo">
                                            </p>
                                            <ng-template #not_dispo>
                                                <p>⏱ {{cv?.disponibilite | date : 'MMMM YYYY'}}</p>
                                            </ng-template>
                                            <ng-template #dispo_immediat>
                                                <p>⏱ Disponible Immédiatement</p>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cv-card-footer">
                                <a class="cv" (click)="goToCV(cv)">CV</a>
                                <ng-container *ngIf="dicMatching[cv?._id]; then badge else no_badge">

                                </ng-container>
                                <ng-template #badge>
                                    <a class="meeting" pBadge [value]="dicMatching[cv?._id]"
                                        (click)="onLoadMatching(cv)">Matching</a>
                                </ng-template>
                                <ng-template #no_badge>
                                    <a class="meeting" pBadge value="0" (click)="onLoadMatching(cv)">Matching</a>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                </ng-template>
            </p-dataView>
        </p-tabPanel>
        <p-tabPanel style="width: 100%;" header="MATCH - {{match.user_id.lastname}} {{match.user_id.firstname}}"
            *ngFor="let match of matchingList" [closable]="true">
            <div class="grid" style="width: 100%;">

                <app-matching-viewer class="col-12" [USER_ID]="match.user_id._id"></app-matching-viewer>
                <app-cv-loader-preview class="col-10" [CV_ID]="match._id"></app-cv-loader-preview>
                <!--<app-voir-cv class="col-10" [CV_ID]="match._id"></app-voir-cv>-->
            </div>

        </p-tabPanel>
        <p-tabPanel [header]="cv.label" *ngFor="let cv of cvList" [closable]="true">
            <app-see-cv-externe [CV_ID]="cv.CV_ID" (RDV)="takeRDV($event)"
                (UPDATE)="updateCV($event)"></app-see-cv-externe>
        </p-tabPanel>
        <p-tabPanel [header]="cv.label" *ngFor="let cv of updateCVList" [closable]="true">
            <app-ajout-cv [CV_USER_ID]="cv.CV_USER_ID" (PRINTING)="onPrinting($event)"></app-ajout-cv>
        </p-tabPanel>
        <p-tabPanel [header]="rdv.label" *ngFor="let rdv of rdvList" [closable]="true">
            <app-rdv-calendar-interne [ID]="rdv.ID"></app-rdv-calendar-interne>
        </p-tabPanel>
    </p-tabView>

</div>

<p-sidebar [(visible)]="displayFilter" position="right" [style]="{width:'30em'}">
    <h3>Filtres</h3>
    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between mb-2">
        <p-multiSelect placeholder="Choisissez un profil" [options]="profilFilter" [(ngModel)]="filter_value.profil"
            appendTo="body" class="mb-2" autoWidth="false" [style]="{'width':'27em'}" (onChange)="updateFilter()">
        </p-multiSelect>
        <p-multiSelect [options]="locations" autoWidth="false" [style]="{'width':'100%'}" filter="true" class="mb-2"
            appendTo="body" autoWidth="false" [style]="{'width':'27em'}" placeholder="Choisissez un lieu"
            [(ngModel)]="filter_value.locations" (onChange)="updateFilter()"></p-multiSelect>

        <p-calendar [readonlyInput]="true" view="month" dateFormat="mm/yy" (onSelect)="updateFilter()" appendTo="body"
            [(ngModel)]="filter_value.disponibilite" (onBlur)="updateFilter()" inputId="range" autoWidth="false"
            class="mb-2" [style]="{'width':'27em'}" placeholder="Date de début"></p-calendar>
        <!--<p-dropdown placeholder="Choisissez un type" [options]="typeFilter" autoWidth="false" [style]="{'width':'27em'}"
            appendTo="body" [(ngModel)]="filter_value.type" (onChange)="updateFilter()">
        </p-dropdown>-->
        <p-multiSelect placeholder="Choisissez une compétence" [options]="competencesList" autoWidth="false"
            appendTo="body" class="mb-2" [style]="{'width':'27em'}" [(ngModel)]="filter_value.competences"
            (onChange)="updateFilter()">
        </p-multiSelect>
        <p-multiSelect placeholder="Choisissez un niveau d'étude" [options]="etudes" [(ngModel)]="filter_value.niveau"
            appendTo="body" class="mb-2" autoWidth="false" [style]="{'width':'27em'}" (onChange)="updateFilter()">
        </p-multiSelect>
        <input pInputText type="text" #filter (input)="updateFilter()" style="width: 27em;" class="mb-2"
            [(ngModel)]="filter_value.search" (onBlur)="updateFilter()" placeholder="Recherche" />
        <p-dropdown [options]="colorFilter" placeholder="Choisissez une couleur" autoWidth="false"
            [style]="{'width':'27em'}" filter="true" class="mb-2" appendTo="body" [(ngModel)]="filter_value.taux"
            (onChange)="updateFilter()"></p-dropdown>
        <p-dropdown [options]="ecoleFilter" placeholder="Choisissez une école" autoWidth="false"
            [style]="{'width':'27em'}" filter="true" class="mb-2" appendTo="body" [(ngModel)]="filter_value.ecole"
            (onChange)="updateFilter()"></p-dropdown>
        <p-dropdown placeholder="Auteur" [options]="auteurFilter" [style]="{'width':'27em'}" autoWidth="false"
            class="mb-2" appendTo="body" [(ngModel)]="filter_value.createur_id" (onChange)="updateFilter()">
        </p-dropdown>
        <!--<p-dropdown [options]="userFilter" autoWidth="false" [style]="{'width':'27em'}" filter="true" class="mb-2"
			[(ngModel)]="filter_value.user" (onChange)="updateFilter()"></p-dropdown>-->
        <button pButton label="Valider les filtres" class="p-button" icon="pi pi-filter"
            (click)="displayFilter = false"></button>
        <button pButton label="Vider le filtre" class="p-button" icon="pi pi-filter-slash"
            (click)="clearFilter()"></button>
    </div>
</p-sidebar>