<form [formGroup]="demandeForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="civilite">Civilité:</label>
        <p-dropdown id="civilite" name="civilite" [(ngModel)]="formData.civilite" [options]="civiliteOptions"
                    placeholder="Select Civilité"  required></p-dropdown>
      </div>
  
      <div class="p-field">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="formData.nom" pInputText required>
      </div>
  
      <div class="p-field">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" [(ngModel)]="formData.prenom" pInputText required>
      </div>
  
      <div class="p-field">
        <label for="dateNaissance">Date de naissance:</label>
        <p-calendar id="dateNaissance" name="dateNaissance" [(ngModel)]="formData.dateNaissance" dateFormat="dd/mm/yy" required></p-calendar>
      </div>
  
      <div class="p-field">
        <label for="nationalite">Nationalité:</label>
        <p-dropdown id="nationalite" name="nationalite" [(ngModel)]="formData.nationalite" [options]="nationaliteOptions"
                    placeholder="Select Nationalité" [filter]="true" required></p-dropdown>
      </div>
  
  
      <button type="submit" pButton label="Submit" icon="pi pi-check" [disabled]="!demandeForm.valid"></button>
    </div>
  </form>
  