<p-toast></p-toast>
<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Liste des agents</h5>
			<p-table #dt1 dataKey="id" [rows]="8" [rowHover]="true" [value]="tabUser" styleClass="" [paginator]="true"
				[pageLinks]="5"
				[globalFilterFields]="['firstname','serviceDic[rowData.service_id]?.label','role','email','lastname']"
				responsiveLayout="scroll" styleClass="p-datatable-gridlines">

				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter
								(input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
								class="w-full" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="firstname" style="text-align: center;">Prénom & Nom <p-sortIcon
								field="firstname"></p-sortIcon>
						</th>
						<th pSortableColumn="service_id" style="text-align: center;"> Services <p-sortIcon
								field="service_id"></p-sortIcon>
						</th>
						<th pSortableColumn="role" style="text-align: center;"> Rôle <p-sortIcon field="role">
							</p-sortIcon>
						</th>
						<th pSortableColumn="mention" style="text-align: center;"> Mention <p-sortIcon field="role">
						</p-sortIcon>
					</th>
						<th pSortableColumn="email" style="text-align: center;"> Email <p-sortIcon field="email">
							</p-sortIcon>
						</th>
						<th style="text-align: center;">Action</th>
				</ng-template>
				<ng-template pTemplate="body" let-rowData>
					<tr>
						<td>
							{{ rowData.firstname | titlecase }} {{ rowData.lastname | uppercase }}
						</td>
						<td *ngIf="rowData.service_id">
							{{ serviceDic[rowData.service_id]?.label }}
						</td>
						<td *ngIf="!rowData.service_id">
							Aucun
						</td>
						<td>
							{{ rowData.role}}
						</td>
						<td>
							{{ rowData.mention}}
						</td>
						<td>
							{{ rowData.email}}
						</td>
						<td>

						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>