<div class="grid col-12">
    <div class="col-12 card" *ngIf="addService">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="addService = false"
            aria-hidden="true"> </i>
        <h3 class="text-center" style="font-weight: bold;">
            Ajout d'un service
        </h3>
        <form [formGroup]="ServiceForm" (ngSubmit)="onAdd()" class="p-fluid p-formgrid grid col-12">
            <div class="field col-12 md:col-12">
                <label For="service">Nom du service <span style="color: red;"> * </span></label>
                <input type="text" formControlName="label" pInputText>
            </div>
            <div class="col-12">
                <button [style]="{'width':'100%'}" autoWidth="false" pButton label="Ajouter le service" type="submit"
                    [disabled]="ServiceForm.invalid"></button>
            </div>
        </form>
    </div>

    <div class="col-12 card grid" *ngIf="addExtra">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="addExtra = null"
            aria-hidden="true"> </i>
        <h3 class="text-center col-12" style="font-weight: bold;">
            Modification des champs supplémentaires
        </h3>
        <div class="col-6">
            <input type="text" pInputText [style]="{'width':'45%','margin-right':'10%'}" class="mb-2" autoWidth="false"
                placeholder="Nom" [(ngModel)]="addExtra.extraInfo.title1" />
            <input type="text" pInputText [style]="{'width':'45%'}" class="mb-2" autoWidth="false" placeholder="Nom"
                [(ngModel)]="addExtra.extraInfo.placeholder1" />
            <p-virtualScroller [value]="addExtra.extra1" scrollHeight="500px" [itemSize]="100">
                <ng-template let-extra pTemplate="item" let-i="index">
                    <div [style]="{'width':'100%'}" class="grid">
                        <div class="col-8">
                            {{extra}}
                        </div>
                        <div class="col-4">
                            <i pTooltip="Supprimer cette extra" style="margin-left: 2%; cursor: pointer;"
                                class="pi pi-trash" (click)="removeExtra1(i)" aria-hidden="true"></i>
                        </div>
                    </div>
                </ng-template>
            </p-virtualScroller>
            <input type="text" pInputText [style]="{'width':'100%'}" class="mb-2" autoWidth="false"
                [(ngModel)]="textExtra1" />
            <button [style]="{'width':'100%'}" autoWidth="false" pButton label="Ajouter un extras"
                (click)="addExtra1()"></button>
        </div>
        <div class="col-6">
            <input type="text" pInputText [style]="{'width':'45%','margin-right':'10%'}" class="mb-2" autoWidth="false" placeholder="Nom"
                [(ngModel)]="addExtra.extraInfo.title2" />
            <input type="text" pInputText [style]="{'width':'45%'}" class="mb-2" autoWidth="false" placeholder="Nom"
                [(ngModel)]="addExtra.extraInfo.placeholder2" />
            <p-virtualScroller [value]="addExtra.extra2" scrollHeight="500px" [itemSize]="100">
                <ng-template let-extra pTemplate="item" let-i="index">
                    <div [style]="{'width':'100%'}" class="grid">
                        <div class="col-8">
                            {{extra}}
                        </div>
                        <div class="col-4">
                            <i pTooltip="Supprimer cette extra" style="margin-left: 2%; cursor: pointer;"
                                class="pi pi-trash" (click)="removeExtra2(i)" aria-hidden="true"></i>
                        </div>
                    </div>
                </ng-template>
            </p-virtualScroller>
            <input type="text" pInputText [style]="{'width':'100%'}" class="mb-2" autoWidth="false"
                [(ngModel)]="textExtra2" />
            <button [style]="{'width':'100%'}" autoWidth="false" pButton label="Ajouter un extras"
                (click)="addExtra2()"></button>
        </div>
        <button [style]="{'width':'100%'}" autoWidth="false" pButton label="Sauvegarder les extras"
            (click)="saveExtra()"></button>
    </div>

    <div class="col-12 card" *ngIf="addSujet">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="addSujet = null"
            aria-hidden="true"> </i>
        <h3 class="text-center" style="font-weight: bold;">
            Ajout d'un sujet à {{addSujet.label}}
        </h3>
        <p-table class="col-12" [value]="sujetList">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="label" style="text-align:center">
                        Nom <p-sortIcon field="label"> </p-sortIcon>
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sujet let-ri="rowIndex">
                <tr>
                    <td>
                        {{sujet.label}}
                    </td>
                    <td>
                        <i pTooltip="Supprimer ce sujet du service" style="margin-left: 2%; cursor: pointer;"
                            class="pi pi-trash" (click)="removeSujet(sujet,ri)" aria-hidden="true"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <form [formGroup]="SujetForm" (ngSubmit)="onAddSujet()" class="p-fluid p-formgrid grid col-12">
            <div class="field col-12 md:col-12">
                <label For="service">Nom du sujet <span style="color: red;"> * </span></label>
                <input type="text" formControlName="label" pInputText>
            </div>
            <div class="col-12">
                <button [style]="{'width':'100%'}" autoWidth="false" pButton label="Ajouter le sujet" type="submit"
                    [disabled]="SujetForm.invalid"></button>
            </div>
        </form>
    </div>

    <div class="col-12 card" *ngIf="addMember">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="addMember = false"
            aria-hidden="true"> </i>
        <h3 class="text-center" style="font-weight: bold;">
            Ajout d'un membre
        </h3>
        <form [formGroup]="MemberForm" (ngSubmit)="onAddMb()" class="p-fluid p-formgrid grid col-12">
            <div class="field col-12 md:col-12">
                <label For="service">Membre <span style="color: red;"> * </span></label>
                <p-dropdown placeholder="Choisissez un membre" filter="true" formControlName="member"
                    [options]="memberDropdown" autoWidth="false" [style]="{'width':'100%'}">
                </p-dropdown>
            </div>
            <div class="col-12">
                <button [style]="{'width':'100%'}" autoWidth="false" pButton label="Ajouter le membre" type="submit"
                    [disabled]="MemberForm.invalid"></button>
            </div>
        </form>
    </div>

    <div class="col-12 card" *ngIf="addMemberOfService">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;"
            (click)="addMemberOfService = null" aria-hidden="true"> </i>
        <button pButton icon="pi pi-file" label="Ajouter un membre" (click)="initAddMember()" type="button"
            style="margin-left: 2px;">
        </button>
        <h3 class="text-center" style="font-weight: bold;">
            Ajout des membres à {{addMemberOfService.label}}
        </h3>
        <p-table class="col-12" [value]="memberList">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="firstname" style="text-align:center">
                        Prénom & Nom <p-sortIcon field="firstname"> </p-sortIcon>
                    </th>
                    <th>
                        Role
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-ri="rowIndex">
                <tr>
                    <td>
                        {{user.firstname|titlecase}} {{user.lastname|uppercase}}
                    </td>
                    <td>
                        <ng-container *ngIf="customIncludes(responsableList,user)">
                            Responsable
                        </ng-container>
                        <ng-container *ngIf="!customIncludes(responsableList,user)">
                            Agent
                        </ng-container>
                    </td>
                    <td>
                        <!--
                        <i pTooltip="Voir les roles Ticketing" style="margin-left: 2%; cursor: pointer;"
                            class="pi pi-star" (click)="onSeeRole(user)" aria-hidden="true"></i>
-->
                        <i *ngIf="!customIncludes(responsableList,user)" aria-hidden="true"
                            pTooltip="Nommer Responsable" style="margin-left: 2%; cursor: pointer;" class="pi pi-star"
                            (click)="convertRole(user,addMemberOfService,'Responsable')">

                        </i>
                        <i *ngIf="customIncludes(responsableList,user)" aria-hidden="true" pTooltip="Convertir en Agent"
                            style="margin-left: 2%; cursor: pointer;color:orange" class="pi pi-star-fill"
                            (click)="convertRole(user,addMemberOfService)">

                        </i>
                        <i pTooltip="Supprimer ce membre du service" style="margin-left: 2%; cursor: pointer;"
                            class="pi pi-trash" (click)="removeMember(user,ri)" aria-hidden="true"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <h5 class="col-8">Liste des services</h5>
    <div class="col-4" style="text-align: right;">
        <button pButton icon="pi pi-file" label="Ajouter un service" (click)="initAddService()" type="button"
            style="margin-left: 2px;">
        </button>
    </div>
    <p-table #dt1 dataKey="_id" [rows]="8" [rowHover]="true" [paginator]="true" [value]="services" [paginator]="true"
        rowExpandMode="single" [pageLinks]="5" selectionMode="single" class="col-12 card"
        [globalFilterFields]="['label', 'prenom', 'nom','email']" responsiveLayout="scroll"
        styleClass="p-datatable-gridlines">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row">
                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                    placeholder="Recherche" />

                <!-- <p-dropdown [style]="{'margin':'5px'}" [options]="filterPays" filter="true"
                    (onChange)="dt1.filter($event.value, 'pays_residence', 'equals');"
                    emptyFilterMessage="Pas de pays trouvé" filterPlaceholder="Choisissez un pays"></p-dropdown>

                <p-dropdown [style]="{'margin':'5px'}" [options]="filterSource" filter="true"
                    (onChange)="dt1.filter($event.value, 'source', 'equals');" emptyFilterMessage="Pas de source trouvé"
                    filterPlaceholder="Choisissez une source"></p-dropdown>

                <p-dropdown [style]="{'margin':'5px'}" [options]="filterOperation" filter="true"
                    (onChange)="dt1.filter($event.value, 'operation', 'equals');"
                    emptyFilterMessage="Pas d'opération trouvé"
                    filterPlaceholder="Choisissez une operation"></p-dropdown>-->
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="label" style="text-align:center"> Nom du service <p-sortIcon field="label">
                    </p-sortIcon>
                </th>
                <th>
                    Sujets
                </th>
                <th>
                    Responsable
                </th>
                <th>
                    Membres
                </th>
                <th style="text-align:center">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-service let-expanded="expanded" let-ri="rowIndex">
            <tr>
                <td>
                    {{service.label}}
                </td>
                <td>
                    <app-read-more [string]="sujetDic[service._id]"></app-read-more>
                </td>
                <td>
                    <ng-container *ngFor="let responsable of responsableDic[service._id]; let isLast = last">
                        <ng-container *ngIf="!isLast">
                            {{responsable.firstname | titlecase}} {{responsable.lastname |uppercase}},
                        </ng-container>
                        <ng-container *ngIf="isLast">
                            {{responsable.firstname | titlecase}} {{responsable.lastname |uppercase}}
                        </ng-container>
                    </ng-container>
                </td>
                <td>
                    {{memberDic[service._id]}}
                </td>
                <td>
                    <i pTooltip="Gérer les membres" style="margin-right: 3%; cursor: pointer;" class="pi pi-users"
                        (click)="AddMember(service)" aria-hidden="true"></i>

                    <i pTooltip="Gérer les sujets" style="margin-right: 3%; cursor: pointer;" class="pi pi-comments"
                        (click)="AddSujet(service)" aria-hidden="true"></i>

                    <i pTooltip="Gérer les champs supplémentaires" style="margin-right: 3%; cursor: pointer;"
                        class="pi pi-plus" (click)="AddExtra(service)" aria-hidden="true"></i>

                    <i pTooltip="Supprimer un service" style="cursor: pointer;" class="pi pi-trash"
                        (click)="deleteService(service,ri)" aria-hidden="true"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<p-dialog header="Ajout des roles Ticketing à {{seeRole?.firstname | titlecase}} {{seeRole?.lastname | uppercase}}"
    [(visible)]="displayRolesTicketing" [modal]="true" [style]="{width: '75vw', height:'75vw'}">
    <div class="grid" *ngIf="displayRolesTicketing">
        <div class="col-12">
            <button pButton icon="pi pi-file" label="Ajouter un module" (click)="initAddModule()" type="button"
                style="margin-left: 2px;">
            </button>
            <button pButton icon="pi pi-save" label="Sauvegarder les roles" (click)="saveModule()" type="button"
                style="margin-left: 2px;">
            </button>
            <p-table class="col-12" [value]="seeRole.roles_ticketing_list">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="module.libelle" style="text-align:center">
                            Service <p-sortIcon field="module.libelle"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="role" style="text-align:center">
                            Role Ticketing<p-sortIcon field="role"> </p-sortIcon>
                        </th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
                    <tr>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="moduleList" [(ngModel)]="rowData.module"
                                        placeholder="Choisissez le service Ticketing"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.module.label}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-dropdown [options]="roleList" [(ngModel)]="rowData.role"
                                        placeholder="Choisissez la role"></p-dropdown>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.role}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <i pTooltip="Supprimer un module" style="cursor: pointer;" class="pi pi-trash"
                                (click)="deleteModule(rowData,ri)" aria-hidden="true"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-dialog>