<!-- AJOUT DUNE DEMANDE DINSCRIPTION AUX JOURNEES PORTE OUVERTES - ROLE USER -->
<div class="col-12 flex align-items-center justify-content-center">
    <div class="card col-12 md:col-8">
        <!-- <i class="pi pi-times-circle" style="float:right; margin-right: 30px; font-size: 20px; color: red; cursor: pointer;" pTooltip="Fermer" aria-hidden="true"> </i> -->
        <h4 style="text-align: center;">Venez à une de nos portes ouvertes </h4>
        <p style="text-align: center; font-size: 16px;">Inscrivez vous à la journée portes ouvertes qui se déroulera à
            notre campus de Montpellier le 31 Août 2022</p>
        <p style="text-align: center; font-size: 12px;">Tous les champs marqués d'un astérix <span style="color: red;">
                * </span> sont obligatoires</p>

        <div class="col-12 flex align-items-center justify-content-center flex-wrap card-container">
            <img src="\assets\images\portesouvertes.jpg" alt="Portes ouvertes" style="width: 100%;">
        </div>
        <br>
        <br>
        <form class="p-fluid p-formgrid grid" [formGroup]="addeventForm" (ngSubmit)="onAddEvent()">
            <div class="field col-12">
                <label For="email">Email <span style="color: red;"> * </span></label>
                <input pInputText id="email" type="text" placeholder="Entrez votre adresse email"
                    formControlName="email" />
                <div *ngIf="email.invalid && (email.touched || email.dirty)">
                    <span style="color: red;" class="error" *ngIf="email.errors?.required">* L'email est
                        obligatoire</span>
                    <span style="color: red;" class="error" *ngIf="email.errors?.pattern">* Seul les lettres sont
                        acceptés</span>
                </div>
            </div>

            <div class="field col-12 md:col-6">
                <label For="nom">Nom <span style="color: red;"> * </span></label>
                <input pInputText id="nom" type="text" placeholder="Entrez votre nom" formControlName="nom" />
                <div *ngIf="nom.invalid && (nom.touched || nom.dirty)">
                    <span style="color: red;" class="error" *ngIf="nom.errors?.required">* Le nom est obligatoire</span>
                    <span style="color: red;" class="error" *ngIf="nom.errors?.pattern">* Seul les lettres sont
                        acceptés</span>
                </div>
            </div>

            <div class="field col-12 md:col-2">
                <label For="Indicatif">Indicatif <span style="color: red;"> * </span></label>
                <input pInputText id="indicatif" type="text" formControlName="indicatif" placeholder="+33" />
                <div *ngIf="indicatif.invalid && (indicatif.touched || indicatif.dirty)">
                    <span style="color: red;" class="error" *ngIf="indicatif.errors?.required">* L'indicatif est
                        obligatoire</span>
                </div>
            </div>

            <div class="field col-12 md:col-4">
                <label For="Téléphone">Téléphone <span style="color: red;"> * </span></label>
                <input pInputText id="phone" type="text" formControlName="phone" placeholder="06 83 83 83 83" />
                <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                    <span style="color: red;" class="error" *ngIf="phone.errors?.required">* Le téléphone est
                        obligatoire</span>
                    <span style="color: red;" class="error" *ngIf="phone.errors?.pattern">* Seul les chiffres sont
                        acceptés</span>
                </div>
            </div>


            <div class="field col-12 md:col-6">
                <label For="Pays">Pays<span style="color: red;"> * </span></label>
                <p-dropdown formControlName="pays_adresse" [options]="paysList" optionLabel="viewValue"
                    emptyFilterMessage="Pas de pays trouvé" filterPlaceholder="Pays" filter="true">
                </p-dropdown>
            </div>

            <div class="field col-12 md:col-6">
                <label>Domaine <span style="color: red;"> * </span></label><br>
                <p-multiSelect formControlName="domaine" [options]="domaineList" defaultLabel="Selection des domaines"
                    optionLabel="value"></p-multiSelect>
            </div>

            <div class="col-4">
                <button pButton label="Envoyer" type="submit" [disabled]="addeventForm.invalid"></button>
                <!-- ajouter click -->
            </div>
        </form>
    </div>
</div>