<p-toast></p-toast>
<div class="grid card" *ngIf="showPDF">
    <div class="grid col-12">
        <div class="col-3">
            <label>Date de début et de fin de l'attestation :</label><br>
            <p-calendar [(ngModel)]="dateValue" [disabledDates]="invalidDates" selectionMode="range"
                [disabledDays]="[0,6]"></p-calendar>
        </div>

        <div class="col-3">
            <label>Choix de la couleur de la bande :</label><br>
            <p-colorPicker class="mr-1" [(ngModel)]="colorBande"></p-colorPicker>
            <p-button label="Sauvegarder la couleur" icon="pi pi-save" iconPos="left" (click)="saveColor()"></p-button>
        </div>
        <div class="col-2">
            <label>Choix de l'école :</label><br>
            <p-dropdown [options]="dropdownEcoles" [(ngModel)]="ECOLE" (onChange)="loadEcoleImage()"></p-dropdown>
        </div>
        <div class="col-2">
            <label>Temps de la phrase :</label><br>
            <p-dropdown [options]="dropdownTimes" [(ngModel)]="PHRASE"></p-dropdown>
        </div>


        <div class="col-2">
            <p-button label="Télécharger l'attestation" icon="pi pi-download" iconPos="left"
                (click)="exportToPDF()"></p-button>
        </div>
    </div>
    <div class="grid col-12" style="max-height: 1120px;" id="rendu">

        <div class="col-12" style="position: relative;">
            <img [src]="PICTURE.logo" alt="LOGO" style="max-height: 20vh;z-index: 1;position: relative;left:5%">
            <p [style.backgroundColor]="colorBande"
                style="position: absolute;top:25%;width: 110%;z-index: 0;height: 25%; left:-2vh"></p>
        </div>
        <h2 class="col-8 col-offset-2 text-center" style="font-weight: bold;border: solid;">Attestation d'assiduité</h2>
        <h6 class="col-10 col-offset-1 text-center">Nous soussignés, "{{ECOLE.libelle}}", Établissement d'Enseignement
            Supérieur
            privé, attestons par la présente que :</h6>
        <h4 class="col-12 text-center" style="font-weight: bold;">
            {{Etudiant_userdata.civilite}}
            {{Etudiant_userdata.lastname | uppercase}}
            {{Etudiant_userdata.firstname | titlecase}}
        </h4>
        <h4 class="col-12 text-center" style="font-weight: bold;">Né le {{EtudiantDetail.date_naissance|
            date:'dd/MM/YYYY'}} de
            nationalité
            {{EtudiantDetail.nationalite}}</h4>
        <h6 class="col-12 text-center">{{PHRASE}}</h6>
        <h5 class="text-center col-10 col-offset-1" style="font-weight: bold;">{{diplome_libelle}}</h5>
        <h6 class="col-12 text-center" *ngIf="dateValue && dateValue[0] && dateValue[1]">Dates: du {{dateValue[0] |
            date:'d/MM/YYYY'}} au {{dateValue[1]| date:'d/MM/YYYY'}} </h6>
        <h6 class="col-12 text-center" *ngIf="!dateValue || !dateValue[0] || !dateValue[1]">&nbsp; </h6>
        <h6 class="col-12 text-center">Fait pour servir et valoir ce que de droit à Paris le {{date_aj | date:'d MMMM
            y'}}.</h6>
        <div class="col-12">
            <img [src]="PICTURE.cachet" alt="signature" style="float: right; max-height: 13vh;">
        </div>
        <div style="text-align: center;margin-top:12vh" class="col-12">
            <img [src]="PICTURE.pied_de_page" alt="footer" style="max-width: 90%; max-height: 20vh;">
        </div>
    </div>
</div>
<div class="grid pt-2">
    <div class="grid card col-12 ">
        <div class="col-12 md:col-6">
            <h4>Récapitulatif sur l'assiduité de {{ Etudiant_userdata?.civilite == 'Monsieur' ? 'M.': 'Mme.' }}
                {{Etudiant_userdata?.firstname | titlecase }} {{ Etudiant_userdata?.lastname | uppercase }}</h4>
            <p-chart #chart type="bar" [data]="barDataAJ" [options]="barOptions" [style]="{'width': 'full-vw'}">
            </p-chart>
        </div>
        <p-divider class="col-1" layout="vertical"></p-divider>
        <div class="col-12 md:col-5">
            <p-chart #chart2 type="pie" [data]="barDataHorAJ" [options]="horizontalOptions"
                [style]="{'width': 'full-vw'}">
            </p-chart>

        </div>
        <div class="col-12" *ngIf="pourcentageAssiduite<80">
            <h3>Pourcentage d'assiduité: </h3>
            <p-progressBar class="customProgress" [value]="pourcentageAssiduite">
            </p-progressBar>
        </div>
        <div class="col-12" *ngIf="pourcentageAssiduite>=80">
            <h3>Pourcentage d'assiduité: </h3>
            <p-progressBar class="customProgress2" [value]="pourcentageAssiduite">
            </p-progressBar>
        </div>

    </div>
    <div class="card col-12">
        <p-toast></p-toast>
        <h4>Listes des présences</h4>
        <p-button
            *ngIf="isNotEtudiant"
            label="Générer l'attestation" icon="pi pi-file" iconPos="left" (click)="initGenerer()"></p-button> <!-- && (EtudiantDetail?.statut_dossier?.includes('Paiement Semestre 1 non finalisé')  || EtudiantDetail.isAlternant) -->
        <p
            *ngIf="!EtudiantDetail?.statut_dossier?.includes('Paiement Semestre 1 non finalisé') &&  !EtudiantDetail.isAlternant">
            Votre dossier n'est pas régularisé, nous ne pouvons donc pas générer une attestation d'assiduité.<br>
            Veuillez contacter l'administration.
        </p>

        <p-table #dt1 [value]="AssiduiteListe" dataKey="_id" responsiveLayout="scroll" [globalFilterFields]="[]"
            [rows]="10" [pageLinks]="5" [paginator]="true" [totalRecords]="AssiduiteListe?.length">
            <ng-template pTemplate="header">
                <tr>
                    <th>Module </th>
                    <th pSortableColumn="_id">Date de la seance <p-sortIcon field="_id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="seance_id">Seance<p-sortIcon field="seance_id">
                        </p-sortIcon>
                    </th>
                    <th>Présence</th>
                    <th>Heure d'arrivé</th>
                    <th>Heure déconnexion</th>
                    <th>Justificatif </th>
                    <th>Action </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-Assiduit>
                <tr>
                    <td>{{matiereDic[Assiduit.seance_id.matiere_id]?.abbrv}}</td>

                    <td>
                        {{ Assiduit.seance_id.date_debut | date:'dd/MM/yyyy HH:mm'}} </td>
                    <td> {{ Assiduit.seance_id.libelle}}</td>

                    <td *ngIf="Assiduit.isPresent">
                        <p-tag class="p-tag-icon" icon="pi pi-plus" severity="success" value="Present"
                            icon="pi pi-check"></p-tag>
                    </td>
                    <td *ngIf="!Assiduit.isPresent">
                        <p-tag class="p-tag-icon" *ngIf="!Assiduit.justificatif" severity="danger" value="Absent"
                            icon="pi pi-exclamation-circle"></p-tag>
                        <p-tag class="p-tag-icon" *ngIf="Assiduit.justificatif" severity="warning" value="Absent"
                            icon="pi pi-exclamation-circle"></p-tag>
                    </td>

                    <td>{{ (Assiduit.date_signature) ? (Assiduit.date_signature | date : "HH:mm":'locale' ) :'--' }}
                    </td>
                    <td *ngIf="Assiduit.date_signature">{{ Assiduit.seance_id.date_fin | date:'HH:mm'}}</td>
                    <td *ngIf="!Assiduit.date_signature">--</td>
                    <td *ngIf="Assiduit.isPresent">--</td>
                    <td *ngIf="!Assiduit.isPresent && Assiduit.justificatif">
                        <p-tag value="Justifié" icon="pi pi-check" class="p-tag-icon" severity="success"></p-tag>
                    </td>
                    <td *ngIf="!Assiduit.isPresent && !Assiduit.justificatif">
                        <p-tag class="p-tag-icon" value="Non Justifié" icon="pi pi-exclamation-circle"
                            severity="danger"></p-tag>
                    </td>
                    <td>
                        <i *ngIf="isNotEtudiant && isNotEntreprise && !Assiduit.isPresent && !Assiduit.approved_by_pedagogie"
                            pTooltip="Rendre visible l'absence à l'entreprise" tooltipPosition="bottom"
                            class="pi pi-check" style="margin-left: 2%;" (click)="AbsenceApproved(Assiduit,true)"
                            aria-hidden="true"></i>
                        <i *ngIf="isNotEtudiant && isNotEntreprise && !Assiduit.isPresent && Assiduit.approved_by_pedagogie"
                            pTooltip="Cacher l'absence à l'entreprise" tooltipPosition="bottom"
                            class="pi pi-times" style="margin-left: 2%;" (click)="AbsenceApproved(Assiduit,false)"
                            aria-hidden="true"></i>
                        <i *ngIf="Assiduit.justificatif" pTooltip="Voir le justificatif" tooltipPosition="bottom"
                            class="pi pi-file" style="margin-left: 2%;" (click)="VoirJustificatif(Assiduit._id)"
                            aria-hidden="true"></i>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

</div>