<div class="col-12" *ngIf="showAssignForm!=null">
    <div class="card">
        <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showAssignForm = null" aria-hidden="true">
        </i>
        <h3 *ngIf="showAssignForm && showAssignForm.user_id" class="text-center" style="font-weight: bold;">Assigner un
            Email à : {{
            showAssignForm.user_id?.firstname }} {{
            showAssignForm.user_id?.lastname | uppercase }}</h3>
        <form class="p-fluid p-formgrid grid" [formGroup]="formAssignEmail">
            <div class="field col-12 md:col-12">
                <label For="statut">Email Teams:</label>
                <input pInputText placeholder="j.smith@intedgroup.com" formControlName="email_ims">
            </div>
        </form>
        <div class="col-12">
            <button pButton label="Valider" (click)="AssignEmailForm()"></button>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="card">
        <h5>Liste des étudiants en attente de création des emails IMS</h5>
        <p-toast></p-toast>
        <p-table #dt1 [value]="etudiants" dataKey="_id" responsiveLayout="scroll"
            [globalFilterFields]="['statut', 'user_id', 'classe_id','lastname','firstname','custom_id']" [rows]="10"
            [pageLinks]="5" [paginator]="false" rowExpandMode="single" [totalRecords]="etudiants.length"
            styleClass="p-datatable-gridlines">
            <ng-template pTemplate="caption">
                <span class="p-input-icon-left mb-2 mr-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Recherche" class="w-full" />
                </span>
                <p-multiSelect [options]="searchClass" placeholder="Choissisez les groupes"
                    (onChange)="dt1.filter($event.value, 'classe_id._id','in');test($event.value)">
                </p-multiSelect>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="customid"> ID <p-sortIcon field="customid"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nom_prenom"> Prénom & Nom<p-sortIcon field="nom_prenom"></p-sortIcon>
                    </th>
                    <th pSortableColumn="statut"> Statut Dossier<p-sortIcon field="statut"></p-sortIcon>
                    </th>
                    <th pSortableColumn="groupe"> Groupe <p-sortIcon field="groupe"></p-sortIcon>
                    </th>
                    <th pSortableColumn="campus_id"> Campus <p-sortIcon field="campus_id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="email"> Email <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th pSortableColumn="nationalite"> Nationnalitée <p-sortIcon field="nationalite"></p-sortIcon>
                    </th>
                    <th>Action </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-etudiant let-expanded="expanded">
                <tr *ngIf="etudiant.user_id">
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="etudiant"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                            (click)="loadPP(etudiant)"></button>
                    </td>
                    <td style="min-width: 12rem;">{{ etudiant.custom_id }}</td>

                    <td>
                        {{ etudiant.user_id.firstname }} {{ etudiant.user_id.lastname | uppercase }}
                    </td>
                    <td style="min-width: 8rem;">{{ etudiant.statut_dossier }} {{
                        etudiant.date_dernier_modif_dossier | date : 'dd/MM hh:mm' }}</td>
                    <td style="min-width: 10rem;">{{ etudiant.classe_id?.nom }}</td>
                    <td style="min-width: 10rem;">{{ etudiant?.campus?.libelle }}</td>
                    <td style="min-width: 10rem;">{{ etudiant.user_id.email }}</td>
                    <td style="min-width: 10rem;">{{ etudiant.nationalite }}</td>
                    <td>
                        <i style="margin-left: 2%;" class="pi pi-check" (click)="showAssignForm=etudiant"
                            pTooltip="Modifier" aria-hidden="true" tooltipPosition="bottom"></i>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-etudiant>
                <tr>
                    <td colspan="8">
                        <div class="p-3">
                            <p-table responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                <tr>
                    <th></th>
                    <th *ngIf="users[etudiant.user_id]?.email_perso">Email perso</th>
                    <th>Adresse </th>
                    <th>Date de naissance </th>
                    <th>Téléphone </th>
                    <th>Dernier diplôme obtenu </th>
                    <th>Email d'urgence </th>
                    <th>Téléphone d'urgence</th>
                    <th>Numéro INE</th>
                    <th>Numéro NIR </th>
                    <th>NB Absences</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>
                        <img alt="userPicture" [src]="imageToShow" style="max-width: 140px; max-height: 140px;">
                    </td>
                    <td *ngIf="etudiant.user_id.email_perso">
                        {{ etudiant.user_id.email_perso }}
                    </td>
                    <td *ngIf="etudiant.user_id">
                        {{ etudiant.user_id.numero_adresse }} {{etudiant.user_id.rue_adresse }} {{
                        etudiant.user_id.postal_adresse }} <br> {{ etudiant.user_id.ville_adresse }}
                        {{ etudiant.user_id.pays_adresse }}
                    </td>
                    <td>
                        {{ etudiant.date_naissance | date:'dd/MM/yyyy' }}
                    </td>
                    <td *ngIf="etudiant.user_id">
                        {{ etudiant.user_id?.phone }}
                    </td>
                    <td>
                        {{ etudiant.dernier_diplome }}
                    </td>
                    <td>
                        {{ etudiant.sos_email }}
                    </td>
                    <td>
                        {{ etudiant.sos_phone }}
                    </td>
                    <td>
                        {{ etudiant.numero_INE }}
                    </td>
                    <td>
                        {{ etudiant.numero_NIR }}
                    </td>
                    <td>
                        {{absences.length}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <!-- <p-table responsiveLayout="scroll" *ngIf="etudiant.isAlternant">
            <ng-template pTemplate="header">
                <tr>
                    <th>Tuteur </th>
                    <th>Adresse du tuteur </th>
                    <th>Email du tuteur </th>
                    <th>Téléphone du tuteur </th>
                    <th>Entreprise</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>
                        {{ etudiant.nom_tuteur }} {{ etudiant.prenom_tuteur }}
                    </td>
                    <td>
                        {{ etudiant.adresse_tuteur }}
                    </td>
                    <td>
                        {{ etudiant.email_tuteur }}
                    </td>
                    <td>
                        {{ etudiant.indicatif_tuteur }} {{ etudiant.phone_tuteur }}
                    </td>
                    <td>
                        {{ etudiant.entreprise }}
                    </td>
                </tr>
            </ng-template>
        </p-table> -->

        <p-table responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>ENIC NARIC </th>
                    <th>Statut Professionel </th>
                    <th>Formation</th>
                    <th>Date d'ajout IMS</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>


            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td *ngIf="etudiant.enic_naric">
                        Oui
                    </td>
                    <td *ngIf="!etudiant.enic_naric">
                        Non
                    </td>
                    <td>{{etudiant.statut}}</td>
                    <td>{{etudiant?.filiere?.titre}}</td>
                    <td>{{etudiant?.user_id?.date_creation| date:'dd/MM/yyyy'}}</td>
                </tr>

            </ng-template>
        </p-table>

        <p-table responsiveLayout="scroll" *ngIf="nom_rl">
            <ng-template pTemplate="header">
                <tr>
                    <th>Représentant légal </th>
                    <th>Adresse du Représentant légal </th>
                    <th>Email du représentant légal </th>
                    <th>Téléphone du représentant légal </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>


            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td>
                        {{ etudiant.nom_rl }} {{ etudiant.prenom_rl }}
                    </td>
                    <td>
                        {{ etudiant.adresse_rl }}
                    </td>
                    <td>
                        {{ etudiant.email_rl }}
                    </td>
                    <td>
                        {{ etudiant.indicatif_rl }} {{ etudiant.phone_rl }}
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <!-- Informations de prospects -->

        <p-table responsiveLayout="scroll" *ngIf="prospects && prospects[etudiant.user_id]">
            <ng-template pTemplate="header">
                <tr>
                    <th>Date d'inscription </th>
                    <th>Document manquant </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>


            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td> {{ prospects[etudiant?.user_id]?.date_traitement | date:'dd/MM/yyyy' }} </td>
                    <td> {{ prospects[etudiant?.user_id]?.document_manquant }} </td>
                </tr>
            </ng-template>
        </p-table>

        <!-- Partie dedié à l'affichage des documents -->

        <div class="col-12">


            <div *ngIf="ListDocuments==null || ListDocuments.length==0" style="margin: 0 auto;
                                    width: auto;">
                <h4>Aucun document n'a été chargé !</h4>
            </div>


            <div *ngFor="let file of ListDocuments; index as i" class="grid">

                <div class="field col-10 " style="border-style: 2;border: 2em;border-bottom: red;">
                    <i class="pi pi-file-pdf " style="font-size: 20px;cursor: pointer;"
                        pTooltip="Visualiser dans un nouvel onglet" (click)="VisualiserFichier(etudiant._id,i)"></i>
                    <em (click)="VisualiserFichier(etudiant._id,i)" [id]="i" style="cursor: pointer;"
                        pTooltip=" Visualiser dans un nouvel onglet">
                        {{ ListDocuments[i] }}
                    </em>
                </div>
                <div class="field col-1">
                    <i class="pi pi-download" pTooltip="Télécharger le fichier"
                        style=" float:right;cursor: pointer;font-size: 15px;color: rgb(3, 54, 237);"
                        (click)="downloadFile(etudiant._id,i)"></i>
                </div>
                <div class="field col-1">
                    <i class="pi pi-times" style=" float:left;font-size: 15px;cursor:pointer;color: red;"
                        pTooltip="Supprimer le fichier du dossier" (click)="deleteFile(etudiant._id,i)"
                        aria-hidden="true"> </i>
                </div>

            </div>
        </div>

        <h5 style="color: red; text-align: center;">Payements</h5>
        <p-table responsiveLayout="scroll" *ngIf="etudiant.payment_reinscrit" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th>Type du Paiement</th>
                    <th>Montant du Paiement</th>
                    <th>Date du Paiement</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-prospect>

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr *ngFor="let payement of etudiant.payment_reinscrit;">
                    <td>{{ payement.type }}</td>
                    <td>{{ payement.montant }}</td>
                    <td>{{ payement.date | date:'dd/MM/yyyy'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
</div>