<p-toast></p-toast>
<div class="grid">
	<div *ngIf="showCard" class="col-6 lg:col-6 xl:col-4">
		<div class="card mb-0">
			<div class="flex justify-content-between mb-4">
				<div>
					<span class="block text-500 font-medium mb-4">Tickets en file d'attente</span>
					<div class="text-900 font-medium text-xl">{{numberTicketWaiting.length }}</div>
				</div>
				<div class="flex align-items-center justify-content-center bg-pink-100 border-round"
					[ngStyle]="{width: '2.5rem', height: '2.5rem'}">
					<i class="pi pi-history text-pink-500 text-xl"></i>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="showCard" class="col-6 lg:col-6 xl:col-4">
		<div class="card mb-0">
			<div class="flex justify-content-between mb-4">
				<div>
					<span class="block text-500 font-medium mb-4">Ticket en cours de traitement</span>
					<div class="text-900 font-medium text-xl">{{numberTicketCours.length }}</div>
				</div>
				<div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
					[ngStyle]="{width: '2.5rem', height: '2.5rem'}">
					<i class="pi pi-sync text-cyan-500 text-xl"></i>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="showCard" class="col-12 lg:col-6 xl:col-4">
		<div class="card mb-0">
			<div class="flex justify-content-between mb-4">
				<div>
					<span class="block text-500 font-medium mb-4">Tickets total traités</span>
					<div class="text-900 font-medium text-xl">{{numberTicketTraite.length}}</div>
				</div>
				<div class="flex align-items-center justify-content-center bg-green-100 border-round"
					[ngStyle]="{width: '2.5rem', height: '2.5rem'}">
					<i class="pi pi-check-circle text-green-500 text-xl"></i>
				</div>
			</div>
		</div>
	</div>

	<!-- formulaire d'ajout d'un ticket -->
	<div class="col-12" *ngIf="showFormAdd">
		<p-dialog header="Merci de suivre ces instructions avant d'ajouter un nouveau ticket" [(visible)]="display"
			modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
			<p class="line-height-3 m-0">
				Voici les informationns à savoir pour créer un ticket pour un utilisateur :
			</p>
			<ul>
				<li><span style="color: red;">Service</span> : Choissisez le service correspondant au besoin de
					l'utilisateur. </li>
				<li><span style="color: red;">Sujet</span> : Choissisez le sujet du service sélectionner correspondant
					au besoin de l'utilisateur. </li>
				<li><span style="color: red;">Description</span> : Décrivez en détail le besoin de l'utilisateur. </li>
				<li><span style="color: red;">Adresse e-mail de l'utilisateur</span> : Entrez l'adresse e-mail de
					l'utilisateur. </li>
			</ul>
			<p class="line-height-3 m-0">
				Il vous suffit par la suite de cliquer sur le bouton <span style="font-weight: bold;">"Ajouter un
					ticket"</span> pour finaliser la création du ticket
			</p>
			<ng-template pTemplate="footer">
				<button pButton icon="pi pi-check" (click)="display=false" label="Ok"
					class="p-button-outlined"></button>
			</ng-template>
		</p-dialog>
		<div class="grid">
			<div class="col-12">
				<button (click)="display=true" pButton icon="pi pi-info-circle" label="Informations"
					style="width:auto;"></button>
			</div>
		</div>
	</div>



	<div class="col-12" *ngIf="showFormAdd">
		<div class="card">
			<i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
				title="Fermer" (click)="showFormAdd = false; TicketFormAdd.reset(); showCard=true">
			</i>

			<h4 style="text-align: center;">Ajouter un ticket pour un utilisateur</h4>
			<form class="p-fluid p-formgrid grid" [formGroup]="TicketFormAdd" (ngSubmit)="addTicket()">
				<div class="field col-12 md:col-6">
					<label For="service">Service <span style="color: red;"> * </span></label>
					<p-dropdown [options]="listServices" optionLabel="label" formControlName="service"
						placeholder="Choissisez un service" (change)="onChangeAdd()"></p-dropdown>
				</div>
				<div class="field col-12 md:col-6">
					<!-- Liste à changer dans le ts-->
					<label For="sujet">Sujet <span style="color: red;"> * </span></label>
					<p-dropdown [options]="listSujetSelected[TicketFormAdd.value.service._id]" optionLabel="label"
						placeholder="Choissisez un sujet" formControlName="sujet"></p-dropdown>
				</div>
				<div class="field col-12">
					<label For="description">Description <span style="color: red;"> * </span></label>
					<textarea pInputTextarea placeholder="Description du ticket" autoResize rows="3" cols="30"
						formControlName="description"></textarea>
					<div *ngIf="description.invalid && (description.touched || description.dirty)">
						<span *ngIf="description.errors?.required" style="color: red;">
							* Le description est obligatoire.
						</span>
					</div>
				</div>
				<div class="field col-12">
					<label For="email_user">Adresse email de l'utilisateur <span style="color: red;"> * </span></label>
					<input pInputText id="email_user" formControlName="email" type="email"
						placeholder="Adresse email de l'utilisateur (@estya.com)" />
					<div *ngIf="(email.invalid) && (email.touched || email.dirty)">
						<span class="error" style="color: red;" *ngIf="email.errors?.required">* L'adresse mail est
							obligatoire.</span>
						<span class="error" style="color: red;"
							*ngIf="email.errors?.pattern && email.value.endsWith('@estya.com')">* L'email
							n'est pas correct.</span>
						<span class="error" style="color: red;"
							*ngIf="email.errors?.pattern && !email.value.endsWith('@estya.com')">* L'email
							doit être un mail estya.com.</span>
					</div>
				</div>
				<div>
					<button pButton label="Ajouter un ticket" type="submit" [disabled]="TicketFormAdd.invalid"></button>
				</div>
			</form>
		</div>
	</div>



	<!-- Formulaire de modification d'un ticket -->
	<div class="col-12" *ngIf="isModify!=null">
		<div class="card">
			<i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
				title="Fermer" (click)="isModify=null;">
			</i>

			<h4 style="text-align: center;">Modification d'un ticket</h4>
			<form class="p-fluid p-formgrid grid" [formGroup]="TicketForm" (ngSubmit)="modifyTicket()">
				<div class="field col-12 md:col-6">
					<label For="service">Service</label>
					<p-dropdown [options]="listServices" optionLabel="label" formControlName="service"></p-dropdown>
				</div>
				<div class="field col-12 md:col-6">
					<label For="sujet">Sujet</label>
					<p-dropdown [options]="listSujetSelected[TicketForm.value.service._id]" optionLabel="label"
						formControlName="sujet"></p-dropdown>
				</div>
				<div>
					<button pButton label="Modifier" type="submit" [disabled]="TicketForm.invalid"></button>
				</div>
			</form>
		</div>
	</div>



	<!-- Formulaire d'ajout d'un commentaire -->
	<div class="col-12" *ngIf="showFormAddComment">
		<div class="card">
			<i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
				title="Fermer" (click)="toggleFormCancel();">
			</i>

			<h4 style="text-align: center;">Envoyer un message</h4>
			<p *ngIf="commentForm.value.file">Fichier {{commentForm.value.file.filename | slice:0:15}} chargé</p>
			<p style="color:red ;" *ngIf="value.invalid && value.errors?.maxlength">*Le fichier est trop volumineux
				(20MB max).</p>
			<form class="p-fluid p-formgrid grid" [formGroup]="commentForm" enctype="multipart/form-data"
				(ngSubmit)="SendComment()">
				<div class="field col-12">
					<label For="description">Description</label>
					<textarea pInputTextarea placeholder="Saisir un message" autoResize rows="3" cols="30"
						formControlName="description"></textarea>
				</div>
				<div class="field col-12 md:col-6">
					<p-fileUpload #fubauto mode="basic" chooseLabel="Joindre un fichier" name="demo[]"
						url="./upload.php" customUpload="true" accept=".docx,.pdf,.doc,.jpg,.png,.jpeg"
						maxFileSize="20000000" fileLimit="1" (uploadHandler)="onFileChange($event)" [auto]="true">
					</p-fileUpload>
				</div>
				<div class="field col-12 md:col-12">
					<label For="statut">Statut du ticket :</label>
					<p-dropdown [options]="statutList" optionLabel="value" formControlName="statut"></p-dropdown>
				</div>

				<div>
					<button pButton label="Envoyer" type="submit" [disabled]="commentForm.invalid || loading"></button>
				</div>
			</form>
		</div>
	</div>


	<!-- Formulaire de revert d'un ticket -->
	<div class="col-12" *ngIf="showRevert!=null">
		<div class="card">
			<i class="pi pi-times-circle" style="float:right; font-size: 20px; color: red; cursor: pointer;"
				title="Fermer" (click)="showRevert=null;">
			</i>

			<h4 style="text-align: center;">Renvoyer un ticket à la queue d'entrée</h4>
			<form class="p-fluid p-formgrid grid" [formGroup]="RevertForm" enctype="multipart/form-data"
				(ngSubmit)="revert()">
				<div class="field col-12">
					<label For="description">Justificatif</label>
					<textarea pInputTextarea placeholder="Expliquer la raison de votre renvoie" autoResize rows="3"
						cols="30" formControlName="justificatif"></textarea>
				</div>

				<div>
					<button pButton label="Envoyer" type="submit" [disabled]="RevertForm.invalid"></button>
				</div>
			</form>
		</div>
	</div>

	<p-dialog header="Affectation à quel Agent" [modal]="true" [(visible)]="showDropDown" [style]="{height: '50vw'}">
		<div class="p-5 mb-5">
			<p-dropdown [options]="userList" (onChange)="Affected($event)" placeholder="Choissisez un agent">
			</p-dropdown>
		</div>
	</p-dialog>

	<div class="col-12">
		<div class="card">
			<div style="float: right;">
				<button pButton label="Ajouter un ticket" (click)="showFormAdd = true; showCard = false;"></button>
			</div>
			<h5>File d'attente des tickets</h5>
			<p-toast></p-toast>
			<p-table class="p-datatable-gridlines" #dt1 *ngIf="queueList" dataKey="_id" [rows]="10" [rowHover]="true"
				[paginator]="true" [pageLinks]="5" rowExpandMode="single"
				[globalFilterFields]="['customid','description']" [value]="queueList"
				(sortFunction)="customSort($event)" [customSort]="true" [expandedRowKeys]="expandedRows"
				responsiveLayout="scroll" styleClass="p-datatable-gridlines">

				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<div class="field">
							<p-dropdown *ngIf="token['role']=='Admin'" filter="true" [options]="dropdownService"
								(onChange)="dt1.filter($event.value, 'service_id', 'equals')"
								emptyFilterMessage="Pas de service trouvé" filterPlaceholder="Nom du service">
							</p-dropdown>

							<span style="margin-left: 2px;">
								<p-dropdown filter="true" [options]="showSujetQ"
									(onChange)="dt1.filter($event.value, 'sujet_id', 'equals')"
									emptyFilterMessage="Pas de sujet trouvé" filterPlaceholder="Nom du sujet">
								</p-dropdown>
							</span>
							<span style="margin-left: 2px;">
								<p-dropdown filter="true" [options]="listFiliere"
									(onChange)="dt1.filter($event.value, 'etudiant_id.classe_id.diplome_id', 'equals')"
									emptyFilterMessage="Pas de filière trouvé" filterPlaceholder="Nom de la filière">
								</p-dropdown>
							</span>
						</div>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
								placeholder="Recherche" class="w-full" />
						</span>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width: 3rem"></th>
						<th pSortableColumn="service" style="text-align:center"> Service <p-sortIcon field="service">
							</p-sortIcon>
						</th>
						<th pSortableColumn="sujet" style="text-align:center"> Sujet <p-sortIcon field="sujet">
							</p-sortIcon>
						</th>
						<th pSortableColumn="date_creation" style="text-align:center"> Date de création <p-sortIcon
								field="date_creation"></p-sortIcon>
						</th>
						<th style="text-align:center" pSortableColumn="date_ajout"> Temps d'attente <p-sortIcon
							field="date_ajout"></p-sortIcon>
						</th>
						<th style="text-align:center">Action</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData let-expanded="expanded">
					<tr (onDragStart)="dragStart($event, rowData)" (onDragEnd)="dragEnd($event)"
						*ngIf="sujetList[rowData.sujet_id]" pDraggable="QueueToAccAff">
						<td>
							<button type="button" pButton pRipple [pRowToggler]="rowData"
								class="p-button-text p-button-rounded p-button-plain"
								[icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
						</td>
						<td style="min-width: 12rem;">{{serviceList[sujetList[rowData.sujet_id].service_id]}}</td>
						<td style="min-width: 8rem;">{{sujetList[rowData.sujet_id].label}}</td>
						<td style="min-width: 10rem;">{{rowData.date_ajout | date:'dd/MM/yyyy HH:mm'}}</td>
						<td style="min-width: 10rem;">{{showWaitingTime(rowData.date_ajout)}}</td>
						<td>
							<i *ngIf="rowData.createur_id!=token.id" pTooltip="Accepter" tooltipPosition="bottom"
								class="pi pi-check" (click)="QueueToAccAff(rowData)" aria-hidden="true"></i>

							<i *ngIf="rowData.createur_id!=token.id" pTooltip="Modifier" tooltipPosition="bottom"
								style="margin-left: 5%;" class="pi pi-pencil"
								(click)="modify(rowData);showFormUpdate=true" aria-hidden="true"></i>
							<i pTooltip="Affecter" tooltipPosition="bottom" style="margin-left: 5%;"
								*ngIf="isReponsable" class="pi pi-user-plus" (click)="showDropdownUser(rowData)"
								aria-hidden="true"></i>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="rowexpansion" let-rowData>
					<tr>
						<td colspan="6">
							<div class="p-3">
								<p-table class="p-datatable-gridlines" responsiveLayout="scroll"
									styleClass="p-datatable-gridlines">
									<ng-template pTemplate="header">
					<tr>
						<th>Numéro </th>
						<th>Description</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData>

				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td>{{rowData.customid}}</td>
						<td>{{rowData.description}}</td>
					</tr>
				</ng-template>
			</p-table>
			<h5 style="text-align: center; color: red;">Créateur du ticket</h5>
			<p-table class="p-datatable-gridlines" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
				<ng-template pTemplate="header">
					<tr>
						<th>Prénom & Nom </th>
						<th *ngIf="userDic[rowData.createur_id].phone">Téléphone</th>
						<th>Email</th>
						<th *ngIf="userDic[rowData.createur_id].adresse">Adresse</th>
						<th>Rôle</th>
						<th *ngIf="userDic[rowData.createur_id].service_id">Service</th>
						<th>Statut</th>
						<th
							*ngIf="userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Salarié' || userDic[rowData.createur_id].type=='Alternant') && userDic[rowData.createur_id].entreprise">
							Entreprise</th>
						<th
							*ngIf="userDic[rowData.createur_id].campus && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Initial' || userDic[rowData.createur_id].type=='Alternant')">
							Campus</th>
						<th
							*ngIf="userDic[rowData.createur_id].formation && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Initial' || userDic[rowData.createur_id].type=='Alternant')">
							Groupe</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData>

				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td>
							<ng-container *ngIf="rowData.etudiant_id">{{rowData.etudiant_id.custom_id}}</ng-container>
							{{userDic[rowData.createur_id].firstname | titlecase }}
							{{userDic[rowData.createur_id].lastname | titlecase | uppercase }}
						</td>
						<td *ngIf="userDic[rowData.createur_id].phone">{{userDic[rowData.createur_id].phone}}</td>
						<td>{{userDic[rowData.createur_id].email}}</td>
						<td *ngIf="userDic[rowData.createur_id].adresse">{{userDic[rowData.createur_id].adresse}}</td>
						<td>{{(userDic[rowData.createur_id].role=='user')?'Utilisateur':userDic[rowData.createur_id].role}}
						</td>
						<td *ngIf="userDic[rowData.createur_id].service_id">
							{{serviceDic[userDic[rowData.createur_id]?.service_id]?.label}}</td>
						<td>{{userDic[rowData.createur_id].type}}</td>
						<td
							*ngIf="userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Salarié' || userDic[rowData.createur_id].type=='Alternant') && userDic[rowData.createur_id].entreprise">
							{{userDic[rowData.createur_id].entreprise}}</td>
						<td
							*ngIf="userDic[rowData.createur_id].campus && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Initial' || userDic[rowData.createur_id].type=='Alternant')">
							{{campusDic[userDic[rowData.createur_id].campus].libelle}}</td>
						<td
							*ngIf="userDic[rowData.createur_id].formation && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Initial' || userDic[rowData.createur_id].type=='Alternant') && userDic[rowData.createur_id].formation && formationDic[userDic[rowData.createur_id].formation].nom_court">
							{{formationDic[userDic[rowData.createur_id].formation].nom_court}}
						</td>
					</tr>
				</ng-template>
			</p-table>
			<h5 *ngIf="rowData.isReverted" style="text-align: center; color: red;">Informations du renvoie</h5>
			<p-table *ngIf="rowData.isReverted" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
				<ng-template pTemplate="header">
					<tr>
						<th>Envoyeur </th>
						<th>Justificatif</th>
						<th>Date</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-rowData>

				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td>
							{{userDic[rowData.user_revert].firstname | titlecase }}
							{{userDic[rowData.user_revert].lastname | titlecase | uppercase}}
						</td>
						<td>{{rowData.justificatif}}</td>
						<td>{{rowData.date_revert | date:'dd/MM/yyyy HH:mm'}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
		</td>
		</tr>
		</ng-template>
		</p-table>
	</div>
</div>

<div class="col-12">
	<div class="card">
		<h5>Mes tickets en cours de traitement</h5>
		<p-table #dt2 *ngIf="AccAffList" pDroppable="QueueToAccAff" dataKey="_id" [rows]="10"
			(onDrop)="dragQueueToAccAff($event)" [rowHover]="true" [totalRecords]="AccAffList.length" [paginator]="true"
			[pageLinks]="5" rowExpandMode="single" [globalFilterFields]="['customid','description']"
			[value]="AccAffList" (sortFunction)="customSort($event)" [customSort]="true"
			[expandedRowKeys]="expandedTraitement" responsiveLayout="scroll" styleClass="p-datatable-gridlines">

			<ng-template pTemplate="caption">
				<div class="flex justify-content-between flex-column sm:flex-row">
					<div class="field">
						<p-dropdown *ngIf="token['role']=='Admin'" filter="true" [options]="dropdownService"
							(onChange)="dt2.filter($event.value, 'service_id', 'equals')"
							emptyFilterMessage="Pas de service trouvé" filterPlaceholder="Nom du service">
						</p-dropdown>

						<span style="margin-left: 2px;">
							<p-dropdown filter="true" [options]="showSujetAccAff"
								(onChange)="dt2.filter($event.value, 'sujet_id', 'equals')"
								emptyFilterMessage="Pas de sujet trouvé" filterPlaceholder="Nom du sujet">
							</p-dropdown>
						</span>

						<span style="margin-left: 2px;">
							<p-dropdown filter="true" [options]="showStatutTab2"
								(onChange)="dt2.filter($event.value, 'statut', 'equals')"
								emptyFilterMessage="Pas de statut trouvé" filterPlaceholder="statut">
							</p-dropdown>
						</span>
					</div>
				</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th style="width: 3rem"></th>
					<th>Service</th>
					<th>Sujet</th>
					<th>Date d'acceptation</th>
					<!--<th>Temps de traitement</th>-->
					<th>Désignation</th>
					<th>Statut</th>
					<th>Action</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-expanded="expanded">
				<tr (onDragStart)="dragStart($event, rowData)" (onDragEnd)="dragEnd($event)"
					*ngIf="sujetList[rowData.sujet_id]" [pSelectableRow]="rowData" pDroppable="QueueToAccAff">
					<td>
						<button type="button" pButton pRipple [pRowToggler]="rowData"
							class="p-button-text p-button-rounded p-button-plain"
							[icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
							(click)='loadMessages(rowData,"AccAff",expanded)'></button>
					</td>
					<td style="min-width: 12rem;">{{serviceList[sujetList[rowData.sujet_id].service_id]}}</td>
					<td style="min-width: 8rem;">{{sujetList[rowData.sujet_id].label}}</td>
					<td style="min-width: 10rem;">{{rowData.date_affec_accep | date:'dd/MM/yyyy HH:mm'}}</td>
					<!--<td *ngIf="rowData.statut == 'En cours de traitement'" style="min-width: 10rem;">
						{{showWorkingTime(rowData)}}</td>
					<td *ngIf="rowData.statut == 'Traité'" style="min-width: 10rem;">{{endDateOfTreatment(rowData)}}
					</td>-->
					<td *ngIf="rowData.isAffected" style="min-width: 10rem;">Affecté</td>
					<td *ngIf="!rowData.isAffected" style="min-width: 10rem;">Accepté</td>
					<td [pSelectableRow]="rowData" style="min-width: 10rem;">{{rowData.statut}}</td>

					<td>
						<i *ngIf="rowData.statut!='Traité'" pTooltip="Traiter" class="pi pi-cog"
							(click)="toggleFormCommentAdd(rowData);showFormAddComment=true" aria-hidden="true"> </i>
						<i *ngIf="rowData.statut!='Traité'" pTooltip="Renvoyer le ticket dans la queue d'entrée"
							class="pi pi-replay" (click)="toggleRevertForm(rowData)" aria-hidden="true"></i>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="rowexpansion" let-rowData>
				<tr>
					<td colspan="8">
						<div class="p-3">
							<p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
								<ng-template pTemplate="header">
				<tr>
					<th>Statut</th>
					<th>Description</th>
					<th>Date de création</th>
					<th>Numéro de ticket</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData>

			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td>{{rowData.statut}}</td>
					<td>{{rowData.description}}</td>
					<td>{{rowData.date_ajout | date:'dd/MM/yyyy HH:mm'}}</td>
					<td>{{rowData.customid}}</td>
				</tr>

			</ng-template>
		</p-table>

		<h5 style="text-align: center; color: red;">Créateur du ticket</h5>
		<p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
			<ng-template pTemplate="header">
				<tr>
					<th>Prénom & Nom</th>
					<th *ngIf="userDic[rowData.createur_id].phone">Téléphone</th>
					<th *ngIf="userDic[rowData.createur_id].email">Email</th>
					<th *ngIf="userDic[rowData.createur_id].adresse">Adresse</th>
					<th>Rôle</th>
					<th *ngIf="userDic[rowData.createur_id].service_id">Service</th>
					<th *ngIf="userDic[rowData.createur_id].type">Statut</th>
					<th
						*ngIf="userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Salarié' || userDic[rowData.createur_id].type=='Alternant/Stagiaire') && userDic[rowData.createur_id].entreprise">
						Entreprise</th>
					<th
						*ngIf="userDic[rowData.createur_id].campus && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						Campus</th>
					<th
						*ngIf="userDic[rowData.createur_id].formation && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						Groupe</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData>

			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td>
						{{userDic[rowData.createur_id].firstname | titlecase }}
						{{userDic[rowData.createur_id].lastname | titlecase | uppercase}}
					</td>
					<td *ngIf="userDic[rowData.createur_id].phone">{{userDic[rowData.createur_id].phone}}</td>
					<td *ngIf="userDic[rowData.createur_id].email">{{userDic[rowData.createur_id].email}}</td>
					<td *ngIf="userDic[rowData.createur_id].adresse">{{userDic[rowData.createur_id].adresse}}</td>
					<td> {{(userDic[rowData.createur_id].role=='user')?'Utilisateur':userDic[rowData.createur_id].role}}
					</td>
					<td *ngIf="userDic[rowData.createur_id].service_id">
						{{serviceDic[userDic[rowData.createur_id].service_id]?.label}}</td>
					<td *ngIf="userDic[rowData.createur_id].type">{{userDic[rowData.createur_id].type}}</td>
					<td
						*ngIf="userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Salarié' || userDic[rowData.createur_id].type=='Alternant/Stagiaire') && userDic[rowData.createur_id].entreprise">
						{{userDic[rowData.createur_id].entreprise}}</td>
					<td
						*ngIf="userDic[rowData.createur_id].campus && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						{{userDic[rowData.createur_id].campus}}</td>
					<td
						*ngIf="userDic[rowData.createur_id].formation && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						{{formationDic[userDic[rowData.createur_id].formation].nom_court}}</td>
				</tr>

			</ng-template>
		</p-table>

		<!--<h5 *ngIf="comments && comments.length!=0" style="text-align: center; color: red;">Messages</h5>
								<p-table *ngIf="comments && comments.length!=0" [value]="comments" dataKey="id" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
									<ng-template pTemplate="header">
										<tr>
											<th>Nom prénom</th>
											<th>Rôle</th>
											<th>Date de création</th>
											<th *ngIf="message.document">Doc</th>
											<th>Description</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-message>
										
									</ng-template>
									<ng-template pTemplate="emptymessage">
										<tr *ngIf="message.user_id!=token['id']">
											<td>{{userDic[message.user_id].firstname}} {{userDic[message.user_id].lastname | uppercase}}</td>
											<td>{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}</td>
											<td>{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}</td>
											<td>
												<button style="cursor: pointer;" *ngIf="message.document"
												class="pi pi-paperclip ui-g-1 ui-md-1" id="charger2"
												(click)="downloadFile(message)"><i class="fa fa-spinner fa-spin fa-fw"
													*ngIf="loadingMessage==message._id" aria-hidden="true"></i></button>
											</td>
											<td>{{message.description}}</td>
										</tr>
										<tr *ngIf="message.user_id==token['id']">
											<td>{{userDic[message.user_id].firstname}} {{userDic[message.user_id].lastname | uppercase}</td>
											<td>{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}</td>
											<td>{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}</td>
											<td>
												<button style="cursor: pointer;" *ngIf="message.document"
													class="pi pi-paperclip ui-g-1 ui-md-1" id="charger2"
													(click)="downloadFile(message)">
													<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingMessage==message._id" aria-hidden="true">
													</i>
												</button>
											</td>
											<td>{{message.description}}</td>
										</tr>
									</ng-template>
								</p-table>

								<h5 *ngIf="comments && comments.length!=0" style="text-align: center; color: red;">Liste des fichiers</h5>
								<p-table *ngIf="comments && comments.length!=0" [value]="comments" dataKey="id" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
									<ng-template pTemplate="header">
										<tr *ngIf="message.document">
											<th>Documents</th>
										</tr>
									</ng-template>
									<ng-template pTemplate="body" let-message>
										
									</ng-template>
									<ng-template pTemplate="emptymessage">
										<tr *ngIf="message.document">
											<td>
												<span id="fichier" (click)="downloadFile(message)">{{message.document}}</span>
											</td>
										</tr>										
									</ng-template>
								</p-table>-->
		<p-fieldset *ngIf="comments && comments.length!=0" legend="Messages"
			[style]="{'color':'green','font-weight': 'bold'}">
			<div class="badyT">

				<p-table [value]="comments" dataKey="id">
					<ng-template pTemplate="body" let-message>
						<tr *ngIf="message.user_id!=token['id']">
							<td>
								<span class="ui-g-6 ui-md-6">
									<div class="ui-g-12 ui-md-12">
										<i style="cursor: pointer;" *ngIf="message.document"
											class="pi pi-paperclip ui-g-1 ui-md-1" id="charger2"
											(click)="downloadFile(message)"></i><i class="fa fa-spinner fa-spin fa-fw"
											*ngIf="loadingMessage==message._id" aria-hidden="true"></i>
										<span class="ui-g-11 ui-md-11" id="messageUser"> {{message.description}} </span>
									</div>
									<span id="soustitre" class="ui-g-11 ui-md-11">
										{{userDic[message.user_id].firstname}} {{userDic[message.user_id].lastname}} :
										{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}
										{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}
									</span>
								</span>
							</td>
						</tr>
						<tr *ngIf="message.user_id==token['id']">
							<td>
								<span class="ui-g-6 ui-md-6" style="float: right;">
									<div class="ui-g-12 ui-md-12">
										<i style="cursor: pointer;" *ngIf="message.document"
											class="pi pi-paperclip ui-g-1 ui-md-1" id="charger2"
											(click)="downloadFile(message)">
										</i>
										<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingMessage==message._id"
											aria-hidden="true">
										</i>
										<span class="ui-g-12 ui-md-11" id="messageAgent"> {{message.description}}
										</span>
									</div>
									<span id="soustitre" class=" ui-g-11 ui-md-11">
										{{userDic[message.user_id].firstname}} {{userDic[message.user_id].lastname}} :
										{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}
										{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}

									</span>

								</span>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</p-fieldset>
		<p-fieldset *ngIf="comments && comments.length!=0" legend="Liste des fichiers"
			[style]="{'color':'green','font-weight': 'bold'}">
			<p style="text-align:center; padding-bottom: 2%; color: black; font-weight: normal;">Retrouvez tous les
				fichiers
				qui ont été envoyés lors de cette conversation</p>
			<p-table [value]="comments" dataKey="id">
				<ng-template pTemplate="body" let-message>
					<div class="col-6" *ngIf="message.document">
						<ul>
							<li id="fichier" (click)="downloadFile(message)"><em>{{message.document}}</em></li>
						</ul>
					</div>
				</ng-template>
			</p-table>
		</p-fieldset>

	</div>


	</td>
	</tr>
	</ng-template>
	</p-table>
</div>
</div>

<div class="col-12">
	<div class="card">
		<h5 *ngIf="token['role']!='Admin'">Les tickets de mon service</h5>
		<h5 *ngIf="token['role']=='Admin'">Les tickets de tous les services</h5>
		<p-table #dt3 *ngIf="AccAffList" [value]="allTickets" dataKey="_id" [rows]="10" [rowHover]="true"
			rowExpandMode="single" [paginator]="true" [pageLinks]="5" [totalRecords]="allTickets.length"
			(sortFunction)="customSort($event)" [customSort]="true" [globalFilterFields]="['customid','description']"
			responsiveLayout="scroll" [expandedRowKeys]="expandedAll" styleClass="p-datatable-gridlines">

			<ng-template pTemplate="caption">
				<div class="flex justify-content-between flex-column sm:flex-row">

					<div class="field">
						<p-dropdown *ngIf="token['role']=='Admin'" filter="true" [options]="dropdownService"
							(onChange)="dt3.filter($event.value, 'service_id', 'equals')"
							emptyFilterMessage="Pas de service trouvé" filterPlaceholder="Nom du service">
						</p-dropdown>

						<span style="margin-left: 2px;">
							<p-dropdown filter="true" [options]="showSujetAll"
								(onChange)="dt3.filter($event.value, 'sujet_id', 'equals')"
								emptyFilterMessage="Pas de sujet trouvé" filterPlaceholder="Nom du sujet">
							</p-dropdown>
						</span>

						<span style="margin-left: 2px;">
							<p-dropdown filter="true" [options]="showStatut"
								(onChange)="dt3.filter($event.value, 'statut', 'equals')"
								emptyFilterMessage="Pas de statut trouvé" filterPlaceholder="statut">
							</p-dropdown>
						</span>
					</div>

					<span class="p-input-icon-left mb-2">
						<i class="pi pi-search"></i>
						<input pInputText type="text" #filter
							(input)="dt3.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
							class="w-full" />
					</span>
				</div>
			</ng-template>
			<ng-template pTemplate="header">
				<tr>
					<th style="width: 3rem"></th>
					<th>Service</th>
					<th>Sujet</th>
					<th>Date d'acceptation</th>
					<!--<th>Temps de traitement</th>
                        <th>Temps total de traitement</th>-->
					<th>Désignation</th>
					<th>Statut</th>
					<th>Agent</th>
					<th *ngIf="token['role']!='Agent'">Action</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData let-expanded="expanded">
				<tr *ngIf="sujetList[rowData.sujet_id]">
					<td>
						<button type="button" pButton pRipple [pRowToggler]="rowData"
							class="p-button-text p-button-rounded p-button-plain"
							[icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
					</td>
					<td style="min-width: 12rem;">{{serviceList[sujetList[rowData.sujet_id].service_id]}}</td>
					<td>{{sujetList[rowData.sujet_id].label}}</td>
					<td style="min-width: 8rem;">{{rowData.date_affec_accep | date:'dd/MM/yyyy HH:mm'}}</td>
					<!--<td style="min-width: 10rem;">{{showWorkingTime(rowData)}}</td>
						<td style="min-width: 10rem;">{{endDateOfTreatment(rowData)}}</td>-->
					<td style="min-width: 10rem;" *ngIf="rowData.isAffected">Affecté</td>
					<td style="min-width: 10rem;" *ngIf="!rowData.isAffected">Accepté</td>
					<td style="min-width: 10rem;">{{rowData.statut}}</td>
					<td style="min-width: 10rem;" *ngIf="userDic[rowData.agent_id]">
						{{userDic[rowData.agent_id].firstname}} {{userDic[rowData.agent_id].lastname}}</td>
					<td s>
						<i *ngIf="rowData.statut!='Traité'" pTooltip="Renvoyer le ticket dans la queue d'entrée"
							class=" pi pi-replay" (click)="toggleRevertForm(rowData)" aria-hidden="true"></i>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="rowexpansion" let-rowData>
				<tr>
					<td colspan="10">
						<div class="p-3">
							<p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
								<ng-template pTemplate="header">
				<tr>
					<th>Statut</th>
					<th>Description</th>
					<th>Date de création</th>
					<th>Numéro</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData>

			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td>{{rowData.statut}}</td>
					<td>{{rowData.description}}</td>
					<td>{{rowData.date_ajout | date:'dd/MM/yyyy HH:mm'}}</td>
					<td>{{rowData.customid}}</td>
				</tr>
			</ng-template>
		</p-table>

		<h5 style="text-align:center; color: red;">Créateur du ticket</h5>
		<p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
			<ng-template pTemplate="header">
				<tr>
					<th>Prénom & Nom</th>
					<th *ngIf="userDic[rowData.createur_id].phone">Téléphone</th>
					<th *ngIf="userDic[rowData.createur_id].email">Email</th>
					<th *ngIf="userDic[rowData.createur_id].adresse">Adresse</th>
					<th *ngIf="userDic[rowData.createur_id].role">Service</th>
					<th *ngIf="userDic[rowData.createur_id].type">Statut</th>
					<th
						*ngIf="userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Salarié' || userDic[rowData.createur_id].type=='Alternant/Stagiaire') && userDic[rowData.createur_id].entreprise">
						Entreprise</th>
					<th
						*ngIf="userDic[rowData.createur_id].campus && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						Campus</th>
					<th
						*ngIf="userDic[rowData.createur_id].formation && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						Groupe</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData>

			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td>
						{{userDic[rowData.createur_id].firstname | titlecase }}
						{{userDic[rowData.createur_id].lastname | titlecase | uppercase}}
					</td>
					<td *ngIf="userDic[rowData.createur_id].phone">{{userDic[rowData.createur_id].phone}}</td>
					<td *ngIf="userDic[rowData.createur_id].email">{{userDic[rowData.createur_id].email}}</td>
					<td *ngIf="userDic[rowData.createur_id].adresse">{{userDic[rowData.createur_id].adresse}}</td>
					<td *ngIf="userDic[rowData.createur_id].role">
						{{(userDic[rowData.createur_id].role=='user')?'Utilisateur':userDic[rowData.createur_id].role}}
					</td>
					<td *ngIf="userDic[rowData.createur_id].service_id">
						{{serviceDic[userDic[rowData.createur_id]?.service_id].label}}</td>
					<td *ngIf="userDic[rowData.createur_id].type">{{userDic[rowData.createur_id].type}}</td>
					<td
						*ngIf="userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Salarié' || userDic[rowData.createur_id].type=='Alternant/Stagiaire') && userDic[rowData.createur_id].entreprise">
						{{userDic[rowData.createur_id].entreprise}}</td>
					<td
						*ngIf="userDic[rowData.createur_id].campus && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						{{userDic[rowData.createur_id].campus}}</td>
					<td
						*ngIf="userDic[rowData.createur_id].campus && userDic[rowData.createur_id].type && (userDic[rowData.createur_id].type=='Etudiant' || userDic[rowData.createur_id].type=='Alternant/Stagiaire')">
						{{formationDic[userDic[rowData.createur_id].formation].nom_court}}</td>
				</tr>
			</ng-template>
		</p-table>

		<h5 style="text-align:center; color: red;">Agent du ticket</h5>
		<p-table responsiveLayout="scroll" styleClass="p-datatable-gridlines">
			<ng-template pTemplate="header">
				<tr>
					<th>Prénom & Nom</th>
					<th *ngIf="userDic[rowData.agent_id].phone">Téléphone</th>
					<th *ngIf="userDic[rowData.agent_id].email">Email</th>
					<th *ngIf="userDic[rowData.agent_id].adresse">Adresse</th>
					<th *ngIf="userDic[rowData.agent_id].role">Service</th>
					<th *ngIf="userDic[rowData.agent_id].type">Statut</th>
					<th
						*ngIf="userDic[rowData.agent_id].type && (userDic[rowData.agent_id].type=='Salarié' || userDic[rowData.agent_id].type=='Alternant/Stagiaire') && userDic[rowData.agent_id].entreprise">
						Entreprise</th>
					<th
						*ngIf="userDic[rowData.agent_id].campus && userDic[rowData.agent_id].type && (userDic[rowData.agent_id].type=='Etudiant' || userDic[rowData.agent_id].type=='Alternant/Stagiaire')">
						Campus</th>
					<th
						*ngIf="userDic[rowData.agent_id].formation && userDic[rowData.agent_id].type && (userDic[rowData.agent_id].type=='Etudiant' || userDic[rowData.agent_id].type=='Alternant/Stagiaire')">
						Groupe</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-rowData>

			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr>
					<td>
						{{userDic[rowData.agent_id].firstname | titlecase }}
						{{userDic[rowData.agent_id].lastname | titlecase | uppercase}}
					</td>
					<td *ngIf="userDic[rowData.agent_id].phone">{{userDic[rowData.agent_id].phone}}</td>
					<td *ngIf="userDic[rowData.agent_id].email">{{userDic[rowData.agent_id].email}}</td>
					<td *ngIf="userDic[rowData.agent_id].adresse">{{userDic[rowData.agent_id].adresse}}</td>
					<td *ngIf="userDic[rowData.agent_id].role">
						{{(userDic[rowData.agent_id].role=='user')?'Utilisateur':userDic[rowData.agent_id].role}}</td>
					<td *ngIf="userDic[rowData.agent_id].service_id">
						{{serviceDic[userDic[rowData.agent_id]?.service_id].label}}</td>
					<td *ngIf="userDic[rowData.agent_id].type">{{userDic[rowData.agent_id].type}}</td>
					<td
						*ngIf="userDic[rowData.agent_id].type && (userDic[rowData.agent_id].type=='Salarié' || userDic[rowData.agent_id].type=='Alternant/Stagiaire') && userDic[rowData.agent_id].entreprise">
						{{userDic[rowData.agent_id].entreprise}}</td>
					<td
						*ngIf="userDic[rowData.agent_id].campus && userDic[rowData.agent_id].type && (userDic[rowData.agent_id].type=='Etudiant' || userDic[rowData.agent_id].type=='Alternant/Stagiaire')">
						{{userDic[rowData.agent_id].campus}}</td>
					<td
						*ngIf="userDic[rowData.agent_id].campus && userDic[rowData.agent_id].type && (userDic[rowData.agent_id].type=='Etudiant' || userDic[rowData.agent_id].type=='Alternant/Stagiaire')">
						{{formationDic[userDic[rowData.agent_id].formation]?.nom_court}}</td>
				</tr>
			</ng-template>
		</p-table>

		<!--<h5 *ngIf="comments && comments.length!=0" style="text-align:center; color: red;">Messages</h5>
		<p-table *ngIf="comments && comments.length!=0" [value]="comments" dataKey="id" responsiveLayout="scroll"
			styleClass="p-datatable-gridlines">
			<ng-template pTemplate="header">
				<tr *ngIf="message.user_id==rowData.createur_id">
					<th>Nom Prénom</th>
					<th>Rôle</th>
					<th>Date d'ajout</th>
					<th>Action</th>
				</tr>
				<tr *ngIf="message.user_id!=rowData.createur_id">
					<th>Nom Prénom</th>
					<th>Rôle</th>
					<th>Date d'ajout</th>
					<th>Action</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-message>

			</ng-template>
			<ng-template pTemplate="emptymessage">
				<tr *ngIf="message.user_id==rowData.createur_id">
					<td>
						{{userDic[message.user_id].firstname}}
						{{userDic[message.user_id].lastname | uppercase}}
					</td>
					<td>{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}</td>
					<td>{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}</td>
					<td><button style="cursor: pointer;" *ngIf="message.document" class="pi pi-paperclip ui-g-1 ui-md-1"
							id="charger2" (click)="downloadFile(message)"><i class="fa fa-spinner fa-spin fa-fw"
								*ngIf="loadingMessage==message._id" aria-hidden="true"></i></button>
					</td>
				</tr>
				<tr *ngIf="message.user_id!=rowData.createur_id">
					<td>
						{{userDic[message.user_id].firstname}}
						{{userDic[message.user_id].lastname | uppercase}}
					</td>
					<td>{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}</td>
					<td>{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}</td>
					<td>
						<button style="cursor: pointer;" *ngIf="message.document" class="pi pi-paperclip ui-g-1 ui-md-1"
							id="charger2" (click)="downloadFile(message)">
							<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingMessage==message._id"
								aria-hidden="true">
							</i>
						</button>
					</td>
				</tr>
			</ng-template>
		</p-table>-->
		<p-fieldset *ngIf="comments && comments.length!=0" legend="Messages"
			[style]="{'color':'green','font-weight': 'bold'}">
			<div class="badyT">

				<p-table [value]="comments" dataKey="id">
					<ng-template pTemplate="body" let-message>
						<tr *ngIf="message.user_id!=token['id']">
							<td>
								<span class="ui-g-6 ui-md-6">
									<div class="ui-g-12 ui-md-12">
										<i style="cursor: pointer;" *ngIf="message.document"
											class="pi pi-paperclip ui-g-1 ui-md-1" id="charger2"
											(click)="downloadFile(message)"></i>
										<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingMessage==message._id"
											aria-hidden="true"></i>
										<span class="ui-g-11 ui-md-11" id="messageUser"> {{message.description}} </span>
									</div>
									<span id="soustitre" class="ui-g-11 ui-md-11">
										{{userDic[message.user_id].firstname}} {{userDic[message.user_id].lastname}} :
										{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}
										{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}
									</span>
								</span>
							</td>
						</tr>
						<tr *ngIf="message.user_id==token['id']">
							<td>
								<span class="ui-g-6 ui-md-6" style="float: right;">
									<div class="ui-g-12 ui-md-12">
										<i style="cursor: pointer;" *ngIf="message.document"
											class="pi pi-paperclip ui-g-1 ui-md-1" id="charger2"
											(click)="downloadFile(message)">
										</i>
										<i class="fa fa-spinner fa-spin fa-fw" *ngIf="loadingMessage==message._id"
											aria-hidden="true">
										</i>
										<span class="ui-g-12 ui-md-11" id="messageAgent"> {{message.description}}
										</span>
									</div>
									<span id="soustitre" class=" ui-g-11 ui-md-11">
										{{userDic[message.user_id].firstname}} {{userDic[message.user_id].lastname}} :
										{{(userDic[message.user_id].role=='user')?'Utilisateur':userDic[message.user_id].role}}
										{{message.date_ajout | date:'dd/MM/yyyy HH:mm'}}

									</span>

								</span>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</p-fieldset>
		<p-fieldset *ngIf="comments && comments.length!=0" legend="Liste des fichiers"
			[style]="{'color':'green','font-weight': 'bold'}">
			<p style="text-align:center; padding-bottom: 2%; color: black; font-weight: normal;">Retrouvez tous les
				fichiers
				qui ont été envoyés lors de cette conversation</p>
			<p-table [value]="comments" dataKey="id">
				<ng-template pTemplate="body" let-message>
					<div class="col-6" *ngIf="message.document">
						<ul>
							<li id="fichier" (click)="downloadFile(message)"><em>{{message.document}}</em></li>
						</ul>
					</div>
				</ng-template>
			</p-table>
		</p-fieldset>
	</div>
	</td>
	</tr>
	</ng-template>
	</p-table>
</div>
</div>
</div>