<p-toast></p-toast>
<p-dialog header="Pannel explicatif du rapport de séance" [(visible)]="display" modal="modal" showEffect="fade"
    [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <p class="line-height-3 m-0">
        Voici les informations à savoir pour remplir ce rapport de séance:
    </p>
    <ul>
        <li><span style="color: red;">Thème abordé</span> : Quelle était la notion abordée durant cette séance ? </li>
        <li><span style="color: red;">Objectif de la séance</span> : Ce que l'apprenant doit savoir ou savoir faire à la
            fin de la séance</li>
        <li><span style="color: red;">Méthodes</span> : <a href="https://www.bienenseigner.com/methodes-pedagogiques/"
                target="_blank">Merci de choisir parmi ces 5 méthodes les plus utilisées</a> </li>
        <li><span style="color: red;">Supports</span> : Exemple: Le tableau numérique, le PC, les fiches , les sites,
            les vidéos, les livres etc... </li>
    </ul>
    <p class="line-height-3 m-0">
        Il vous suffit par la suite de cliquer sur le bouton <span style="font-weight: bold;">"Envoyer le rapport et la
            signature"</span>
        pour envoyer le rapport mais <span style="color: red;">n'oubliez pas de signer!</span>
    </p>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display=false" label="J'ai compris"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
<div class="grid" *ngIf="showCanvas || (presence && presence.allowedByFormateur && presence.signature==false)">
    <div class="col-12 card shadow-lg">
        <h3 *ngIf="seance">Signature de la séance: {{seance.libelle}} du {{seance.date_debut | date : "dd/MM"}}</h3>
        <i class="pi pi-times" style="font-size: 20px;" (click)="signaturePad.clear()" aria-hidden="true"
            pTooltip="Effacer la signature" tooltipPosition="bottom"></i><br>
        <!--<canvas class="card" #canva></canvas><br>-->
        <div [ngStyle]="{'border':'solid 1px','width': mobilecheck()}">
            <signature-pad [options]="signaturePadOptions"></signature-pad><br>
        </div>
        <p style="color: red;">* La signature est obligatoire</p><br>
        <div class="col-12" *ngIf="formateurInfo">
            <div class="card">
                <div class="col-6">
                    <button (click)="display=true" pButton icon="pi pi-info-circle" label="Aide"
                        style="width:auto;"></button>
                </div>
                <h4 style="text-align: center;">Rapport de séance</h4>
                <div style="text-align: center;">
                    <small>Tous les champs marqués d'un astérisque <span style="color: red;"> * </span> sont
                        obligatoires</small><br>
                    <p>Vous êtes formateur dans une des écoles du groupe INTED (ESTYA, ESPIC, ADG, STUDINFO,
                        INTUNES).Afin de permettre le suivi de nos étudiants et la qualité de nos formations, veuillez
                        remplir ce modèle de rapport de séance ci-dessous.<br>Pour toute information
                        complémentaire veuillez contacter Mme GARS , référente Qualité, sur <a
                            href="mailto:l.gars@adgeducation.com">l.gars@adgeducation.com</a>.<br>Merci de votre
                        collaboration.</p>
                </div>
                <br>
                <form class="p-fluid p-formgrid grid" [formGroup]="formPP" (ngSubmit)="getSignature();addPP()">
                    <div class="field col-12 md:col-6">
                        <label>Thème abordé <span style="color: red;"> * </span></label>
                        <input pInputText type="text" formControlName="theme" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Objectif de la séance <span style="color: red;"> * </span></label>
                        <input pInputText type="text" formControlName="objectif" placeholder="être capable de ..." />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Méthodes <span style="color: red;"> * </span></label>
                        <input pInputText type="text" formControlName="methode" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label>Supports <span style="color: red;"> * </span></label>
                        <input pInputText type="text" formControlName="support" />
                    </div>
                    <div class="field col-12">
                        <label>Observations</label>
                        <textarea pInputTextarea type="text" formControlName="observations"></textarea>
                    </div>
                    <div class="col-12">
                        <button [disabled]="formPP.invalid" pButton class="ui-button-raised ui-button-success"
                            label="Envoyer le rapport et la signature" type="submit"></button>
                    </div>
                </form>
            </div>
        </div>
        <button *ngIf="!formateurInfo" pButton class="ui-button-raised ui-button-success" label="Envoyer"
            (click)="getSignature();"></button>
    </div>
</div>
<div class="card" *ngIf="showUploadFile">
    <i class="pi pi-times" style="float:right; font-size: 20px;" (click)="showUploadFile = false" aria-hidden="true">
    </i>
    <h3 *ngIf="seance" class="text-center" style="font-weight: bold;">
        Ajouter un document à : {{ seance.libelle }}</h3>
    <form class="col-12" [formGroup]="formUploadFile">
        <div class="grid">
            <div class="col-12 sm:col-6">
                <label>Autorisez les étudiants à consulter ce fichier ?</label>
                <p-selectButton [options]="[{value:true,label:'Oui'},{value:false,label:'Non'}]" formControlName="etat">
                </p-selectButton>
            </div>
            <div class="col-12 sm:col-6">
                <p-fileUpload (uploadHandler)="FileUpload($event)" mode="basic" chooseLabel="Ajouter un Document"
                    customUpload="true" fileLimit="1" maxFileSize="10000000" [auto]="true" #fileInput>
                </p-fileUpload>
            </div>
        </div>
    </form>
</div>
<div class="card" *ngIf="presence && seance">
    <!--[ngStyle]="{'background-color': presence.isPresent ? 'green' : 'tomato'}"-->
    <div class="grid">
        <div class="col-8 col-offset-2 flex justify-content-center flex-wrap card-container">
            <h5 *ngIf="seance">Signature de la séance: {{seance.libelle}} du {{seance.date_debut | date : "dd/MM/yyyy"}}
            </h5>
        </div>
        <div class="col-12">
            <small><span style="font-weight: bold;"> Etat :</span></small><br><br>
            <div *ngIf="!presence.isPresent">
                <small> Vous avez été noté absent lors de cette séance</small>
                <p *ngIf="presence.justificatif && presence.isPresent">Votre justificatif a été accepté</p>
            </div>
            <div *ngIf="presence.isPresent">
                <span>Vous avez été noté présent lors de cette séance</span>
            </div>
        </div>
        <div class="col-12" *ngIf="seance">
            <small> <span style="font-weight: bold;"> Support de cours : </span></small><br>
            <ul>
                <li *ngFor="let file of showFiles; index as i">
                    <i *ngIf="file.right && file.right!='false'" class="pi pi-download" style="font-size: 2rem"
                        (click)="downloadFileCours(file)"></i>
                    <em *ngIf="file.right && file.right!='false'" (click)="downloadFileCours(file)" [id]="i"
                        style="cursor: pointer;">
                        {{ file.name }}
                    </em>
                </li>
            </ul>
            <span *ngIf="showFiles==null">Aucun document n'a été chargé !</span>
        </div>
    </div>
</div>
<h3 *ngIf="date_debut > date">La séance n'a pas débuté, merci de revenir à l'heure de la séance pour signer.</h3>
<div class="card"
    *ngIf="(presence==null || !presence.isPresent) && allowJustificatif && date > date_debut && !showCanvas">
    <div class="p-grid">
        <h4>Fournir un justificatif d'absence</h4>
        <h3 *ngIf="date_fin_seance > date && !seance.forcedAllowedByFormateur" style="color: red;">Vous êtes en retard,
            demandez au Formateur de vous
            autorisez à signer puis rechargez
            la page</h3>
        <h3 *ngIf="seance.forcedAllowedByFormateur" style="color: red;">Le Formateur doit vous autorisez à signer.</h3>
        <div class="col-12">
            <div class="md:col-offset-5 col-12">
                <p-fileUpload #justificatif (uploadHandler)="onFileChange($event)" mode="basic"
                    chooseLabel="Joindre un fichier" customUpload="true" fileLimit="1" accept=".pdf,.jpg,.png,.jpeg"
                    maxFileSize="20000000" [auto]="true">
                </p-fileUpload>
            </div>
            <i *ngIf="uploadFile" class="pi pi-spin pi-spinner col-2" style="font-size: 2rem"
                aria-hidden="true"></i><br>
            <i *ngIf="loadingFile" class="pi pi-spin pi-spinner" style="font-size: 2rem" aria-hidden="true"></i>
            <button [disabled]="justif_file_value==null || justif_file_value>20000000 || uploadFile" pButton
                label="Envoyer le justificatif" (click)="sendJustif();"></button>
            <button *ngIf="presence && presence.justificatif" [disabled]="loadingFile" pButton
                label="Télécharger votre justificatif" (click)="downloadFile(presence);"></button>
        </div>
    </div>
</div>

<div class="grid">
    <p-fieldset class="col-12" *ngIf="seance" legend="{{seance.libelle}}">
        <div class="p-fluid grid" style="color: black;font-weight:normal;">
            <div class="col-12 md:col-6 grid" *ngIf="userList && userList[seance.formateur_id]">
                <div class="col-6 md:col-6">
                    <strong style="text-align:left !important;">Formateur :</strong>
                    {{userList[seance.formateur_id].lastname | uppercase}}
                    {{userList[seance.formateur_id].firstname
                    | titlecase}}
                </div>
            </div>
            <div class="col-12 md:col-6 grid" *ngIf="seance.classe_id && diplomeList">
                <div class="col-6 md:col-6">
                    <strong style="text-align:left !important;">Filière(s) :</strong>{{affichageDiplome}}
                </div>
            </div>
            <div class="col-12 md:col-6 grid" *ngIf="classeList && seance.classe_id">
                <div class="col-6 md:col-6">
                    <strong style="text-align:left !important;">Groupe :</strong>{{affichageGroupe}}
                </div>
            </div>
            <div class="col-12 md:col-6 grid" *ngIf="matiereList && matiereList[seance.matiere_id]">
                <div class="col-6 md:col-6">
                    <strong style="text-align:left !important;">Module :</strong>{{matiereList[seance.matiere_id].nom}}
                </div>
            </div>
            <div class="col-12 md:col-6 grid">
                <div class="col-6 md:col-6">
                    <strong style="text-align:left !important;">Numéro de Salle :</strong>
                    <span *ngIf="seance.isPresentiel && seance.salle_name" style="color: black;">
                        {{seance.salle_name}}
                    </span>
                    <span *ngIf="seance.isPresentiel && !seance.salle_name" style="color: black;">
                        Non Specifié
                    </span>
                    <span style="color: black;" *ngIf="!seance.isPresentiel">
                        Distanciel
                    </span>
                </div>
            </div>
            <div class="col-12 md:col-6 grid" *ngIf="seance.date_debut && seance.date_fin">
                <div class="col-6 md:col-6">
                    <strong style="text-align:left !important;">Date :</strong> {{seance.date_debut | date:'dd/MM
                    HH:mm'}} - {{seance.date_fin | date:'dd/MM HH:mm'}}
                </div>
            </div>
        </div>
    </p-fieldset>
</div>

<div class="col-12" *ngIf="token.role!='user'  || formateurInfo">
    <div class="col-12 card" *ngIf="seance">
        <p style="font-weight: bold;"> Support de cours & Documents :</p>
        <ul *ngIf="seance.fileRight && seance.fileRight!=null && seance.fileRight.length!=0">
            <li *ngFor="let file of seance.fileRight; index as i">
                <i class="pi pi-times" style="float:right; font-size: 20px;cursor:pointer" (click)="deleteFile(file)"
                    aria-hidden="true"> </i>
                <i class="pi pi-download " style="font-size: 2rem" (click)="downloadFileCours(file)"></i>
                <em (click)="downloadFileCours(file)" [id]="i" style="cursor: pointer;">
                    {{ file.name }}
                </em>
            </li>
        </ul>
        <p *ngIf="seance.fileRight==null || seance.fileRight.length==0">Aucun document n'a été chargé !</p>
        <button pButton class="ui-button-raised ui-button-success" label="Envoyer un document"
            (click)="showUploadFile=true"></button>
    </div>
    <div class="grid col-12 card" *ngIf="showPdf">
        <i class="pi pi-times-circle" style="float:right; color: red; cursor: pointer;" (click)="showPdf = false"
            aria-hidden="true"> </i>
        <h5 class="col-12 text-center">Générer la feuille d'emergement du groupe:</h5>
        <div class="col-6 md:col-4" *ngFor="let cid of seance.classe_id; i as index">
            <button pButton (click)="getPDF(cid)" label="{{classeList[cid].abbrv}} - {{campusDic[cid]}}"> </button>
        </div>
    </div>
    <div class="card">
        <button *ngIf="isAdmin" pButton class="ui-button-raised ui-button-success"
            label="Autoriser le formateur à signer" style="float:right;margin-right: 2px;"
            (click)="allowFormateur()"></button>
        <h3 *ngIf="seance">Liste des présence de la séance: {{seance.libelle}} du {{seance.date_debut | date :
            "dd/MM"}}
        </h3>
        <p-table #dt1 *ngIf="tableauPresence" [columns]="cols" [value]="tableauPresence" rowExpandMode="single"
            [rows]="10" [paginator]="true" [pageLinks]="5" [responsive]="true" [totalRecords]="tableauPresence.length"
            [globalFilterFields]="['etudiant']">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter
                            (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="etudiant" scope="col">
                        Nom & Prénom <p-sortIcon field="etudiant"></p-sortIcon>
                    </th>
                    <th pSortableColumn="isPresent" scope="col">
                        Présent <p-sortIcon field="isPresent"></p-sortIcon>
                    </th>
                    <th pSortableColumn="PresentielOrDistanciel" scope="col">
                        Distanciel/Presentiel <p-sortIcon field="PresentielOrDistanciel"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Sign" scope="col">
                        A Signé <p-sortIcon field="Sign"></p-sortIcon>
                    </th>
                    <th pSortableColumn="date_signature" scope="col">
                        Date de présence <p-sortIcon field="date_signature"></p-sortIcon>
                    </th>
                    <th scope="col">
                        Justification d'absence
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="data">
                    <td *ngIf="!data.isFormateur">{{ data.etudiant}}</td>
                    <td *ngIf="data.isFormateur"><b>{{ data.etudiant}}</b></td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-selectButton [options]="[ {value:true,label:'Présent'},{value:false,label:'Absent'}]"
                                    [(ngModel)]="data.isPresent"
                                    (onChange)='onRowEditSave(data,ri,"presence")'></p-selectButton>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{(data.isPresent)?"Oui":"Non"}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-selectButton
                                    [options]="[ {value:'Présentiel',label:'Présentiel'},{value:'Distanciel',label:'Distanciel'}]"
                                    [(ngModel)]="data.PresentielOrDistanciel"
                                    (onChange)='onRowEditSave(data,ri,"type")'></p-selectButton>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{data.PresentielOrDistanciel}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>{{(data.Sign)?"Oui":"Non"}}</td>
                    <td>{{ data.date_signature | date:'HH:mm dd/MM/YYYY' }}</td>
                    <td>
                        <!-- Action -->
                        <i *ngIf="data.justificatif" pTooltip="Télécharger la justification" tooltipPosition="bottom"
                            class="pi pi-download" (click)="downloadFile(data)" aria-hidden="true"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>