<div *ngIf="cv && user" class="imatch-main-page">
    <div class="page-content">
        <div class="top-header container">
            <a routerLink="/imatch/cvtheque" class="btn-cv btn-cv-1 btn-cv-shadow-1"><i
                    class="pi pi-arrow-left"></i>Retour</a>
            <a *ngIf="showEditBtn" (click)="gotoEdit()" class="btn-cv btn-cv-1 btn-cv-shadow-1"><i
                    class="pi pi-cog"></i>Modifier</a>
            <a (click)="takeARendezVous()" class="btn-cv btn-cv-2 btn-cv-shadow-1">Prendre un rendez-vous</a>
        </div>
        <div class="header">
            <div class="container">
                <div class="cv-title">
                    <div *ngIf="profilePic;then cv_image else default_image"></div>
                    <ng-template #cv_image>
                        <div class="img-card" style="background-image: url('{{profilePic}}');"></div>
                        <!-- <img src="{{dicPicture[cv._id].url}}"/> -->
                    </ng-template>
                    <ng-template #default_image>
                        <div *ngIf="user.civilite == 'Madame'; then is_madame else other"></div>
                        <ng-template #is_madame>
                            <div class="img-card"
                                style="background-image: url('../../../assets/images/imatch/female.png');"></div>

                            <!-- <img src='../../../assets/images/imatch/female.png'/> -->
                        </ng-template>
                        <ng-template #other>
                            <div class="img-card"
                                style="background-image: url('../../../assets/images/imatch/male.png');"></div>
                            <!-- <img src='../../../assets/images/imatch/male.png'/> -->
                        </ng-template>
                    </ng-template>
                    <div class="cv-main-info">
                        <h1 class="cv-name">{{user.firstname.substring(0, 1)}}. {{user.lastname.substring(0, 2)}}.</h1>
                        <hr>
                        <h1 class="cv-profile"> {{ cv?.profil?.libelle || cv?.competences[0]?.profile_id?.libelle ||
                            'Profil'}}</h1>
                    </div>
                </div>
                <div class="competences-block">
                    <h2>à propos</h2>
                    <p>{{cv.a_propos || 'A propos non spécifié'}}</p>
                </div>
                <div class="row other-cv-info">
                    <div class="col-md-4 col-12 block-other border-right">
                        <h2>Compétences</h2>
                        <div class="row gx-5 competence">
                            <div class="col-md col-12">
                                <p class="comp">{{cv.competences[0]?.libelle}}</p>
                            </div>
                            <div class="col-md col-12">
                                <p class="comp">{{cv.competences[1]?.libelle}}</p>
                            </div>
                            <div class="col-md col-12">
                                <p class="comp">{{cv.competences[2]?.libelle}}</p>
                            </div>
                        </div>
                        <div *ngIf="(cv.competences.length > 3)">
                            <div *ngIf="showingmore" class="row gx-5 competence">
                                <div class="col-md-4 col-12" *ngFor="let competence of cv.competences | slice:3">
                                    <p class="comp">{{competence.libelle}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="(cv.competences.length > 3) && !showingmore" class="bouton-suite"
                            (click)="showMore(cv.competences)">plus</div>
                        <div *ngIf="showingmore" class="bouton-suite" (click)="showLess(cv.competences)">moins</div>
                    </div>
                    <div class="col-md-4 col-12 block-other border-right">
                        <h2>centres D'Intérêts</h2>
                        <p>{{cv.centre_interets || "Centre d'intérets non spécifiés"}}</p>
                    </div>
                    <div class="col-md-4 col-12 block-other">
                        <h2>Langues</h2>
                        <p>{{cv.langues || 'Langues non spécifiés'}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="big-section" *ngIf="cv.education && cv.education.length!=0">
                    <h2>Education</h2>
                    <div class="section-block" *ngFor="let exp of cv.education">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} <span *ngIf="exp?.details && exp?.type">:</span> {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
                <div class="big-section" *ngIf="cv.experiences_pro && cv.experiences_pro.length!=0">
                    <h2>Expériences professionnelles</h2>
                    <div class="section-block" *ngFor="let exp of cv.experiences_pro">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} <span *ngIf="exp?.details && exp?.type">:</span> {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
                <div class="big-section" *ngIf="cv.experiences_associatif && cv.experiences_associatif.length!=0">
                    <h2>Expériences Associatives</h2>
                    <div class="section-block" *ngFor="let exp of cv.experiences_associatif">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} <span *ngIf="exp?.details && exp?.type">:</span> {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
                <div class="big-section" *ngIf="cv.informatique && cv.informatique.length!=0">
                    <h2>Informatique</h2>
                    <div class="section-block" *ngFor="let exp of cv.informatique">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} <span *ngIf="exp?.details && exp?.type">:</span> {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="main-footer">
            <div class="footer container">
                <a routerLink="/imatch/cvtheque" class="btn-cv btn-cv-3 btn-cv-shadow-2"><i
                        class="pi pi-arrow-left"></i>Retour</a>
                <a (click)="takeARendezVous()" class="btn-cv btn-cv-4 btn-cv-shadow-2">Prendre un rendez-vous</a>
            </div>
        </div>-->
    </div>
</div>