<div *ngIf="cv && user" class="imatch-main-page">
    <div class="page-content">
        <div class="top-header container">
            <a routerLink="/imatch" class="btn-cv btn-cv-1 btn-cv-shadow-1"><i class="pi pi-arrow-left"></i>Retour</a>
            <a href="#" class="btn-cv btn-cv-2 btn-cv-shadow-1">Prendre un rendez-vous</a>
        </div>
        <div class="header">
            <div class="container">
                <div class="cv-title">
                    <div *ngIf="dicPicture && dicPicture[cv._id]?.url;then cv_image else default_image"></div>
                    <ng-template #cv_image>
                        <div class="img-card" style="background-image: url('{{dicPicture[cv._id].url}}');"></div>
                        <!-- <img src="{{dicPicture[cv._id].url}}"/> -->
                    </ng-template>
                    <ng-template #default_image>
                        <div *ngIf="user.civilite == 'Madame'; then is_madame else other"></div>
                        <ng-template #is_madame>
                            <div class="img-card"
                                style="background-image: url('../../../assets/images/imatch/female.png');"></div>

                            <!-- <img src='../../../assets/images/imatch/female.png'/> -->
                        </ng-template>
                        <ng-template #other>
                            <div class="img-card"
                                style="background-image: url('../../../assets/images/imatch/male.png');"></div>
                            <!-- <img src='../../../assets/images/imatch/male.png'/> -->
                        </ng-template>
                    </ng-template>
                    <div class="cv-main-info">
                        <h1 class="cv-name">{{user.firstname.substring(0, 1)}}. {{user.lastname.substring(0, 2)}}.</h1>
                        <hr>
                        <h1 class="cv-profile">{{cv.competences[0].profile_id.libelle || "Profile non spécifié"}}</h1>
                    </div>
                </div>
                <div class="competences-block">
                    <h2>Compétences</h2>
                    <div class="row gx-5 competence">
                        <div class="col-md col-12 marg-right">
                            <p>{{cv.competences[0]?.libelle || "Compétences 1"}}</p>
                        </div>
                        <div class="col-md col-12 marg-both">
                            <p>{{cv.competences[1]?.libelle || "Compétences 2"}}</p>
                        </div>
                        <div class="col-md col-12 marg-left">
                            <p>{{cv.competences[2]?.libelle || "Compétences 3"}}</p>
                        </div>
                    </div>
                </div>

                <div class="row other-cv-info">
                    <div class="col-md-4 first-block">
                        <h2>à propos</h2>
                        <p>{{cv.a_propos || 'A propos non spécifié'}}</p>
                    </div>
                    <div class="col-md-8 second-block">
                        <div class="row gx-5">
                            <div class="col inner-area-1">
                                <h2>centres D'Intérêts</h2>
                                <p>{{cv.centre_interets || "Centre d'intérets non spécifiés"}}</p>
                            </div>
                            <div class="col inner-area-2">
                                <h2>Langues</h2>
                                <p>{{cv.langues || 'Langues non spécifiés'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="big-section" *ngIf="cv.education && cv.education.length!=0">
                    <h2>Education</h2>
                    <div class="section-block" *ngFor="let exp of cv.education">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience || 'Poste'}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} : {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
                <div class="big-section" *ngIf="cv.experiences_pro && cv.experiences_pro.length!=0">
                    <h2>Expériences professionnelles</h2>
                    <div class="section-block" *ngFor="let exp of cv.experiences_pro">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience || 'Poste'}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} : {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
                <div class="big-section" *ngIf="cv.experiences_associatif && cv.experiences_associatif.length!=0">
                    <h2>Expériences Associatives</h2>
                    <div class="section-block" *ngFor="let exp of cv.experiences_associatif">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience || 'Poste'}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} : {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
                <div class="big-section" *ngIf="cv.informatique && cv.informatique.length!=0">
                    <h2>Informatique</h2>
                    <div class="section-block" *ngFor="let exp of cv.informatique">
                        <div class="section-sub-info">
                            <h4 class="sub-info">{{exp?.intitule_experience || 'Poste'}}</h4>
                            <h4 class="sub-date">{{exp?.date_debut | date:'YYYY' || '20xx'}}-{{exp?.date_fin |
                                date:'YYYY' || '20xx'}}</h4>
                        </div>
                        <h4 class="structure-name">{{exp?.structure}}</h4>
                        <div class="section-details">
                            <p>{{exp?.type}} : {{exp?.details}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-footer">
            <div class="footer container">
                <a routerLink="/imatch" class="btn-cv btn-cv-3 btn-cv-shadow-2"><i
                        class="pi pi-arrow-left"></i>Retour</a>
                <a href="#" class="btn-cv btn-cv-4 btn-cv-shadow-2">Prendre un rendez-vous</a>
            </div>
        </div>
    </div>
</div>