<p-toast></p-toast>
<div class="grid col-12 m-2">
    <div class="col-2">

    </div>
    <form class="p-fluid p-formgrid grid md:col-8 col-12 card" (ngSubmit)="saveFormulaire()" [formGroup]="RegisterForm"
        *ngIf="ETAT=='DEBUT'">
        <!--<div class="col-12">
            <h1>Event title</h1>
            <p>
                ICBS training Institute is offering an opportunity to everyone to test their language profeciency and
                learn several new langauges, You are invited to fill this form and join us on the 27th of May.
            </p>
        </div>-->
        <div class="field md:col-6 col-12">
            <label>Full Name <span style="color:red"> *</span></label>
            <input pInputText formControlName="name" type="text" placeholder="Ex: John Smith" />
        </div>
        <div class="field md:col-6 col-12">
            <label>Age <span style="color:red"> *</span></label>
            <p-inputNumber inputId="integeronly" formControlName="age">
            </p-inputNumber>
        </div>
        <div class="field md:col-6 col-12">
            <label>Valid Phone Number <span style="color:red"> *</span></label><br>
            <ngx-intl-tel-input class="pInputText" [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.UnitedArabEmirates" [phoneValidation]="true"
                [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phone"
                formControlName="phone"> </ngx-intl-tel-input>
            <p style="color:red" *ngIf="phone.invalid && (phone.touched || phone.dirty)">The phone number is
                invalid, please respect the format</p>
        </div>
        <div class="field md:col-6 col-12">
            <label>Valid whatsapp number <span style="color:red"> *</span></label><br>
            <ngx-intl-tel-input class="pInputText" [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.UnitedArabEmirates" [phoneValidation]="true"
                [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="whatsapp"
                formControlName="whatsapp"> </ngx-intl-tel-input>
            <p style="color:red" *ngIf="phone.invalid && (phone.touched || phone.dirty)">The phone number is
                invalid, please respect the format</p>
        </div>
        <div class="field md:col-6 col-12">
            <label>Email Adress <span style="color:red"> *</span></label>
            <input pInputText formControlName="email" type="email" placeholder="Ex: john.smith@gmail.com" />
        </div>

        <div class="field md:col-6 col-12">
            <label>Occupation <span style="color:red"> *</span></label>
            <p-dropdown placeholder="Choose a occupation" [options]="occupations"
                formControlName="occupation"></p-dropdown>
        </div>
        <div class="field md:col-6 col-12" *ngIf="RegisterForm.value.occupation=='Employee'">
            <label>In which field are you working ? <span style="color:red"> *</span></label>
            <input pInputText formControlName="field" type="text" placeholder="Ex: IT" />
        </div>
        <div class="field col-12">
            <label>Which language do you prefer to learn ? <span style="color:red"> *</span></label>
            <p-dropdown placeholder="Choose a language" [options]="languages" formControlName="langue"></p-dropdown>
        </div>
        
        <div class="field col-12">
            <label>Will you be able to join us on campus or you prefer to pass the test online ? <span style="color:red"> *</span></label>
            <div *ngFor="let testType of testTypes" class="field-checkbox">
                <p-radioButton [inputId]="testType.key" [value]="testType" formControlName="testType"></p-radioButton>
                <label [for]="testType.key" class="ml-2">{{ testType.name }}</label>
            </div>
        </div>
        
        <div class="field col-12">
            <button pButton type="submit" label="Ajouter" [disabled]="RegisterForm.invalid"></button>
        </div>
    </form>
    <div class="grid md:col-8 col-12 card" *ngIf="ETAT!='DEBUT'">
        <h2 class="col-12 flex justify-content-center flex-wrap card-container">Félicitations !
            Votre candidature a été envoyé !</h2>
        <div class="col-12 flex justify-content-center flex-wrap card-container">
            <img src="assets/images/félicitations.png" style="width: 380px; height: 380px; text-align: center;">
        </div>
    </div>
</div>