<p-toast></p-toast>
<div class="grid">
    <!-- Formulaire d'ajout d'une note par classe et par examen-->
    <div class="col-12" *ngIf="showFormAddNoteByClasseByExam">
        <div class="card">
            <h3>Ajouter une note</h3>
            <i class="pi pi-times-circle" style="float:right; color: red;"
                (click)="showFormAddNoteByClasseByExam = false; formAddNoteByClasseByExam.reset()"
                aria-hidden="true"></i>
            <form [formGroup]="formAddNoteByClasseByExam" (ngSubmit)="onAddNoteByClasseByExam()"
                class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label For="note">Note</label>
                    <input pInputText id="note" formControlName="note_val" placeholder="Veuillez saisir la note"
                        type="number" step="0.01" />
                    <div *ngIf="note_val_esm.invalid && (note_val_esm.touched || note_val_esm.dirty)">
                        <span *ngIf="note_val_esm.errors?.pattern" style="color: red;">
                            La valeur de la note n'est pas dans le bon format
                        </span>
                    </div>
                </div>

                <div class="field col-12 md:col-12">
                    <label>Etudiant</label>
                    <p-dropdown formControlName="etudiant_id" [options]="dropdownEtudiant" optionLabel="libelle"
                        emptyFilterMessage="Pas d'étudiant trouvé" filterPlaceholder="Etudiant" filter="true">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-12">
                    <label For="appreciation">Appreciation</label>
                    <input pInputText id="appreciation" formControlName="appreciation"
                        placeholder="Veuillez saisir une appreciation" type="text" />

                    <div *ngIf="appreciation_esm.invalid && (appreciation._esmtouched || appreciation_esm.dirty)">
                        <span *ngIf="appreciation_esm.errors?.pattern" style="color: red;">
                            L'appreciation n'est pas dans le bon format
                        </span>
                    </div>
                </div>
                <div class="field col-12 md:col-6" *ngIf="note_val.value!=null && note_val.value<1">
                    <label>Absent Justifié ?</label>
                    <p-selectButton [options]="[{label:'Oui',value:true},{label:'Non',value:false}]"
                        formControlName="isAbsent"></p-selectButton>
                </div>

                <div>
                    <button pButton label="Ajouter" type="submit"
                        [disabled]="formAddNoteByClasseByExam.invalid"></button>
                </div>
            </form>
        </div>
    </div>


    <!-- Formulaire de modification d'une note -->
    <div class="col-12" *ngIf="showFormUpdateNote">
        <div class="card">
            <h3>Modifier une note</h3>
            <i class="pi pi-times-circle" style="float:right; color: red;"
                (click)="showFormUpdateNote = false; formUpdateNote.reset()" aria-hidden="true"></i>

            <form [formGroup]="formUpdateNote" (ngSubmit)="onUpdateNote()" class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label For="examen">Examen</label>
                    <p-dropdown formControlName="examen_id" [options]="dropdownExamen" optionLabel="libelle"
                        emptyFilterMessage="Pas d'examen trouvé" filterPlaceholder="Examen" filter="true">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="note">Note</label>
                    <input pInputText id="note" formControlName="note_val" placeholder="Veuillez saisir la note"
                        type="text" />

                    <div *ngIf="note_val_m.invalid && (note_val_m.touched || note_val_m.dirty)">
                        <span *ngIf="note_val_m.errors?.pattern" style="color: red;">
                            La valeur de la note n'est pas dans le bon format
                        </span>
                    </div>
                </div>

                <div class="field col-12 md:col-6">
                    <label>Semestre</label>
                    <p-dropdown formControlName="semestre" [options]="dropdownSemestre" optionLabel="libelle"
                        emptyFilterMessage="Pas de semestre trouvé" filterPlaceholder="Semestre" optionDisabled="actif"
                        filter="true">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-12">
                    <label>Etudiant</label>
                    <p-dropdown formControlName="etudiant_id" [options]="dropdownEtudiant" optionLabel="libelle"
                        emptyFilterMessage="Pas d'étudiant trouvé" filterPlaceholder="Etudiant" filter="true">
                    </p-dropdown>
                </div>

                <div class="field col-12 md:col-6">
                    <label For="appreciation">Appreciation</label>
                    <input pInputText id="appreciation" formControlName="appreciation"
                        placeholder="Veuillez saisir une appreciation" type="text" />

                    <div *ngIf="appreciation_m.invalid && (appreciation_m.touched || appreciation_m.dirty)">
                        <span *ngIf="appreciation_m.errors?.pattern" style="color: red;">
                            L'appreciation n'est pas dans le bon format
                        </span>
                    </div>
                </div>

                <div>
                    <button pButton label="Modifier" type="submit" [disabled]="formUpdateNote.invalid"></button>
                </div>
            </form>
        </div>
    </div>


    <!-- Formulaire de selection d'une classe -->
    <div class="col-12" *ngIf="showFormSelectClasse">
        <div class="card">
            <h3>Veuillez choisir la classe</h3>
            <i class="pi pi-times-circle" style="float:right; color: red;"
                (click)="showFormSelectClasse = false; dropdownExamByClasse = [];" aria-hidden="true"></i>

            <form [formGroup]="formSelectClasse" (ngSubmit)="onSelectClasse()" class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label>Classe</label>
                    <p-dropdown formControlName="classe" [options]="dropdownClasse" optionLabel="libelle"
                        emptyFilterMessage="Pas de classe trouvé" filterPlaceholder="Classe" filter="true">
                    </p-dropdown>
                </div>

                <div>
                    <button pButton label="Continuer" type="submit" [disabled]="formSelectClasse.invalid"></button>
                </div>
            </form>
        </div>
    </div>


    <!-- Formulaire de selection d'un examen -->
    <p-toast key="tst" [baseZIndex]="99999"></p-toast>

    <div class="col-12" *ngIf="showFormSelectExam">
        <div class="card" *ngIf="isAnneeScolaire">
            <h3>Veuillez choisir un examen</h3>
            <i class="pi pi-times-circle" style="float:right; color: red;" (click)="showFormSelectExam = false"
                aria-hidden="true"></i>

            <form [formGroup]="formSelectExam" (ngSubmit)="onSelectExam()" class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label>Examen</label>
                    <p-dropdown formControlName="examen" [options]="dropdownExamByClasse" optionLabel="libelle"
                        emptyFilterMessage="Pas d'examen trouvé" filterPlaceholder="Examen" filter="true">
                    </p-dropdown>
                </div>

                <div>
                    <button pButton label="Continuer" type="submit" [disabled]="formSelectExam.invalid"></button>
                </div>
            </form>
        </div>
    </div>

    <!-- Formulaire de generation de bulletin de note -->
    <div class="col-12" *ngIf="showFormGenerateBulletin">
        <div class="card">
            <h3>Générer un bulletin de note</h3>
            <i class="pi pi-times-circle" style="float:right; color: red;" (click)="showFormGenerateBulletin = false"
                aria-hidden="true"></i>

            <form [formGroup]="formGenerateBulletin" (ngSubmit)="onGenerateClasse()" class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label For="classe">Classe</label>
                    <p-dropdown formControlName="classe" [options]="dropdownClasse" optionLabel="libelle"
                        emptyFilterMessage="Pas de classe trouvé" filterPlaceholder="Classe" filter="true">
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label For="semestre">Semestre</label>
                    <p-dropdown formControlName="semestre"
                        [options]="[{ libelle: 'Choissisez un semestre', value: 'Choissisez un semestre', actif: true },{ libelle: '1er', value: 'Semestre 1', actif: false },{ libelle: '2ème', value: 'Semestre 2', actif: false }]"
                        optionLabel="libelle" emptyFilterMessage="Pas de semestre trouvé" filterPlaceholder="Semestre"
                        optionDisabled="actif" filter="true">
                    </p-dropdown>
                </div>

                <div>
                    <button pButton label="Afficher la classe" type="submit"
                        [disabled]="formGenerateBulletin.invalid"></button>
                </div>
            </form>
        </div>
    </div>


    <!-- Formulaire de saisie d'appreciation générale -->
    <div class="col-12" *ngIf="showFormAppreciationGenerale">
        <div class="card">
            <h3>Appréciation générale</h3>
            <i class="pi pi-times" style="float:right;" (click)="showFormAppreciationGenerale = false"
                aria-hidden="true">
            </i>

            <form [formGroup]="formAppreciationGenerale" (ngSubmit)="onSetAppreciationGenerale()"
                class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label For="appreciation">Appréciation du semestre</label>
                    <input type="text" id="appreciation" formControlName="appreciation" placeholder="appreciation"
                        pInputText>
                    <small style="color: red;">L'appréciation est définie pour le semestre actuel</small>
                </div>
                <div class="field col-12" *ngFor="let note of notesForGenerateBulletin; let i = index">
                    <div class="grid col-12">
                        <div class="col-6 md:col-6">
                            <label>Module: </label>
                            <h4>{{note.matiere_name}}</h4>
                        </div>
                        <div class="col-6 md:col-6">
                            <label>Appreciation: </label>
                            <input type="text" (change)="changeAppreciation(note.matiere_id,$event.target.value)"
                                placeholder="Très bon semestre" pInputText>
                        </div>
                    </div>
                </div>

                <div class="field col-12">
                    <button pButton label="Ajouter l'appréciation" type="submit"
                        [disabled]="formAppreciationGenerale.invalid"></button>
                </div>
            </form>
        </div>
    </div>


    <!-- Formulaire de mise à jour d'une appreciation générale -->
    <div class="col-12" *ngIf="showFormUpdateAppreciationGenerale">
        <div class="card">
            <h3>Appréciation générale</h3>
            <i class="pi pi-times" style="float:right;" (click)="showFormUpdateAppreciationGenerale = false"
                aria-hidden="true">
            </i>
            <form [formGroup]="formUpdateAppreciationGenerale" (ngSubmit)="onUpdateAppreciationGenerale()"
                class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label For="appreciation">Appréciation</label>
                    <input type="text" id="appreciation" formControlName="appreciation" placeholder="appreciation"
                        pInputText>
                </div>
                <div class="col-12" *ngFor="let note of notesForGenerateBulletin; let i = index">
                    <div class="grid col-12">
                        <div class="col-6 md:col-6">
                            <label>Module: </label>
                            <h4>{{note.matiere_name}}</h4>
                        </div>
                        <div class="col-6 md:col-6">
                            <label>Appreciation: </label>
                            <input type="text" [value]="appreciationModules[note.matiere_id]"
                                (change)="changeAppreciation(note.matiere_id,$event.target.value)"
                                placeholder="Très bon semestre" pInputText>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button pButton label="Modifier l'appréciation" type="submit"
                        [disabled]="formUpdateAppreciationGenerale.invalid"></button>
                </div>
            </form>
        </div>
    </div>

    <!-- Formulaire de rachat d'un étudiant -->
    <div class="col-12" *ngIf="showFormRacheter">
        <div class="card">
            <i class="pi pi-times" style="float:right;" (click)="showFormRacheter = false" aria-hidden="true">
            </i>
            <h3>Racheter {{ users[etudiantToGenerateBulletin.user_id]?.lastname | uppercase }}
                {{users[etudiantToGenerateBulletin.user_id]?.firstname }}</h3>
            <form (ngSubmit)="onSubmitRachat()" class="p-fluid p-formgrid grid">
                <div *ngFor="let r of rachatEtudiant; let i = index" class="col-12">
                    <div class="grid">
                        <div class="col-6" *ngIf="rachatEtudiant[i]['isNew']==true">
                            <label>Module: </label>
                            <p-dropdown [options]="matiereRachat"
                                (onChange)="updateRachatEtudiant(i,$event,'matiere_id')"></p-dropdown>
                        </div>
                        <div class="col-6" *ngIf="rachatEtudiant[i]['isNew']==false">
                            <label>Module: </label>
                            <p>{{matieres[rachatEtudiant[i]['matiere_id']].nom}}</p>
                        </div>
                        <div class="col-6" *ngIf="rachatEtudiant[i]['dispensed']!=true">
                            <label>Nouvelle Moyenne: </label><br>
                            <input type="number" step="0.01" [value]="rachatEtudiant[i]['fixed_moy']"
                                (change)="updateRachatEtudiant(i,$event.target.value,'fixed_moy')" placeholder="10.00"
                                pInputText>
                        </div>
                        <div class="col-6" *ngIf="rachatEtudiant[i]['isNew']==true">
                            <label>Dispenser ? </label><br>
                            <p-selectButton [value]="rachatEtudiant[i]['dispensed']"
                                [options]="[{label:'Oui',value:true},{label:'Non',value:false}]"
                                (onChange)="updateRachatEtudiant(i,$event.value,'dispensed')"></p-selectButton>
                        </div>
                        <div class="col-6"
                            *ngIf="rachatEtudiant[i]['isNew']==false && rachatEtudiant[i]['dispensed']==true">
                            <label>Dispenser:</label><br>
                            <p>Cette étudiant est dispensé de cette matière</p>
                        </div>

                        <div class="col-6"
                            *ngIf="semestreForGenerateBulletin=='Annuel' && rachatEtudiant[i]['isNew']==true">
                            <label>Semestre: </label>
                            <p-dropdown [options]="dropdownSemestre" optionLabel="libelle"
                                (onChange)="updateRachatEtudiant(i,$event.value,'semestre')"
                                emptyFilterMessage="Pas de semestre trouvé" filterPlaceholder="Semestre"
                                optionDisabled="actif" filter="true">
                            </p-dropdown>
                        </div>

                        <div class="col-6"
                            *ngIf="semestreForGenerateBulletin=='Annuel' && rachatEtudiant[i]['isNew']==false">
                            <label>Semestre: </label>
                            <p>{{rachatEtudiant[i]['semestre']}}</p>
                        </div>

                        <div class="field col-2 md:col-1">
                            <i class="pi pi-trash my-2" (click)="deleteRachatEtudiant(i, rachatEtudiant[i]['isNew'])"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <button pButton label="Racheter l'étudiant" type="submit"></button>
                </div>
                <div class="col-6">
                    <button type="button" (click)="addRachatEtudiant()" pButton
                        label="Ajouter un rachat à l'étudiant"></button>
                </div>
            </form>
        </div>
    </div>


    <!-- Modèle de bulletin de note -->
    <div class="col-12" *ngIf="showBulletin">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; color: red"
                (click)="showBulletin = false; notesForGenerateBulletin = [];" aria-hidden="true">
            </i>
            <h3>Prévisualisation du bulletin</h3>

            <div style="float: right;">
                <button pButton (click)="showFormRacheter = true;initRachatEtudiant()" type="button"
                    label="Racheter l'étudiant" class="ml-1" *ngIf="!hideBtn">
                </button>
                <button pButton (click)="showFormAppreciationGenerale = true;initAppreciation('set')" type="button"
                    label="Saisir appréciation générale" *ngIf="!hideBtn && showBtnAddAppreciationGenerale"
                    class="ml-1">
                </button>

                <button pButton (click)="showFormUpdateAppreciationGenerale = true;
                                        appreciationToUpdate = appreciationGenerale;initAppreciation('update')"
                    class="ml-1" type="button" label="Modifier l'appréciation générale"
                    *ngIf="!hideBtn && showBtnUpdateAppreciationGenerale">
                </button>

                <button pButton class="ml-1" *ngIf="!hideBtn" (click)="onGenerateBulletin();hideBtn = true"
                    type="button" style="float:right;" label="Exporter en pdf">
                </button>
            </div>


            <div id="content">
                <div style="float: left; margin-top: 80px; margin-left: 20px;">
                    <p *ngIf="etudiantToGenerateBulletin && users[etudiantToGenerateBulletin.user_id]">
                        Année scolaire <strong>{{ anneScolaire.libelle }}</strong> <br>
                        Bulletin du {{ semestreForGenerateBulletin }} <br>
                        <strong>{{ classeForBGenerateBulletin.titre_long }}</strong>
                        <br>
                    </p>
                </div>

                <div style="float: right; margin-top: 80px;">
                    <p>
                        <strong>{{users[etudiantToGenerateBulletin.user_id]?.civilite | i18nSelect :genderMap}} {{
                            users[etudiantToGenerateBulletin.user_id]?.lastname | uppercase }} {{
                            users[etudiantToGenerateBulletin.user_id]?.firstname | titlecase }} </strong> <br>
                        Né(e) le {{ etudiantToGenerateBulletin.date_de_naissance | date:'dd/MM/yyyy' }} <br>
                    </p>
                    <p>
                        {{users[etudiantToGenerateBulletin.user_id]?.numero_adresse}}
                        {{users[etudiantToGenerateBulletin.user_id]?.rue_adresse}}
                        {{users[etudiantToGenerateBulletin.user_id]?.postal_adresse}} <br>
                        {{users[etudiantToGenerateBulletin.user_id]?.ville_adresse}}
                        {{users[etudiantToGenerateBulletin.user_id]?.pays_adresse}}
                    </p>
                </div>

                <figure>
                    <img src="assets/images/logo-estya-flag.png" alt="LOGO" width="130" height="80">
                    <figcaption *ngIf="activeCampus" style="margin: 10px;">{{ activeCampus.adresse }} <br> {{
                        activeCampus.ville }},
                        {{ activeCampus.pays }}</figcaption>
                </figure>

                <p-table [value]="notesForGenerateBulletin" class="bulletin" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="1">Etudiant</th>
                            <th colspan="3">Promotion</th>
                        </tr>
                        <tr>
                            <th>Modules</th>
                            <th>Formateur</th>
                            <th style="width: 4em;">Coef</th>
                            <th colspan="2">Moyenne</th>
                            <!--<th style="width: 5em;">Moy. S2</th>
                            <th style="width: 5em;">Moy. Annuel</th>
                            <th style="width: 5em;">Moy.</th>-->
                            <th style="width: 5em;">Min.</th>
                            <th style="width: 5em;">Max.</th>
                            <th>ECTS</th>
                            <th>Appréciations</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-note>
                        <tr>
                            <td>{{ note.matiere_name}}</td>
                            <td
                                *ngIf="dicFormateurMatiere[note.matiere_id] && users[dicFormateurMatiere[note.matiere_id]]">
                                {{users[dicFormateurMatiere[note.matiere_id]].lastname | uppercase}}
                                {{users[dicFormateurMatiere[note.matiere_id]].firstname | titlecase}}
                            </td>
                            <td
                                *ngIf="!dicFormateurMatiere[note.matiere_id] || !users[dicFormateurMatiere[note.matiere_id]]">
                                Formateur Référent
                            </td>
                            <td style="width: 4em;">{{ note.coef }}</td>
                            <td style="width: 5em;text-align: right;"
                                *ngIf="!note.isDispensed && note.moy_etu!=0.00000000001">{{ note.moy_etu |
                                number : '0.1-2' }}</td>
                            <td style="width: 5em;" *ngIf="note.isDispensed">Dispensé</td>
                            <td style="width: 5em;" *ngIf="note.moy_etu==0.00000000001">Absent</td>
                            <!--<td style="width: 5em;">{{ note.moy_etu | number : '0.1-2' }}</td>
                            <td style="width: 5em;">{{ note.moy_etu | number : '0.1-2' }}</td>-->
                            <td style="width: 5em;text-align: right;">{{ note.moy_classe | number : '0.1-2' }}</td>
                            <td style="width: 5em;text-align: right;">{{ note.min_classe | number : '0.1-2' }}</td>
                            <td style="width: 5em;text-align: right;">{{ note.max_classe | number : '0.1-2' }}</td>
                            <td>{{ note.ects }}</td>
                            <td *ngIf="appreciationModules && appreciationModules[note.matiere_id]">{{
                                appreciationModules[note.matiere_id] }}</td>
                            <td *ngIf="!appreciationModules || !appreciationModules[note.matiere_id]"></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="3">Moyenne générale</td>
                            <td style="text-align: right;">{{ moyEtudiant | number : '0.1-2' }}</td>
                            <!--<td>{{ moyEtudiant | number : '0.1-2' }}</td>
                            <td>{{ moyEtudiant | number : '0.1-2' }}</td>-->
                            <td colspan="4"></td>
                            <td *ngIf="showAppreciationGenerale" style="text-align: left;"> {{
                                appreciationGenerale.appreciation }}</td>
                        </tr>

                        <br>

                        <tr>
                            <td colspan="2">Décision du conseil de classe</td>
                        </tr>
                        <tr>
                            <td colspan="2">Semestre validé</td>
                            <td *ngIf="moyEtudiant >= 10">X</td>
                            <td *ngIf="moyEtudiant < 10"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Semestre non validé</td>
                            <td *ngIf="moyEtudiant >= 10"></td>
                            <td *ngIf="moyEtudiant < 10">X</td>
                        </tr>
                    </ng-template>
                </p-table>
                <p style="font-size: 10px;">AUCUN DUPLICATA NE SERA DELIVRE</p>
                <img src="assets/images/service-administratif.png" alt="signature"
                    style="float: right; width: 30%; height: 30%;">
                <img src="assets/images/footer-bulletinv2.png" alt="footer"
                    style="display: block; margin-left: auto; margin-right: auto; clear: both;" width="800">

            </div>
        </div>
    </div>

    <div class="col-12" *ngIf="showPVAnnuel">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; color: red"
                (click)="showPVAnnuel = false; notesForGenerateBulletin = [];" aria-hidden="true">
            </i>

            <div style="float: right;">
                <button pButton (click)="showFormRacheter = true;initRachatEtudiant()" type="button"
                    label="Racheter l'étudiant" class="ml-1" *ngIf="!hideBtn">
                </button>
                <button pButton (click)="showFormAppreciationGenerale = true;initAppreciation('set')" type="button"
                    label="Saisir appréciation générale" *ngIf="!hideBtn && showBtnAddAppreciationGenerale"
                    class="ml-1">
                </button>

                <button pButton (click)="showFormUpdateAppreciationGenerale = true;
                                        appreciationToUpdate = appreciationGenerale;initAppreciation('update')"
                    class="ml-1" type="button" label="Modifier l'appréciation générale"
                    *ngIf="!hideBtn && showBtnUpdateAppreciationGenerale">
                </button>

                <button pButton class="ml-1" *ngIf="!hideBtn" (click)="onGenerateBulletin('contentAnnuel');"
                    type="button" style="float:right;" label="Exporter en pdf">
                </button>
            </div>
            <h3>Prévisualisation du bulletin Annuel</h3>



            <div id="contentAnnuel">
                <div style="float: left; margin-top: 80px; margin-left: 20px;">
                    <img src="assets/images/logo-estya-flag.png" alt="LOGO" width="130" height="80">
                    <!--TODO Logo different en fonction de l'école-->
                    <p *ngIf="activeCampus" style="margin: 10px;">{{ activeCampus.adresse }} <br> {{
                        activeCampus.ville }},
                        {{ activeCampus.pays }}</p>
                    <p *ngIf="etudiantToGenerateBulletin && users[etudiantToGenerateBulletin.user_id]">
                        Année scolaire <strong>{{ anneScolaire.libelle }}</strong> <br>
                        Bulletin Annuel <br>
                        <strong>{{ classeForBGenerateBulletin.titre_long }}</strong>
                        <br>
                    </p>
                    <p style="font-size: 10px;">AUCUN DUPLICATA NE SERA DELIVRE</p>
                </div>

                <div style="float: right; margin-top: 80px;">
                    <p>
                        <strong>{{users[etudiantToGenerateBulletin.user_id]?.civilite | i18nSelect :genderMap}}{{
                            users[etudiantToGenerateBulletin.user_id]?.lastname | uppercase }} {{
                            users[etudiantToGenerateBulletin.user_id]?.firstname | uppercase }} </strong> <br>
                        Né(e) le {{ etudiantToGenerateBulletin.date_de_naissance | date:'dd/MM/yyyy' }} <br>
                    </p>
                    <p>
                        {{users[etudiantToGenerateBulletin.user_id]?.numero_adresse}}
                        {{users[etudiantToGenerateBulletin.user_id]?.rue_adresse}}
                        {{users[etudiantToGenerateBulletin.user_id]?.postal_adresse}} <br>
                        {{users[etudiantToGenerateBulletin.user_id]?.ville_adresse}}
                        {{users[etudiantToGenerateBulletin.user_id]?.pays_adresse}}
                    </p>
                </div>

                <p-table [value]="notesForGenerateBulletin" class="bulletin" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="3">Moyenne</th>
                            <th colspan="3">Promotion</th>
                        </tr>
                        <tr>
                            <th>Modules</th>
                            <th>Formateur</th>
                            <th style="width: 4em;">Coef</th>
                            <th style="width: 5em;">Semestre 1</th>
                            <th style="width: 5em;">Semestre 2</th>
                            <th style="width: 5em;">Annuel</th>
                            <th style="width: 5em;">Moy.</th>
                            <th style="width: 5em;">Min.</th>
                            <th style="width: 5em;">Max.</th>
                            <th>ECTS</th>
                            <th>Appréciations</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-note>
                        <tr>
                            <td>{{ note.matiere_name}}</td>
                            <td
                                *ngIf="dicFormateurMatiere[note.matiere_id] && users[dicFormateurMatiere[note.matiere_id]]">
                                {{users[dicFormateurMatiere[note.matiere_id]].lastname | uppercase}}
                                {{users[dicFormateurMatiere[note.matiere_id]].firstname | titlecase}}
                            </td>
                            <td
                                *ngIf="!dicFormateurMatiere[note.matiere_id] || !users[dicFormateurMatiere[note.matiere_id]]">
                                Formateur Référent
                            </td>
                            <td style="width: 4em;">{{ note.coef }}</td>
                            <!-- Note Semestre 1 -->
                            <td style="width: 5em;text-align: right;"
                                *ngIf="note['Semestre 1'] && !note['Semestre 1'].isDispensed && note['Semestre 1'].moy_etu!=0.00000000001">
                                {{note['Semestre 1'].moy_etu | number : '0.1-2' }}</td>
                            <td style="width: 5em;" *ngIf="note['Semestre 1'] && note['Semestre 1'].isDispensed">
                                Dispensé</td>
                            <td style="width: 5em;"
                                *ngIf="note['Semestre 1'] && note['Semestre 1'].moy_etu==0.00000000001">Absent</td>
                            <td style="width: 5em;" *ngIf="!note['Semestre 1']"> </td>
                            <!-- Note Semestre 2 -->
                            <td style="width: 5em;text-align: right;"
                                *ngIf="note['Semestre 2'] && !note['Semestre 2'].isDispensed && note['Semestre 2'].moy_etu!=0.00000000001">
                                {{note['Semestre 2'].moy_etu |number : '0.1-2' }}</td>
                            <td style="width: 5em;" *ngIf="note['Semestre 2'] && note['Semestre 2'].isDispensed">
                                Dispensé</td>
                            <td style="width: 5em;"
                                *ngIf="note['Semestre 2'] && note['Semestre 2'].moy_etu==0.00000000001">Absent</td>
                            <td style="width: 5em;" *ngIf="!note['Semestre 2']"> </td>
                            <!-- Note Annuel -->
                            <td style="width: 5em;text-align: right;"
                                *ngIf="!note['Annuel'].isDispensed && note['Annuel'].moy_etu!=0.00000000001">
                                {{ note['Annuel'].moy_etu |number : '0.1-2' }}</td>
                            <td style="width: 5em;" *ngIf="note['Annuel'].isDispensed">Dispensé</td>
                            <td style="width: 5em;" *ngIf="note['Annuel'].moy_etu==0.00000000001">Absent</td>
                            <!-- Moyenne -->
                            <td style="width: 5em;text-align: right;">{{ note['Annuel'].moy_classe | number : '0.1-2' }}
                            </td>
                            <td style="width: 5em;text-align: right;">{{ note['Annuel'].min_classe | number : '0.1-2' }}
                            </td>
                            <td style="width: 5em;text-align: right;">{{ note['Annuel'].max_classe | number : '0.1-2' }}
                            </td>
                            <td>{{ note.ects }}</td>
                            <td *ngIf="appreciationModules && appreciationModules[note.matiere_id]">{{
                                appreciationModules[note.matiere_id] }}</td>
                            <td *ngIf="!appreciationModules || !appreciationModules[note.matiere_id]"></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="3">Moyenne générale</td>
                            <td style="text-align: right;" *ngIf="moyEtudiantAnnuel['Semestre 1']!=0.00000000001">{{
                                moyEtudiantAnnuel['Semestre 1'] | number : '0.1-2' }}</td>
                            <td *ngIf="moyEtudiantAnnuel['Semestre 1']==0.00000000001">
                                Absent
                            </td>
                            <td style="text-align: right;" *ngIf="moyEtudiantAnnuel['Semestre 2']!=0.00000000001">{{
                                moyEtudiantAnnuel['Semestre 2'] | number : '0.1-2' }}</td>
                            <td *ngIf="moyEtudiantAnnuel['Semestre 2']==0.00000000001">
                                Absent
                            </td>
                            <td style="text-align: right;" *ngIf="moyEtudiantAnnuel['Annuel']!=0.00000000001">{{
                                moyEtudiantAnnuel['Annuel'] | number : '0.1-2' }}</td>
                            <td *ngIf="moyEtudiantAnnuel['Annuel']==0.00000000001">
                                Absent
                            </td>
                            <td colspan="4"></td>
                            <td *ngIf="showAppreciationGenerale" style="text-align: center;"> {{
                                appreciationGenerale.appreciation }}</td>
                        </tr>

                        <br>

                        <tr>
                            <td colspan="2">Décision du conseil de classe</td>
                        </tr>
                        <tr>
                            <td colspan="2">Année validé</td>
                            <td *ngIf="moyEtudiantAnnuel['Annuel'] >= 10">X</td>
                            <td *ngIf="moyEtudiantAnnuel['Annuel'] < 10"></td>
                        </tr>
                        <tr>
                            <td colspan="2">Année non validé</td>
                            <td *ngIf="moyEtudiantAnnuel['Annuel'] >= 10"></td>
                            <td *ngIf="moyEtudiantAnnuel['Annuel'] < 10">X</td>
                        </tr>
                    </ng-template>
                </p-table>

                <img src="assets/images/service-administratif.png" alt="signature"
                    style="float: right; width: 30%; height: 30%;">
                <img src="assets/images/footer-bulletinv2.png" alt="footer"
                    style="display: block; margin-left: auto; margin-right: auto; clear: both;" width="800">

            </div>
        </div>
    </div>



    <!-- Table d'affichage de toutes les notes par classes -->
    <div class="col-12" *ngIf="showGenerateBulletin">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; color: red;" (click)="showGenerateBulletin=false"
                aria-hidden="true"></i>
            <h3 *ngIf="classeForBGenerateBulletin && semestreForGenerateBulletin">Notes par classe: {{
                classeForBGenerateBulletin.nom }} - {{ semestreForGenerateBulletin }}</h3>

            <p-table #dt1 [value]="etudiantFromClasse" dataKey="_id" responsiveLayout="scroll"
                [globalFilterFields]="['user_id', 'examen_id', 'note_val', 'note_max']" [rows]="5" [pageLinks]="5"
                [paginator]="true" rowExpandMode="single" [totalRecords]="etudiantFromClasse.length"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center" pSortableColumn="user_id">
                                Nom
                            </div>
                        </th>
                        <th>
                            <div pSortableColumn="note_val" class="flex justify-content-between align-items-center"
                                pSortableColumn="user_id">
                                Prénom
                            </div>
                        </th>
                        <th style="width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-etudiant>
                    <tr>
                        <td>{{ users[etudiant.user_id]?.firstname }}</td>
                        <td>{{ users[etudiant.user_id]?.lastname }}</td>
                        <td>
                            <!--<i style="margin-left: 2%;" class="pi pi-file-excel" title="Générer le bulletin"
                                aria-hidden="true" (click)="moyEtudiant = null;
                                     notesForGenerateBulletin = [];
                                     onNullAppreciationGenerale();
                                     etudiantToGenerateBulletin = etudiant; 
                                     onGetNotes();
                                     onGetAppreciationGenerale();
                                     showBulletin = true;"></i>-->
                            <i class="pi pi-file-excel" pTooltip="Générer le bulletin" (click)="moyEtudiant = null;
                                notesForGenerateBulletin = [];
                                onNullAppreciationGenerale();
                                GenerateBulletin2(etudiant._id,semestreForGenerateBulletin);
                                etudiantToGenerateBulletin = etudiant;this.appreciationGenerale = {};
                                onGetAppreciationGenerale(); hideBtn=false"></i>
                            <!--<i class="pi pi-file-excel" pTooltip="Générer le bulletin Annuel" (click)="
                                moyEtudiant = null;
                                notesForGenerateBulletin = [];
                                onNullAppreciationGenerale();
                                GenerateBulletinAnnuel(etudiant._id);
                                etudiantToGenerateBulletin = etudiant;
                                onGetAppreciationGenerale(); hideBtn=false"></i>-->
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>


    <!-- Table d'ajout de note par classe -->
    <div class="col-12" *ngIf="showTableAddnotes">
        <div class="card">
            <i class="pi pi-times-circle" style="float:right; color: red;" (click)="showTableAddnotes = false"
                aria-hidden="true">
            </i>
            <button style="float:right;" pButton (click)="showFormAddNoteByClasseByExam = true"
                label="Ajouter"></button>

            <h3>Saisie de notes</h3>
            <p>
                Classe: <strong>{{ classeSelected.abbrv }}</strong> <br />
                Examen: <strong>{{ matieres[examSelected.matiere_id]?.nom }}</strong> <br />
                Semestre: <strong>{{ semestreSelected }}</strong>
            </p>

            <p-table #dt1 [value]="notesByClasseBySemestre" dataKey="_id" responsiveLayout="scroll"
                [globalFilterFields]="['note_val', 'semestre']" [rows]="10" [pageLinks]="10" [paginator]="true"
                rowExpandMode="single" [totalRecords]="notesByClasseBySemestre.length"
                styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nom et prénom
                            </div>
                        </th>
                        <th>
                            <div pSortableColumn="note_val" class="flex justify-content-between align-items-center">
                                Note
                            </div>
                        </th>
                        <th>
                            <div pSortableColumn="appreciation" class="flex justify-content-between align-items-center">
                                Appreciation
                            </div>
                        </th>
                        <th style="width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-note>
                    <tr>
                        <td *ngIf="note && users[etudiants[note.etudiant_id]?.user_id]">{{
                            users[etudiants[note.etudiant_id]?.user_id]?.firstname }} {{
                            users[etudiants[note.etudiant_id]?.user_id]?.lastname }} </td>
                        <td>{{ note.note_val | number : '0.2-9' }} </td>
                        <td>{{ note.appreciation }} </td>
                        <td><i style="margin-left: 2%;" class="pi pi-pencil" title="Modifier" aria-hidden="true"
                                (click)="showFormUpdateNote = true; 
                                     idNoteToUpdate = note._id;
                                     examenToUpdate = matieres[examens[note.examen_id].matiere_id].nom;
                                     etudiantToUpdate = etudiants[note.etudiant_id];
                                     noteToUpdate = note;
                                     onGetById()"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>



    <!-- Table d'affichage de toutes les notes par étudiants -->
    <div class="col-12">
        <div class="card">
            <div style="float: right;">
                <button style="margin-left: 2px;" pButton label="Attribuer des notes"
                    (click)="showFormSelectClasse=true; showFormGenerateBulletin = false; showFormUpdateNote = false;"></button>
                <button style="margin-left: 2px;" pButton label="Générer bulletins de notes"
                    (click)="showFormGenerateBulletin = true; showGenerateBulletin = false;"></button>
            </div>

            <h5>Notes par étudiants</h5>
            <p-table #dt1 [value]="notes" dataKey="_id" [rows]="10" [rowHover]="true" [paginator]="true" [pageLinks]="5"
                [paginator]="true" [globalFilterFields]="['note_val', 'semestre']" responsiveLayout="scroll"
                rowExpandMode="single" [totalRecords]="notes.length" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <p-dropdown filter="true" [options]="dropdownClasse"
                            (onChange)="dt1.filter($event.value.value, 'classe_id', 'equals')" optionLabel="libelle"
                            emptyFilterMessage="Pas de classe trouvé"></p-dropdown>
                        <p-dropdown filter="true" [options]="filterCampus"
                            (onChange)="dt1.filter($event.value, 'classe_id.diplome_id.campus_id._id', 'equals')"
                            emptyFilterMessage="Pas de campus trouvé"></p-dropdown>
                        <span class="p-input-icon-left mb-2">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" #filter
                                (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Recherche"
                                class="w-full" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nom_prenom"> Nom et prénom <p-sortIcon field="nom_prenom"></p-sortIcon>
                        </th>
                        <th pSortableColumn="classe"> Classe <p-sortIcon field="classe"></p-sortIcon>
                        </th>
                        <th pSortableColumn="matiere"> Module <p-sortIcon field="matiere"></p-sortIcon>
                        </th>
                        <th pSortableColumn="evaluation"> Evaluation <p-sortIcon field="evaluation"></p-sortIcon>
                        </th>
                        <th pSortableColumn="note"> Note <p-sortIcon field="note"></p-sortIcon>
                        </th>
                        <th pSortableColumn="semestre"> Semestre <p-sortIcon field="semestre"></p-sortIcon>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Appreciation
                            </div>
                        </th>
                        <th style="width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Action
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-note>
                    <tr>
                        <td style="min-width: 12rem;">
                            {{ users[etudiants[note.etudiant_id]?.user_id]?.firstname }}
                            {{ users[etudiants[note.etudiant_id]?.user_id]?.lastname }}
                        </td>
                        <td style="min-width: 12rem;">
                            {{ classes[examens[note.examen_id]?.classe_id]?.nom }}
                        </td>
                        <td style="min-width: 14rem;">
                            {{ matieres[examens[note.examen_id]?.matiere_id]?.nom }}
                        </td>
                        <td style="min-width: 10rem;">
                            {{ examens[note.examen_id]?.libelle }}
                        </td>
                        <td style="min-width: 10rem;">
                            {{ note.note_val | number : '0.2-9' }}
                        </td>
                        <td style="min-width: 12rem;">
                            {{ note.semestre }}
                        </td>
                        <td style="min-width: 12rem; ">
                            {{ note.appreciation }}
                        </td>
                        <td class="text-center" style="min-width: 8rem;">
                            <i style="margin-left: 2%;" class="pi pi-pencil" title="Modifier" aria-hidden="true"
                                (click)="showFormUpdateNote = true; 
                                 idNoteToUpdate = note._id;
                                 examenToUpdate = matieres[examens[note.examen_id].matiere_id].nom;
                                 etudiantToUpdate = etudiants[note.etudiant_id];
                                 noteToUpdate = note;
                                 onGetById()"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>